Use caution when enabling advanced features if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### <a id="disk-memory-overcommit"></a>Diego Cell Memory and Disk Overcommit

If your apps do not use the full allocation of disk space and memory set in the **Resource Config** tab, you might want use this feature. These fields control the amount to overcommit disk and memory resources to each Diego Cell VM.

For example, you might want to use the overcommit if your apps use a small amount of disk and memory capacity compared with the **Resource Config** settings for **Diego Cell**.

<p class="note"><strong>Note</strong>: Due to the risk of app failure and the deployment-specific nature of disk and memory use, Pivotal has no recommendation about how much, if any, memory or disk space to overcommit.</p>

To enable overcommit, follow these steps:

1. Select **Advanced Features**.

    <%= image_tag("./disk-memory-overcommit.png") %>

1. Enter the total desired amount of Diego cell memory value in the **Cell Memory Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell memory capacity settings that this field overrides.

1. Enter the total desired amount of Diego cell disk capacity value in the **Cell Disk Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell disk capacity settings that this field overrides.

1. Click **Save**.

<p class="note"><strong>Note</strong>: Entries made to each of these two fields set the total amount of resources allocated, not the overage.</p>

### <a id="rfc_whitelist"></a>Whitelist for Non-RFC-1918 Private Networks

Some private networks require extra configuration so that internal file storage (WebDAV) can communicate with other PCF processes. 

The **Whitelist for non-RFC-1918 Private Networks** field is provided for deployments that use a non-RFC 1918 private network. This is typically a private network other than `10.0.0.0/8`, `172.16.0.0/12`, or `192.168.0.0/16`. 

Most PCF deployments do not require any modifications to this field.

To add your private network to the whitelist, perform the following steps:

1. Select **Advanced Features**.

1. Append a new `allow` rule to the existing contents of the **Whitelist for non-RFC-1918 Private Networks** field. 
  <%= image_tag("./nonrfc_whitelist.png") %>
  Include the word `allow`, the network CIDR range to allow, and a semi-colon (`;`) at the end. For example:
  <pre class="terminal">
  allow 172.99.0.0/24;
  </pre>
   
1. Click **Save**.

