The **Advanced Features** section of Pivotal Application Service (PAS) includes new functionality that may have certain constraints. Although these features are fully supported, Pivotal recommends caution when using them in production environments.

### <a id="disk-memory-overcommit"></a> Diego Cell Memory and Disk Overcommit

If your apps do not use the full allocation of disk space and memory set in the **Resource Config** tab, you might want use this feature. These fields control the amount to overcommit disk and memory resources to each Diego Cell VM.

For example, you might want to use the overcommit if your apps use a small amount of disk and memory capacity compared to the amounts set in the **Resource Config** settings for **Diego Cell**.

<p class="note"><strong>Note:</strong> Due to the risk of app failure and the deployment-specific nature of disk and memory use, Pivotal has no recommendation about how much, if any, memory or disk space to overcommit.</p>

To enable overcommit, do the following:

1. Select **Advanced Features**.

    <%= image_tag("./disk-memory-overcommit.png") %>

1. Enter the total desired amount of Diego cell memory value in the **Cell Memory Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell memory capacity settings that this field overrides.

1. Enter the total desired amount of Diego cell disk capacity value in the **Cell Disk Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell disk capacity settings that this field overrides.

1. Click **Save**.

<p class="note"><strong>Note:</strong> Entries made to each of these two fields set the total amount of resources allocated, not the overage.</p>

<% if current_page.data.deployment != "IST" %>

### <a id="rfc_whitelist"></a> Whitelist for Non-RFC-1918 Private Networks

Some private networks require extra configuration so that internal file storage (WebDAV) can communicate with other PCF processes. 

The **Whitelist for non-RFC-1918 Private Networks** field is provided for deployments that use a non-RFC 1918 private network. This is typically a private network other than `10.0.0.0/8`, `172.16.0.0/12`, or `192.168.0.0/16`. 

Most PCF deployments do not require any modifications to this field.

To add your private network to the whitelist, do the following:

1. Select **Advanced Features**.

1. Append a new `allow` rule to the existing contents of the **Whitelist for non-RFC-1918 Private Networks** field. 
  <%= image_tag("./nonrfc_whitelist.png") %>
  Include the word `allow`, the network CIDR range to allow, and a semi-colon (`;`) at the end. For example:
  ```
  allow 172.99.0.0/24;
  ```
   
1. Click **Save**.

### <a id="cf_cli_timeout"></a> CF CLI Connection Timeout

The **CF CLI Connection Timeout** field allows you to override the default five second timeout of the Cloud Foundry Command Line Interface (cf CLI) used within your PCF deployment. This timeout affects the cf CLI command used to push PAS errand apps such as Notifications, Autoscaler, and Apps Manager. 

Set the value of this field to a higher value, in seconds, if you are experiencing domain name resolution timeouts when pushing errands in PAS.

To modify the value of the **CF CLI Connection Timeout**, perform the following steps:

1. Select **Advanced Features**.

1. Add a value, in seconds, to the **CF CLI Connection Timeout** field. 
  <%= image_tag("./cf_cli_connection_timeout.png") %>

1. Click **Save**.

### <a id="log-cache"></a> Log Cache

Log Cache is an in-memory caching layer for logs and metrics.
This Loggregator feature lets users filter and query logs through a CLI or API endpoints. Cached logs are available on demand.
For more information about Log Cache, see [Enable Log Cache](../opsguide/logging-config-opsman.html#log-cache) in the _Configuring Logging in PAS_ topic.

To configure the **Enable log-cache** checkbox, do the following:

1. Select **Advanced Features**.

1. Select or deselect the **Enable log-cache** checkbox.
<%= image_tag("images/enable-log-cache.png") %>

1. Click **Save**.

### <a id="db-connection-limits"></a> Database Connection Limits

You can configure the maximum number of concurrent database connections that diego and container networking components can have. Use the field beginning with **Maximum number of open connections...** for a given component. The placeholder values for each field are the default values. 

When there are not enough connections available, such as during a time of heavy load, components may experience degraded performance and sometimes failure. To resolve or prevent this, you can increase and fine-tune database connection limits for the component.  

<p class="note warning"><strong>WARNING</strong>: Decreasing the value of this field for a component may affect the amount of time it takes for it to respond to requests.</p>

<% end %>