Use caution when enabling advanced features if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### <a id="disk-memory-overcommit"></a>Diego Cell Memory and Disk Overcommit

If your apps do not use the full allocation of disk space and memory set in the **Resource Config** tab, you might want use this feature. These fields control the amount to overcommit disk and memory resources to each Diego Cell VM.

For example, you might want to use the overcommit if your apps use a small amount of disk and memory capacity compared with the **Resource Config** settings for **Diego Cell**.

<p class="note"><strong>Note</strong>: Due to the risk of app failure and the deployment-specific nature of disk and memory use, Pivotal has no recommendation about how much, if any, memory or disk space to overcommit.</p>

To enable overcommit, follow these steps:

1. Select **Advanced Features**.

    <%= image_tag("./disk-memory-overcommit.png") %>

1. Enter the total desired amount of Diego cell memory value in the **Cell Memory Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell memory capacity settings that this field overrides.

1. Enter the total desired amount of Diego cell disk capacity value in the **Cell Disk Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell disk capacity settings that this field overrides.

1. Click **Save**.

<p class="note"><strong>Note</strong>: Entries made to each of these two fields set the total amount of resources allocated, not the overage.</p>

### <a id="disable-priviledge"></a> Disable Privileged App Containers

By default, Pivotal Cloud Foundry deploys apps in privileged containers. Apps deployed to privileged containers can gain access to their host operating system. In general, Pivotal recommends disabling privileged containers by selecting this option.

<p class="note"><strong>Note</strong>: Do not select <strong>Disable privileged app containers</strong> if you are running applications that use FUSE file system support. </p>

To disable privileged app containers, follow these steps:

1. Select **Advanced Features**.

    <%= image_tag("./disk-memory-overcommit.png") %>

1. Select **Disable privileged app containers**. This setting only applies to newly pushed apps, so you must restart any pre-existing apps to apply this option.

1. Click **Save**.

<p class="note"><strong>Note</strong>: Containers based on Docker images are always unprivileged, regardless of this setting.</p>

### <a id="enable-tcp"></a>Enable TCP Routing

TCP Routing is available for users who want an alternative to HTTP. For more information, including details about setting up your networking infrastructure for TCP Routing, see [Enabling TCP Routing](../adminguide/enabling-tcp-routing.html). 

1. TCP Routing is disabled by default. To enable this feature, select the **Enable TCP Routing** radio button. 

	<%= image_tag("./tcp_routing.png") %>

1. In **TCP Router IPs**, enter the IP address(es) you would like to designate for the TCP Routers. The addresses must be within your subnet CIDR block. Point your load balancer to these address(es). You can enter multiple values as a comma-delimited list or as a range. For example, `10.254.0.1, 10.254.0.2` or `10.254.0.1-10.254.0.2`.

1. In **TCP Routing Ports**, enter the range of ports you reserved for TCP routes. These ports must be available on your load balancer. You can specify a list of ports with commas between each port number and specify ranges of ports with dashes between the first and last port number. This configuration only applies the first time you specify it here, if you later want to update the ports, see the [HTTP vs TCP Routes](../devguide/deploy-apps/routes-domains.html#http-vs-tcp-routes) topic on how to use the cf CLI to update TCP Routing ports.

### <a id="disable-tcp"></a>Disable TCP Routing

1. If you want to disable TCP routing after enabling it, click **Select this option if you prefer to enable TCP Routing at a later time**.

1. Manually remove the TCP routing domain. 

