
1. Select **Application Containers**.

<%= image_tag("../images/er-config-app-containers.png") %>

1. Enable the **Microservices: Enable cross-container traffic** checkbox if your installation includes microservices that require cross-container networking, such as [Spring Cloud](http://projects.spring.io/spring-cloud/).

1. You can configure Elastic Runtime to run app instances in Docker containers by supplying their IP address range(s) in the **Private Docker Registry Whitelist** textbox.
<p class="note"><strong>Note</strong>: To host apps on Docker more securely, configure your deployment to trust apps pushed from the Docker registry. Open the Ops Manager Director tile <strong>Settings</strong> tab, select <strong>Experimental Features</strong>, and add the certification from the Docker registry or one of its parent certificate authorities to the <strong>Trusted Certificates</strong> list.</p>

1. The **Enable Custom Buildpacks** checkbox governs the ability to pass a custom buildpack URL to the `-b` option of the `cf push` command. By default, this ability is enabled, letting developers use custom buildpacks when deploying apps. Disable this option by disabling the checkbox. For more information about custom buildpacks, refer to the [buildpacks](../buildpacks/) section of the PCF documentation.

1. The **Allow SSH access to app containers** checkbox controls SSH access to application instances. Enable the checkbox to permit SSH access across your deployment, and disable it to prevent all SSH Access. See [Application SSH Overview](../devguide/deploy-apps/app-ssh-overview.html) for information on SSH access permissions at the space and app scope.

1. Click **Save**.
