In the **Application Developer Controls** pane, you configure restrictions and default settings for your apps.

To configure the **Application Developer Controls** pane:

1. Select **Application Developer Controls**.

1. Enter the **Maximum File Upload Size (MB)** in MB. This is the maximum size of an app upload.

1. Enter the **Default App Memory (MB)** in MB. This is the default amount of memory allocated to a newly-pushed app if no value is specified with `cf push`.

1. Enter the **Default App Memory Quota per Org** in MB. This is the default memory limit for all apps in an org. The specified limit only applies to the first installation of PAS. After the initial installation, operators can use the cf CLI to change the default value.

1. Enter the **Maximum Disk Quota per App (MB)** in MB. This is the maximum amount of disk allowed per app.
	<p class="note"><strong>Note:</strong> If you allow developers to push large apps, PAS may have trouble placing them on Diego Cells. Additionally, in the event of a system upgrade or an outage that causes a rolling deploy, larger apps may not successfully re-deploy if there is insufficient disk capacity. Monitor your deployment to ensure your Diego Cells have sufficient disk to run your apps.</p>

1. Enter the **Default Disk Quota per App (MB)** in MB. This is the amount of disk allocated by default to a newly-pushed app if no value is specified with `cf push`.  

1. Enter the **Default Service Instances Quota per Org**. The specified limit only applies to the first installation of PAS. After the initial installation, operators can use the cf CLI to change the default value.

1. Enter the **Staging Timeout (Seconds)** in seconds. When you stage an app droplet with the Cloud Controller, the server times out after the number of seconds you specify in this field.

1. For **Internal Domain**, enter a domain that apps use for internal DNS service discovery. If you specify this domain using `cf push -d`, other PAS apps can reach the pushed app at `APP-NAME.INTERNAL-DOMAIN`. This value defaults to `apps.internal`.

1. Enable the **Allow Space Developers to manage network policies** checkbox to permit developers to manage their own network policies for their apps. 

1. Click **Save**.
