1. Select **Application Developer Controls**. The following image shows the **Application Developer Controls** page.

    ![This image depicts the fields on the Application Developer Controls page. Explanations of these fields follow.](images/app-dev-controls.png)

1. Enter the **Maximum File Upload Size (MB)**. This is the maximum size of an application upload.

1. Enter the **Default App Memory (MB)**. This is the amount of RAM allocated by default to a newly pushed application if no value is specified with the cf CLI.

1. Enter the **Default App Memory Quota per Org**. This is the default memory limit for all applications in an org. The specified limit only applies to the first installation of PAS. After the initial installation, operators can use the cf CLI to change the default value.

1. Enter the **Maximum Disk Quota per App (MB)**. This is the maximum amount of disk allowed per application. 

	<p class="note"><strong>Note:</strong> If you allow developers to push large applications, PAS may have trouble placing them on Cells. Additionally, in the event of a system upgrade or an outage that causes a rolling deploy, larger applications may not successfully re-deploy if there is insufficient disk capacity. Monitor your deployment to ensure your Cells have sufficient disk to run your applications.</p>

1. Enter the **Default Disk Quota per App (MB)**. This is the amount of disk allocated by default to a newly pushed application if no value is specified with the cf CLI. 

1. Enter the **Default Service Instances Quota per Org**. The specified limit only applies to the first installation of PAS. After the initial installation, operators can use the cf CLI to change the default value .

1. Enter the **Staging Timeout (Seconds)**. When you stage an application droplet with the Cloud Controller, the server times out after the number of seconds you specify in this field.

1. For **Internal Domain**, enter a domain that apps use for internal DNS service discovery. If you specify this domain using `cf push -d`, other PAS apps can reach the pushed app at `APP-NAME.INTERNAL-DOMAIN`. This value defaults to `apps.internal`.

1. Select the **Allow Space Developers to manage network policies** checkbox to permit developers to manage their own network policies for their applications. 

1. Click **Save**.
