1. Select **Assign AZ and Networks**. These are the Availability Zones that you create when configuring BOSH Director.

1. Select an Availability Zone under **Place singleton jobs**. Ops Manager runs any job with a single instance in this Availability Zone.

1. Select all Availability Zones under **Balance other jobs**. Ops Manager balances instances of jobs with more than one instance across the Availability Zones that you specify.
    <p class="note"><strong>Note:</strong> For production deployments, Pivotal recommends at least three Availability Zones for a highly available installation of PAS.</p>

1. From the **Network** dropdown, choose the network where you want to run PAS.

1. Click **Save**.