
1. In the dashboard of your [AWS Console](https://console.aws.amazon.com/), click **CloudFormation**. The Stacks Dashboard displays.
   <p class="note"><strong>Note</strong>: If you are deploying to AWS GovCloud, use the <a href="https://console.amazonaws-us-gov.com/">AWS GovCloud (US) console</a>.</p>

1. Select the **pcf-stack** checkbox, then select the **Outputs** tab.

	<%= image_tag("cloudform/aws-cloudform-stacks.png") %>

	In the steps described below, use the information from the **Value** column of the **Outputs** tab to configure your PCF installation.
