<%# Partial differentiates between a Terraform install and a manual install. %>
<% if current_page.data.title == "Configuring BOSH Director on Azure using Terraform" %>
For **Azure Environment**, select **Azure Commercial Cloud**.
<% else %>
For **Azure Environment**, select the Azure cloud you want to use. Pivotal recommends **Azure Commercial Cloud** for most Azure environments. <p class="note"><strong>Note:</strong> If you selected Azure Stack or Azure Government Cloud as your Azure environment, you must set custom VM types. For more information, see <a href="./azure-om-config.html#stack-gov-prereqs">Prerequisites for Azure Stack or Azure Government Cloud</a>.</p>
<% end %>