
<p class="note"><strong>Note</strong>: The procedure to manually backup MySQL below is IAAS agnostic. It is important to tailor these instructions based on your infrastructure and configuration requirements. </p>

1. Install the [mysqldump](https://mariadb.com/kb/en/mariadb/mysqldump/) client of your choice.

1. Spin up a virtual machine (VM) locally.

1. Navigate to the **Resource Config** tab of the MySQL and Pivotal Application Service (PAS) tiles to check that your VM has sufficient disk space.

1. Configure your network to allow the VM access to the MySQL servers.

1. Obtain the backup by running your IAAS-specific commands.You may want to encrypt the output in the method your enterprise prefers.

1. Store the backup in a different location than the MySQL primary storage, preferably off-site.

