Select a **Blobstore Location** to either configure the blobstore as an internal server or an external endpoint. Because the internal server is unscalable and less secure, Pivotal recommends you configure an external blobstore.
  <p class="note"><strong>Note</strong>: After you deploy Ops Manager, you cannot change the blobstore location.</p>
  * **Internal**: Select this option to use an internal blobstore. Ops Manager creates a new VM for blob storage. No additional configuration is required.
  <% if current_page.data.iaas == "AWS" %>
  * **S3 Compatible Blobstore**: Select this option to use an external S3-compatible endpoint. When you have created an S3 bucket, complete the following steps:
  <% else %>
  * **S3 Compatible Blobstore**: Select this option to use an external S3-compatible endpoint. Follow the procedures in [Sign up for Amazon S3](https://docs.aws.amazon.com/AmazonS3/latest/gsg/SigningUpforS3.html) and [Creating a Bucket](https://docs.aws.amazon.com/AmazonS3/latest/gsg/CreatingABucket.html) from the AWS documentation. When you have created an S3 bucket, complete the following steps:
  <% end %>
      1. **S3 Endpoint**: Navigate to the [Regions and Endpoints](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region) topic in the AWS documentation. Locate the endpoint for your region in the **Amazon Simple Storage Service (S3)** table and construct a URL using your region's endpoint. For example, if you are using the `us-west-2` region, the URL you create would be https://s3-us-west-2.amazonaws.com. Enter this URL into the **S3 Endpoint** field in Ops Manager.
      1. **Bucket Name**: Enter the name of the S3 bucket.
      1. **Access Key** and **Secret Key**: Enter the keys you generated when creating your S3 bucket.
      1. Select **V2 Signature** or **V4 Signature**. If you select **V4 Signature**, enter your **Region**.
        <p class="note"><strong>Note</strong>: AWS recommends using Signature Version 4. For more information about AWS S3 Signatures, see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> documentation.</p>
  <% if current_page.data.iaas == "GCP" %>
  * **GCS Blobstore**: Select this option to use an external Google Cloud Storage (GCS) endpoint. To create a GCS bucket, follow the procedures in [Creating Storage Buckets](https://cloud.google.com/storage/docs/creating-buckets). When you have created a GCS bucket, complete the following steps:
  <% else %>
  * **GCS Blobstore**: Select this option to use an external Google Cloud Storage (GCS) endpoint. To create a GCS bucket, you will need a GCS account. Then follow the procedures in [Creating Storage Buckets](https://cloud.google.com/storage/docs/creating-buckets). When you have created a GCS bucket, complete the following steps:
  <% end %>
        1. **Bucket Name**: Enter the name of your GCS bucket.
        1. **Storage Class**: Select the storage class for your GCS bucket. See [Storage Classes](https://cloud.google.com/storage/docs/storage-classes) in the GCP documentation for more information.
        <% if current_page.data.iaas == "GCP" %>
        1. **Service Account Key**: Enter the contents of the JSON file that you downloaded in the [Set Up an IAM Service Account](gcp-prepare-env.html#iam_account) section of the _Preparing to Deploy PCF on GCP_ topic.
        <% else %>
        1. **Service Account Key**: Follow the steps in the [Set Up an IAM Service Account](gcp-prepare-env.html#iam_account) section to download a JSON file with a private key. Then enter the contents of the JSON file into the field.
        <% end %>
      ![Blobstore location options in the Director Config pane](images/gcp/blobstore.png)
