Container-to-container networking is enabled by default. You can configure container-to-container networking
rules later in Elastic Runtime. For more information,
see the <a href="../devguide/deploy-apps/cf-networking.html">Administering Container-to-Container Networking</a> topic.
<img alt="Enable Container-to-Container Networking" src="images/ert-c2c-enable.png">
Perform the following steps:
  1. Leave the **Enable** option selected.
  1. (Optional) Enter an IP range for the overlay network in the **Network CIDR** box. If you do not set a custom range, Ops Manager uses <code>10.255.0.0/16</code>.
<p class="note warning"><strong>WARNING</strong>: The overlay network IP range must not conflict with any other IP addresses in your network.</p>
  1. (Optional) Enter a UDP port number in the **VXLAN Tunnel Endpoint Port** box. If you do not set a custom port, Ops Manager uses 4789.
    <img alt="Specify the host port for receiving VXLAN packets" src="images/ert-c2c-vxlan-port.png">

