The Ops Manager Elastic Runtime tile enables Container-to-Container Networking
for Pivotal Cloud Foundry (PCF) by default. To configure Container-to-Container Networking in
Ops Manager, perform the following steps:

1. In Ops Manager, navigate to the **Installation Dashboard** > **Elastic Runtime** tile.

1. In the **Networking** pane, keep **Enable Container-to-Container Networking** selected.

    <img alt="Enable Container-to-Container Networking" src="../../customizing/images/ert-c2c-enable.png">

1. (Optional) Enter an IP range for the overlay network in the **Network CIDR**
box. If you do not set a custom range, Ops Manager uses 10.255.0.0/16.
<p class="note"><strong>NOTE</strong>: The overlay network IP range must not conflict with any other IP addresses in the network. If there is a conflict, the Diego cells cannot reach any endpoint that has a conflicting IP address. See <a href="../../concepts/understand-cf-networking.html#app-comm">App Instance Communication</a> for more information.</p>

1. (Optional) Enter a UDP port number in the **VXLAN Tunnel Endpoint Port** box. If you do not set a custom port, Ops Manager uses 4789.

    <img alt="Specify the host port for receiving VXLAN packets" src="../../customizing/images/ert-c2c-vxlan-port.png">

1. Click **Save**.

1. Return to the Installation Dashboard.
