(Optional) Enter an IP range for the overlay network in the **Overlay subnet** box. If you do not set a custom range, Ops Manager uses `10.255.0.0/16`.
  <p class="note warning"><strong>Warning:</strong> The overlay network IP range must not conflict with any other IP addresses in your network.</p>