(Optional) Enter an IP range for the overlay network in the **Overlay Subnet** box. If you do not set a custom range, Ops Manager uses <code>10.255.0.0/16</code>.
  <p class="note warning"><strong>WARNING</strong>: The overlay network IP range must not conflict with any other IP addresses in your network.</p>
