To enable logging for app traffic:

1. From Ops Manager, navigate to the **Pivotal Elastic Runtime** tile > **Networking** pane.

1. Under **Log traffic for all accepted/denied application packets**, select **Enable (will increase log volume)** or **Disable** to enable or disable app traffic logging.

###<a id="log-behavior"></a>App Logging Behavior

App traffic logging generates log messages as follows:

  * **TCP traffic** - Logs the first packet of every new TCP connection.
  * **UDP traffic** - Logs UDP packets sent and received, up to a maximum per-second rate for each container. Set this rate limit in the **UDP logging interval** field (default: 100).
  * **Packets denied** - Logs packets blocked by either a container-specific [networking policy](../../concepts/understand-cf-networking.html#policies) or by [Application Security Group](../../opsguide/app-sec-groups.html) (ASG) rules applied across the space, org, or deployment. Logs packet denials up to a maximum per-second rate for each container, set in the **Denied logging interval** field (default: 1).

###<a id="log-format"></a>App Logging Format

App traffic logs are formatted as described in the [cf-networking-release Traffic logging](https://github.com/cloudfoundry-incubator/cf-networking-release/blob/develop/docs/traffic_logging.md) documentation, following the `iptables-logger` format but without line breaks. For example, the first part of an app traffic log line looks like: `{"timestamp": "1500924070.182554722", "source": "cfnetworking.iptables", "message": "cfnetworking.iptables.ingress-allowed", "log_level": 1, "data": { "destination": { "container_id": "d5978989-1401-49ff-46cd-33e5","app_guid": "bc6f229d-5e4a-4c41-a63f-e8795496c283",`.

###<a id="denied-packet"></a>Denied Packet Causes

You can determine whether a denied-packet log resulted from a container networking policy or an ASG rule as follows:

  * **Container networking policy**: Log `message` string includes `ingress-denied` and `packet direction` is `ingress`.

  * **ASG rule**: Log `message` string includes `egress-denied` and `packet direction` is `egress`.
