## <a id="installer"></a> Install the cf CLI Using an Installer

This section describes how to install the cf CLI using an installer. You can install the cf CLI using an installer on Windows, Mac OS X, and Linux operating systems.


### <a id="linux"></a> Linux Installation

This section describes how to install the cf CLI using an installer on the Debian, Ubuntu, and Red Hat Linux distributions. 

To install the cf CLI for Linux using an installer, do the following:

1. Download the Linux installer.
  - **Debian or Ubuntu**: Paste the following URL in a browser to download the installer:

		```
		https://cli.run.pivotal.io/stable?release=debian64&source=github
		```
  - **Red Hat**: Paste the following URL in a browser to download the installer:

		```
	  	https://cli.run.pivotal.io/stable?release=redhat64&source=github
	  	```

1. Install the cf CLI using your system's package manager.
	<p class="note"><b>Note:</b> The following commands may require `sudo`.</p> 
    * **Debian or Ubuntu**: Run the following command:

	    ```
		dpkg -i path/to/cf-cli-*.deb && apt-get install -f
		```
	* **Red Hat**: Run the following command:

	    ```
		rpm -i path/to/cf-cli-*.rpm
		```


### <a id="mac"></a> Mac OS X Installation

This section describes how to install the cf CLI on Mac OS X operating systems using an installer.

To install the cf CLI for Mac OS X using an installer, do the following:

1. Paste the following URL in a browser to download the installer:

	```	
	https://cli.run.pivotal.io/stable?release=macosx64&source=github
	```

1. Open the `.pkg` file.

1. In the installer wizard, click **Continue**.

1. Select an install destination and click **Continue**.

1. Click **Install**.


### <a id="windows"></a> Windows Installation

This section describes how to install the cf CLI for use on the Windows command line. For instructions on how to install the cf CLI for use on the Windows Subsystem for Linux (WSL), also known as Bash, see [Linux Installation](#pkg-linux) above.

To install the cf CLI for Windows using an installer, do the following:

1. Paste the following URL in a browser to download the installer:

	```
	https://cli.run.pivotal.io/stable?release=windows64&source=github
	```

1. Unzip the file.

1. Right-click on the `cf_installer` executable and select **Run as Administrator**.

1. When prompted, click **Install**. Then, click **Finish**.