1. Click **Cloud Controller**.

	<%= image_tag("config-cc.png") %>

1. Enter your **Cloud Controller DB Encryption Key** if all of the following are true:
  * You deployed Pivotal Application Service (PAS) previously.
  * You then stopped PAS or it crashed.
  * You are re-deploying PAS with a backup of your Cloud Controller database.
  <br><br>
  See [Backing Up Pivotal Cloud Foundry](./backup-restore/index.html) for more information.

1. CF API Rate Limiting prevents API consumers from overwhelming the platform API servers. Limits are imposed on a per-user or per-client basis and reset on an hourly interval. 
	<br><br>
	To disable CF API Rate Limiting, select **Disable** under **Enable CF API Rate Limiting**. To enable CF API Rate Limiting, perform the following steps:
	
	1. Under **Enable CF API Rate Limiting**, select **Enable**.
	1. For **General Limit**, enter the number of requests a user or client is allowed to make over an hour interval for all endpoints that do not have a custom limit. The default value is `2000`.
	1. For **Unauthenticated Limit**, enter the number of requests an unauthenticated client is allowed to make over an hour interval. The default value is `100`.

1. Under **Enable secure communication between Diego and Cloud Controller?**, ensure that **Enable** is selected.
	<p class="note"><strong>Note</strong>: Secure communication between Diego and Cloud Controller is enabled by default in Small Footprint Runtime. There is no selector to enable or disable.</p>
	<br><br>
	In previous versions of PCF, the Cloud Controller and Diego communicated insecurely and indirectly through the Cloud Controller Bridge. As of PCF v1.12, the Cloud Controller and Diego can communicate directly over secure TLS, without a bridge component. The **Enable** button selects this new option, enabling direct, secure communications and deactivating the Cloud Controller Bridge.
	<br><br>
	In a fresh install of PCF v1.12 and later versions, the **Enable** option is selected by default. In upgrades, operators must manually select **Enable** to deactivate the Cloud Controller Bridge and make the internal communications secure.

1. Click **Save**.
