
In this step, you complete your load balancer configuration that you began when
setting up AWS components for PCF.

1. On the EC2 Dashboard, click **Load Balancers**.

1. Select the load balancer that you created in the [Create Load Balancer](./pcf-aws-manual-config.html#pcfaws-lb) section of the _Configuring AWS for PCF_ topic. The **Load balancer** detail tabs display at the bottom of the page.
    <p class="note"><strong>Note:</strong> You must associate this ELB with your routers. <a href="pcf-aws-manual-er-config.html#config-elb">Configure this</a> on the <strong>Resource Config</strong> page of the Pivotal Application Service (PAS) tile.</p>

1. Select **Listeners**.

    <%= image_tag("pcfaws/er_lb_add_listeners.png") %>

1. Click **Edit** to define a second listener with the following values:
    * **Load Balancer Protocol**: **HTTPS (Secure HTTP)**
    * **Load Balancer Port**: `443`
    * **Instance Protocol**: **HTTP**
    * **Instance Port**: `80`

1. Click **Change** in the **SSL Certificate** column of the second listener.

1. On the Select Certificate page, click **Upload a new SSL Certificate** and
complete the following information:
    * Enter a **Certificate Name**.
    * **Private Key** and **Public Key Certificate**: Paste the RSA certificate
		and private key information from the **SSL Certificate** fields of the
		IP and Ports page to the appropriate field.
    * Click **Save**.

    <%= image_tag("pcfaws/er_lb_cert_details.png") %>

1. Click **Edit** to define a third listener with the following values for use with WebSockets:
    * **Load Balancer Protocol**: **SSL (Secure TCP)**
    * **Load Balancer Port**: `4443`
    * **Instance Protocol**: **TCP**
    * **Instance Port**: `80`

1. Click **Change** in the **SSL Certificate** column of the third listener.

    When you click **Save**, AWS prompts you to enter SSL certificates for these
	listeners.

    <%= image_tag("pcfaws/er_lb_add_sslcert.png") %>

1. Select **Choose an existing SSL certificate** and select the certificate that
you previously uploaded for the second listener.
	<p class="note"><strong>Note:</strong> There might be a brief delay before the certificate that you uploaded for the second listener appears. If you do not see the certificate that you uploaded, try refreshing the page.</p>

    The image shows the completed listener information.

    <%= image_tag("pcfaws/er_lb_cert_done.png") %>

1. Click **Save** to complete the load balancer configuration.
