1. Select **Credhub**. 
	![Credhub](credhub.png)
1. Choose the location of your CredHub Database. PAS includes this CredHub database for services to store their service instance credentials. 
	1. If you chose **External**, enter the following:
		* **Hostname**: The IP address of your database server. This is the value of `sql_db_ip` from your Terraform output.
		* **TCP Port**: The port of your database server. Enter `3306`. 
		* **Username**: The value of `pas_sql_username` from your Terraform output.
		* **Password**: The value of `pas_sql_password` from your Terraform output.
		* **Database CA Certificate**: Enter a certificate to use for encrypting traffic to and from the database. 
1. In the **Active Encryption Password Value** field, enter a key to use for encrypting and decrypting the values stored in the CredHub database. This key must be at least 20 characters. 
1. If your deployment uses any PCF services that support storing service instance credentials in CredHub and you want to enable this feature, select the **Secure Service Instance Credentials** checkbox. 
1. Select the **Resource Config** pane.
1. Under the **Job** column of the **CredHub** row, set the number of instances to `1` or more. Set at least `2` for high availability.

<p class="note"><strong>Note</strong>: To use the Runtime CredHub feature, you must follow the additional steps in <a href="../opsguide/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a>.</p>

