<p class="note"><strong>Note:</strong> Enabling CredHub is not required, but you cannot leave the fields under <strong>Encryption Keys</strong> blank. Enter any text in the <strong>Name</strong> and <strong>Key</strong> fields as placeholder values if you do not intend to use CredHub.</p>

1. Select **CredHub**.
1. Choose the location of your CredHub database. PAS includes this CredHub database for services to store their service instance credentials.
	<p class="note"><strong>Note</strong>: You cannot choose <strong>Internal</strong> for the CredHub database if you choose <strong>External</strong> for your System Databases. See <a href="#sys-db">Configure System Databases</a> below.</p>

    <%= image_tag("images/credhub.png") %>
    If you chose **External**, enter the following:
    <% if current_page.data.iaas == "GCP" and current_page.data.install_type == "terraform" %>
    * **Hostname**. This is the IP address of your database server. See the value of `sql_db_ip` from your Terraform output.
	* **TCP Port**. This is the port of your database server. Enter `3306`.
	* **Username**. This is the value of `pas_sql_username` from your Terraform output.
	* **Password**. This is the value of `pas_sql_password` from your Terraform output.
	* **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
	<% elsif current_page.data.iaas == "AWS" and current_page.data.install_type == "terraform" %>
	* **Hostname**. This is the IP address of your database server. See the value from the `PcfRdsAddress` key in the AWS output. 
    * **TCP Port**. This is the port of your database server. See the value from the `PcfRdsPort` key in the AWS output. 
    * **Username**. This is the value from the `PcfRdsUsername` key in the AWS output.
    * **Password**. This is the value from the `PcfRdsPassword` key in the AWS output. 
    * **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
    <% elsif current_page.data.iaas == "GCP" %>
    * **Hostname**. This is the IP address of the Google Cloud SQL instance that you created in [Step 6: Create Database Instance and Databases](../om/gcp/prepare-env-manual.html#dbs) of the _Preparing to Deploy PCF on GCP_ topic. You can obtain it from the Instances dashboard of the **SQL** configuration page in the GCP Console.
	* **TCP Port**. This is the port of your database server, `3306`.
	* **Username**. This username can access your CredHub database on the database server. You created users in [Preparing to Deploy PCF on GCP](../om/gcp/prepare-env-manual.html#dbs).
	* **Password**. This is the password for the provided username.
	* **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
	<% else %>
	* **Hostname**. This is the IP address of your database server.
	* **TCP Port**. This is the port of your database server, such as `3306`.
	* **Username**. This is a unique username that can access your CredHub database on the database server.
	* **Password**. This is the password for the provided username. 
	* **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
	<% end %>
1. Under **Encryption Keys**, specify a key to use for encrypting and decrypting the values stored in the CredHub database.
	* **Name**: Enter the name of the key.
	* **Key**: Enter a key that is at least 20 characters in length. 
	* **Primary**: Select this checkbox to use this key as your primary key. 
		<p class="note"><strong>Note:</strong> Ensure that you only mark one key as <strong>Primary</strong>. The UI includes an <strong>Add</strong> button to add more keys to support key rotation. For more information, see the [Rotating Runtime CredHub Encryption Keys](../opsguide/credential-rotation.html) topic.
		</p>
1. If your deployment uses any PCF services that support storing service instance credentials in CredHub and you want to enable this feature, select the **Secure Service Instance Credentials** checkbox.
1. Select the **Resource Config** pane.
1. Under the **Job** column of the **CredHub** row, set the number of instances to `2`. This is the minimum instance count required for high availability.

<p class="note"><strong>Note:</strong> To use the runtime CredHub feature, you must follow the additional steps in <a href="../opsguide/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a>.</p>

