## <a id='build-tile'></a> Build and Install a Tile

In order to use the KMS plugin with the CredHub deployed with Ops Manager or Pivotal Application Service (PAS), you must wrap your BOSH release in a tile and install it on the Ops Manager Installation Dashboard.

[Here](https://github.com/pivotal/sample-credhub-kms-plugin-tile) is a sample plugin.

Perform the following steps:

1. Perform the procedures in steps 1-3 of [How to Use](https://docs.pivotal.io/tiledev/tile-generator.html#how-to) in the <em>Tile Generator</em> topic of the PCF Tile Developer Guide to install the Tile Generator and initialize your tile repository.

1. The `tile init` command generates a `tile.yml` file. This file defines the configuration for your tile.
<br><br>
	Use the following example `tile.yml` as a starting point. This file defines a tile named `Sample CredHub KMS Plugin` that enables the operator to configure the socket endpoint for the plugin to listen to CredHub on. 

	```yaml
	---
	name: sample-credhub-kms-plugin-tile
	icon_file: icon.png
	label: Sample CredHub KMS Plugin
	description: Sample CredHub KMS Plugin

	packages:
	- name: my-release-name
	  type: bosh-release
	  path: releases/MY-BOSH-RELEASE.tgz

	forms:
	- name: plugin-properties
	  label: Plugin Properties
	  description: Configure your plugin
	  properties:
	  - name: socket_endpoint
	    type: string
	    label: Socket Endpoint

	runtime_configs:
	- name: some-runtime-config
	  runtime_config:
	    releases:
	    - name: my-release-name
	      version: "my-release-version"
	    addons:
	    - name: some-addon-name
	      jobs:
	      - name: my-job-name
	        release: my-release-name
	        properties:
	          socket_endpoint: (( .properties.socket_endpoint ))
	      include:
	        jobs:
	        - name: credhub
	          release: credhub
	```

1. Modify the `tile.yml` as needed. At minimum, enter the path to the BOSH release of the KMS plugin on your local machine in `packages: path`.
<br><br>
For general information about writing the `tile.yml` file, see [Define your Tile in tile.yml](https://docs.pivotal.io/tiledev/tile-generator.html#define). For information about how to enable operators to use the tile to configure arbitrary properties in the manifest, see [Custom Forms and Properties](https://docs.pivotal.io/tiledev/tile-generator.html#custom-forms).

1. Build the tile by running the following command in the same directory as the `tile.yml` file:

	```
	tile build
	```
	<br>
	The tile generator wraps the BOSH release of the KMS plugin into a tile, and places the tile file in the `product` subdirectory.

1. Navigate to Ops Manager, log in, and add the tile to the Ops Manager Installation Dashboard. For more information, see [Adding and Deleting Products](https://docs.pivotal.io/pivotalcf/customizing/add-delete.html). 

1. Click the tile and complete the configuration.

1. Return to the Ops Manager Installation Dashboard. Click **Review Pending Changes**, then **Apply Changes** to complete the installation.
