<p class="note"><strong>Note:</strong> Enabling CredHub is not required. However, you cannot leave the fields under <strong>Encryption Keys</strong> blank. If you do not intend to use CredHub, enter any text in the <strong>Name</strong> and <strong>Key</strong> fields as placeholder values.</p>

1. Select **CredHub**.
<% if current_page.data.iaas == "GCP" %>
1. Select **PAS database (configured on the Databases pane)** for your CredHub database. If you choose **Other external database**, Runtime CredHub does not work. For more information, see [CredHub Database Cannot be External on GCP](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub).
<% else %>
1. Choose the location of your CredHub database. PAS includes this CredHub database for services to store their service instance credentials.

    <%= image_tag("images/credhub-db.png") %><br>
    If you chose **PAS database (configured on the Databases pane)**, CredHub uses the same database as other PAS components, whether the database is internal or external.<br><br>
    If you chose **Other external database**, enter the following:
      <% if current_page.data.iaas == "AWS" and current_page.data.install_type == "terraform" %>
	* **Hostname**. This is the IP address of your database server. See the value from the `PcfRdsAddress` key in the AWS output. 
    * **TCP Port**. This is the port of your database server. See the value from the `PcfRdsPort` key in the AWS output. 
    * **Username**. This is the value from the `PcfRdsUsername` key in the AWS output.
    * **Password**. This is the value from the `PcfRdsPassword` key in the AWS output. 
    * **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
	<% else %>
	* **Hostname**. This is the IP address of your database server.
	* **TCP Port**. This is the port of your database server, such as `3306`.
	* **Username**. This is a unique username that can access your CredHub database on the database server.
	* **Password**. This is the password for the provided username. 
	* **Database CA Certificate**. This certificate is used when encrypting traffic to and from the database.
	<% end %>
<% end %>
1. Under **Encryption Keys**, specify one or more keys to use for encrypting and decrypting the values stored in the CredHub database.
	<%= image_tag("images/encryption-keys.png") %>
	* **Name**. This is the name of the encryption key.
      * If you plan to use internal encryption, enter any key name.
      * If you plan to use an HSM as your encryption provider, enter a key name that already exists on your HSM or a new key name.
      For each new key name, CredHub generates a key in **HSM Provider Partition** that you configure below.
	* **Provider**. This is the provider of the encryption key.
	If you plan to configure an HSM provider and HSM servers below, select **HSM**. Otherwise, select **Internal**.
	* **Key**. If you select internal encryption, this key is used for encrypting all data. The key must be at least 20 characters long.
      * If you selected **Internal** above, enter a randomly generated value under **Key**.
      * If you selected **HSM** above, enter a placeholder value under **Key**. CredHub does not use this key for encryption. However, you cannot leave the **Key** field blank.
  * **Primary**. This checkbox is used for marking the key you specified above as the primary encryption key. You must mark one key as **Primary**. Do not mark more than one key as **Primary**.
  <p class="note"><strong>Note:</strong> For information about using additional keys for key rotation, see the <a href="../opsguide/credential-rotation.html">Rotating Runtime CredHub Encryption Keys</a> topic.</p>
1. (Optional) To configure CredHub to use an HSM, complete the following fields:
  * **HSM Provider Partition**. This is the name of the HSM provider partition.
  * **HSM Provider Partition Password**. This password is used to access the HSM provider partition.
  * **HSM Provider Client Certificate**. This is the client certificate for the HSM. For more information, see [Create and Register HSM Clients](hsm-config.html#create-register-hsm) in the _Preparing CredHub HSMs for Configuration_ topic.
  <%= image_tag("images/hsm-provider.png") %>
  * In the **HSM Provider Servers** section, click **Add** to add an HSM server. You can add multiple HSM servers. For each HSM server, complete the following fields:
      * **Host Address**. This is the host name or IP address of the HSM server.
      * **Port**. This is the port of the HSM server. If you do not know your port address, enter `1792`.
      * **Partition Serial Number**. This is the serial number of the HSM partition.
      * **HSM Certificate**. This is the certificate for the HSM server. The HSM presents this certificate to CredHub to establish a two-way TLS connection.
1. If your deployment uses any PCF services that support storing service instance credentials in CredHub and you want to enable this feature, select the **Secure Service Instance Credentials** checkbox.
1. Click **Save**.
1. Select the **Resource Config** pane.
1. Under the **Job** column of the **CredHub** row, ensure that the number of instances is set to `2`. This is the minimum instance count required for high availability.
1. Click **Save**.

For more information about using CredHub for securing service instance credentials, see [Securing Service Instance Credentials with Runtime CredHub](../opsguide/secure-si-creds.html).
