Select a **CredHub Encryption Provider** to optionally configure an external hardware security module (HSM). An external HSM offers greater security for your credentials. <p class="note"><strong>Note: </strong>After you deploy Ops Manager with an external HSM, you cannot change the CredHub encryption provider.</p>![CredHub Encryption Provider options in the Director Config pane](images/credhub-hsm.png)
  * **Internal:** Select this option for an internal CredHub encryption. No additional configuration is required. This option will be selected by default.
  * **Luna HSM:** Select this option to use Luna SafeNet HSM as your permanent CredHub encyption provider. Before completing the following steps, have your Luna HSM already configured with an encryption key and provider partition.
		1. Enter your **Encryption Key Name** used to encrypt and decrypt the CredHub data. After you deploy Ops Manager, changing this key could cause service downtime.
		1. Enter your HSM **Provider Partition** that your encryption key will be stored in. After you deploy Ops Manager, changing this partition could cause service downtime.
		1. Enter your **Provider Partition Password**.
		1. Enter your **Provider Client Certificate**. The certificate is used to validate the identity of the HSM when you connect to it.
		1. Enter your **Provider Client Certificate Private Key**.
		1. Enter your **HSM Host Address**.
		1. Enter your **HSM Port Address**. If you don't know your port address, enter `1792`.
		1. Enter your **Partition Serial Number**.
		1. Enter your **HSM Certificate** which will present to the client when establishing a mTLS connection.
