<p class="note"><strong>Note:</strong> Enabling CredHub is not required, but you cannot leave the fields under <strong>Encryption Keys</strong> blank. Enter any text in the <strong>Name</strong> and <strong>Key</strong> fields as placeholder values if you do not intend to use CredHub.</p>

1. Select **Credhub**. 
	<%= image_tag('images/credhub.png') %>
1. Choose the location of your CredHub Database. PAS includes this CredHub database for services to store their service instance credentials. 
	1. If you chose **External**, enter the following:
		* **Hostname**: The IP address of your database server. 
		* **TCP Port**: The port of your database server, such as `3306`. 
		* **Username**: A unique username that can access this specific database on the database server. 
		* **Password**: The password for the provided username. 
		* **Database CA Certificate**: Enter a certificate to use for encrypting traffic to and from the database. 
1. Under **Encryption Keys**, specify a key to use for encrypting and decrypting the values stored in the CredHub database.
	* **Name**: Enter the name of the key.
	* **Key**: Enter a key that is at least 20 characters in length. 
	* **Primary**: Select this checkbox to use this key as your primary key. 
		<p class="note"><strong>Note:</strong> Ensure that you only mark one key as <strong>Primary</strong>. The UI includes an <strong>Add</strong> button to add more keys to support key rotation. For more information, see the [Rotating Runtime CredHub Encryption Keys](../opsguide/credential-rotation.html) topic.
		</p>
1. If your deployment uses any PCF services that support storing service instance credentials in CredHub and you want to enable this feature, select the **Secure Service Instance Credentials** checkbox.
1. Select the **Resource Config** pane.
1. Under the **Job** column of the **CredHub** row, set the number of instances to `2`. This is the minimum instance count required for high availability.

<p class="note"><strong>Note:</strong> To use the runtime CredHub feature, you must follow the additional steps in <a href="../opsguide/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a>.</p>

