1. Select **Credhub**. 
	![Credhub](credhub.png)
1. Choose the location of your CredHub Database. PAS includes this CredHub database for services to store their service instance credentials. 
	1. If you chose **External**, enter the following:
		* **Hostname**: The IP address of your database server.  This is the value from the `PcfRdsAddress` key in the AWS output. 
		* **TCP Port**: The port of your database server. This is the value from the `PcfRdsPort` key in the AWS output.. 
		* **Username**: The value from the `PcfRdsUsername` key in the AWS output.
		* **Password**: The value from the `PcfRdsPassword` key in the AWS output. 
		* **Database CA Certificate**: Enter a certificate to use for encrypting traffic to and from the database. 
1. In the **Active Encryption Password Value** field, enter a key to use for encrypting and decrypting the values stored in the CredHub database. This key must be at least 20 characters. 
1. If your deployment uses any PCF service tiles that support storing service instance credentials in CredHub and you want to enable this feature, select the **Secure Service Instance Credentials** checkbox. 

<p class="note"><strong>Note</strong>: To use the Runtime CredHub feature, you must follow the additional steps in <a href="../opsguide/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a>.</p>