In the **Custom Branding** pane, you can customize the appearance of the <%= vars.product_name %> login portal and Apps Manager. In the **Apps Manager** pane, you can configure the functionality of Apps Manager, as well as how it displays the pages for your apps in the Pivotal Services Marketplace.

To configure the **Custom Branding** and **Apps Manager** panes:

1. Select **Custom Branding**.

1. Configure the fields in the **Custom Branding** pane. For more information about the **Custom Branding** configuration settings, see [Custom-Branding Apps Manager](../opsguide/custom-branding.html).

1. Click **Save**.

1. Select **Apps Manager**.

1. Select the **Enable Invitations** checkbox to enable invitations in Apps Manager. Space Managers can invite new users for a given space, Org Managers can invite new users for a given org, and Admins can invite new users across all orgs and spaces. For more information, see the [Invite New Users](../console/console-roles.html#invite) section of the _Managing User Roles with Apps Manager_ topic.

1. Enable the **Display Marketplace Service Plan Prices** checkbox to display the prices for your services plans in the Marketplace.

1. Enter the **Supported currencies as JSON** to appear in the Marketplace. Use the format `{ "CURRENCY-CODE": "SYMBOL" }`. This defaults to `{ "usd": "$", "eur": "€" }`.

1. Use **Product Name**, **Marketplace Name**, and **Customize Sidebar Links** to configure page names and sidebar links in the **Apps Manager** and **Marketplace** pages. You may configure up to 10 links in the Apps Manager sidebar.

1. The **Apps Manager Memory Usage (MB)** field sets the memory limit with which to deploy the Apps Manager app. Use this field to increase the memory limit if the app fails to start with an `out of memory` error. Enter the value in MB. To use the default value of 128&nbsp;MB, leave this field blank.

1. The **Invitations Memory Usage (MB)** field sets the memory limit with which to deploy the Invitations app. Use this field to increase the memory limit if the app fails to start with an `out of memory` error. Enter the value in MB. To use the default value of 256&nbsp;MB, leave this field blank.

1. The **Apps Manager Polling Interval** field provides a temporary fix if Apps Manager usage degrades Cloud Controller response times. In this case, you can use this field to reduce the load on the Cloud Controller and ensure Apps Manager remains available while you troubleshoot the Cloud Controller. Pivotal recommends that you do not keep this field modified as a long-term fix because it can degrade Apps Manager performance. Optionally, you can: 
	* Increase the polling interval above the default of 30 seconds. Enter the value in seconds.
		<p class="note"><strong>Note:</strong> If you enter a value between <code>0</code> and <code>30</code>, the field is automatically set to <code>30</code>.</p>
	* Disable polling by entering `0`. This stops Apps Manager from refreshing data automatically, but users can update displayed data by reloading Apps Manager manually.

1. The **App Details Polling Interval** field provides an additional way to reduce the load on the Cloud Controller when the **Apps Manager Polling Interval** field is not sufficient. This field controls the rate at which Apps Manager polls for data when a user views the **Overview** page of an app. Pivotal recommends that you do not keep this field modified as a long-term fix because it can degrade Apps Manager performance. Optionally, you can:
	* Increase the polling interval above the default of 10 seconds. Enter the value in seconds.
		<p class="note"><strong>Note:</strong> If you enter a value between <code>0</code> and <code>30</code>, the field is automatically set to <code>10</code>.</p>
	* Disable polling by entering `0`. This stops Apps Manager from refreshing data automatically, but users can update displayed data by reloading Apps Manager manually.

1. To enable multi-foundation support for Apps Manager, enter a JSON object containing all the foundations you want Apps Manager to manage in **Multi-Foundation Configuration (BETA)**. Enabling multi-foundation support allows you to manage orgs, spaces, apps, and service instances from multiple PCF foundations from a single Apps Manager interface.

1. For **Redirect URIs**, enter a comma-separated list of the URI for each additional foundation on which you enabled multi-foundation support. For more information, see [Configuring Multi-Foundation Support in Apps Manager](../opsguide/configure-multi-foundation.html).

1. Click **Save**.
