1. From the Installation Dashboard, click the trash icon on a product tile to remove that product. In the **Delete Product** dialog box that appears, click **Confirm**.

	<div class="note"><strong>Note</strong>: You cannot delete the Ops Manager Director product.</div>

1. In the Pending Changes view, click **Apply Changes**.

    After you delete a product, the product tile is removed from the installation and the Installation Dashboard. However, the product appears in the Available Products view.