In the PCF 1.6 release, Diego replaces the [DEAs](../concepts/architecture/execution-agent.html) and the [Health Manager](../concepts/architecture/#hm9k). Diego is installed and enabled in PCF 1.6 by default. 

For more information about Diego, see the [Diego Architecture](../concepts/diego/diego-architecture.html) and [Diego Components](../concepts/diego/diego-components.html) topics. 

<p class="note"><strong>Note</strong>: Before you install PCF 1.6, you must uninstall any Diego Beta installations. For more information on upgrading to PCF 1.6, see <a href="./upgrading-pcf.html">Upgrading Operations Manager</a>.</p>

1. Select **Diego**.
<%= image_tag("diego-config.png") %>

2. Select the **Use Diego by default instead of DEAs** checkbox to ensure that all applications pushed to your PCF deployment use the Diego container management system. For new installations, this option is selected by default. If you are upgrading to PCF 1.6, you must select this option to automatically enable Diego for newly pushed applications. 

    <p class='note'><strong>Note</strong>: If you do not select this option,  application developers must explicitly target Diego when pushing their applications.</p>

3. (Optional) Select the **Allow SSH access to apps** checkbox to allow application developers to `ssh` directly into their application instances on Diego. See the [Diego-SSH Overview](./customizing/diego-ssh/) topic for more details.