Diego replaces [DEAs](concepts/architecture/execution-agent.html) and the [Health Manager](concepts/architecture/#hm9k) in PCF 1.6 release. By default Diego is installed and enabled in PCF 1.6. 

For more information on Diego, see [Diego Architecture](concepts/diego/diego-architecture.html) and [Diego Components](concepts/diego/diego-components.html). 

<p class="note"><strong>Note</strong>: Before you install PCF 1.6, you must uninstall any previous Diego BETA installations. For more information on upgrading to PCF 1.6, see <a href="./upgrading-pcf.html">Upgrading Operations Manager</a>.</p>


1. Select **Diego**.
<%= image_tag("diego-config.png") %>

2. Select **Use Diego by default instead of DEAs** to ensure that all applications pushed to your PCF deployment use the Diego container management system. For new installations, this option is selected by default. If you are upgrading to 1.6, you must select this option to enable Diego automatically in newly pushed applications. If this option is not selected, application developers will need to explicitly target Diego when pushing their applications.

3. Configure **Allow SSH access to apps** as desired. When selected, application developers can ssh directly into their application instances on Diego. See [Diego-SSH Overview](customizing/diego-ssh/) for more details.