<p class="note"><strong>Note</strong>: The <b>Resource Config</b> pane has fewer VMs if you are installing the <a href="./small-footprint.html">Small Footprint Runtime</a>.</p>

<p class="note"><strong>Note</strong>: The Small Footprint Runtime does not default to a highly available configuration. It defaults to the minimum configuration. If you would like the Small Footprint Runtime to be highly available, do the following: Scale the <b>Compute</b>, <b>Router</b>, and <b>Database</b> VMs to <code>3</code> instances and scale the <b>Control</b> VM to <code>2</code> instances.</p>

Elastic Runtime defaults to a highly available resource configuration. However, you may still need to perform additional procedures to make your deployment highly available. See the [Zero Downtime Deployment and Scaling in CF](../concepts/high-availability.html) and the [Scaling Instances in Elastic Runtime](../opsguide/scaling-ert-components.html) topics for more information.

If you do not want a highly available resource configuration, you must scale down your instances manually by using the drop-down menus under **Instances** for each job.

By default, Elastic Runtime also uses an internal filestore and internal databases.
If you configure Elastic Runtime to use external resources, you can disable the
corresponding system-provided resources in Ops Manager to reduce costs and
administrative overhead.

Complete the following procedures to disable specific VMs in Ops Manager:

1. Click **Resource Config**.

1. If you configured Elastic Runtime to use an external S3-compatible filestore,
edit the following fields:
    * **File Storage**: Enter `0` in **Instances**.

1. If you selected **External** when configuring the UAA and System databases, edit the following fields:
    * **MySQL Proxy**: Enter `0` in **Instances**.
    * **MySQL Server**: Enter `0` in **Instances**.
    * **MySQL Monitor**: Enter `0` in **Instances**.
    * **Backup Prepare Node**: Enter `0` in **Instances**.

1. If you disabled TCP routing, enter `0` instances in the **TCP Router** field.

1. Click **Save**.
