<p class="note"><strong>Note:</strong> The <strong>Resource Config</strong> pane has fewer VMs if you are installing Small Footprint PAS. For more information, see <a href="./small-footprint.html">Getting Started with Small Footprint PAS</a>.</p>

<p class="note"><strong>Note:</strong> Small Footprint PAS does not default to a highly available configuration. It defaults to the minimum configuration. To make Small Footprint PAS highly available, scale the <strong>Compute</strong>, <strong>Router</strong>, and <strong>Database</strong> VMs to <code>3</code> instances and scale the <strong>Control</strong> VM to <code>2</code> instances.</p>

PAS defaults to a highly available resource configuration. However, you may need to perform additional procedures to make your deployment highly available. For more information, see [Zero Downtime Deployment and Scaling in CF](../concepts/high-availability.html) and [Scaling Instances in PAS](../opsguide/scaling-ert-components.html).

If you do not want a highly available resource configuration, you must scale down your instances manually by navigating to the **Resource Config** section and using the dropdowns under **Instances** for each job.

By default, PAS also uses an internal filestore and internal databases. If you configure PAS to use external resources, you can disable the corresponding system-provided resources in Ops Manager to reduce costs and administrative overhead.

To disable specific VMs in Ops Manager:

1. Click **Resource Config**.

1. If you configured PAS to use an external S3-compatible filestore, enter `0` in **Instances** in the **File Storage** field.

1. If you selected **External** when configuring the UAA, System, and CredHub databases, edit the following fields:
    * **MySQL Proxy**: Enter `0` in **Instances**.
    * **MySQL Server**: Enter `0` in **Instances**.
    * **MySQL Monitor**: Enter `0` in **Instances**.

1. If you disabled TCP routing, enter `0` **Instances** in the **TCP Router** field.

1. If you are not using HAProxy, enter `0` **Instances** in the **HAProxy** field.

1. Click **Save**.
