By default, containers use the same DNS servers as the host. If you want to override the DNS servers to be used in containers, enter a comma-separated list of servers in <strong>DNS Servers</strong>.
	<p class="note"><strong>Note</strong>: If your deployment uses BOSH DNS, which is the default, you cannot use this field to override the DNS servers used in containers.</p>