<%# Linked to from GCP OM Configs as step 29g  %>
<% if current_page.data.iaas == "GCP" %><p>For <strong>DNS Servers</strong>, enter <code>8.8.8.8</code> only if you have BOSH disabled. Otherwise, you cannot use this field to override the DNS servers used in containers.</p><p class="note"><strong>Note:</strong> If you do not want to configure your DNS servers with <code>8.8.8.8</code>, contact <a href="https://support.pivotal.io/">Pivotal Support</a>.</p>
<% else %>By default, containers use the same DNS servers as the host. If you want to override the DNS servers to be used in containers, enter a comma-separated list of servers in <strong>DNS Servers</strong>.
	<p class="note"><strong>Note</strong>: If your deployment uses BOSH DNS, which is the default, you cannot use this field to override the DNS servers used in containers.</p>
<% end %>