1. Select **Domains**.

    ![There is a heading at the top of the Domains page that begins with the text, Elastic Runtime hosts applications. There are two fields on the Domains page: System Domain and Apps Domain.](images/domains.png)

1. Enter the system and app domains.
    * The **System domain** defines your target when you push apps to PAS.
    * The **Apps domain** defines where PAS should serve your apps.
    <p class="note"><strong>Note:</strong> Pivotal recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes. For example, name your system domain <code>system.EXAMPLE.com</code> and your apps domain <code>apps.EXAMPLE.com</code>.</p>

1. Click **Save**.