In the **Email Notifications** pane, you can enable end-user self-registration. PAS uses SMTP to send invitations and confirmations to Apps Manager users. If you do not need this service, leave this pane blank and disable the **Notifications** and **Notifications UI** errands in the **Errands** pane.

1. Select **Email Notifications**. The following image shows the **Email Notifications** pane.
    ![There is a header at the top of the Email Notifications page that begins with the text, Configure Simple Mail Transfer Protocol. There are several fields on the Email Notifications page. The first three fields are From Email, Address of SMTP Server, and Port of SMTP Server. There is a Save button at the bottom of the page.](images/cloudform/smtp.png)

1. For **From email**, enter the email address from which email notifications are sent.

1. For **SMTP server port**, enter the port of the SMTP server that sends email notifications.
	<p class="note"><strong>Note:</strong> For GCP, you must use port 2525. Ports 25 and 587 are not allowed on GCP Compute Engine.</p>

1. For **SMTP server credentials**, enter the username and password for the SMTP server that sends email notifications.

1. Enable the **SMTP enable automatic STARTTLS** checkbox if you want your SMTP server to automatically create a secure TLS connection when sending emails.

1. Verify your authentication requirements with your email administrator and use the **SMTP authentication mechanism** dropdown to select **None**, **Plain**, or **CRAMMD5**. If you have no SMTP authentication requirements, select **None**.

1. If you selected **CRAMMD5** as your authentication mechanism, enter a secret in the **SMTP CRAMMD5 secret** field. 

1. Click **Save**.

<p class="note"><strong>Note:</strong> If you do not configure the SMTP settings using this form, the administrator must create orgs and users using the cf CLI. See <a href="../adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a> for more information.</p>