PAS uses SMTP to send invitations and confirmations to Apps Manager users. You must complete the **Email Notifications** page if you want to enable end-user self-registration.

1. Select **Email Notifications**. The following image shows the **Email Notifications** page.

    ![This image depicts the fields on the Email Notifications page. Explanations of these fields follow.](images/cloudform/smtp.png)

1. Enter your reply-to and SMTP email information.
	<p class="note"><strong>Note:</strong> For GCP, you must use port <code>2525</code>. Ports <code>25</code> and <code>587</code> are not allowed on GCP Compute Engine.</p>

1. Verify your authentication requirements with your email administrator and use the **SMTP Authentication Mechanism** dropdown to select `None`, `Plain`, or `CRAMMD5`. If you have no SMTP authentication requirements, select `None`.

1. If you selected `CRAMMD5` as your authentication mechanism, enter a secret in the **SMTP CRAMMD5 secret** field. 

1. Click **Save**.

<p class="note"><strong>Note:</strong> If you do not configure the SMTP settings using this form, the administrator must create orgs and users using the cf CLI. See <a href="../adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a> for more information.</p>