<ol>  
  <li>(Optional) By default, CF Router support for PROXY protocol is disabled. To enable PROXY protocol, select **enable support for PROXY protocol in CF Router**. When enabled, this allows downstream load balancers that do not support HTTP to pass along information for the originating client.</li>
</ol>