Errands are scripts that Ops Manager runs automatically when it installs or uninstalls a product, such as a new version of Pivotal Application Service (PAS). There are two types of errands: _post-deploy errands_ run after the product is installed, and _pre-delete errands_ run before the product in uninstalled.

By default, Ops Manager always runs all errands.

The PAS tile **Errands** pane lets you change these run rules. For each errand, you can select **On** to run it always or **Off** to never run it.

For more information about how Ops Manager manages errands, see the [Managing Errands in Ops Manager](./managing_errands.html) topic.

<p class='note'><strong>Note:</strong> Several errands, such as App Autoscaler and Notifications, deploy apps that provide services for your deployment. When one of these apps is running, selecting <strong>Off</strong> for the corresponding errand on a subsequent installation does not stop the app.</p>

* **Smoke Test Errand** verifies that your deployment can do the following:

    * Push, scale, and delete apps
    * Create and delete orgs and spaces

* **Usage Service Errand** deploys the Pivotal Usage Service application, which Apps Manager depends on.

* **Apps Manager Errand** deploys Apps Manager, a dashboard for managing apps, services, orgs, users, and spaces. Until you deploy Apps Manager, you must perform these functions through the cf CLI. After Apps Manager has been deployed, Pivotal recommends setting this errand to **Off** for subsequent PAS deployments. For more information about Apps Manager, see the [Getting Started with the Apps Manager](../console/dev-console.html) topic.

* **Notifications Errand** deploys an API for sending email notifications to your PCF platform users.

    <p id='notifications' class='note'><strong>Note:</strong> 
        The Notifications app requires that you <a href='#smtp'>configure SMTP</a> with a username and password, even if you set the value of <strong>SMTP Authentication Mechanism</strong> to <code>none</code>.
    </p>
    
* **Notifications UI Errand** deploys a dashboard for users to manage notification subscriptions.

* **App Autoscaler Errand** enables you to configure your apps to automatically scale in response to changes in their usage load. See the [Scaling an Application Using Autoscaler](../appsman-services/autoscaler/using-autoscaler.html) topic for more information.

* **App Autoscaler Smoke Test Errand** runs smoke tests against App Autoscaler.

* **NFS Broker Errand** pushes the NFS Broker app, which supports NFS Volume Services for PAS. For more information, see [Enabling NFS Volume Services](../opsguide/enable-vol-services.html#nfs-enable).