<p class="note"><strong>Note</strong>: The exact procedure to create databases depends upon the database provider you select for your deployment. The following procedure uses AWS RDS as an example. You can configure a different database provider that provides MySQL support, such as Google Cloud SQL.</p> 

To create your Elastic Runtime databases, perform the following steps:

1. Add the `ubuntu` account key pair from your IaaS deployment to your local SSH profile so you can access the Ops Manager VM. For example, in AWS, you add a key pair created in AWS:

    <pre class='terminal'>ssh-add aws-keypair.pem</pre>

1. SSH in to your Ops Manager using the [Ops Manager FQDN](../customizing/cloudform-om-deploy.html#create-dns) and the username `ubuntu`:

    <pre class='terminal'>ssh ubuntu@OPS_MANAGER_FQDN</pre>

1. Log in to your MySQL database instance using the appropriate hostname and user login values configured in your IaaS account. For example, to log in to your AWS RDS instance, run the following MySQL command:

     <pre class='terminal'>mysql --host=RDSHOSTNAME --user=RDSUSERNAME --password=RDSPASSWORD</pre>

1. Run the following MySQL commands to create databases for the seven Elastic Runtime components that require a relational database:
  <pre class="terminal">CREATE database uaa;
  CREATE database ccdb;
  CREATE database notifications;
  CREATE database autoscale;
  CREATE database app\_usage\_service;
  CREATE database routing;
  CREATE database diego;
  CREATE database account;
  CREATE database nfsvolume;
  </pre>

1. Type `exit` to quit the MySQL client, and `exit` again to close your connection to the Ops Manager VM.

1. In Elastic Runtime, select **Databases**. 

1. Select the **External Databases** option.

    <%= image_tag("cloudform/sys-db.png") %>

1. Complete the following fields in Elastic Runtime: 
  <table class="nice">
    <tr>
      <th><strong>Elastic Runtime Field</strong></th>
      <th><strong>Notes</strong></th>
    </tr>
    <tr>
      <td><str>Hostname</str></td>
      <td><str>Specify the hostname of the database server.</str></td>
    </tr>
    <tr>
      <td><str>TCP Port</str></td>
      <td><str>Specify the port of the database server.</str></td>
    </tr>
    <tr>
      <td><str>Username</str></td>
      <td><str>Specify a username that can access the database server.</str></td>
    </tr>
    <tr>
      <td><str>Password</str></td>
      <td><str>Specify the password for the provided username.</str></td>
    </tr>
  </table>

1. Click **Save**.