Use caution when enabling experimental features if you have other Pivotal Cloud Foundry&reg; service tiles installed in your Pivotal Cloud Foundry&reg; deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### <a id="disk-memory-overcommit"></a>Diego Cell Memory and Disk  Overcommit

If your apps do not use the full allocation of disk space and memory set in the **Resource Config** tab, you may want use this feature. These fields control the amount to overcommit Diego cell disk and memory resources to assign more memory and disk space to each VM. 

For example, if your apps are using a relatively low amount of disk and memory capacity, you may want to overcommit the cell memory and disk compared with the Diego Cell settings from . 

<p class="note"><strong>Note</strong>: Due to the risk of app failure and the performance-specific nature of disk and memory use, Pivotal has no general or specific recommendation about how much, if any, memory or disk space to overcommit.</p>

To enable this feature, follow these steps:

1. Select **Experimental Features**.

1. Enter the total Diego cell memory value in the **Cell Memory Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell memory capacity settings, which this field overrides. 

1. Enter the total Diego cell disk capacity value in the **Cell Disk Capacity (MB)** field. Refer to the **Diego Cell** row in the **Resource Config** tab for the current Cell disk capacity settings, which this field overrides. 

<p class="note"><strong>Note</strong>: Entries made to each of these two fields set the total amount of resources allocated, not only the overage.</p>		

<%= image_tag("./disk-memory-overcommit.png") %>

1. Click **Save**.