Use caution when enabling experimental features if you have other Pivotal Cloud Foundry&reg; service tiles installed in your Pivotal Cloud Foundry&reg; deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### <a id="disk-memory-overcommit"></a>Diego Cell Disk and Memory Overcommit

You can overcommit disk and memory resources for each Diego cell to assign more disk space and memory to each VM. If your apps do not use the full allocation of disk space and memory, you may wish to utilize idle memory or disk space with this feature. 

For example, if your apps are utilizing an average of 40% of cell disk and memory capacity, you may wish to overcommit the cell memory and disk by two times compared with the Diego Cell settings from the **Resource Config** tab. In this case, you would enter the total disk or memory value in the **Cell Memory Capacity (MB)** and **Cell Disk Capacity (MB)** fields shown below from the **Expiremental Features** tab.    

<%= image_tag("./disk-memory-overcommit.png") %>

<p class="note"><strong>Note</strong>: Pivotal has no recommendation about how you may wish to use this setting. Overcommitting Diego Cell disk and memory may cause your apps to fail if you over-allocate these resources.</p>