Use caution when enabling experimental features if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### Disable HTTP traffic to HAProxy ###

  If you enable the **Disable HTTP traffic to HAProxy** checkbox, your deployment rejects all port 80 traffic to HAProxy. Additionally, this option enables the secure flag in the `VCAP_ID` cookie that the GoRouter generates.

  <p class='note'><strong>Note</strong>: If you enable this checkbox and your deployment is not using HAProxy, configure your external load balancer to not accept port 80 traffic. If you do not do this, traffic to port 80 is still forwarded to applications but loses session stickiness.</p>

### Disable HTTP traffic to UAA ###

  If you enable the **Disable HTTP traffic to UAA** checkbox, your deployment rejects all port 80 traffic to the UAA server. For more information about the UAA server, refer to the [User Account and Authentication (UAA) Server](../concepts/architecture/uaa.html) topic.

  <%= image_tag("experimental-features.png") %>
