Use caution when enabling experimental features if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

### <a id="cf_cli_timeout"></a> CF CLI Connection Timeout

The CF CLI Connection Timeout field allows you to override the default 5 second timeout of the Cloud Foundry Command Line Interface (cf CLI) used within your PCF deployment. This timeout affects the `cf` command used to push Elastic Runtime errand apps such as Notifications, Autoscaler, Apps Manager and so on. 

Set the value of this field to a higher value, in seconds, if you are experiencing domain name resolution timeouts when pushing errands in Elastic Runtime.

To modify your CF CLI connection timeout, perform the following steps:

1. Select **Experimental Features**.

1. Add a value, in seconds, to the **CF CLI Connection Timeout** field. 
  <%= image_tag("./cf_cli_connection_timeout.png") %>
   
1. Click **Save**.
