1. Select **File Storage**.

    <p class="note"><strong>Note</strong>: Pivotal recommends using a highly resilient and redundant filestore that is S3 compatible. This minimizes downtime of system operability, which includes running <code>cf-push</code>.</p>

1. To use the PCF internal filestore, select the **Internal WebDAV** option and click **Save**.

1. To use an external S3-compatible filestore for your Elastic
Runtime file storage, select the **External S3-Compatible Filestore** option and complete the following procedure:
    <%= image_tag("cloudform/external_filestore_config.png") %>

  1. Enter the **URL Endpoint** for your filestore.
  
  1. Enter your **Access Key** and **Secret Key**.

  1. For **S3 Signature Version** and **Region**, use **V4 Signature** values.

  1. Select **Server-side Encryption (available for AWS S3 only)** to encrypt the contents of your S3 filestore. See the [AWS S3 documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html) for more information.

  1. Enter a **Buildpacks Bucket Name**.
  
  1. Enter a **Droplets Bucket Name**.
  
  1. Enter a **Packages Bucket Name**.

  1. Enter a **Resources Bucket Name**.
  1. Click **Save**.

<p class="note"><strong>Note</strong>: See the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> documentation for more information about AWS S3 Signatures.</p>
	


