To use an external S3-compatible filestore for your Elastic Runtime file storage, perform the following steps:

1. In the Elastic Runtime tile, select **File Storage**.
    <%= image_tag("cloudform/external_filestore_config.png") %>
1. Select the **External S3-Compatible Filestore** option and complete the following fields:
    * Enter the **URL Endpoint** for your filestore.
    * Enter your **Access Key** and **Secret Key**.
    * For **S3 Signature Version** and **Region**, use the **V4 Signature** values.  AWS recommends using [Signature Version 4](http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html#signature-versions).
    * Select **Server-side Encryption (available for AWS S3 only)** to encrypt the contents of your S3 filestore. 
    * Enter values for the remaining fields as follows:
    <table border="1" class="nice" >
      <tr>
        <th>Ops Manager Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Buildpacks Bucket Name</td>
        <td>S3 bucket for storing app buildpacks.</td>
      </tr>
      <tr>
        <td>Droplets Bucket Name</td>
        <td>S3 bucket for storing app droplets. Pivotal recommends that you use a unique bucket name for droplets, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td>Packages Bucket Name</td>
        <td>S3 bucket for storing app packages. Pivotal recommends that you use a unique bucket name for packages, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td>Resources Bucket Name</td>
        <td>S3 bucket for storing app resources. Pivotal recommends that you use a unique bucket name for app resources, but you can also use the same name as above.</td>
      </tr>
    </table>

1. Click **Save**.

<p class="note"><strong>Note</strong>: For more information regarding AWS S3 Signatures, please see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> documentation for additional information.</p>
