
To use external Azure file storage for your PAS filestore:

1. Select the **External Azure storage** option.
   <%= image_tag("azure/file_storage_azure.png") %>

1. To create a new storage account and storage containers for the PAS filestore:
   * In the Azure Portal, navigate to the **Storage accounts** tab. 
   * Click on the plus icon to add a new storage account.
   * In the **Name** field, enter a unique name for the storage account. This name must be all lowercase and contain 3 to 24 alphanumeric characters.
   * For the **Deployment model**, select **Resource manager**.
   * For **Account kind**, select **General purpose**.
   * For **Performance**, select **Standard**.
   * From the **Replication** dropdown, select **Locally-redundant storage (LRS)**.
   * For **Storage service encryption**, select **Disabled**.
   * From the **Subscription** dropdown, select the subscription where you want to deploy <%= vars.product_name  %> resources.
   * For **Resource group**, select **Use existing** and enter the name of the resource group where you deployed PAS.
   * From **Location** the dropdown, select the **Location** where you are deploying <%= vars.product_name  %>.
   * Click **Create**.
   * After the storage account is created, select the new storage account from the dashboard.
   * Navigate to the **Blob Service** section of the storage account, and then click on **Containers** to create one or more containers in this storage account for buildpacks, droplets, resources, and packages.
   * In **Blob Service**, select **Soft Delete**. In **Soft Delete**, click **Enabled** to enable soft delete in your Azure storage account.
   <p class="note"><strong>Note:</strong> BBR requires that you enable soft delete in your Azure storage account before you enable backup and restore for your Azure blobstores in Ops Manager. You should set a reasonable retention policy to minimize storage costs. For more information on enabling soft delete in your Azure storage account, see the [Azure documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart).</p>
   * For each container that you create, set the **Access type** to **Private**.

1. In PAS, enter the name of the storage account you created for **Account name**.

1. In the **Access key** field, enter one of the access keys provided for the storage account. To obtain a value for this fields, visit the Azure Portal, navigate to the **Storage accounts** tab and click on **Access keys**.

1. For **Environment**, enter the name of the Azure Cloud environment that contains your storage. This value defaults to AzureCloud, but other options include AzureChinaCloud, AzureUSGovernment, and AzureGermanCloud.

1. For the **Buildpacks container name**, enter the container name for storing your app buildpacks.

1. For **Droplets container name**, enter the container name for your app droplet storage. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.

1. For **Packages container name**, enter the container name for packages. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.

1. For **Resources container name**, enter the container name for resources. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.

1. (Optional) To enable backup and restore for your Azure blobstores in PAS, enable the **Enable backup and restore** checkbox.
  <p class='note'><strong>Note:</strong> Soft deletes must be enabled for all storage containers listed.</p>

1. (Optional) To enable PAS to restore your containers to a different Azure storage account than the account where you take backups:
  1. Under **Restore from storage account**, enter the name of the Azure storage account you want to restore your containers from. Leave this field blank if restoring to the same storage account where you take backups.
  1. Under **Restore using access key**, enter the access key for the Azure storage account you specified in **Restore from storage account**. Leave this field blank if restoring to the same storage account where you take backups.

1. Click **Save**.

<p class="note"><strong>Note:</strong> To enable backup and restore of your PAS tile that uses S3 compatible blobstore, see <a href="backup-restore/enabling-external-blobstore-backups.html">Enable External Blobstore Backups</a>.
</p>
