
To use external Azure file storage for your Pivotal Application Service (PAS) filestore, perform the following steps:

1. Select the **External AzureStorage** option.
   <%= image_tag("azure/file_storage_azure.png") %>
1. To create a new storage account and storage containers for the PAS filestore, perform the following steps.
   * In the Azure Portal, navigate to the **Storage accounts** tab. 
   * Click on the plus icon to add a new storage account.
   * In the **Name** field, enter a unique name (all lowercase, 3 to 24 alphanumeric characters) for the storage account.
   * For the **Deployment model**, select **Resource manager**.
   * For **Account kind**, select **General purpose**.
   * For **Performance**, select **Standard**.
   * From the **Replication** dropdown, select **Locally-redundant storage (LRS)**.
   * For **Storage service encryption**, select **Disabled**.
   * From the **Subscription** dropdown, select the subscription where you want to deploy PCF resources.
   * For **Resource group**, select **Use existing** and enter the name of the resource group where you deployed PAS.
   * From **Location** the dropdown, select the **Location** where you are deploying PCF.
   * Click **Create**.
   * After the storage account is created, select the new storage account from the dashboard.
   * Navigate to the **Blob Service** section of the storage account, and then click on **Containers** to create one or more containers in this storage account for buildpacks, droplets, resources, and packages.
   * For each container that you create, set the **Access type** to **Private**.
1. In PAS, enter the name of the storage account you created for **Account Name**.
1. In the **Secret Key** field, enter one of the access keys provided for the storage account. To obtain a value for this fields, visit the Azure Portal, navigate to the **Storage accounts** tab and click on **Access keys**.
1. For the **Buildpacks Container Name**, enter the container name for storing your app buildpacks.
1. For **Droplets Container Name**, enter the container name for your app droplet storage. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.
1. For **Resources Container Name**, enter the container name for resources. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.
1. For **Packages Container Name**, enter the container name for packages. Pivotal recommends that you use a unique container name, but you can use the same container name as the previous step.
1. Select **Enable backup restore** to enable Backup and Restore for your Azures blobstores.
<p class="note"><strong>Note</strong>: BBR requires that you enable soft delete in your Azure storage account. With soft delete, you can recover your data when blobs or blob snapshots are deleted. To enable soft delete in your Azure storage account, follow the instructions in the [Azure documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart). You should set a reasonable retention policy to minimize storage costs.
</p>
1. Click **Save**.

<p class="note"><strong>Note</strong>: To enable backup and restore of your PAS tile that uses S3 compatible blobstore, see <a href="backup-restore/enabling-external-blobstore-backups.html">Enable External Blobstore Backups</a>.</p>
