When configuring file storage for the Cloud Controller in PAS, you can select one of the following:

* Internal WebDAV filestore
* External S3-compatible or Ceph-compatible filestore
* External Google Cloud Storage with Access Key and Secret Key
* External Google Cloud Storage with Service Account
* External Azure Cloud Storage

  <p class="note"><strong>Note</strong>: Use one of the Google Cloud Storage options if you added <code>create_gcs_buckets = true</code> to your <code>terraform.tfvars</code> file.</p>
