To use an external S3-compatible filestore for your Pivotal Application Service (PAS) file storage, perform the following steps:

1. In the PAS tile, select **File Storage**.
   <%= image_tag("images/external-s3-filestore.png") %>
1. Select the **External S3-Compatible Filestore** option and complete the following fields:
    * Prepend `https://` to the endpoint for your region and copy it
          into the Ops Manager **URL Endpoint** field.
          <br />
          For example, in the **us-west-2** region, use
          `https://s3-us-west-2.amazonaws.com/`.
    * Enter the **Access Key** and **Secret Key** of the `pcf-user` you created when configuring AWS for PCF.
    * For **S3 Signature Version** and **Region**, use the **V4 Signature** values.  AWS recommends using [Signature Version 4](http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html#signature-versions).
    * For **Region**, enter the region in which your S3 buckets are located, such as `us-west-2`.
    * Select **Server-side Encryption (available for AWS S3 only)** to encrypt the contents of your S3 filestore. 
    * (Optional) If you selected **Server-side Encryption**, you can also specify a **KMS Key ID**. PAS uses the KMS key to encrypt files uploaded to the blobstore. If you do not provide a KMS Key ID, PAS uses the default AWS key. For more information, see [Protecting Data Using Server-Side Encryption with AWS KMS–Managed Keys (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html).
    <p class="note"><strong>Note</strong>
      Backup and restore of the blobstore is only compatible with versioned S3 V4 Signature blobstores. Non-versioned S3 compatible blobstores are not yet supported by backup and restore. For more information on setting up versioning for your blobstore, see the <a href="https://docs.cloudfoundry.org/bbr/external-blobstores.html">Backup and Restore with External Blobstores</a> topic.
      </p>
    * (Optional) If your buckets have versioning enabled, select **Versioning is enabled for all buckets listed below** to enable backup and restore of your versioned S3 blobstore.
    * Enter values for the remaining fields as follows:
    <table border="1" class="nice" >
      <tr>
        <th>Ops Manager Field</th>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Buildpacks Bucket Name</strong></td>
        <td><code>pcf-buildpacks-bucket</code><br></td>
        <td>This S3 bucket stores app buildpacks.</td>
      </tr>
      <tr>
        <td><strong>Droplets Bucket Name</strong></td>
        <td><code>pcf-droplets-bucket</code></td>
        <td>This S3 bucket stores app droplets. Pivotal recommends that you use a unique bucket name for droplets, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td><strong>Packages Bucket Name</strong></td>
        <td><code>pcf-packages-bucket</code></td>
        <td>This S3 bucket stores app packages. Pivotal recommends that you use a unique bucket name for packages, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td><strong>Resources Bucket Name</strong></td>
        <td><code>pcf-resources-bucket</code></td>
        <td>This S3 bucket stores app resources. Pivotal recommends that you use a unique bucket name for app resources, but you can also use the same name as above.</td>
      </tr>
    </table>

1. Click **Save**.

<p class="note"><strong>Note</strong>: For more information regarding AWS S3 Signatures, see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> topic in the AWS documentation.</p>
