To use an external S3-compatible filestore for PAS file storage, perform the following steps:

1. In the PAS tile, select **File Storage**.
   <%= image_tag("images/external-s3-filestore.png") %>
1. Select the **External S3-Compatible Filestore** option and complete the following fields:
    * Enter the `https://` **URL Endpoint** for your region.
          <br />
          For example, in the **us-west-2** region, enter
          `https://s3-us-west-2.amazonaws.com/`.
    * Enter the **Access Key** and **Secret Key** of the `pcf-user` you created when configuring AWS for PCF.
    * From the **S3 Signature Version** dropdown, select **V4 Signature**.  For more information about S4 signatures, see [Signing AWS API Requests](https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html) in the AWS documentation.
    * For **Region**, enter the region in which your S3 buckets are located. `us-west-2` is an example of an acceptable value for this field. 
    * Select **Server-side Encryption** to encrypt the contents of your S3 filestore. This option is only available for AWS S3.
    * (Optional) If you selected **Server-side Encryption**, you can also specify a **KMS Key ID**. PAS uses the KMS key to encrypt files uploaded to the blobstore. If you do not provide a KMS Key ID, PAS uses the default AWS key. For more information, see [Protecting Data Using Server-Side Encryption with AWS KMS–Managed Keys (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html).
    * (Optional) Enable **Versioning is enabled for all buckets listed below** for S3 blobstore backup and restore, if your buckets have versioning enabled.
    <p class="note"><strong>Note:</strong> Backup and restore only supports versioned S3-compatible blobstores. For more information on setting up versioning for your blobstore, see <a href="https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-versioning">Enable Versioning on Your External Blobstore</a> in the <em>Backup and Restore with External Blobstores</em> topic of the Cloud Foundry documentation.
    </p>
    <p class="note warning"><strong>IMPORTANT: </strong>
      In PAS 2.1.0, when configuring an external S3 versioned blobstores, BBR cannot support any individual blob that is greater than 5GB in size. Consult your AWS Console to determine the size of your blobs. If your backups fail while using external S3 versioned blobstores, contact Pivotal Support. 
    </p>
    * Enter the following values for the remaining fields:
    <table border="1" class="nice" >
      <tr>
        <th>Ops Manager Field</th>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Buildpacks Bucket Name</strong></td>
        <td><code>pcf-buildpacks-bucket</code><br></td>
        <td>This S3 bucket stores app buildpacks.</td>
      </tr>
      <tr>
        <td><strong>Droplets Bucket Name</strong></td>
        <td><code>pcf-droplets-bucket</code></td>
        <td>This S3 bucket stores app droplets. Pivotal recommends that you use a unique bucket name for droplets, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td><strong>Packages Bucket Name</strong></td>
        <td><code>pcf-packages-bucket</code></td>
        <td>This S3 bucket stores app packages. Pivotal recommends that you use a unique bucket name for packages, but you can also use the same name as above.</td>
      </tr>
      <tr>
        <td><strong>Resources Bucket Name</strong></td>
        <td><code>pcf-resources-bucket</code></td>
        <td>This S3 bucket stores app resources. Pivotal recommends that you use a unique bucket name for app resources, but you can also use the same name as above.</td>
      </tr>
    </table>

1. Click **Save**.

<p class="note"><strong>Note</strong>: For more information regarding AWS S3 Signatures, see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> topic in the AWS documentation.</p>
