To use external Azure file storage for your Elastic Runtime filestore, select the **External Azure Storage** option, and complete the following required fields:
    <%= image_tag("gcp/gcp-file-storage-google-cloud-storage.png") %>
    * Enter values for **Access Key** and **Secret Key**. To obtain the values for these fields:
      1. In the GCP Console, navigate to the **Storage** tab, then click **Settings**.
      1. Click **Interoperability**.
      1. If necessary, click **Enable interoperability access**. If interoperability access is already enabled, confirm that the default project matches the project where you are installing PCF.
      1. Click **Create a new key**.
      <%= image_tag("gcp/gcp-key-secret-create.png") %>
      1. Copy and paste the generated values into the corresponding Elastic Runtime fields. PCF uses these values for authentication when connecting to Google Cloud Storage.
    <p class="note"><strong>Note</strong>: To create buckets in GCP, navigate to <strong>Storage</strong> and click <strong>CREATE BUCKET</strong>.</p>
    * Select **Regional** as the **Default storage class** and then from the **Regional location** dropdown, select the region associated with your deployment.
    * For the **Buildpacks Bucket Name**, enter the name of the bucket for storing your app buildpacks.
    * For **Droplets Bucket Name**, enter the name of the bucket for your app droplet storage. Pivotal recommends that you use a unique bucket, but you can use the same bucket as the previous step.
    * For **Resources Bucket Name**, enter the name of the bucket for resources. Pivotal recommends that you use a unique bucket, but you can use the same bucket as the previous step.
    * For **Packages Bucket Name**, enter the name of the bucket for packages. Pivotal recommends that you use a unique bucket, but you can use the same bucket as the previous step.
    * Click **Save**.