### <a id='external_s3'></a> External S3 or Ceph Filestore

<%= partial 'filestore_s3_config' %>
	
### <a id='external_gcp'></a> External Google Cloud Storage

<%= partial 'filestore_gcp_config' %>

### <a id='external_azure'></a> External Azure Storage

