To use an external S3-compatible filestore for your Elastic Runtime file storage, perform the following steps:

1. In the Elastic Runtime tile, select **File Storage**.

1. Select the **External S3-Compatible Filestore** option. Complete the following fields.

  1. Enter the **URL Endpoint** for your filestore.
  
  1. Enter your **Access Key** and **Secret Key**.

  1. For **S3 Signature Version** and **Region**, use **V4 Signature** values.

  1. Select **Server-side Encryption** to encrypt the contents of your S3 filestore. 

  1. Enter a **Buildpacks Bucket Name**.
  
  1. Enter a **Droplets Bucket Name**.
  
  1. Enter a **Packages Bucket Name**.

  1. Enter a **Resources Bucket Name**.

  1. Click **Save**.

  <p class="note"><strong>Note</strong>: For more information about AWS S3 Signatures, see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> documentation for additional information.</p>