To minimize system downtime, Pivotal recommends using highly resilient and redundant _external_ filestores for your Elastic Runtime file storage. 

When configuring file storage for the Cloud Controller in Elastic Runtime, you can select one of the following:

* Internal WebDAV filestore
* External S3-compatible or Ceph-compatible filestore
* External Google Cloud Storage  
	<p class="note"><strong>Note</strong>: Use this option if you added <code>create\_gcs\_buckets = true</code> to your <code>terraform.tfvars</code> file.</p>
* External Azure Cloud Storage

