(Optional) **Frontend Idle Timeout for Gorouter and HAproxy**: Use this field to help prevent connections to your load balancer from being closed prematurely. The value you enter sets the duration in seconds to maintain an open connection with a client that supports keep-alive. See the following table:
	<table>
		<tr>
			<th>IaaS</th>
			<th>Guidance</th>
		</tr>
		<tr>
			<td>AWS</td>
			<td>AWS ELB has a default timeout of 60 seconds, so Pivotal recommends a value greater than <code>60</code>.</td>
		</tr>
		<tr>
			<td>Azure</td>
			<td>By default, Azure load balancer times out at 240 seconds without sending a TCP RST to clients, so Pivotal Recommends a value lower than <code>240</code> to force it to send the TCP RST.</td>
		</tr>
		<tr>
			<td>GCP</td>
			<td>GCP has a default timeout of 600 seconds, so Pivotal recommends a value greater than <code>600</code>. </td>
		</tr>
		<tr>
			<td>Other</td>
			<td>The timeout must be greater than that of the load balancer.</td>
		</tr>
	</table>
