To configure HAProxy behavior for handling client certificates, select one of the following options in the <b>HAProxy behavior for Client Certificate Validation</b> field. 
  <%= image_tag 'networking_haproxy_client_cert_validate.png' %>
  <ul>
  <li><b>HAProxy does not request client certificates.</b>  This option is incompatible with XFCC option <b>TLS terminated for the first time at HAProxy</b> because this option requires mutual authentication. As client certificates are not requested, client will not provide them, and thus validation of client certificates will not occur. This is the default configuration.</li>
   <li> <b>HAProxy requests but does not require client certificates.</b> The HAProxy requests client certificates in TLS handshakes, validates them when presented, but does not require them.</li>
   </ul>

  <p class="note warning"><strong>WARNING:</strong> Requests to the platform will fail upon upgrade if your load balancer is configured with client certificates and the HAProxy does not have the certificate authority. To mitigate this issue, select <strong>HAProxy does not request client certificates</strong> for <strong>HAProxy behavior for Client Certificate Validation</strong> in the <strong>Networking</strong> pane.</p>