Under **HAProxy forwards requests to Router over TLS**, select **Enable** or **Disable** based on your deployment layout.    
    * To enable communication between HAProxy and the Gorouter:
      1. Leave **Enable** selected.
      1. In the **Certificate Authority for HAProxy Backend** field, specify the CA that signed the certificate you configured in the **Certificate and Private Key for HAProxy and Router** field.
        <p class="note"><strong>Note:</strong> If you used the <strong>Generate RSA Certificate</strong> link to generate a certificate, then the CA to specify is the Ops Manager CA, which you can locate at the <code>/api/v0/certificate\_authorities</code> endpoint in the Ops Manager API.</p>
      1. Make sure that Gorouter and HAProxy have TLS cipher suites in common in the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy** fields.<br />
      For more information, see the [Terminating TLS at the Load Balancer and Gorouter](../adminguide/securing-traffic.html#lb_and_gorouter_term) section of the _Securing Traffic into Cloud Foundry_ topic, [Providing a Certificate for Your TLS Termination Point](../opsguide/security_config.html), and [Using the Ops Manager API](./ops-man-api.html). 
    * To use non-encrypted communication between HAProxy and the Gorouter:
      1. Select **Disable**.
      1. If you are not using HAProxy, set the number of HAProxy job instances to `0` on the **Resource Config** page. For more information, see [Disable Unused Resources](#disable-resources).<br />
      For more information, see [Terminating SSL/TLS at the Gorouter Only](../adminguide/securing-traffic.html#gorouter_term) and [Terminating SSL/TLS at the Load Balancer Only](../adminguide/securing-traffic.html#lb_term).