Under **HAProxy forwards requests to Router over TLS**, select **Enable** or **Disable** based on your deployment layout.    
  <ul>
    <li><strong>Enable HAProxy forwarding of requests to Router over TLS</strong>. To enable communication between HAProxy and the Gorouter, do the following:</li>
    <ol>
      <li>Leave <strong>Enable</strong> selected.</li>
      <li>In the <strong>Certificate Authority for HAProxy Backend</strong> field, specify the Certificate Authority (CA) that signed the certificate you configured in the <strong>Certificate and Private Key for HAProxy and Router</strong> field.
        <p class="note"><strong>Note</strong>: If you used the <strong>Generate RSA Certificate</strong> link to generate a self-signed certificate, then the CA to specify is the Ops Manager CA, which you can locate at the <code>/api/v0/certificate\_authorities</code> endpoint in the Ops Manager API.</p></li>
      <li>Make sure that Gorouter and HAProxy have TLS cipher suites in common in the <strong>TLS Cipher Suites for Router</strong> and <strong>TLS Cipher Suites for HAProxy</strong> fields.</li>
    </ol>
  </ul>
  For more information, see [Terminating SSL/TLS at the Load Balancer and Gorouter](../adminguide/securing-traffic.html#lb_and_gorouter_term), [Providing a Certificate for Your SSL/TLS Termination Point](../opsguide/security_config.html#config), and [Using the Ops Manager API](./ops-man-api.html). 
  <ul>
   <li> <strong>Disable HAProxy forwarding of requests to Router over TLS</strong>. To use non-encrypted communication between HAProxy and Gorouter, do the following:</li>
   <ol>
     <li>Select **Disable**.</li>
     <li>If you are not using HAProxy, set the number of HAProxy job instances to <code>0</code> on the **Resource Config** page. See [Disable Unused Resources](#disable-resources).</li>
   </ol>
  </ul>
  For more information, see [Terminating SSL/TLS at the Gorouter Only](../adminguide/securing-traffic.html#gorouter_term) and [Terminating SSL/TLS at the Load Balancer Only](../adminguide/securing-traffic.html#lb_term).