Under **HAProxy forwards requests to Router over TLS**, select **Enable** or **Disable** based on your deployment layout.
      <%= image_tag 'images/networking_haproxy_router_tls_forward.png' %>
   * **Enable HAProxy forwarding of requests to Router over TLS**
    <table class="nice">
    <tr>
      <th>If you want to:</th>
      <td>
          Encrypt communication between HAProxy and the Gorouter</li>
      </td>
    </tr>
    <tr>
      <th>Then configure the following:</th>
       <td><ol><li>Leave **Enable** selected.</li>
        <li>In the **Certificate Authority for HAProxy Backend** field, specify the Certificate Authority (CA) that signed the certificate you configured in the **Certificate and Private Key for HAProxy and Router** field.</li>
       <p class="note">If you used the **Generate RSA Certificate** link to generate a self-signed certificate, then the CA to specify is the Ops Manager CA, which you can locate at the `/api/v0/certificate\_authorities` endpoint in the Ops Manager API.</p>
       <li>Make sure that Gorouter and HAPRoxy have TLS cipher suites in common in the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy** fields.</li>
       </ol>
      </td>
     <tr>
      <th>See also:</th>
      <td><ul>
      <li>[Terminating SSL/TLS at the Load Balancer and Gorouter](../adminguide/securing-traffic.html#lb_and_gorouter_term)</li>
      <li>[Providing a Certificate for Your SSL/TLS Termination Point](../opsguide/security_config.html#config)</li> 
      <li>[Using the Ops Manager API](./ops-man-api.html)</li>
      </ul>
      </td>
    </tr>
    </table>
   * **Disable HAProxy forwarding of requests to Router over TLS**
   <table class="nice">
     <tr>
      <th>If you want to:</th>
       <td>
        Use non-encrypted communication between HAProxy and Gorouter, or you are not using HAProxy
      </td>
      </tr>
    <tr>
      <th>Then configure the following:</th>
      <td><ol><li>Select **Disable**.</li>
      <li>If you are not using HAProxy, set the the number of HAProxy job instances to 0 on the **Resource Config** page. See [Configuring Resources](#resources).</li>
      </ol></td>
    </tr>
      <tr>
      <th>See also:</th>
      <td><ul><li>[Terminating SSL/TLS at the Gorouter Only](../adminguide/securing-traffic.html#gorouter_term)</li>
      <li>[Terminating SSL/TLS at the Load Balancer Only](../adminguide/securing-traffic.html#lb_term)
      </ul>
      </td>
    </tr>
    </table>