Under **Certificates and Private Keys for HAProxy and Router**, you must provide at least one **SSL Certificate and Private Key** name and keypair for HAProxy and Gorouter. The HAProxy and Gorouter are enabled to receive TLS communication by default. You can configure multiple certificates for HAProxy and Gorouter. 
    1. Click the **Add** button to add a name for the default certificate and its private keypair.
	   <%= image_tag 'images/networking_haproxy_router_cert_config.png' %><br>
       You can either provide a certificate signed by a Certificate Authority (CA) or click on the **Generate RSA Certificate** link to generate a self-signed certificate in Ops Manager.
    1. If you want to configure multiple certificates for HAProxy and Gorouter, click the **Add** button and fill in the appropriate fields for each additional certificate.<br/><br/>
       For details about generating certificates in Ops Manager for your wildcard system domains, see the <a href="../opsguide/security_config.html#config">Providing a Certificate for Your SSL/TLS Termination Point</a> topic.</p>