Configure **Logging of client IPs in Router**. The **Log client IPs** option is set by default. To comply with the General Data Protection Regulation (GDPR), select one of the following options to disable logging of client IP addresses:
  <ul>
  <li>If your load balancer exposes its own source IP address, disable logging of the `X-Forwarded-For` HTTP header only.</li>
  <li>If your load balancer exposes the source IP of the originating client, disable logging of both the source IP address and the `X-Forwarded-For` HTTP header.</li>
  </ul>
