<p class="note"><strong>Note</strong>: Certificates generated in PAS are signed by the Operations Manager Certificate Authority. They are not technically self-signed, but they are referred to as "Self-Signed Certificates" in the Ops Manager GUI and throughout this documentation.</p>
