<p class="note"><strong>Note:</strong> Certificates generated in PAS are signed by the Ops Manager Certificate Authority. They are not technically self-signed, but they are referred to as "self-signed certificates" in the Ops Manager GUI and throughout this documentation.</p>
