To enable logging for app traffic, select **Enable (will increase log volume)** under **Log traffic for all accepted/denied application packets**. App traffic logging generates log messages as follows:
<ul>
  <li> **TCP traffic**: Logs the first packet of every new TCP connection.</li>
  <li> **UDP traffic**: Logs UDP packets sent and received, up to a maximum per-second rate for each container. Set this rate limit in the **UDP logging interval** field (default: 100).</li>
  <li> **Packets denied**:  Logs packets blocked by either a container-specific [networking policy](../concepts/understand-cf-networking.html#policies) or by [Application Security Group](../opsguide/app-sec-groups.html) rules applied across the space, org, or deployment. Logs packet denials up to a maximum per-second rate for each container, set in the **Denied logging interval** field (default: 1).  
  <%= image_tag 'log-app-traffic-enable.png' %><br>
  See [Manage Logging for Container-to-Container Networking](../opsguide/logging-config-opsman.html#app-traffic-log) for more information.</li>
</ul>
