The PAS tile includes a **Metric Registrar** configuration pane. You can configure the Metric Registrar from this pane in the following ways:

* Enable
* Edit default scraping interval
* Add blacklisted tags

### <a id="disable"></a> Disable the Metric Registrar

The PAS tile deploys the Metric Registrar by default. 

To disable the Metric Registrar, do the following:

1. In the PAS tile, click **Metric Registrar**.

1. Clear the **Enable Metric Registrar** checkbox.

### <a id="scraping-interval"></a> Edit Default Scraping Interval

The scraping interval defines how often the Metric Registrar polls custom metric endpoints. The default is 35 seconds. 

To edit the Metric Registrar scraping interval, do the following:

1. In the PAS tile, click **Metric Registrar**.

1. Edit the **Endpoint Scraping Interval** field. 

### <a id="blacklisted-tags"></a> Add Blacklisted Tags

To prevent the Metric Registrar from consuming the value of a metric or event tag, you can add the tag to the **Blacklisted Tags** field. For example, if you tag your metrics with a `customer_id`, you may want to add `customer_id` to the list of blacklisted tags. The field accepts a comma-separated list.

By default, the following tags are blacklisted to prevent interference with other products like PCF Metrics that use and rely on such tags.  

- `deployment`
- `job`
- `index`
- `id`

To prevent the Metric Registrar from consuming the value of a metric or event tag, do the following:

1. In the PAS tile, click **Metric Registrar**.

1. Add the desired tag to the **Blacklisted Tags** field.