In the **Metric Registrar** pane, you configure the Metric Registrar. Metric Registrar allows the conversion of structured logs into metrics. It also scrapes metrics endpoints and forwards the metrics to Loggregator. If enabled, Pivotal recommends also enabling the Metric Registrar Smoke Test errand.

### <a id="disable"></a> Disable the Metric Registrar

The Metric Registrar is enabled by default.

To disable the Metric Registrar:

1. Click **Metric Registrar**.

1. Disable the **Enable Metric Registrar** checkbox.

### <a id="scraping-interval"></a> Edit Default Scraping Interval

The scraping interval defines how often the Metric Registrar polls custom metric endpoints. The default is 35 seconds.

To edit the Metric Registrar scraping interval:

1. Click **Metric Registrar**.

1. Edit the **Endpoint Scraping Interval** field.

### <a id="blocked-tags"></a> Add Blocked Tags

To prevent the Metric Registrar from consuming the value of a metric or event tag, you can add the tag to the **Blocked tags** field. For example, if you tag your metrics with a `customer_id`, you may want to add `customer_id` to the list of blocked tags.

By default, the following tags are blocked to prevent interference with other products like <%= vars.product_name %> Metrics that use and rely on such tags.

- `deployment`
- `job`
- `index`
- `id`

To prevent the Metric Registrar from consuming the value of a metric or event tag:

1. Click **Metric Registrar**.

1. Add the desired tags to the **Blocked tags** field in a comma-separated list.
