<p class='note'><strong>Note:</strong> The Metric Registrar is bundled with <%= vars.product_short %>,
and you configure it within the <%= vars.product_short %> tile. You do not install and configure Metric Registrar as a separate product tile.</p>

You configure the Metric Registrar in the <%= vars.app_runtime_full %> tile > **Metric Registrar** pane. Metric Registrar allows the conversion of structured logs into metrics. It also scrapes metrics endpoints and forwards the metrics to Loggregator. If enabled, Pivotal recommends also enabling the Metric Registrar Smoke Test errand.

### <a id="disable"></a> Disable the Metric Registrar

The Metric Registrar is enabled by default.

To disable the Metric Registrar, do the following:

1. In the PAS tile, click **Metric Registrar**.

1. Clear the **Enable Metric Registrar** checkbox.

### <a id="scraping-interval"></a> Edit Default Scraping Interval

The scraping interval defines how often the Metric Registrar polls custom metric endpoints. The default is 35 seconds.

To edit the Metric Registrar scraping interval:

1. Select **Metric Registrar**.

1. Edit the **Endpoint Scraping Interval** field.

### <a id="blacklisted-tags"></a> Add Blacklisted Tags

To prevent the Metric Registrar from consuming the value of a metric or event tag, you can add the tag to the **Blacklisted Tags** field. For example, if you tag your metrics with a `customer_id`, you may want to add `customer_id` to the list of blacklisted tags.

By default, the following tags are blacklisted to prevent interference with other products like PCF Metrics that use and rely on such tags.

- `deployment`
- `job`
- `index`
- `id`

To prevent the Metric Registrar from consuming the value of a metric or event tag:

1. Select **Metric Registrar**.

1. Add the desired tags to the **Blacklisted Tags** field in a comma-separated list.