The following table provides recommended instance counts for a high-availability deployment and the minimum instances for a functional deployment:

<table border="1" class="nice">
        <tr>
                <th><strong>Pivotal Application Service (PAS) Job</strong></th>
                <th><strong>Recommended Instance Number for HA</strong></th>
                <th><strong>Minimum Instance Number</strong></th>
                <th><strong>Notes</strong></th>
        </tr>
        <tr>
                <td>Diego Cell</td>
                <td>&ge; 3</td>
                <td>1</td>
                <td>The optimal balance between CPU/memory sizing and instance count depends on the performance characteristics of the apps that run on Diego cells. Scaling vertically with larger Diego cells makes for larger points of failure, and more apps go down when a cell fails. On the other hand, scaling horizontally decreases the speed at which the system re-balances apps. Re-balancing 100 cells takes longer and demands more processing overhead than re-balancing 20 cells.</td>
        </tr>
        <tr>
                <td>Diego Brain</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>For high availability, use at least one per AZ, or at least two if only one AZ.</td>
        </tr>
        <tr>
                <td>Diego BBS</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>For high availability in a multi-AZ deployment, use at least one instance per AZ. Scale Diego BBS to at least two instances for high availability in a single-AZ deployment.</td>
        </tr>
        <tr>
                <td>MySQL Server</td>
                <td>3</td>
                <td>1</td>
                <td>If you use an external database in your deployment, then you can set the MySQL Server instance count to <code>0</code>. For instructions about scaling down an internal MySQL cluster, see <a href="../mysql/scaling-mysql.html#scale-down">Scaling Down Your MySQL Cluster</a>.</td>
        </tr>
        <tr>
                <td>MySQL Proxy</td>
                <td>2</td>
                <td>1</td>
                <td>If you use an external database in your deployment, then you can set the MySQL Proxy instance count to <code>0</code>.</td>
        </tr>
        <tr>
                <td>NATS Server</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>In a high availability deployment, you might run a single NATS instance if your deployment lacks the resources to deploy two stable NATS servers. Components using NATS are resilient to message failures and the BOSH Resurrector recovers the NATS VM quickly if it becomes non-responsive.</td>
        </tr>
        <tr>
                <td>Cloud Controller</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>Scale the Cloud Controller to accommodate the number of requests to the API and the number of apps in the system.</td>
        </tr>
        <tr>
                <td>Clock Global</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>For a high availability deployment, scale the Clock Global job to a value greater than 1 or to the number of AZs you have.
        </tr>
        <tr>
                <td>Router</td>
                <td>&ge; 2</td>
                 <td>1</td>
                <td>Scale the router to accommodate the number of incoming requests. Additional instances increase available bandwidth. In general, this load is much less than the load on Diego cells.</td>
        </tr>
        <tr>
                <td>UAA</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td></td>
        </tr>
        <tr>
                <td>Doppler Server</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>Deploying additional Doppler servers splits traffic across them. For a high availability deployment, Pivotal recommends at least two per Availability Zone.</td>
        </tr>
        <tr>
                <td>Loggregator Traffic Controller</td>
                <td>&ge; 2</td>
                <td>1</td>
                <td>Deploying additional Loggregator Traffic Controllers allows you to direct traffic to them in a round-robin manner. For a high availability deployment, Pivotal recommends at least two per Availability Zone.</td>
        </tr>
</table>

