To add an older cipher suite to the Gorouter cipher suites, perform the following steps:
<ol>
<li>In the **Networking** configuration screen of PAS, select either TLS v1.0 or v1.1 in the **Minimum version of TLS supported by HAProxy and Router field**. </li>
<li>Add  one or more of the Gorouter-supported cipher suites listed in <a href="#tls_10_11">TLS v1.0 and v1.1</a> to the existing list of default cipher suites in the **TLS Cipher Suites for Router** field.</li>
</ol>
For more information, see [Configuring PAS](../customizing/configure-pas.html). 
