If your PCF deployment uses HAProxy and you want it to receive traffic only from specific
sources, use the following fields:
    <ul>
	<li> <strong>HAProxy Protected Domains:</strong> Enter a comma-separated list of
	domains to protect from unknown source requests.</li>
	<li> <strong>HAProxy Trusted
	CIDRs:</strong> Optionally, enter a space-separated list of CIDRs to limit which
	IP addresses from the <strong>Protected Domains</strong> can send traffic to PCF.
	</li>
    </ul>
	<%= image_tag 'protected-domains.png' %>
