If your PCF deployment uses HAProxy and you want it to receive traffic only from specific sources, use the following fields:
    <ul>
	<li> <strong>Protected Domains:</strong> Enter a comma-separated list of domains from which PCF can receive traffic. </li>
	<li> <strong>Trusted CIDRs:</strong> Optionally, enter a space-separated list of CIDRs to limit which IP addresses from the <strong>Protected Domains</strong> can send traffic to PCF. </li>
    <p class="note"><strong>Note:</strong> To secure connections without having to enter trusted domains individually, consider requiring HTTPS requests from all inbound connections to HAProxy. Using an HSTS header will force all browsers contacting HAProxy to use HTTPS. For more information, see <a href="../opsguide/ssl-term-haproxy.html"></a>.</p>
    </ul>
	<%= image_tag 'protected-domains.png' %>
