The following are general requirements for deploying and managing a PCF deployment with Ops Manager and Pivotal Application Service (PAS):

* A wildcard DNS record that points to your router or load balancer. Alternatively, you can use a service such as xip.io. For example, `203.0.113.0.xip.io`.
  * PAS gives each application its own hostname in your app domain.
  * With a wildcard DNS record, every hostname in your domain resolves to the IP address of your router or load balancer, and you do not need to configure an A record for each app hostname. For example, if you create a DNS record `*.example.com` pointing to your load balancer or router, every application deployed to the `example.com` domain resolves to the IP address of your router.

* At least one wildcard TLS certificate that matches the DNS record you set up above, `*.example.com`.

* Sufficient IP allocation:
  * One static IP address for either HAProxy or one of your Gorouters
  * One static IP address for each job in the Ops Manager tile. See the Resource Config pane for each tile for a full list. 
  * One static IP address for each job listed below:
      * Consul
      * NATS
      * File Storage 
      * MySQL Proxy 
      * MySQL Server
      * Backup Restore Node
      * HAProxy
      * Router
      * MySQL Monitor
      * Diego Brain
      * TCP Router
  * One IP for each VM instance created by the service.
  * An additional IP address for each compilation worker. So the formula for total IPs needed is `IPs needed = static IPs + VM instances + compilation workers`.
    <p class="note"><strong>Note:</strong> Pivotal recommends that you allocate at least 36 dynamic IP addresses when deploying Ops Manager and PAS. BOSH requires additional dynamic IP addresses during installation to compile and deploy VMs, install PAS, and connect to services.</p>

* One or more NTP servers if not already provided by your IaaS.

* (**Recommended**) A network without DHCP available for deploying the PAS VMs.
<p class="note"><strong>Note:</strong> If you have DHCP, refer to the <a href="./troubleshooting.html">Troubleshooting Guide</a> to avoid issues with your installation.</p>

* (**Optional**) External storage. When you deploy PCF, you can select internal file storage or external file storage, either network-accessible or IaaS-provided, as an option in the PAS tile. Pivotal recommends using external storage whenever possible. See [Configure File Storage](../upgrading/configuring.html#file-storage) for a discussion of how file storage location affects platform performance and stability during upgrades.

* (**Optional**) External databases. When you deploy PCF, you can select internal or external databases for the BOSH Director and for PAS. Pivotal recommends using external databases in production deployments. An external database must be configured to use the UTC timezone.

* (**Optional**) External user stores. When you deploy PCF, you can select a SAML user store for Ops Manager or a SAML or LDAP user store for PAS, to integrate existing user accounts. 

* The most recent version of the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli#downloads) (cf CLI).

&nbsp;
[//]: # (This nbsp fixes header format issue after partials)

