<%# This Security Pane partial is conditionalized between the 
"Setting Trusted Certificates" topic (trusted-certificates.html) 
and IaaS-specific Ops Manager configuration topics. %>

<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Navigate to the BOSH Director tile from the Ops Manager installation dashboard.
<% end %>

1. Select **Security**.

    <%= image_tag("../images/om-security.png") %>

1. In **Trusted Certificates**, enter your custom certificate authority (CA) certificates to insert into your organization's certificate trust chain. This feature enables all BOSH-deployed components in your deployment to trust custom root certificates.
  <br><br>To enter multiple certificates, paste your certificates one after the other. For example, format your certificates like the following:
  <pre>-----BEGIN CERTIFICATE-----
ABCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678AB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
BCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
CDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABBB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------</pre>
  <p class="note"><strong>Note: </strong>If you want to use Docker Registries for running app instances in Docker containers, enter the certificate for your private Docker Registry in this field. See <a href="../opsguide/docker-registry.html">Using Docker Registries</a> for more information.</p>


<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Click **Save**.
<% else %>
1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security.

1. Click **Save**. To view your saved Director password, click the **Credentials** tab.
<% end %>
