1. From the PCF Ops Manager Installation Dashboard, click the **Elastic Runtime** tile.

1. Select **Security Config**.

	<%= image_tag("security_config.png") %>

1. Provide a certificate for your SSL Termination Point.
	* In a production deployment, use the certificate provided by your organization's Certificate Authority.
	* In a development or testing environment, you may use a self-signed certificate. To use a self-signed certificate, click the **Generate Self-Signed RSA Certificate** link to launch the RSA certificate wizard. The example below uses `*.example.com`. Elastic Runtime populates the **SSL Certificate** fields with RSA certificate and private key information. Select the **Trust Self-Signed Certificates** checkbox.
	    <%= image_tag("openstack/generate-cert.png") %>

	    

	<p class='note'><strong>Note</strong>: Pivotal does not recomend using a self-signed certificate for production deployments.</p>

	<% if ( (!!defined? $this_IaaS) and ($this_IaaS=='AWS') ) %>

1. Select **Resource Config**.

1. Enter 0 in the **Instances** field for **HAProxy**.

	<% end %>

