1. Select **Security Config**.

1. Provide a certificate for your SSL Termination Point.
	<% if $this_IaaS == 'AWS-cloudform' %>
		This must be the same certificate that you uploaded to AWS earlier in [Use the AWS CLI to upload your SSL Cert](./cloudform-template.html#upload-cert).
		<p class='note'><strong>Note</strong>: Pivotal does not recommend using a self-signed certificate for production deployments.</p>
	<% else %>
	* In a production deployment, use the certificate provided to your organization by a Certificate Authority.
	* In a development or testing environment, you may use a self-signed certificate. To use a self-signed certificate, click the **Generate Self-Signed RSA Certificate** link to launch the RSA certificate wizard. The example below uses `*.example.com`. Elastic Runtime populates the **SSL Certificate** fields with RSA certificate and private key information. Select the **Trust Self-Signed Certificates** checkbox.
		<p class='note'><strong>Note</strong>: Pivotal does not recommend using a self-signed certificate for production deployments.</p>
	    <%= image_tag("openstack/generate-cert.png") %>
	<% end %>
1. **(Optional)** If you want to use custom SSL ciphers for HAProxy, enter them into the **HAProxy SSL Ciphers** field. By default, PCF uses [these SSL ciphers](https://github.com/cloudfoundry/cf-release/blob/master/jobs/haproxy/spec#L25).

1. Check **Enable cross-container traffic within each DEA** if your installation will include microservices that require cross-container networking, such as [Spring Cloud](http://projects.spring.io/spring-cloud/).

1. Click **Save**.
	<%= image_tag("security_config.png") %>