1. From the PCF Ops Manager Installation Dashboard, click the **Elastic Runtime** tile.

1. Select **Security Config**.

1. Provide a certificate for your SSL Termination Point.
	<% if !$this_IaaS.nil? and $this_IaaS == 'AWS-cloudform' %>
		This must be the same cert that you uploaded to AWS earlier in [Use the AWS CLI to upload your SSL Cert](./cloudform-template.html#upload-cert).
	<% else %>
	* In a production deployment, use the certificate provided by your organization's Certificate Authority.
	* In a development or testing environment, you may use a self-signed certificate. 

	To use a self-signed certificate, click the **Generate Self-Signed RSA Certificate** link to launch the RSA certificate wizard. The example below uses `*.example.com`. Elastic Runtime populates the **SSL Certificate** fields with RSA certificate and private key information. Select the **Trust Self-Signed Certificates** checkbox.
	    <%= image_tag("openstack/generate-cert.png") %>
	<% end %>


	<p class='note'><strong>Note</strong>: Pivotal does not recommend using a self-signed certificate for production deployments.</p>

1. Click **Save**.
	<%= image_tag("security_config.png") %>
