In the **System Logging** pane, you can configure system logging in PAS to forward log messages from PAS component VMs to an external service. Pivotal recommends forwarding logs to an external service for use in troubleshooting. If you do not fill these fields, platform logs are not forwarded but remain available on the component VMs and for download through Ops Manager.

<p class="note"><strong>Note:</strong> The following instructions explain how to configure system logging for PAS component VMs. To forward logs from PCF tiles to an external service, you must also configure system logging in each tile. See the documentation for the given tiles for information about configuring system logging.</p> 

To configure the **System Logging** pane:

1. Select **System Logging**.

1. For **Address**, enter the hostname or IP address of the syslog server.

1. For **Port**, enter the port of the syslog server. The default port for a syslog server is 514.
<p class="note"><strong>Note:</strong> The host must be reachable from the PAS network and accept UDP or TCP connections. Ensure the syslog server listens on external interfaces.</p>

1. For **Transport Protocol**, select a transport protocol for log forwarding.

1. For **Encrypt syslog using TLS?**, select **Yes** to use TLS encryption when forwarding logs to a remote server.
  1. For **Permitted Peer**, enter either the name or SHA1 fingerprint of the remote peer.
  1. For **TLS CA Certificate**, enter the TLS CA certificate for the remote server.

1. For **Number of syslog drain addresses to retrieve**, enter the number of apps with syslog drain addresses to retrieve from Cloud Controller per request.

1. Disable the **Include container metrics in Syslog Drains** checkbox to prevent the CF Drain CLI plugin from including app container metrics in syslog drains. This feature is enabled by default. For more information about the CF Drain CLI plugin, see the [CF Drain CLI Plugin](https://github.com/cloudfoundry/cf-drain-cli) repository on GitHub.

1. Select the **Enable agent-based syslog egress for app logs** checkbox to use agent-based syslog. Agent-based syslog provides an alternative to scalable-syslog architecture. For more information about agent-based syslog, see the [Loggregator Architecture and Components](../loggregator/architecture.html#components) section of the _Loggregator Architecture_ topic. 
  <p class="note"><strong>Note:</strong> Selecting this checkbox disables the Syslog Adapter and Syslog Scheduler VMs to prevent log duplication.</p>

1. Select the **Enable Cloud Controller security event logging** checkbox to include security events in the log stream. This feature logs all API requests, including the endpoint, user, source IP address, and request result, in the Common Event Format (CEF).

1. Enable the **Use TCP for file forwarding local transport** checkbox to transmit logs over TCP. This prevents log truncation, but may cause performance issues.

1. The **Don't Forward Debug Logs** checkbox is enabled by default. To forward `DEBUG` syslog messages to an external service, disable the checkbox.
  <p class="note"><strong>Note:</strong> Some PAS components generate a high volume of <code>DEBUG</code> syslog messages. Enabling the <strong>Don't Forward Debug Logs</strong> checkbox prevents PAS components from forwarding the <code>DEBUG</code> syslog messages to external services. However, PAS still writes the messages to the local disk.</p>

1. For **Custom rsyslog Configuration**, enter a custom syslog rule. For more information about adding custom syslog rules, see [Customizing Platform Log Forwarding](../customizing/custom-syslog-rules.html).

1. Click **Save**.

To configure Ops Manager for system logging, see the [Settings](../customizing/pcf-interface.html#settings) section in the _Using the Ops Manager Interface_ topic.