In the **System Logging** pane, you can configure system logging in PAS to forward log messages from PAS component VMs to an external service. Pivotal recommends forwarding logs to an external service for use in troubleshooting. If you do not fill these fields, platform logs are not forwarded but remain available on the component VMs and for download through Ops Manager.

<p class="note"><strong>Note:</strong> The following instructions explain how to configure system logging for PAS component VMs. To forward logs from PCF tiles to an external service, you must also configure system logging in each tile. See the documentation for the given tiles for information about configuring system logging.</p> 

To configure system logging in PAS:

1. In the PAS **Settings** tab, select the **System Logging** pane. The following image shows the **System Logging** pane.
  ![There is a heading at the top of the System Logging page that begins with the text, Optionally configure rsyslog. There are several fields on the System Logging page. The first three fields are Address, Port, and Transport Protocol. There is a Save button at the bottom of the page.](images/updated-system-logging.png)

1. For **Address**, enter the hostname or IP address of the syslog server.

1. For **Port**, enter the port of the syslog server. The default port for a syslog server is 514.
<p class="note"><strong>Note:</strong> The host must be reachable from the PAS network and accept UDP or TCP connections. Ensure the syslog server listens on external interfaces.</p>

1. For **Transport protocol**, select a transport protocol for log forwarding.

1. For **Encrypt syslog using TLS?**, select **Yes** to use TLS encryption when forwarding logs to a remote server.
  1. For **Permitted peer**, enter either the name or SHA1 fingerprint of the remote peer.
  1. For **TLS CA certificate**, enter the TLS CA certificate for the remote server.

1. Enable the **Enable Cloud Controller security event logging** checkbox to include security events in the log stream. This feature logs all API requests, including the endpoint, user, source IP address, and request result, in the Common Event Format (CEF).

1. Enable the **Use TCP for file forwarding local transport** checkbox to transmit logs over TCP. This prevents log truncation, but may cause performance issues.

1. The **Do not forward debug logs** checkbox is enabled by default. To forward DEBUG syslog messages to an external service, disable the checkbox.
  <p class="note"><strong>Note:</strong> Some PAS components generate a high volume of DEBUG syslog messages. Enabling the <strong>Do not forward debug logs</strong> checkbox prevents PAS components from forwarding the DEBUG syslog messages to external services. However, PAS still writes the messages to the local disk.</p>

1. For **Custom rsyslog configuration**, enter a custom syslog rule. For more information about adding custom syslog rules, see [Customizing Syslog Rules](../customizing/custom-syslog-rules.html).

1. Enable the **Enable system metrics** checkbox to emit system-level metrics about all VMs in the deployment. For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub.

1. Enable the **Enable V1 firehose** to allow logs and metrics to flow to the V1 firehose.

1. Click **Save**.

To configure Ops Manager for system logging, see the [Settings](../customizing/pcf-interface.html#settings) section in the _Using the Ops Manager Interface_ topic.
