(Optional) TCP Routing is disabled by default. To enable this feature, perform the following steps:
   <p class="note"><strong>Note</strong>: Before configuring this field, see the following known issue: <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/runtime-rn.html#tcp-port-config">Configuring Multiple TCP Ports</a>.</p>
   1. Select **Enable TCP Routing**. 
   1. In **TCP Routing Ports**, enter a range of ports to be allocated for TCP Routes. <br/><br/>
      For each TCP route you want to support, you must reserve a range of ports. This is the same range of ports you configured your load balancer with in the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html), unless you configured DNS to resolve the TCP domain name to the TCP router directly. <br/><br/>
      The **TCP Routing Ports** field accepts a comma-delimited list of individual ports and ranges, for example `1024-1099,30000,60000-60099`. Configuration of this field is only applied on the first deploy, and update updates to the port range are made using the cf CLI. For details about modifying the port range, see the [Router Groups](../adminguide/enabling-tcp-routing.html#router-groups) topic.
      <%= image_tag 'images/ert_tcp_routing_enable.png' %>

     