(Optional) TCP Routing is disabled by default. To enable this feature, perform the following steps:
   1. Select **Enable TCP Routing**. 
   1. In **TCP Routing Ports**, you can enter a range of ports or a single port to be allocated for TCP Routes. See the following guidance:
   	<p class="note"><strong>Note</strong>: Configuration of this field is only applied on the first deploy, and updates to the port range are made using the cf CLI. For details about modifying the port range, see the [Router Groups](../adminguide/enabling-tcp-routing.html#router-groups) topic.</p>
   		* **Range of ports**: The load balancer must listen on a range of ports to support multiple TCP route creation. This is the same range of ports you configured your load balancer with in the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html), unless you configured DNS to resolve the TCP domain name to the TCP router directly.
   		* **Single port**: Enter a single port if you plan to configure a comma-delimited list of ports after your initial deploy of PAS. This is a workaround for a known issue in which the **TCP Routing Ports** field does not accept a comma-delimited list. See <a href="https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/runtime-rn.html#tcp-port-config">Configuring a List of TCP Routing Ports</a>.
   <%= image_tag 'images/ert_tcp_routing_enable.png' %>

     