(Optional) TCP Routing is disabled by default. To enable this feature, perform the following steps:
   1. Select **Enable TCP Routing**. 
   1. In **TCP Routing Ports**, enter a port or range of ports to be allocated for TCP Routes. To configure a list of ports rather than a range, see <a href="https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html#tcp-port-config">Configuring a List of TCP Routing Ports</a>.<br/><br/>
      For each TCP route you want to support, you must reserve a range of ports. This is the same range of ports you configured your load balancer with in the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html), unless you configured DNS to resolve the TCP domain name to the TCP router directly. <br/><br/>
      Configuration of this field is only applied on the first deploy, and update updates to the port range are made using the cf CLI. For details about modifying the port range, see the [Router Groups](../adminguide/enabling-tcp-routing.html#router-groups) topic.
      <%= image_tag 'images/ert_tcp_routing_enable.png' %>

     