(Optional) TCP Routing is disabled by default. You should enable this feature if your DNS sends TCP traffic through a load balancer rather than directly to a TCP router. To enable TCP routing:
   1. Select **Enable TCP Routing**.
   1. For **TCP Routing Ports**, enter a single port or a range of ports for the load balancer to forward to. These are the same ports that you configured in the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html) of the _Enabling TCP Routing_ topic.
     - To support multiple TCP routes, Pivotal recommends allocating multiple ports.
     - To allocate a list of ports rather than a range:
         1. Enter a single port in the **TCP Routing Ports** field.
         2. After deploying PAS, follow the directions in [Configuring a List of TCP Routing Ports](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#tcp-port-config) to add TCP routing ports using the cf CLI.
   <%= image_tag 'images/ert_tcp_routing_enable.png' %>
  <p class='note'><strong>Note:</strong> If you have mutual TLS app identity verification enabled, app containers accept incoming communication only from the Gorouter. This disables TCP routing.</p>
