In the **TLS Cipher Suites for HAProxy** field, specify the TLS cipher suites to use in HAProxy for TLS handshakes between HAProxy and its clients such as load balancers and Gorouter. Use an ordered, colon-delimited list of TLS cipher suites in the OpenSSL format. 
    <%= image_tag 'images/networking_tls_haproxy.png' %>
    Verify that whatever clients are participating in the TLS handshake with HAProxy have at least one cipher suite in common with HAProxy.
    <p class="note"><strong>Note</strong>: Specify cipher suites that are supported by the versions configured in the <b>Minimum version of TLS supported by HAProxy and Router</b> field.</p>

