In the **TLS Cipher Suites for Router** field, review the TLS cipher suites for TLS handshakes between the Gorouter and front end clients such as load balancers or HAProxy. The default value for this field is `ECDHE-RSA-AES128-GCM-SHA256:TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384`.
<br/>
<br/>
To modify the default configuration, use an ordered, colon-separated list of Golang-supported TLS cipher suites in the OpenSSL format.
<br/> 
<br/>
Operators should verify that the ciphers are supported by any clients or front end components that will initiate TLS handshakes with the Gorouter. For a list of TLS ciphers supported by the Gorouter, see [Securing Traffic into Cloud Foundry](../adminguide/securing-traffic.html#ciphers).
<br/>
<br/>
Verify that every client participating in TLS handshakes with the Gorouter has at least one cipher suite in common with the Gorouter.
<p class="note"><strong>Note</strong>: Specify cipher suites that are supported by the versions configured in the <strong>Minimum version of TLS supported by HAProxy and Router</strong> field.</p>
