In the **TLS cipher suites for HAProxy** field, review the TLS cipher suites for TLS handshakes between HAProxy and front end clients such as load balancers and the Gorouter. The default value for this field is the following:<br>
`DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384`
<br/>
<br/>
To modify the default configuration, use an ordered, colon-separated list of TLS cipher suites in the OpenSSL format.
<br/> 
<br/>
Operators should verify that the ciphers are supported by any clients or front end components that initiate TLS handshakes with HAProxy.
<br/>     
Verify that every client participating in TLS handshakes with HAProxy has at least one cipher suite in common with HAProxy.
<p class="note"><strong>Note:</strong> Specify cipher suites that are supported by the versions configured in the <strong>Minimum version of TLS supported by HAProxy and Router</strong> field.</p>
