In the **TLS Cipher Suites for Router** field, review the TLS cipher suites for TLS handshakes between Gorouter and downstream clients such as load balancers or HAProxy. The default value for this field is `ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384`.
If you want to modify the default configuration,
use an ordered, colon-delimited list of Golang-supported TLS cipher suites in the OpenSSL format.
<br> Operators should verify that the ciphers are supported by any clients or downstream components that will initiate TLS handshakes with Gorouter. For a list of TLS ciphers supported by Gorouter, see [Securing Traffic into Cloud Foundry](../adminguide/securing-traffic.html#ciphers).
    <%= image_tag 'networking_tls_router.png' %>
    Verify that every client participating in the TLS handshake with Gorouter has at least one cipher suite in common with Gorouter.
<p class="note"><strong>Note</strong>: Specify cipher suites that are supported by the versions configured in the <strong>Minimum version of TLS supported by HAProxy and Router</strong> field.</p>
