1. Select **UAA**. 

1. (Optional) Enter the URI that UAA uses as the issuer when generating tokens. 
	<% image_tag('ert_uaa_jwt_uri.png') %>
1. You can configure UAA to use the internal MySQL database provided with PCF, or you can configure an external database provider. Follow the procedures in either the [Internal Database Configuration](#uaa-internal) or the [External Database Configuration](#uaa-external) section below.

###<a id='uaa-internal'></a> Internal Database Configuration

1. 

<% image_tag('ert_uaa_internal.png') %>

<p class="note"><strong>Note</strong>: If you are performing an upgrade, do not modify your existing internal database configuration or you may lose data. You must migrate your existing data first before changing the configuration. See <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for additional upgrade information, and contact <a href="https://support.pivotal.io">Pivotal Support</a> for help. </p>

Internal Database Configuration
If you want to use internal databases for your deployment, perform the following steps:

Select Databases.
Select Internal Databases - MySQL. Sys db
Click Save.
Then proceed to Step 10: (Optional) Configure Internal MySQL to configure high availability and automatic backups for your internal MySQL databases.

External Database Configuration
Note: The exact procedure to create databases depends upon the database provider you select for your deployment. UAA supports AWS RDS and Azure SQL Server.

Elastic Runtime Field    Notes
Hostname    Specify the hostname of the database server.
TCP Port    Specify the port of the database server.
DATABASE-NAME database username    Specify a unique username that can access this specific database on the database server.
DATABASE-NAME database password    Specify a password for the provided username.