1. Select **UAA**. 

1. (Optional) Under **JWT Issuer URI**, enter the URI that UAA uses as the issuer when generating tokens. 

	<%= image_tag('ert_uaa_jwt_uri.png') %>
1. You can configure UAA to use the internal MySQL database provided with PCF, or you can configure an external database provider. Follow the procedures in either the [Internal Database Configuration](#uaa-internal) or the [External Database Configuration](#uaa-external) section below.
	<p class="note"><strong>Note</strong>: If you are performing an upgrade, do not modify your existing internal database configuration or you may lose data. You must migrate your existing data first before changing the configuration. See <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for additional upgrade information, and contact <a href="https://support.pivotal.io">Pivotal Support</a> for help. </p>

###<a id='uaa-internal'></a> Internal Database Configuration

1. Select **Internal MySQL**.

	<%= image_tag('ert_uaa_internal.png') %>

1. Click **Save**.
1. Ensure that you complete the "Configure Internal MySQL" step later in this topic to configure high availability and automatic backups for your internal MySQL databases.

###<a id='uaa-external'></a> External Database Configuration

<p class="note"><strong>Note</strong>: You must create your external database before completing this configuration. The exact procedure to create databases depends upon the database provider you select for your deployment. UAA supports AWS RDS and Azure SQL Server.</p>

1. Select **External**.
	<%= image_tag('ert_uaa_external.png') %>
1. For **Hostname**, enter the hostname of the database server.
1. For **TCP Port**, enter the port of the database server.
1. For **User Account and Authentication database username**, specify a unique username that can access this specific database on the database server.
1. For **User Account and Authentication database password**, specify a password for the provided username.
1. Click **Save**.