

* For **Server URL**, enter the URL that point your LDAP server. With
multiple LDAP servers, separate their URLs with spaces. Each URL must include
one of the following protocols:
    * `ldap://`: This specifies that the LDAP server uses an unencrypted
connection.
    * `ldaps://`: This specifies that the LDAP server uses SSL for an encrypted connection and requires that the LDAP server holds a trusted certificate or that you import a trusted certificate to the JVM truststore.
      <%= image_tag("ldap-serv.png") %>

* For **LDAP Username** and **LDAP Password**, enter the LDAP Distinguished Name (DN) and the
password for binding to the LDAP Server. Example DN: `cn=administrator,ou=Users,dc=example,dc=com`
     <p class="note"><strong>Note</strong>: Pivotal recommends that you provide LDAP credentials that grant read-only permissions on the LDAP Search Base and the LDAP Group Search Base. In addition to this, if the bind user belongs to a different search base, you must use the full DN.</p>

    <p class="note warning"><strong>WARNING: </strong>Pivotal recommends against reusing LDAP service accounts across environments. LDAP service accounts should not be subject to manual lockouts, such as lockouts that result from users utilizing the same account. Also, LDAP service accounts should not be subject to automated deletions, since disruption to these service accounts could prevent user logins.
    </p>
  
* For **User Search Base**, enter the location in the LDAP directory tree from
which any LDAP User search begins. The typical LDAP Search Base matches your
domain name.
<br><br>
For example, a domain named "cloud.example.com" typically uses the following LDAP User Search Base: `ou=Users,dc=example,dc=com`

* For **User Search Filter**, enter a string that defines LDAP User search
criteria. These search criteria allow LDAP to perform more effective and
efficient searches. For example, the standard LDAP search filter `cn=Smith`
returns all objects with a common name equal to `Smith`.
<br><br>
In the LDAP search filter string that you use to configure PAS, use `{0}`
instead of the username. For example, use `cn={0}` to return
all LDAP objects with the same common name as the username.
<br><br>
In addition to `cn`, other attributes commonly searched for and returned are
`mail`, `uid` and, in the case of Active Directory, `sAMAccountName`.
    <p class="note"><strong>Note</strong>: For instructions for testing and troubleshooting your LDAP search filters, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://discuss.zendesk.com/hc/en-us/articles/204140418-Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry-) Knowledge Base article.</p>

* For **Group Search Base**, enter the location in the LDAP directory tree
from which the LDAP Group search begins.
<br><br>
For example, a domain named "cloud.example.com" typically uses the following
LDAP Group Search Base: `ou=Groups,dc=example,dc=com`
<br><br>
    <p class="note"><strong>Note</strong>: Refer to the <a href="../opsguide/external-user-management.html">Adding Existing SAML or LDAP Users to a PCF Deployment</a> topic to on-board individual LDAP users and map them to Ops Manager roles.</p>

* For **Group Search Filter**, enter a string that defines LDAP Group search
criteria. The standard value is `member={0}`.

* For **Email Attribute**, enter the attribute name in your LDAP directory
that corresponds to the email address in each user record, for example `mail`.

* For **LDAP RBAC Admin Group Name**, enter the DN of the LDAP group you want to have admin permissions in Ops Manager.

* From the dropdown menu, select how the UAA handles LDAP server referrals out
to other external user stores. The UAA can: 
    * **Automatically follow any referrals**.
    * **Ignore referrals and return partial result**. 
    * **Throw exception for each referral and abort.**

* For **Server SSL Cert**, paste in the root certificate from your CA
certificate or your self-signed certificate.

* Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.

* If you are using an **HTTP proxy** or **HTTPS proxy**, follow the instructions in the [Configuring Proxy Settings for the BOSH CPI](./pcf-director-proxy-settings.html) topic.

* Read the **End User License Agreement**, and select the checkbox to accept the terms.

* Select **Provision an admin client in the BOSH UAA**. You can use this to enable BOSH automation with scripts and tooling. For more infomation, see [Provision Admin Client](./opsmanager-create-bosh-client.html#saml).

* Click **Setup Authentication**.

* Return to the **BOSH Director** tile, and continue with the configuration steps below.
