#### <a id="xfcc_haproxy"></a> Terminating TLS at Load Balancer

By default, Gorouter forwards arbitrary headers that are not otherwise mentioned in the documentation; this includes the XFCC header.

For applications to receive the XFCC header, configure your load balancer to set the XFCC header with the contents of the client certificate received in the TLS handshake.

This mode is enabled when the <b>TLS terminated for the first time at infrastructure load balancer</b> option is selected in the **Networking** configuration screen of the PAS tile.