#### <a id="xfcc_haproxy"></a> Terminating TLS at HAProxy

This option allows you to configure support for the X-Forwarded-Client-Cert header while leveraging HAProxy. 

Selecting this configuration requires that the load balancer in front of HAProxy is configured to pass through TLS handshake to HAProxy via TCP.

This mode is enabled when the <b>TLS terminated for the first time at HAProxy</b> option is selected in the **Networking** configuration screen of the PAS tile.