#### <a id="xfcc_haproxy"></a> Terminating TLS at Gorouter

This option allows you to configure support for the X-Forwarded-Client-Cert header in deployments where TLS is terminated at the first time at the Gorouter. 

Selecting this configuration requires that the load balancer in front of Gorouter is configured to pass through TLS handshake to Gorouter via TCP.

This mode is enabled when the <b>TLS terminated for the first time at the Router</b> option is selected in the **Networking** configuration screen of the PAS tile.