Zipkin tracing is enabled by default in PCF.</p><p>To disable this feature, select the <strong>PAS Tile</strong> in Ops Manager, and click on <strong>Networking</strong> deselect the <strong>Enable Zipkin tracing headers on the router</strong>. For example, see <a href="../customizing/gcp-er-config.html">Deploying PAS on GCP</a> for instructions on how to modify this setting on GCP.
