Zipkin tracing is enabled by default in <%= vars.product_name %>.</p><p>To disable this feature, select the <strong>PAS Tile</strong> in Ops Manager, and click on <strong>Networking</strong> deselect the <strong>Enable Zipkin tracing headers on the router</strong>.
