---
title: Adding and Deleting Products
---

Refer to this topic for help adding and deleting additional products from your Pivotal CF installation, such as Pivotal HD for Pivotal CF, Pivotal AX, and Pivotal RabbitMQ.

## <a id="add-import"></a>Adding and Importing Products ##

1. From the Product Dashboard, click the **Add a new product** tile to navigate to the Add Products page.

 <%= image_tag("add_prod.png") %>

1. The Add Products page displays the **Import A Product** tile and tiles for bundled and previously imported products that are available to add.

 <%= image_tag("add_comp_page.png") %>

1. **To add an available product**, click **Add** on the associated product tile.

1. **To import a product**, use the **Import A Product** tile to choose the .zip file that you downloaded from Pivotal Network or received from your software distributor, then click **Add**.

## <a id='del-prod'></a>Deleting a Product ##

1. From the Product Dashboard, click the trash icon on a product tile to remove that product.

	**Note**: You cannot delete the vmware vSphere product.

1. **After you delete a product**, the product tile is removed from the installation and the Product Dashboard. However, the product appears as an available product in the Add Products page.