---
title: Adding and Deleting Products
---

Refer to this topic for help adding and deleting additional products from your Pivotal CF installation, such as Pivotal HD for Pivotal CF and Pivotal RabbitMQ.

## <a id="add-import"></a>Adding and Importing Products ##

1. Download Pivotal CF compatible products at [Pivotal Network](https://network.gopivotal.com).

1. From the Available Products view, click **Import a Product** to navigate to the Add Products page.

    <%= image_tag("add-comp-page.png") %>

1. To import a product, select the .zip file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**.

    After the import completes, the product appears in the Available Products view.

1. Hover over the product name in the Available Products view to expose the **Add** button, then click **Add**.

    <%= image_tag("add-available.png") %>

1. The product tile appears in the Installation Dashboard. If the product requires configuration, the tile appears orange.

    <%= image_tag("orange-tile.png") %>

    If necessary, configure the product.

1. In the Pending Changes view, click **Apply Changes** to start installation
and run post-install lifecycle errands for the product.
Post-install errands are scripts that automatically run after a product
installs, before Ops Manager makes the product available for use.
To prevent a post-install errand from running, deselect the checkbox for the
errand in the **Settings** tab on the product tile before installing the
product.

    Example:

    <%= image_tag("example-errand.png") %>

    For more information about lifecycle errands, see [Understanding Lifecycle Errands](../packaging/lifecycle-errands.html).

## <a id='del-prod'></a>Deleting a Product ##

1. From the Installation Dashboard, click the trash icon on a product tile to remove that product. In the **Delete Product** dialog box that appears, click **Confirm**.

	**Note**: You cannot delete the Ops Manager Director for VMware vSphere product.

1. In the Pending Changes view, click **Apply Changes**.

1. **After you delete a product**, the product tile is removed from the installation and the Installation Dashboard. However, the product appears in the Available Products view.