---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Deploying BOSH Add-Ons
owner: PCF Documentation
---

This documentation explains how to deploy BOSH Add-ons as a part of installing the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

  - BOSH add-ons include the [IPsec](https://docs.pivotal.io/addon-ipsec), [ClamAV](https://docs.pivotal.io/addon-clamav), and [File Integrity Monitoring](https://docs.pivotal.io/addon-fim), which enhance PCF platform security and security logging.
  - You deploy these add-ons via BOSH rather than installing them with Ops Manager tiles.

##<a id='contents'></a>Contents

* **[IPSec](https://docs.pivotal.io/addon-ipsec/index.html)** secures data transmissions inside PCF following IPSec standards.

* **[ClamAV](https://docs.pivotal.io/addon-antivirus/1-3/index.html)** logs PCF internal antivirus protection activity, to demonstrate to auditors that it complies with industry standards and government regulations.

* **[File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html)** (FIM) logs PCF internal file integrity monitoring activity, to demonstrate to auditors that it complies with industry standards and government regulations.

##<a id='bosh'></a>Deploying with BOSH

Here's how people use BOSH to run software in the cloud:

1. To use BOSH, you create a a _manifest_ `.yml` file that specifies your software system's component processes, the VMs they run on, how they communicate, and anything else they need.

2. The BOSH command-line interface (CLI) or API sends the manifest to the _Director_, BOSH's executive process.

3. The Director provisions what it needs from the IaaS, _deploys_ your software to run in the cloud, and heals automatically when VMs go down.

4. BOSH CLI and API commands let you control BOSH-managed processes and allocate or release IaaS resources.

