---
title: Advanced Features in Ops Manager
owner: Ops Manager
---

This guide describes advanced features for Ops Manager operators. Pivotal recommends
contacting support before you use these features.


## <a id="guide"></a> In This Guide

This guide includes the following topics:

- [Managing Ops Manager Verifiers](./granular-verifier-control.html)
- [Managing Custom VM Extensions](./custom-vm-extensions.html)
