---
title: Configuring the BOSH Director with the Ops Manager API
owner: Ops Manager
---

## <a id="overview"></a>Overview

This topic describes how to configure the BOSH Director for their IaaS using the Ops Manager API.
This method is intended for advanced PCF operators and administrators.

Pivotal recommends that beginning users configure the BOSH Director through the Ops Manager UI, which provides context and explanations for each option. For information about configuring the BOSH Director tile in the Ops Manager UI, see one of the following:

* AWS ([Terraform](../om/aws/config-terraform.html) | [manual](../om/aws/config-manual.html))
* Azure ([Terraform](../om/azure/config-terraform.html) | [manual](../om/azure/config-manual.html))
* GCP ([Terraform](../om/gcp/config-terraform.html) | [manual](../om/gcp/config-manual.html))
* [OpenStack](../om/openstack/config.html)
* [vSphere](../om/vsphere/config.html)

## <a id="prereqs"></a>Prerequisites

Before you configure the BOSH Director with the Ops Manager API, you must have the following components downloaded or accessible on your local host:

* A current version of Ops Manager downloaded from [Pivotal Network](https://network.pivotal.io).
* Access to the Ops Manager API. For more information about the Ops Manager API, see [Using the Ops Manager API](./ops-man-api.html).
* An external SAML or LDAP client.
* An IaaS provider configured for use with Ops Manager. For more information about configuring an IaaS, see [Planning Your PCF Deployment](./plan.html).

## <a id="api-setup"></a> Setting Up the BOSH Director

To configure the BOSH Director with the Ops Manager API, do the following:

<ol>
<li>Access the Ops Manager API by following the procedure in <a href="./ops-man-api.html">Using the Ops Manager API</a>.</li>

<li>Enter the following HTTP request to perform intial setup: <code>POST /api/v0/setup</code>.<br/>
Include metadata in your request to specify configuration details for your deployment. For example, specify the deployment's decryption passphrase, EULA status, and proxy information, if applicable.<br/>
<br/>
For more information about configuring this request, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#the-basics/#setting-up-with-an-internal-userstore">Setting up with an internal usersotre</a>.
 <p class="note"><strong>Note</strong>: You do not need to specify UAA or other authentication details on a first-time deploy. Making the <code>setup</code> request automatically creates a UAA client when it completes successfully. If you specify a UAA client for a first-time deployment, the deployment will fail.</p>
</li>

<li>A <code>200 OK</code> response appears.<br/>
<br/>
After the successful response, a UAA client with the metadata you specified is created and launched. Ops Manager users can authenticate with UAAC, and if they have a pre-created client they can target UAAC with the client name and password. <br/>
<br/>
For more information on pre-created clients, see <a href="./opsman-users.html">Creating and Managing Ops Manager User and Client Accounts</a>.</li>

<li>Enter the following HTTP request to perform configure your IaaS and BOSH Director: <code>PUT api/v0/staged/director/properties</code>.<br/>
<br/>
There are many configuration parameters available to customize your BOSH Director. All the commands are IaaS-agnostic except the IaaS configuration key. Missing required fields should cause an error.<br/>
<br/>
For more information about configuring the BOSH Director, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-director-iaas-and-security-properties-experimental">Fetching Director, IaaS, and Security Properties</a>.</li>

<li>Enter the following HTTP request to create Availability Zones (AZs) for your product: <code>POST api/v0/staged/director/availability_zones</code>.<br/>
<br/>
For more information about creating AZs, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#creating-availability-zones">Creating availability zones</a>.
<p class="note"><strong>Note</strong>: The <code>create-azs</code> endpoint is optional for Azure-based deployments, because you cannot manually configure Azure AZs.</p></li>

<li>Enter the following HTTP request to create networking rules for the deployment: <code>PUT api/v0/staged/director/networks</code>.<br/>
<br/>
Specify whether or not to use ICMP checks by setting the <code>icmp_checks_enabled</code> parameter to <code>true</code> or <code>false</code>.<br/>
<br/>
For more information about networking rules, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-networks-experimental">Updating networks (Experimental)</a>.</li>

<li>Enter the following HTTP request to assign a singleton AZ and a network where your BOSH Director will be located: <code>PUT api/v0/staged/director/network_and_az</code>.<br/>
<br/>
For more information about configuring AZs and networks, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-network-and-availability-zone-assignments">Updating network and availability zone assignments</a>.</li>

<li>You must update the BOSH Director's resource configuration settings before deploying Ops Manager. Resource configuration is highly variable depending on the requirements of your deployment.<br/>
<br/>
For more information about updating the resource configuration, see <a href="http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#configuring-resources-for-a-job-experimental">Configuring resources for a job (Experimental)</a>.<br/>
<br/>
To update the resource configuration, do the following:
<ol>
	<li>Use the following HTTP request to find your Director's GUID: <code>GET api/v0/staged/products</code>.</li>
	<li>Use the following HTTP request to list all jobs on the Director: <code>GET api/v0/staged/products/:BOSH-DIRECTOR-GUID/jobs</code>.</li>
	<li>Use the following HTTP request to update the resource config of each job on the BOSH Director: <code>PUT api/v0/staged/products/:BOSH-DIRECTOR-GUID/jobs/:JOB-GUID/resource_config</code>.</li>
</ol>
</li>
<li>BOSH Director configuration is now complete. You can deploy Ops Manager now, or continue with further configuration.<br/>
<br/>
Use the following HTTP request to "Apply Changes" and deploy the BOSH Director: <code>POST /api/v0/installations</code>.</li>
</ol>

## <a id="next"></a> Next Steps

After you have configured the BOSH Director, you can continue configuring Ops Manager with other API endpoints.

* [Configuring a Product with the Ops Manager API](./api-setup-product.html)
* [Uploading and Assigning a Stemcell with the Ops Manager API]()
* [Upgrading Ops Manager with the Ops Manager API]()
