---
title: Upgrading Ops Manager with the API
owner: Ops Manager
---

## <a id="overview"></a>Overview

This topic describes how to upgrade Ops Manager using the Ops Manager API. This procedure is not intended for beginner users of Ops Manager, PCF, or API-based procedures.

For information about setting up Ops Manager with the UI, see [Using Ops Manager](./ops-man.html).

## <a id="prereqs"></a>Prerequisites

You must meet the following prerequisites to safely upgrade Ops Manager with the API.

 * Two versions of Ops Manager: an existing deployment and a new deployment of a later version. The new deployment cannot be configured in any way.
 * DNS information for the existing deployment of Ops Manager

## <a id="upgrade"></a>Upgrade Ops Manager with the API

Follow this procedure to upgrade your Ops Manager:

1. Export your existing installation data: `GET /api/v0/installation_asset_collection`.
1. Import your installation data to the new deployment: `POST /api/v0/installation_asset_collection`.
1. Trigger a new installation process: `POST /api/v0/installations`.
1. Test the new deployment.
1. (Optional) Delete the old deployment.