---
title: Adding Stemcells with the Ops Manager API
owner: Ops Manager
---

##<a id="overview"></a>

This topic describes how to add stemcells for Ops Manager using the Ops Manager API. This procedure is not intended for beginner users of Ops Manager, PCF, or API-based procedures.

For information about setting up Ops Manager with the UI, see [Using Ops Manager](./ops-man.html).

##<a id="prereqs"></a>

The following prerequisites are required before adding a stemcell to Ops Manager:

* An installed and configured Ops Manager
* One or more stemcells colocated on your host, but not yet uploaded to Ops Manager

##<a id="procedure"></a>

Here is how to add a stemcell to products in Ops Manager with the API:

1. Upload the stemcell: `POST /api/v0/stemcells`. If it is a floating stemcell, it is automatically assigned to all compatible products.
1. If you need to assign the stemcell to one or more products manually: `PATCH /api/v0/stemcells_associations`.