---
title: Identifying the API Endpoint for your PAS Instance
owner: CAPI
---



The API endpoint, or target URL, for your Pivotal Application Service (PAS) instance is the URL of
the Cloud Controller in your PAS instance.
Find your API endpoint by consulting your cloud operator, from the Apps Manager, or from the command line.

## <a id='console'></a>From the Apps Manager ##

Log in to the Apps Manager for your PAS instance, then click
**Tools** in the left navigation panel.
The **Getting Started** section of the Tools page shows your API endpoint.

<%= image_tag("getting-started-api.png") %>

## <a id='cli'></a>From the Command Line ##

From a command line, run `cf api` to view your API endpoint.

Example:

<pre class='terminal'>
$ cf api
API endpoint: https://api.example.com (API version: 2.2.0)
</pre>
