---
title: Deploying PCF on AWS GovCloud (US)
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to install Pivotal Cloud Foundry (PCF) on Amazon Web Services (AWS) GovCloud. You can deploy PCF to AWS GovCloud manually or use the PCF CloudFormation template.

<p class="note"><strong>Note</strong>: AWS GovCloud is only supported in PCF 1.12 and later.</p>

To sign up for an AWS GovCloud (US) account, refer to the [AWS GovCloud documentation](http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/getting-started-sign-up.html).

##<a id="cloudform"></a> Deploy PCF to AWS GovCloud with CloudFormation

###<a id="cloudform-prep"></a> Step 1: Prepare to Deploy

1. Perform the procedures in the [Deploying the CloudFormation Template for Pivotal Cloud Foundry on AWS](./cloudform-template.html) topic.

    <p class="note"><strong>Note</strong>: Log in to the <a href="https://console.amazonaws-us-gov.com/">AWS GovCloud (US) console</a> instead of the general AWS management console.</p>

1. When the AWS GovCloud management console prompts you to select a region, choose `us-gov-west-1`.

###<a id='cloudform-launch-om'></a> Step 2: Launch an Ops Manager Director Instance

Perform the procedures in the [Launching an Ops Manager Director Instance on AWS](./cloudform-om-deploy.html) topic.

###<a id='cloudform-config-om'></a> Step 3: Configure the Ops Manager Director Instance

Perform the procedures in the [Configuring Ops Manager Director on AWS](./cloudform-om-config.html) topic.

###<a id='cloudform-er'></a> Step 4: Deploy Elastic Runtime

Perform the procedures in the [Deploying Elastic Runtime on AWS](./cloudform-er-config.html) topic.

##<a id="manual"></a> Manually Deploy PCF to AWS GovCloud

###<a id="manual-prep"></a> Step 1: Prepare to Deploy

1. Perform the procedures in the [Manually Configuring AWS for PCF](./pcf-aws-manual-config.html) topic.

    <p class="note"><strong>Note</strong>: Log in to the <a href="https://console.amazonaws-us-gov.com/">AWS GovCloud (US) console</a> instead of the general AWS management console.</p>

1. When the AWS Management Console prompts you to select a region, choose `us-gov-west-1`.

###<a id='manual-om-config'></a> Step 2: Configure the Ops Manager Director Instance

Perform the procedures in the [Manually Configuring Ops Manager Director for AWS](./pcf-aws-manual-om-config.html) topic.

###<a id='manual-er-config'></a> Step 3: Configure Elastic Runtime

Perform the procedures in the [Manually Configuring Elastic Runtime for AWS](./pcf-aws-manual-er-config.html) topic.
