---
title: AWS Permissions Guidelines
owner: Program Management
---

Pivotal recommends that you minimize the use of master account credentials by 
creating an IAM role and instance profile with the minimum required EC2, VPC, 
and EBS credentials.

In addition, Pivotal recommends that you follow AWS account security best 
practices such as disabling root keys, using multi-factor authentication on the 
root account, and using CloudTrail for auditing API actions.

For more Amazon-specific best practices, refer to the following Amazon documentation:

* [IAM Roles Best Practices](http://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html)
* [AWS Security Best Practices Whitepaper](http://d0.awsstatic.com/whitepapers/aws-security-best-practices.pdf)
* [AWS Well-Architected Framework](https://d0.awsstatic.com/whitepapers/architecture/AWS_Well-Architected_Framework.pdf)

### User Created by the Terraform templates

See the table below for more information.

<p class="note"><strong>Note</strong>: If you choose not to use the Terraform
templates, Pivotal recommends that you use the permissions determined by the
<code>PcfIamPolicy</code> section of the Ops Manager Terraform template
to create a user with appropriate permissions. Additionally, follow AWS account
security best practices such as disabling root keys, multi-factor authentication
on the root account, and CloudTrail for auditing API actions.</p>

<table>
<tr>
	<th>Template Source</td>
	<th>Location</td>
	<th>User(s) Created</td>
	<th>User Purpose</td>
	<th>Uses IAM Role</td>
	<th>Additional Documentation</td>
</tr>

<tr>
	<td>Pivotal Application Service (PAS)</td>
	<td>Pivotal Network PAS <a href="https://network.pivotal.io/products/elastic-runtime">Download</a></td>
	<td>PAS S3 user</td>
	<td>Blob storage</td>
	<td>No</td>
	<td><a href="aws-terraform-pas-config.html">Deploying PAS on AWS</a></td>
</tr>
	<td>Ops Manager</td>
	<td>Referenced in the PAS template</td>
	<td>Ops Manager VM and Ops Manager Director </td>
	<td>EC2, VPC, EBS, S3, ELB</td>
	<td>Yes</td>
	<td><a href="aws-terraform-om-config.html#aws-config">Director User Config</a></td>
</tr>
</table>
