---
title: Installing PCF on AWS using Terraform
owner: Ops Manager
---

Complete the following procedures to install PCF on AWS using Terraform:

1. <a class="subnav" href="./aws-prepare-env-terraform.html">Preparing to Deploy PCF on AWS (Terraform)</a>

1. <a class="subnav" href="./aws-om-config-terraform.html">Configuring Ops Manager Director on AWS (Terraform)</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

1. <a class="subnav" href="./aws-er-config-terraform.html">Deploying Pivotal Application Service (PAS) on AWS (Terraform)</a>
