---
title: Configuring DNS on AWS
owner: Ops Manager
---

This topic describes how to configure DNS for Pivotal Cloud Foundry (PCF) deploying the CloudFormation template on Amazon Web Services (AWS).

##<a id='pcfaws-dns'></a> Step 1: Configure DNS Records ##

1. From the **Outputs** tab, record the **Value** associated with each load balancer DNS name **Key**. 
	* **PcfElbWebDnsName**
	* **PcfElbSshDnsName**
	* **PcfElbTcpDnsName**
1. Click **Instances** on the left navigation to view your EC2 instances.
1. Select the `PcfOpsManInstance` instance.
1. On the **Description** tab, record the value for **IPv4 Public IP**.
1. Navigate to your DNS provider and create the following CNAME and A records:
  * **CNAME**: `*.YOUR-SYSTEM-DOMAIN.com`, `*.apps.YOUR-SYSTEM-DOMAIN.com`, and `*.sys.YOUR-SYSTEM-DOMAIN.com` points to the DNS name of the `PcfElbWeb` load balancer.
  * **CNAME**: `ssh.YOUR-SYSTEM-DOMAIN.com` points to the DNS name of the `PcfElbSsh` load balancer.
  * **CNAME**: `tcp.YOUR-SYSTEM-DOMAIN.com` points to the DNS name of the `PcfElbTcp` load balancer.
  * **A**: `pcf.YOUR-SYSTEM-DOMAIN.com` points to the public IP address of the `PcfOpsManInstance` EC2 instance.

## <a id='configure'></a> Next Steps

After you complete this procedure, follow the instructions in these topics:

* [Configuring Ops Manager Director on AWS CloudFormation](./aws-terraform-om-config.html)
* [Configuring PAS on AWS CloudFormation](./aws-terraform-pas-config.html)


