---
title: Installing PCF on AWS using Terraform
owner: Ops Manager
---

Complete the following procedures to install Pivotal Cloud Foundry (PCF) on Amazon Web Services (AWS) using Terraform:

1. Deploy Ops Manager. See <a class="subnav" href="../om/aws/prepare-env-terraform.html">Deploying Ops Manager on AWS Using Terraform</a>.

1. Configure BOSH Director. See <a class="subnav" href="../om/aws/config-terraform.html">Configuring BOSH Director on AWS Using Terraform</a>.

1. (Optional) Install the IPsec Add-On. See <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>.

1. Configure PAS. See <a class="subnav" href="./configure-pas.html">Configuring PAS</a>.
