---
title: Preparing to Deploy PCF on Azure
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic describes how to prepare to deploy Pivotal Cloud Foundry (PCF) on Azure by manually creating a service principal to access resources in your Azure subscription. See [Preparing to Deploy PCF on Azure using Terraform](./azure-deploy-terraform.html) for how to install PCF on Azure using Terraform templates.

After you complete this procedure, follow the instructions in one of the following topics:

* [Launching a BOSH Director Instance on Azure using Terraform](azure-om-deploy.html)
* [Launching a BOSH Director Instance on Azure](azure-om-deploy.html)

##<a id="install"></a> Step 1: Install and Configure the Azure CLI

1. Install the Azure CLI 2.0 by following the instructions for your operating system in the [Azure documentation](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli).

1. Set your cloud with the `--name` value corresponding to the Azure environment you are installing PCF on:
  - **Azure**: `AzureCloud`
  - **Azure China**: `AzureChinaCloud`. If logging in to <code>AzureChinaCloud</code> fails with a <code>CERT_UNTRUSTED</code> <a href="https://github.com/Azure/azure-xplat-cli/issues/2725">error</a>, use the latest version of node, 4.x or later.
  - **Azure Government Cloud**: `AzureUSGovernment`. Azure Government Cloud is only supported in PCF v1.10 and later.
  - **Azure Germany**: `AzureGermanCloud`

    <pre class="terminal">
    $ az cloud set --name AzureCloud
    </pre>

    <p class="note"><strong>Note</strong>: For more information on installing PCF in the China Region, see <a href="offline_installation.html#install_china">Install in the China Region</a>.</p>

1. Log in:

    <pre class="terminal">
    $ az login
    </pre>

    Authenticate by navigating to the URL in the output, entering the provided code, and clicking your account.

##<a id="default-subscription"></a> Step 2: Set Your Default Subscription

1. Run `az account list` to list your Azure subscriptions:

    <pre class="terminal">
    $ az account list
    [
     {
      "id": "12345678-1234-5678-1234-567891234567",
      "name": "Sample Subscription",
      "user": {
        "name": "Sample Account",
        "type": "user"
     },
      "tenantId": "11111111-1234-5678-1234-678912345678",
      "state": "Enabled",
      "isDefault": true,
      "registeredProviders": [],
      "environmentName": "AzureCloud"
   },      
   {
      "id": "87654321-1234-5678-1234-678912345678",
      "name": "Sample Subscription1",
      "user": {
        "name": "Sample Account1",
        "type": "user"
     },
      "tenantId": "22222222-1234-5678-1234-678912345678",
      "state": "Enabled",
      "isDefault": false,
      "registeredProviders": [],
      "environmentName": "AzureCloud"
     }
    ]
    </pre>
 
1. Locate your default subscription by finding the subscription with `isDefault` set to `true`. If your default subscription is not where you want to deploy PCF, run `az account set --subscription SUBSCRIPTION_ID` to set a new default, where `SUBSCRIPTION_ID` is the value of the `id` field. For example: `"87654321-1234-5678-1234-567891234567"`.

    <pre class="terminal">
    $ az account set --subscription SUBSCRIPTION_ID
    </pre>

1. Record the value of the `id` set as the default. You use this value in future configuration steps.

1. Record the value of `tenantID` for your default subscription. This is your `TENANT_ID` for creating a service principal. If your `tenantID` value is not defined, you may be using a personal account to log in to your Azure subscription.

##<a id='create-aad'></a> Step 3: Create an Azure Active Directory (AAD) Application

1. Run the following command to create an AAD application, replacing `PASSWORD` with a password of your choice. This is your `CLIENT_SECRET` for creating a service principal. 
    <pre class="terminal">$ az ad app create --display-name "Service Principal for BOSH" \
    --password "PASSWORD" --homepage "<span>http:</span>//BOSHAzureCPI" \
    --identifier-uris "<span>http</span>://BOSHAzureCPI"
    </pre>
    <p class="note"><strong>Note</strong>: You can provide any string for the <code>home-page</code> and <code>identifier-uris</code> flags, but the value of <code>identifer-uris</code> must be unique within the organization associated with your Azure subscription. For the <code>home-page</code>, Pivotal recommends using <code><span>http:</span>//BOSHAzureCPI</code>, as shown in the example above.
    </p>

1. Record the value of `appId` from the output. This is your `APPLICATION_ID` for creating a service principal. 
    <pre class="terminal">
    {
      "appId": "5c552e8f-b977-45f5-a50b-981cfe17cb9d",
      "appPermissions": null,
      "availableToOtherTenants": false,
      "displayName": "Service Principal for BOSH",
      "homepage": "http<span>://</span>BOSHAzureCIP",
      "identifierUris": [
        "http<span>://</span>BOSHAzureCPI"
      ],
      "objectId": "f3884df4-7d1d-4894-a78c-c1fe75750436",
      "objectType": "Application",
      "replyUrls": []
    }
    </pre>

##<a id="create-configure"></a> Step 4: Create and Configure a Service Principal 

1. To create a service principal, run `az ad sp create --id YOUR-APPLICATION-ID`, replacing `YOUR-APPLICATION-ID` with the `APPLICATION_ID` you recorded in the [previous step](#create-aad):

    <pre class="terminal">
    $ az ad sp create --id YOUR-APPLICATION-ID
    {
      "appId": "5c552e8f-b977-45f5-a50b-981cfe17cb9d",
      "displayName": "Service Principal for BOSH",
      "objectId": "cc13c685-4c3b-461e-ae96-7a0563960b83",
      "objectType": "ServicePrincipal",
      "servicePrincipalNames": [
        "5c552e8f-b977-45f5-a50b-981cfe17cb9d",
        "http://BOSHAzureCPI"
      ]
    }
    </pre>

1. You must have the Contributor role on your service principal to deploy PCF. Run the following command to assign this role:
    <pre class="terminal">
    $ az role assignment create --assignee "SERVICE-PRINCIPAL-NAME" \
    --role "Contributor" --scope /subscriptions/SUBSCRIPTION-ID
    </pre>
    * For `SERVICE-PRINCIPAL-NAME`, use any value of `Service Principal Names` from the output above, such as `YOUR-APPLICATION-ID`.
    * For `SUBSCRIPTION-ID`, use the ID of the default subscription that you recorded in [Step 2](#default-subscription).

    <p class="note"><strong>Note</strong>: If you need to use multiple resource groups for your PCF deployment on Azure, you can define custom roles for your Service Principal. These roles allow BOSH to deploy PCF to pre-existing network resources outside the PCF resource group. For more information, see <a href="../refarch/azure/azure_ref_arch.html#multiple_resource_groups">Reference Architecture for Pivotal Cloud Foundry on Azure</a>.</p>

    For more information about Azure Role-Based Access Control, refer to the <a href="https://azure.microsoft.com/en-us/documentation/articles/role-based-access-built-in-roles/">RBAC: Built-in roles</a> topic in the Azure documentation.

1. Verify the assignment by running the following command:

    <pre class="terminal">
    $ az role assignment list --assignee "SERVICE-PRINCIPAL-NAME"
    [
      {
        "id": "/subscriptions/995b7eed-77ef-45ff-a5c9-1a405ffb8243/providers/Microsoft.Authorization/roleAssignments/32e644cf-ba1a-4f43-bf7c-68bf4583e463",
        "name": "32e644cf-ba1a-4f43-bf7c-68bf4583e463",
        "properties": {
          "principalId": "cc13c685-4c3b-461e-ae96-7a0563960b83",
          "principalName": "http://BOSHAzureCPI",
          "roleDefinitionId": "/subscriptions/995b7eed-77ef-45ff-a5c9-1a405ffb8243/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
          "roleDefinitionName": "Contributor",
          "scope": "/subscriptions/995b7eed-77ef-45ff-a5c9-1a405ffb8243"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    ]
    </pre>

##<a id="verify-your-service-principal"></a> Step 5: Verify Your Service Principal

To verify your service principal, log in to your service principal with your `APPLICATION_ID`, `CLIENT_SECRET`, and `TENANT_ID`. 
<pre class="terminal">
$ az login --username APPLICATION\_ID --password CLIENT\_SECRET \
--service-principal --tenant TENANT\_ID 
[
  {
    "cloudName": "AzureCloud",
    "id": "995b7eed-77ef-45ff-a5c9-1a405ffb8243",
    "isDefault": true,
    "name": "CF-Docs",
    "state": "Enabled",
    "tenantId": "29248f74-371f-4db2-9a50-c62a6877a0c1",
    "user": {
      "name": "5c552e8f-b977-45f5-a50b-981cfe17cb9d",
      "type": "servicePrincipal"
    }
  }
]
</pre>

If you cannot log in, the service principal is invalid. Create a new service principal and try again.

##<a id='register'></a> Step 6: Perform Registrations

1. Register your subscription with Microsoft.Storage:
  <pre class="terminal">$ az provider register --namespace Microsoft.Storage</pre>

1. Register your subscription with Microsoft.Network:
  <pre class="terminal">$ az provider register --namespace Microsoft.Network</pre>

1. Register your subscription with Microsoft.Compute:
  <pre class="terminal">$ az provider register --namespace Microsoft.Compute</pre>

After you complete this topic, continue to one of the following topics:

* [Launching a BOSH Director Instance on Azure using Terraform](azure-terraform.html): Perform the procedures in this topic to deploy BOSH Director using Terraform. Pivotal recommends using Terraform.
* [Launching a BOSH Director Instance on Azure](azure-om-deploy.html): Perform the procedures in this topic to deploy BOSH Director manually.
