---
title: Installing Pivotal Cloud Foundry on Azure
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Azure.

To view production-level deployment options for PCF on Azure, see the [Reference Architecture for Pivotal Cloud Foundry on Azure](../refarch/azure/azure_ref_arch.html).

## <a id='prerequisites'></a>Prerequisites ##

The following sections describe general requirements for running PCF and specific requirements for running PCF on Azure.

### <a id="general"></a>General Requirements ###

<%= partial 'requirements' %>

### <a id="azure"></a>Azure Requirements ##

The following are the minimum resource requirements for deploying a PCF deployment with Ops Manager and Elastic Runtime on Azure:

* VMs:
	* 27 F1s
	* 4 F2s
	* 4 F4s
	* 1 DS11v2
	* 1 DS12v2
	<p class="note"><strong>Note</strong>: Specific instance types are only supported in certain regions. See the <a href="https://azure.microsoft.com/en-us/regions/services/">Azure documentation</a> for a complete list. If you are deploying PCF in a region that does not support the above instance types, see the Ops Manager API documentation at <code>http<span>s</span>://YOUR-OPS-MANAGER-FQDN/docs#overriding-defaults-with-custom-disk-types</code> for instructions on how to override the default VM sizes. Changing the default VM sizes may increase the cost of your deployment. </p>
	By default, Elastic Runtime deploys the number of VM instances required to run a highly available configuration of PCF. If you are deploying a test or sandbox PCF that does not require HA, then you can scale down the number of instances in your deployment. For information about the number of instances required to run a minimal, non-HA PCF deployment, see [Scaling Elastic Runtime](../opsguide/scaling-ert-components.html).
    
* An OS disk of 120 GB for the Ops Manager VM
  <p class="note"><strong>Note</strong>: Ops Manager v1.11 requires a Director VM with at least 8&nbsp;GB memory.</p>

* To deploy PCF on Azure, you must have the Azure CLI v2.0. For instructions on how to install the Azure CLI for your operating system, see [Preparing to Deploy PCF on Azure](azure-prepare-env.html#install).

## <a id='install'></a>Install PCF on Azure ##

Complete the following procedures to install PCF on Azure:

1. <a class="subnav" href="./azure-prepare-env.html">Preparing to Deploy PCF on Azure</a>

1. You can choose to deploy Ops Manager Director with an Azure Resource Manager (ARM) template, or manually:
	* <a class="subnav" href="./azure-arm-template.html">Launching an Ops Manager Director Instance with an ARM Template</a> (Recommended)
	* <a class="subnav" href="./azure-om-deploy.html">Launching an Ops Manager Director Instance on Azure without an ARM Template</a>

1. <a class="subnav" href="./azure-om-config.html">Configuring Ops Manager Director on Azure</a>

1. <a class="subnav" href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>

## <a id='install-gov'></a>Install PCF on Azure Government Cloud##

<p class="note"><strong>Note</strong>: Azure Government Cloud is only supported in PCF 1.10 and later.</p>

To deploy PCF on Azure Government Cloud, see the <a class="subnav" href="./azure-gov-cloud.html">Deploying PCF on Azure Government Cloud</a> topic.

## <a id='install-germany'></a>Install PCF in Azure Germany##

<p class="note"><strong>Note</strong>: Azure Germany is only supported in PCF 1.10.1 and later.</p>

To deploy PCF in Azure Germany, see the <a class="subnav" href="./azure-german-cloud.html">Deploying PCF in Azure Germany</a> topic.

## <a id='troubleshoot'></a>Troubleshoot PCF on Azure ##

To troubleshoot known issues when deploying PCF on Azure, see the <a class="subnav" href="./azure-troubleshooting.html">Troubleshooting PCF on Azure</a> topic.

## <a id='delete'></a>Delete PCF on Azure ##

You can use the Azure Portal console to remove all the components of a PCF on Azure installation.

* <a class="subnav" href="./deleting-azure-install.html">Deleting a PCF on Azure Installation</a>

## <a id='upgrade'></a>Upgrade PCF on Azure ##

Upgrade your Ops Manager Director as part of the upgrade process documented in the [Upgrading Pivotal Cloud Foundry](upgrading-pcf.html) topic.

* <a class="subnav" href="./azure-om-upgrade.html">Upgrading Ops Manager Director on Azure</a>

