---
title: Installing Pivotal Cloud Foundry on Azure
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Azure.

## <a id='prerequisites'></a>Prerequisites ##

The following sections describe general requirements for running PCF and specific requirements for running PCF on Azure.

### <a id="general"></a>General Requirements ###

<%= partial 'requirements' %>

### <a id="azure"></a>Azure Requirements ##

To deploy PCF on Azure, you must have the following:

* An Azure subscription that can accommodate the following minimum VM requirements:
   * 13 A1
   * 10 F1
   * 1 F2
   * 4 A6
   * 3 A8
* Azure CLI v0.10.5 or higher. For instructions on how to install the Azure CLI for your operating system, see [Preparing to Deploy PCF on Azure](azure-prepare-env.html#install_cli).

## <a id='install'></a>Install PCF on Azure ##

Complete the following procedures to install PCF on Azure:

1. <a class="subnav" href="./azure-prepare-env.html">Preparing to Deploy PCF on Azure</a>

1. <a class="subnav" href="./azure-om-deploy.html">Launching an Ops Manager Director Instance on Azure</a>

1. <a class="subnav" href="./azure-om-config.html">Configuring Ops Manager Director on Azure</a>

1. <a class="subnav" href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>

## <a id='troubleshoot'></a>Troubleshoot PCF on Azure ##

To troubleshoot known issues when deploying PCF on Azure, see the <a class="subnav" href="./azure-troubleshooting.html">Troubleshooting PCF on Azure</a> topic.