---
title: Installing PCF on Azure using Terraform
owner: Ops Manager
---


Complete the following procedures to install Pivotal Cloud Foundry (PCF) on Azure using Terraform:

1. <a class="subnav" href="./azure-deploy-terraform.html">Preparing to Deploy PCF on Azure (Terraform)</a>

1. <a class="subnav" href="./azure-om-config-terraform.html">Configuring BOSH Director on Azure (Terraform)</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

1. <a class="subnav" href="./azure-er-config-terraform.html">Deploying PAS on Azure (Terraform)</a>
