---
title: Installing Pivotal Cloud Foundry on Azure
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Azure.

## <a id='prerequisites'></a>Prerequisites ##

You must have the following to install PCF on Azure:

* An Azure subscription that can accommodate the [minimum resource requirements](requirements.html#azure) for a PCF installation
* A registered domain for which you can create DNS records

## <a id='install'></a>Install PCF on Azure ##

Complete the following procedures to install PCF on Azure:

1. <a class="subnav" href="./azure-prepare-env.html">Preparing to Deploy PCF on Azure</a>

1. <a class="subnav" href="./azure-om-deploy.html">Launching an Ops Manager Director Instance on Azure</a>

1. <a class="subnav" href="./azure-om-config.html">Configuring Ops Manager Director on Azure</a>

1. <a class="subnav" href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>

## <a id='troubleshoot'></a>Troubleshoot PCF on Azure ##

To troubleshoot known issues when deploying PCF on Azure, see the [Troubleshooting PCF on Azure](azure-troubleshooting.html) topic.