---
title: Installing Pivotal Cloud Foundry on Azure
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Azure.

## <a id='prerequisites'></a>Prerequisites ##

The following sections describe general requirements for running PCF and specific requirements for running PCF on Azure.

### <a id="general"></a>General Requirements ###

<%= partial 'requirements' %>

### <a id="azure"></a>Azure Requirements ##

The following are the minimum resource requirements for maintaining a PCF deployment with Ops Manager and Elastic Runtime on Azure:

* VMs:
	* 27 F1
	* 4 F2
	* 4 F4
	* 1 DS11
	* 1 DS12

* Approximately 255 GB of persistent disk

* An Azure subscription that can accommodate a public IP address for each VM
	<p class="note"><strong>Note</strong>: By default, Azure sets an upper limit of 60 public IP addresses. Depending on the size of your deployment, you may need to increase this limit by submitting an Azure support ticket. For more information, see the <a href="https://azure.microsoft.com/en-us/documentation/articles/billing-how-to-create-billing-support-ticket/">Azure documentation</a>.</p>

To deploy PCF on Azure, you must have the Azure CLI v0.10.5 or higher. For instructions on how to install the Azure CLI for your operating system, see [Preparing to Deploy PCF on Azure](azure-prepare-env.html#install_cli).

## <a id='install'></a>Install PCF on Azure ##

Complete the following procedures to install PCF on Azure:

1. <a class="subnav" href="./azure-prepare-env.html">Preparing to Deploy PCF on Azure</a>

1. You can choose to deploy Ops Manager Director manually or with an Azure Resource Manager (ARM) template:
	* <a class="subnav" href="./azure-om-deploy.html">Launching an Ops Manager Director Instance on Azure</a>
	* <a class="subnav" href="./azure-arm-template.html">Launching an Ops Manager Director Instance with an ARM Template</a>

1. <a class="subnav" href="./azure-om-config.html">Configuring Ops Manager Director on Azure</a>

1. <a class="subnav" href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>

## <a id='troubleshoot'></a>Troubleshoot PCF on Azure ##

To troubleshoot known issues when deploying PCF on Azure, see the <a class="subnav" href="./azure-troubleshooting.html">Troubleshooting PCF on Azure</a> topic.