---
title: Backing Up and Restoring Your Installation Settings
---

Refer to this topic for help importing and exporting your Pivotal CF installation settings. It is important to back up your installation settings by exporting frequently. Always export an installation before importing a new one. Import an installation to restore your settings or to share your settings with another user.

 **Note**: Exporting your installation only backs up your installation settings. It does not back up your VMs.

#### <a id='export'></a>Exporting an installation ####

From the Product Dashboard, select **Actions > Export installation**. This option is only available after you have deployed at least one time.

**Export installation** exports the current Pivotal CF installation with all of its assets. When you export an installation, the exported file contains references to the installation IP addresses. It also contains the base VM images and necessary packages. As a result, an export can be very large (as much as 5 GB or more).

#### <a id='export'></a>Importing an installation ####

From the Product Dashboard, select **Actions > Import installation**.

**Import installation** imports an existing Pivotal CF installation with all of its assets. When you import an installation, the prior installation will disappear and be replaced by the newly imported one.
