---
title: cf push Availability During Pivotal Application Service Upgrades
owner: <%= vars.product_name %> Documentation
---



This topic describes what you can expect regarding the availability of `cf push` during upgrades of Pivotal Application Service (PAS).

## <a id='overview'></a> Overview

Availability of `cf push` during PAS upgrades varies from release to release. There are various considerations, such as Cloud Controller database (CCDB) migrations or the number of VMs in use, that can impact `cf push` availability. However, `cf push` is mostly available for the duration of an upgrade.

## <a id='single-vs-ha'></a> Impact on Single VMs vs. High-Availability Infrastructure 

Having a single VM in use, such as a WebDAV, a HAProxy, a Gorouter, a UAA, or a Cloud Controller, impacts whether `cf push` is unavailable during an upgrade.

If you have scaled out your application to achieve high availability and are not using WebDAV, `cf push` should be available for the entire duration of the upgrade. However, upgrades to certain versions of PAS sometimes require a CCDB schema or data migration, which may cause `cf push` to be unavailable while Cloud Controllers are rolling during the upgrade.

## <a id='bbr-backup'></a> Availability During a BBR Backup

The Cloud Controller API is taken down during the `pre-backup-lock` stage of a BBR backup and put back up again during the `post-backup-unlock` stage. As a result, `cf push` becomes unavailable during that time. However, the backup that takes place between those stages is very short, no longer than a few minutes. The bulk of the BBR backup operation happens after the `post-backup-unlock` stage, so the Cloud Controller API and `cf push` are available for most of the duration of a BBR backup.

The [Uptimer](https://github.com/cloudfoundry/uptimer) tool can help you measure `cf push` availability during an upgrade.
