---
title: cf push Availability During Pivotal Application Service Upgrades
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

This topic describes what you can expect regarding the availability of `cf push` during upgrades of Pivotal Application Servive (PAS).

## <a id=‘overview’></a> Overview

Availability of `cf push` during PAS upgrades varies from release to release. There are various considerations, such as Cloud Controller database (CCDB) migrations or the number of VMs in use, that can impact `cf push` availability. However, `cf push` is not unavailable for the entire duration of an upgrade.

## <a id=‘single-vs-ha’></a> Impact on Single VMs vs. High-Availability Infrastructure 

Having a single VM in use, such as a WebDAV, a HAProxy, a Gorouter, a UAA, or a Cloud Controller, will impact whether `cf push` is unavailable during an upgrade.

If you have scaled out your application to achieve high availability and are not using WebDAV, `cf push` should be available for the entire duration of the upgrade. However, upgrades to certain versions of PAS sometimes require a CCDB schema or data migration, which may cause `cf push` to be unavailable while Cloud Controllers are rolling during the upgrade.

The [Uptimer](https://github.com/cloudfoundry/uptimer) tool can help you measure `cf push` availability during an upgrade.

## <a id=‘release-specific’></a> Release-Specific Information

### <a id=‘1.11’></a> PAS v1.11

For PAS v1.11.8 and earlier, there was a known issue that caused around minutes of CF API downtime during PAS updates that rolled the PAS Internal MySQL nodes.

Since the release of PAS v1.11.9, this issue has been resolved, and there has not been downtime when the PAS Internal MySQL nodes are rolled.

During a BOSH Backup and Restore (BBR) backup, there is still a PAS API downtime of around fifteen minutes.