---
title: Installing PCF on AWS using CloudFormation
owner: RelEng
---

This topic describes how to install Pivotal Cloud Foundry (PCF) on Amazon Web Services (AWS) using the PCF CloudFormation template.

The CloudFormation template for PCF describes the set of necessary AWS resources and properties. When you create an AWS stack using the PCF template, CloudFormation provisions all the infrastructure that you need to deploy PCF on AWS.

Complete the following procedures to use the CloudFormation template to install PCF on AWS:

1. <a href="/pivotalcf/1-11/customizing/cloudform-template.html">Deploying the CloudFormation Template for Pivotal Cloud Foundry on AWS</a>
1. <a href="/pivotalcf/1-11/customizing/cloudform-om-deploy.html">Launching an Ops Manager Director Instance on AWS</a>
1. <a href="/pivotalcf/1-11/customizing/clouform-om-config.html">Configuring Ops Manager Director on AWS</a>
1. <a href="/pivotalcf/1-11/customizing/cloudform-er-config.html">Deploying Elastic Runtime on AWS</a>