---
title: Configuring Amazon EBS Encryption
owner: Ops Manager
---
<style>
	table.nice {
		background-color: #FFF;
	}
</style>

<strong><%= modified_date %></strong>

Pivotal Cloud Foundry (PCF) supports Amazon Elastic Block Store (EBS) encryption for PCF deployments on AWS. You can use this feature to meet data-at-rest encryption requirements or as a security best practice. This feature uses AWS Key Management Service (KMS).

By following the procedures in this topic, you can use full disk encryption for all persistent disks on the following VMs:

* BOSH and all present and future VMs
* The Ops Manager VM

There is no performance penalty for using encrypted EBS volumes. Pivotal advises all users of PCF on AWS to enable encryption.

<p class="note"><strong>Note: </strong>Before you enable EBS encryption with KMS, you may need to update your AWS policy. For more information, see <a href="policy-doc.html#add-policies">Add Additional AWS Policies</a>.</p>

## <a id="enable-bosh"></a> Enable Encryption for BOSH ###

To enable EBS encryption, perform the following steps:

1. Click the **Ops Manager Director** tile.

    <%= image_tag("cloudform/om-tile.png") %>

1. Select **AWS Config** to open the **AWS Management Console Config** pane.

	<%= image_tag("cloudform/aws-config.png") %>

1. Select **Encrypt EBS Volumes**.

	<p class="note"><strong>Note</strong>: <strong>Encrypt EBS Volumes</strong> is a global setting. When selected, <strong>Encrypt EBS Volumes</strong> enables encryption on all VMs deployed by BOSH for all product tiles.</p>
	<div class="note">
    	<p><strong>Note: </strong> If this is not your first deployment, you need to manually trigger current VM EBS volumes to encrypt. Perform the steps in the following table.</p>
    	<table class="nice">
		  <tr>
		    <th>For persistent disks</th>
		    <td>In the <strong>Resource Config</strong> pane, bump the persistent disk of each job.</td>
		  </tr>
		  <tr>
		    <th>For ephemeral disks</th>
		    <td>In the <strong>Director Config</strong> pane, enable <strong>Recreate all VMs</strong>.</td>
		  </tr>
		  <tr>
		    <th>For the root disk</th>
		    <td>Stage new stemcells.</td>
		  </tr>
		</table>
    </div>

1. (Optional) Enter a **Custom Encryption Key**. You can create an encryption key in the **IAM** section of your **AWS Management Console**. Look for the Amazon Resource Name (ARN) and copy that value. The ARN should look similar to the following:

	```
	arn:aws:kms:us-east-1:123456789012:
key/12345678-9012-3456-7890-123456789012
	```
	If you leave the field empty, the encryption key will default to the Amazon account key. For more information about creating your own encryption key, see [Creating Keys](https://docs.aws.amazon.com/kms/latest/developerguide/create-keys.html) and [Viewing Keys](https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html) in the AWS documentation.

	<p class="note"><strong>Note: </strong>AWS rotates your KMS automatically each year. For more information, see <a href="https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html">Rotating Customer Master Keys</a> in the AWS Documentation.</p>

1. Click **Save**.

1. Select **Resource Config**.

1. Return to the **Installation Dashboard**.

1. In Ops Manager, click **Apply Changes** and review any reported errors. The following error message lists jobs that cannot be encrypted due to unsupported instance types.

	<%= image_tag("cloudform/encrypt-ebs-errors.png") %>

	If you find a job that should be encrypted in the error list, modify the instance type for that job in the **Resource Config** page of the Pivotal Application Service (PAS). Select an instance type that supports encryption. Pivotal recommends using <code>t2.large</code>.

1. After you make your changes in PAS, return to Ops Manager and click **Apply Changes**.

    <p class="note warning"><strong>WARNING</strong>: After you enable or disable <strong>Encrypt EBS Volumes</strong> and click <strong>Apply Changes</strong>, Ops Manager recreates all existing persistent VM disks.</p>

## <a id="enable-om"></a> Enable Encryption for Ops Manager

To encrypt the Ops Manager VM, you must manually re-launch Ops Manager with a new Amazon Machine Image (AMI). For information on how to launch Ops Manager with encyption, follow the procedures in [Launch an Ops Manager AMI](pcf-aws-manual-config.html#pcfaws-om-ami) in the *Configuring Ops Manager on AWS Deployed Manually* topic.
