---
title: Installing Pivotal Cloud Foundry on AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon Web Services (AWS) using the PCF CloudFormation template.

<p class="note"><b>Note</b>: If you are performing an upgrade to PCF 1.8, see <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for critical upgrade information.</p>

The CloudFormation template for PCF describes the set of necessary AWS resources and properties. 
When you create an AWS stack using the PCF template, CloudFormation provisions all the infrastructure that you need to deploy PCF on AWS.

Pivotal strongly recommends using CloudFormation to install PCF on AWS. 
If you cannot use CloudFormation for your installation, contact [Pivotal Support](http://support.pivotal.io).

<p class="note"><strong>Note</strong>: The CloudFormation template for Elastic Runtime includes a reference to another CloudFormation template for Ops Manager. 
For more information about how IaaS user roles are configured for each template, see the <a href="iaas-user-roles.html">Pivotal Cloud Foundry IaaS User Role Guidelines</a> topic.</p>

## <a id="prerequisities"></a> Prerequisites ##

### <a id='general'></a> General Requirements 

<%= partial "requirements" %>

### <a id="aws"></a>AWS Requirements ##

The following are the minimum resource requirements for maintaining a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment with Ops Manager and Elastic Runtime on Amazon Web Services infrastructure:

* 1 Elastic Load Balancer
* 1 Relational Database Service. We recommend at least a db.m3.xlarge instance with 100 GB of allocated storage.
* 5 S3 Buckets
* EC2 Instances:
  * 13 t2.micro
  * 15 t2.small
  * 2 m3.medium
  * 6 m3.xlarge
  * 3 m3.2xlarge

You must have the following to install PCF on AWS:

* An AWS account that can accommodate the minimum resource requirements for a PCF installation.
* The appropriate region selected within your AWS account. 
For help selecting the correct region for your deployment, see the [AWS documentation about regions and availability zones](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-regions-availability-zones).
* The [AWS CLI](https://aws.amazon.com/cli/) installed on your machine and configured with user credentials that have admin access to your AWS account.
* Sufficiently high instance limits (or no instance limits) on your AWS account. Installing PCF requires more than the default 20 concurrent instances.
* A key pair to use with your PCF deployment. For more information, see the [AWS documentation about creating a key pair](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-console-create-keypair.html).
* A registered wildcard domain for your PCF installation. You need this registered domain when configuring your SSL certificate and Cloud Controller. 
For more information, see the [AWS documentation about Creating a Server Certificate](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/ssl-server-cert.html#create-cert).
* An SSL certificate for your PCF domain. This can be a self-signed certificate, but Pivotal recommends using a self-signed certificate for testing and development. 
You should obtain a certificate from your Certificate Authority for use in production. 
For more information, see the [AWS documentation about SSL certificates](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/ssl-server-cert.html).

## <a id='install-pcf'></a> Install PCF using CloudFormation ##

Complete the following procedures to install PCF using CloudFormation:

1. <a class="subnav" href="./cloudform-template.html">Deploying the CloudFormation Template for PCF on AWS</a>

1. <a class="subnav" href="./cloudform-om-deploy.html">Launching an Ops Manager Director Instance on AWS</a>

1. <a class="subnav" href="./cloudform-om-config.html">Configuring Ops Manager Director on AWS</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

1. <a class="subnav" href="./cloudform-er-config.html">Deploying Elastic Runtime on AWS</a>

## <a id='delete-pcf'></a> Delete PCF on AWS ##

You can use the AWS console to remove an installation of all components, but retain the objects in your bucket for a future deployment:

* <a class="subnav" href="./deleting-aws-install.html">Deleting an AWS Installation from the Console</a>

## <a id='additional-config'></a> Additional AWS Configuration ##

See the following topics for additional AWS configuration information:

* <a class="subnav" href="./cloudform-om-ebs-config.html">Configuring Amazon EBS Encryption</a>

* <a class="subnav" href="./cloudform_elb_ssh_proxy.html">Creating a Proxy ELB for Diego SSH without CloudFormation</a>
