---
title: Configuring SSH Access
---

<strong><%= modified_date %></strong>

This document describes how to configure your Pivotal Cloud Foundry&reg; (PCF) deployment to allow Diego SSH access to application instances, and details about load balancing SSH sessions.

## <a id='diego-configuration'></a> Diego Configuration

PCF deployments accept SSH connection to individual app instances for troubleshooting procedures. SSH access can be controlled by platform operators, space administration and app developers.

To configure your platform to allow SSH access for PCF app instances running on Diego, check the Diego setting for <strong>Allow SSH access to apps</strong>. 

<%= image_tag("../images/diego-config.png") %>

<pre class="note"><strong>Note</strong>: Space level and app level settings can limit, but not exceed, platform settings. Specifically, if you enable SSH access to app instances for your platform, space administrators and app developers can disable access. However, platform disabled SSH access cannot be overridden.</pre>

## <a id="ssh-load-balancer-configuration"></a> SSH Load Balancer Configuration

If you are using HAProxy as a load balancer and SSH access is enabled, SSH requests are load balanced by HAProxy. This configuration relies on the presence of the same consul server cluster that Diego components use for service discovery. This configuration also works well for deployments where all traffic on the system domain and its subdomains is directed towards the HAproxy job, as is the case for a BOSH-Lite Cloud Foundry deployment on the default `10.244.0.34.xip.io` domain.

For AWS deployments, where the infrastructure offers load-balancing as a service through ELBs, the deployment operator can provision an ELB to balance load across the Diego SSH proxy instances. This ELB should be configured to listen to TCP traffic on the port given in `app_ssh.port` and to send it to port 2222. In order to register the SSH proxies with this ELB, the ELB identifier should then be added to the `elbs` property in the `cloud_properties` hash of the Diego manifest's `access_zN` resource pools. If the spiff-based manifest-generation templates are used to produce the Diego manifest, these `cloud_properties` hashes should be specified in the `iaas_settings.resource_pool_cloud_properties` section of the `iaas-settings.yml` stub.
