---
title: Logging In to Apps Manager
owner: Apps Manager
---

## <a id='admin'></a> Log In as Admin User

To log in to Apps Manager as the Admin user:

1. If you do not know the system domain for the deployment, select the **Domains** pane in the Pivotal Application Service (PAS) tile to locate the configured system domain.

1. Open a browser and navigate to `apps.YOUR-SYSTEM-DOMAIN`. For example, if the system domain is `system.example.com`, then point your browser to `apps.system.example.com`.

1. Log in using UAA credentials for the Admin user. To obtain these credentials, refer to PAS **Credentials > UAA > Admin Credentials**.

	<%= image_tag("images/uaa_admin_link.png") %>