---
title: Logging in to Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

## <a id='admin'></a> Log in as Admin User

Complete the following steps to log in to Apps Manager as the Admin user:

1. If you do not know the system domain for the deployment, then select Pivotal Application Service (PAS) **Settings > Domains** to locate the configured system domain.

1. Open a browser and navigate to `apps.YOUR-SYSTEM-DOMAIN`. For example, if the system domain is `system.example.com`, then point your browser to `apps.system.example.com`.

1. If you have enabled [Pivotal Account](../opsguide/pivotal-account.html), the browser redirects to `login.YOUR-SYSTEM-DOMAIN`. For example, `login.system.example.com`.

1. Log in using UAA credentials for the Admin user. To obtain these credentials, refer to PAS **Credentials > UAA > Admin Credentials**.

	<%= image_tag("images/uaa_admin_link.png") %>

1. After you log in, Apps Manager appears. 

## <a id="pivaccount"></a> Access through Pivotal Account Page

You can also access Apps Manager through the Pivotal Account interface by logging in to `login.YOUR-SYSTEM-DOMAIN`. Then, select the **Apps** tab, and click on **Pivotal Apps Manager** to open Apps Manager.

<%= image_tag("images/pivotal_account_appsman.png") %>

See [Enabling Pivotal Account](../opsguide/pivotal-account.html) for more information about managing the account page.
