---
title: Creating New PAS User Accounts in the Internal UAA
owner: Identity
---



When you first deploy your Pivotal Application Service (PAS) with an internal UAA database, there is only one user: an administrator.
At this point, you can add accounts for new users who can then push applications
using the Cloud Foundry Command Line Interface (cf CLI).

How to add users depends on whether or not you have Simple Mail Transfer Protocol (SMTP) enabled, as described in the options below. With SMTP enabled, users receive and respond to invitation emails.

## <a id='smtp'></a>Option 1: Adding New Users when SMTP is Enabled ##

If you have enabled SMTP, your users can sign up for accounts and create their
own orgs.
They do this using the [<%= vars.product_name %>](https://network.pivotal.io/products/pivotal-cf) Apps Manager, a self-service tool for managing
organizations, users, applications, and application spaces.

Instruct users to complete the following steps to log in and get started using
the Apps Manager.

1. Browse to `apps.YOUR-SYSTEM-DOMAIN`. Refer to PAS **Domains** to locate your system domain.

1. Select **Create an Account**.

1. Enter your email address and click **Create an Account**.
You will receive an email from the Apps Manager when your account is ready.

1. When you receive the new account email, follow the link in the email to
complete your registration.

1. You will be asked to choose your organization name.

You now have access to the Apps Manager.
Refer to the Apps Manager documentation at [docs.pivotal.io](http://docs.pivotal.io) for more information about using
the Apps Manager.

## <a id='admin'></a>Option 2: Adding New Users when SMTP is Not Enabled  ##

If you have not enabled SMTP, only an administrator can create new users,
and there is no self-service facility for users to sign up for accounts or
create orgs.

The administrator creates users with the cf CLI.
See [Creating and Managing Users with the cf CLI](../adminguide/cli-user-management.html).

[Return to the Installing <%= vars.product_name %> Guide](../installing/index.html)
