---
title: Creating New Cloud Foundry User Accounts
---

When you first deploy your Cloud Foundry PaaS, there is only one user, an administrator.
At this point you can add accounts for new users who can then push applications using the cf CLI.

How to add users depends on whether or not you have SMTP enabled, as described in the options below.

## <a id='smtp'></a>Option 1: Adding New Users when SMTP is Enabled ##

If you have enabled SMTP, your users can sign up for accounts and create their own orgs.
They do this using the Developer Console, a self-service tool for managing organizations,
users, applications, and application spaces.

Instruct users to complete the following steps to log in and get started using
the Developer Console.

1. Browse to `console.<your-app-domain>`. Refer to **Elastic Runtime > Cloud
Controller** to locate your app domain.

1. Select **Create an Account**.

1. Enter your email address and click **Create an Account**.
You will receive an email from the Developer Console when your account is ready.

1. When you receive the new account email, follow the link in the email to
complete your registration.

1. You will be asked to choose your organization name.

You now have access to the Developer Console.
Refer to the Pivotal CF Developer Console documentation at
[docs.gopivotal.com](http://docs.gopivotal.com) for more information about using
the Developer Console.

## <a id='admin'></a>Option 2: Adding New Users when SMTP is Not Enabled  ##

If you have not enabled SMTP, only an administrator can create new users,
and there is no self-service facility for users to sign up for accounts or create orgs.

The administrator creates users with the cf Command Line Interface (CLI).
See [Creating and Managing Users with the cf CLI](../opsguide/cli-user-management.html).
