---
title: Creating a New User Account
---

Once you have successfully deployed Pivotal CF, complete one of the following workflows to add users to your account.

### <a id='smtp'></a>Option 1: Adding new users if you have enabled SMTP ###

The Developer Console is a self-service tool to help manage organizations, users, applications, and application spaces. If you have set up SMTP, your users can access the Developer Console to sign up for accounts and create their own orgs.

Instruct users to complete the following steps to log in and get started using the Developer Console.

1. Browse to `console.<your-app-domain>`. Refer to **Elastic Runtime > Cloud Controller** to locate your app domain.

1. Select **Create an Account**.

1. Enter your email address and click **Create an Account**. You will receive an email from the Developer Console when your account is ready.

1. When you receive the new account email, follow the link in the email to complete your registration.

1. You will be asked to choose your organization name.

You now have access to the Developer Console. Refer to the Pivotal CF Developer Console documentation at [docs.gopivotal.com](http://docs.gopivotal.com) for more information about using the Developer Console.

### <a id='admin'></a>Option 2: Adding new users as admin ###

If you have not set up SMTP, the admin must create an organization and assign new users. This workflow is not self-service for users. Complete the following steps to log in and invite new users using the cf CLI tool.

1. If you have not already installed the cf CLI tool, browse to the Developer Console at `console.<your-app-domain>` and navigate to the **Tools** page. This page prompts you to select your operating system and provides the appropriate instructions for installing the cf CLI tool.

1. Log in using the UAA administrator user credentials. Refer to **Elastic Runtime > Credentials** for this login information, located about halfway down the page. If you do not supply required options on the command line, cf will prompt for them.

  ```
  $ cf target https://api.<your-sys-domain>.cf-app.com
  $ cf login admin
  ...
  ```
1. You must create a new org for new users or select an existing org for them to join. To create a new org, run:

 ```
 $ cf create-org [org-name]
 ```

1. Create a new user and specify the org the user should join.

  ```
  $ cf create-user [user-email] -o [org-name]

  ```

1. cf prompts you for the password for the new user.

1. Give the new user the Developer Console address and their new credentials. The user now has access to the Developer Console. Refer to the Pivotal CF Developer Console documentation at [docs.gopivotal.com](http://docs.gopivotal.com) for more information about using the Developer Console.
