---
title: Customizing Platform Log Forwarding
owner: Platform Logging
---

You can configure Pivotal Application Service (PAS) to forward logs to remote endpoints using the syslog protocol defined in [RFC 5424](https://tools.ietf.org/html/rfc5424). For more information about enabling log forwarding, see the [Configure System Logging](./configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

PAS annotates forwarded messages with structured data. This structured data identifies the originating BOSH Director, deployment, instance group, availability zone, and instance ID. All logs forwarded from BOSH jobs have their PRI set to `14`, representing **Facility: user-level messages** and **Warning: warning conditions**, as defined in [RFC 5424 Section 6.2.1](https://tools.ietf.org/html/rfc5424#section-6.2.1). This PRI value may not reflect the originally intended PRI of the log.

Logs forwarded from other sources, such as kernel logs, retain their original PRI value.

The following table describes the log line Structured Data:

<table border="1" class="nice" >
  <tr>
    <th>Structured Data</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>ENTERPRISE_NUMBER</td>
    <td>Cloud Foundry's private enterprise number, <code>47450</code>, as defined in <a href="https://tools.ietf.org/html/rfc5424#section-7.2.2">RFC 5424 Section 7.2.2</a>.</td>
  </tr>
  <tr>
    <td>DIRECTOR</td>
    <td>The name of the BOSH Director managing the deployment.</td>
  </tr>
  <tr>
    <td>DEPLOYMENT</td>
    <td>The name of the BOSH deployment.</td>
  </tr>
  <tr>
    <td>INSTANCE_GROUP</td>
    <td>The name of the  BOSH instance_group.</td>
  </tr>
  <tr>
    <td>AVAILABILITY_ZONE</td>
    <td>The name of the BOSH availability zone.</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>The BOSH GUID.</td>
  </tr>
</table>

Log lines use the format below:

<pre>
<$PRI>$VERSION $TIMESTAMP $HOST $APP_NAME $PROC_ID $MSG_ID   
    [instance@ENTERPRISE_NUMBER director="$DIRECTOR" deployment="$DEPLOYMENT" 
    group="$INSTANCE_GROUP" az="$AVAILABILITY_ZONE" id="$ID"] $MESSAGE
</pre>
Example log messages:

<pre>
<14>1 2017-01-25T13:25:03.18377Z 192.0.2.10 etcd - - [instance@47450 
    director="test-env" deployment="cf-c42ae2c4dfb6f67b6c27" group="diego_database" az="us-west1-a" 
    id="83bd66e5-3fdf-44b7-bdd6-508deae7c786"] [INFO] the leader is 
    [https://diego-database-0.etcd.service.cf.internal:4001]
<14>1 2017-01-25T13:25:03.184491Z 192.0.2.10 bbs - - [instance@47450 
    director="test-env" deployment="cf-c42ae2c4dfb6f67b6c27" group="diego_database" az="us-west1-a" 
    id="83bd66e5-3fdf-44b7-bdd6-508deae7c786"] 
    {"timestamp":"1485350702.539694548","source":"bbs","message":
    "bbs.request.start-actual-lrp.starting","log_level":1,"data":
    {"actual_lrp_instance_key":{"instance_guid":
    "271f71c7-4119-4490-619f-4f44694717c0","cell_id":
    "diego_cell-2-41f21178-d619-4976-901c-325bc2d0d11d"},"actual_lrp_key":
    {"process_guid":"1545ce89-01e6-4b8f-9cb1-5654a3ecae10-137e7eb4-12de-457d-
	 8e3e-1258e5a74687","index":5,"domain":"cf-apps"},"method":"POST","net_info":
    {"address":"192.0.2.12","ports":[{"container_port":8080,"host_port":61532},
    {"container_port":2222,"host_port":61533}]},"request":
    "/v1/actual_lrps/start","session":"418.1"}}
</pre>


## <a id='examples'></a> Modify Which Logs PAS Forwards

When you enable log forwarding, PAS forwards all log lines written to the `/var/vcap/sys/log` directories on all Cloud Foundry virtual machines (VMs) to your configured External Syslog Aggregator endpoint by default.

To configure PAS to forward a subset of logs instead of forwarding all logs: 

1. In the PAS tile, select **System Logging**.

1. In the **Custom rsyslog configuration** field, enter a custom syslog rule. See the example custom syslog rules below.

1. Click **Save**.

The custom rsyslog rules shown below are written in [RainerScript](http://www.rsyslog.com/doc/v8-stable/rainerscript/index.html). The custom rules are inserted before the rule that forwards logs. The _stop_ command, `stop`, prevents logs from reaching the forwarding rule. This filters out these logs.

Logs filtered out before forwarding remain on the local disk, where the BOSH job originally wrote them. These logs remain on the local disk only until BOSH Director recreates the VMs. You can access these logs from Ops Manager or through SSH.

<p class='note'><strong>Note:</strong> PAS requires a valid custom rule to forward logs. If your custom rule contains syntax errors, PAS forwards no logs.</p>

### <a id='forward-job'></a> Forward Only Logs From a Certain Job

This rule filters out logs unless they originate from the `uaa` job:

```
if ($app-name != "uaa") then stop
```

### <a id='exclude-content'></a> Exclude Logs With Certain Content

This rule filters out logs that contain "DEBUG" in the body.

```
if ($msg contains "DEBUG") then stop
```

<p class='note'><strong>Note:</strong> The above example contains "DEBUG" in the message body. Not all logs intended for debugging purposes contain the string "DEBUG" in the message body.</p>
