---
title: Day 2 Configurations
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

The topics in this section explain how to configure various functions of an installed and running Pivotal Cloud Foundry (PCF) platform, and how integrate them with external systems and resources.

##<a id='overview'></a>Overview

"Day 2" configurations are configurations that set up the internal operations and external integrations of a PCF platform that's newly deployed and running, but not yet ready to use.

Examples include front-end configuration; setting up user accounts; configuring logging, monitoring, and internal security infrastructure; and specifying container and stemcell images.
      
##<a id='contents'></a>Contents


### <a id='front'></a>Incoming Traffic and Routing

* <a href="/pivotalcf/2-0/customizing/custom-load-balancer.html">Using Your Own Load Balancer</a>

* <a href="/pivotalcf/2-0/opsguide/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>

* <a href="/pivotalcf/2-0/opsguide/config-proxy.html">Configuring Proxy Settings for All Applications</a>

* <a href="/pivotalcf/2-0/customizing/elb-ssh-proxy.html">Creating a Proxy ELB for Diego SSH</a>

* <a href="/pivotalcf/2-0/opsguide/ssl-term.html">Configuring SSL Termination for vSphere Deployments</a>

* <a href="/pivotalcf/2-0/opsguide/security_config.html">Providing a Certificate for your SSL Termination Point</a>

* <a href="/pivotalcf/2-0/adminguide/manage-domains-routes.html">Managing Domains and Routes</a>


### <a id='accounts'></a>User Accounts and Permissions

* <a href="/pivotalcf/2-0/opsguide/auth-sso.html">Configuring Authentication and Enterprise SSO for PAS</a>

* <a href="/pivotalcf/2-0/customizing/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>

* <a href="/pivotalcf/2-0/customizing/external-user-management.html">Adding Existing SAML or LDAP Users</a>

* <a href="/pivotalcf/2-0/opsguide/pw-policy.html">Configuring UAA Password Policy</a>

* <a href="/pivotalcf/2-0/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>

* <a href="/pivotalcf/2-0/customizing/creating-account.html">Creating PAS User Accounts</a>


### <a id='internal'></a>Internal Network Security

* <a href="/pivotalcf/2-0/opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>

* <a href="/pivotalcf/2-0/opsguide/config-ssh.html">Configuring SSH Access for PCF</a>


### <a id='monitor'></a>Monitoring

* <a href="/pivotalcf/2-0/monitoring/metrics.html">Configuring a Monitoring System</a>

* <a href="/pivotalcf/2-0/opsguide/logging-config-opsman.html">Configuring Logging in PAS</a>

* <a href="/pivotalcf/2-0/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="/pivotalcf/2-0/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>


### <a id='container-stemcell'></a>Containers and Stemcells

* <a href="/pivotalcf/2-0/opsguide/docker-registry.html">Using Docker Registries</a>

* <a href="/pivotalcf/2-0/adminguide/docker.html">Using Docker in Cloud Foundry</a>


### <a id='maintenance'></a>Maintenance and Customization

* <a href="/pivotalcf/2-0/customizing/backup-restore/system-setup-bbr.html">Setting Up Your Jumpbox for BBR</a>

* <a href="/pivotalcf/2-0/opsguide/config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>

* <a href="/pivotalcf/2-0/opsguide/custom-branding.html">Custom Branding Apps Manager</a>


