---
title: Day 2 Configurations
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

The topics in this section explain how to configure various functions of an installed and running Pivotal Cloud Foundry (PCF) platform, and how integrate them with external systems and resources.

##<a id='overview'></a>Overview

"Day 2" configurations are configurations that set up the internal operations and external integrations of a PCF platform that's newly deployed and running, but not yet ready to use.

Examples include front-end configuration; setting up user accounts; configuring logging, monitoring, and internal security infrastructure; and specifying container and stemcell images.
      
##<a id='contents'></a>Contents


### <a id='front'></a>Perimeter Access and Security

* <a href="/pivotalcf/opsguide/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>

* <a href="/pivotalcf/opsguide/config-proxy.html">Configuring Proxy Settings for All Applications</a>

* <a href="/pivotalcf/customizing/elb-ssh-proxy.html">Creating a Proxy ELB for Diego SSH</a>

* <a href="/pivotalcf/adminguide/supporting-websockets.html">Supporting WebSockets</a>

* <a href="/pivotalcf/adminguide/enabling-tcp-routing.html">Enabling TCP Routing</a>

* <a href="/pivotalcf/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a>

* <a href="/pivotalcf/adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a>

* <a href="/pivotalcf/adminguide/docker.html">Using Docker in Cloud Foundry</a>

* <a href="/pivotalcf/opsguide/docker-registry.html">Using Docker Registries</a>

### <a id='accounts'></a>User Accounts and Permissions

* <a href="/pivotalcf/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>

* <a href="/pivotalcf/opsguide/config-rbac.html">Configuring RBAC in Ops Manager</a>

* <a href="/pivotalcf/opsguide/creating-account.html">Creating PAS User Accounts</a>

* <a href="/pivotalcf/adminguide/listing-feature-flags.html">Feature Flags</a>

* <a href="/pivotalcf/opsguide/pw-policy.html">Configuring UAA Password Policy</a>

* <a href="/pivotalcf/opsguide/external-user-management.html">Adding Existing SAML or LDAP Users</a>

* <a href="/pivotalcf/adminguide/notifications.html">Getting Started with the Notifications Service</a>

* <a href="/pivotalcf/customizing/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>

### <a id='internal'></a>Internal Network Security

* <a href="/pivotalcf/opsguide/app-sec-groups.html">Restricting App Access to Internal PCF Components</a>

* <a href="/pivotalcf/opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>

* <a href="/pivotalcf/opsguide/config-ssh.html">Configuring SSH Access for PCF</a>

* <a href="https://docs.pivotal.io/addon-ipsec/index.html">IPsec Add-on for PCF</a>

### <a id='monitor'></a>Monitoring

* <a href="/pivotalcf/monitoring/metrics.html">Selecting and Configuring a Monitoring System</a>

* <a href="/pivotalcf/opsguide/logging-config-opsman.html">Configuring Logging in PAS</a>

* <a href="/pivotalcf/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="/pivotalcf/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>

* <a href="/pivotalcf/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry</a>

### <a id='maintenance'></a>Maintenance and Customization

* <a href="/pivotalcf/customizing/backup-restore/system-setup-bbr.html">Setting Up Your Jumpbox for BBR</a>

* <a href="/pivotalcf/opsguide/config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>

* <a href="/pivotalcf/opsguide/custom-branding.html">Custom Branding Apps Manager</a>


