---
title: Day 2 Configurations
owner: PCF Documentation
---

The topics in this section explain how to configure various functions of an installed and running Pivotal Cloud Foundry (PCF) platform, and how integrate them with external systems and resources.


## <a id='overview'></a> Overview

"Day 2" configurations are configurations that set up the internal operations and external integrations of a PCF platform that is newly deployed and running, but not yet ready to use.

Examples include front end configuration; setting up user accounts; configuring logging, monitoring, and internal security infrastructure; and specifying container and stemcell images.


## <a id='contents'></a> Contents

### <a id='internal'></a> Internal Network Security

* [Configuring SSL/TLS Termination at HAProxy](../opsguide/ssl-term-haproxy.html)

* [Configuring Proxy Settings for All Apps](../opsguide/config-proxy.html)

* [Creating a Proxy ELB for Diego SSH](./elb-ssh-proxy.html)

* [Supporting WebSockets](../adminguide/supporting-websockets.html)

* [Enabling TCP Routing](../adminguide/enabling-tcp-routing.html)

* [Enabling IPv6 for Hosted Apps](../adminguide/enabling_ipv6.html)

* [Securing Traffic into PAS](../adminguide/securing-traffic.html)

* [Using Docker in PAS](../adminguide/docker.html)

* [Using Docker Registries](../opsguide/docker-registry.html)

### <a id='accounts'></a> User Accounts and Permissions

* [Creating and Managing Ops Manager User Accounts](./opsman-users.html)

* [Configuring RBAC in Ops Manager](../opsguide/config-rbac.html)

* [Creating PAS User Accounts](../opsguide/creating-account.html)

* [Feature Flags](../adminguide/listing-feature-flags.html)

* [Configuring UAA Password Policy](../opsguide/pw-policy.html)

* [Adding Existing SAML or LDAP Users](../opsguide/external-user-management.html)

* [Getting Started with the Notifications Service](../adminguide/notifications.html)

* [Creating UAA Clients for BOSH Director](./opsmanager-create-bosh-client.html)

### <a id='internal'></a> Internal Network Security

* [Restricting App Access to Internal PCF Components](../opsguide/app-sec-groups.html)

* [Configuring App Security Groups for Email Notifications](../opsguide/notifications-asg.html)

* [Configuring SSH Access for PCF](../opsguide/config-ssh.html)

* [IPsec Add-on for PCF](https://docs.pivotal.io/addon-ipsec/index.html)

### <a id='monitor'></a> Monitoring

* [Selecting and Configuring a Monitoring System](../monitoring/metrics.html)

* [Configuring Logging in PAS](../opsguide/logging-config-opsman.html)

* [Deploying a Nozzle to the Loggregator Firehose](../loggregator/nozzle-tutorial.html)

* [Installing the Loggregator Plugin for cf CLI](../loggregator/cli-plugin.html)

* [Configuring Load Balancer Health Checks for PAS](../adminguide/configure-lb-healthcheck.html)

### <a id='maintenance'></a> Maintenance and Customization

* [Configuring Cell Disk Cleanup Scheduling](../opsguide/config-cell-cleanup.html)

* [Custom Branding Apps Manager](../opsguide/custom-branding.html)
