---
title: Fields That Lock After Initial Deploy
owner: OpsManager
---

<strong><%= modified_date %></strong>

This topic lists the fields in Ops Manager that can only be configured during initial setup.

##<a id="overview"></a>Overview

Some Ops Manager fields are only configurable on initial setup, and then lock permanently. To reset these fields, you must set up a new OpsManager. 

Many of these fields affect key aspects of Ops Manager's functionality, such as networking behavior and BOSH Director storage. Pivotal recommends taking extra caution when configuring these fields during initial setup, because if you configure a field incorrectly, key functionality of your Ops Manager may fail.

Some fields that lock in the UI can be reconfigured via API. For more information on the Ops Manager API, see [OPSMANAGER API DOCS].

## <a id="bosh-director"></a>BOSH Director

<table>
	<th>Field name</th>
	<th>Configurable via UI?</th>
	<th>Configurable via API?</th>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

blobstore_type gets ignored after deploy (no errors, just ignores it)
for internal blobstore_type, enable_tls is locked
for s3, endpoint, bucket name, signature type, and region are all locked
database_type gets ignored after deploy (no errors, just ignores it)
external host, port, username, password, and database are all locked

## <a id="azs-networks"></a>Availability Zones and Networks

in the AZ endpoints,

deleting an in-use az is locked
however, nothing else is
user can edit/delete in-use cluster
user can reassign iaas-configuration in in-use AZ
user can rename in-use AZ

Tile developers can freeze any field in their tile with the `freeze_on_deploy` attribute. For more information, read [TILEDEV REFERENCES].
