---
title: Applying Changes to Ops Manager Director
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to apply pending changes only to the Ops Manager Director when you stage multiple products in a new installation or as part of an upgrade.

## <a id='overview'></a>Overview

After you click **Apply Changes** on the Ops Manager Installation Dashboard, Ops Manager deploys the Ops Manager Director and all other products that have pending changes. You can optionally apply changes only to the Ops Manager Director using the Ops Manager API.

To deploy only the Ops Manager Director, you need to submit the `POST /api/v0/installations` API request. You must include the `deploy_products` parameter in this request and set the value of the parameter to `"none"`.

<p class='note'><strong>Note</strong>: Submitting the <code>POST /api/v0/installations</code> API request is equivalent to clicking <strong>Apply Changes</strong> on the Ops Manager Installation Dashboard.</p>

If you do not include `"deploy_products": "none"` in the `POST /api/v0/installations` request, Ops Manager deploys the Ops Manager Director and all other products with pending changes.

## <a id='install'></a>Apply Pending Changes to Ops Manager Director

To apply pending changes only to the Ops Manager Director, perform the steps below:

1. Ensure your Ops Manager Director tile is configured. The tile must be green in the Ops Manager Installation Dashboard.

1. Retrieve your authorization token to access the Ops Manager API. Refer to [Using the Ops Manager API](./ops-man-api.html) for the authentication instructions.

1. Submit the `POST /api/v0/installations` request with the `deploy_products` parameter set to `"none"`. See the following example:

	<pre class='terminal'>
	$ curl "https://example.com/api/v0/installations" \ 
	    -X POST \ 
	    -H "Authorization: Bearer UAA-ACCESS-TOKEN" \ 
	    -H "Content-Type: application/json" \ 
	    -d '{
	  "deploy_products": "none",
	  "ignore_warnings": true
	  }'
	</pre>

For more information about using the Ops Manager API, browse to the [Ops Manager API documentation](https://docs.pivotal.io/pivotalcf/2-0/opsman-api).
