---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Deploying BOSH and Ops Manager
owner: PCF Documentation
---

This documentation explains how to deploy BOSH and Ops Manager, the foundation of a Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

  - [BOSH](http://bosh.io) is an open-source tool that lets you run software systems in the cloud.
      - BOSH and its IaaS-specific Cloud Provider Interfaces (CPIs) are what enable PCF to run on multiple IaaSes.
      - See [Deploying with BOSH](#bosh) for a mini description of the BOSH deployment process.
   - [Ops Manager](./ops-man.html) is a GUI application deployed by BOSH that streamlines deploying subsequent software to the cloud via BOSH.
      - Ops Manager represents PCF products as _tiles_ with multiple configuration panes that let you input or select configuration values needed for the product.
      - Ops Manager generates BOSH manifests containing the user-supplied configuration values, and sends them to the Director.
      - After you install Ops Manager and BOSH, you use Ops Manager to deploy almost all PCF products.
  - Deploying Ops Manager deploys both BOSH and Ops Manager with a single procedure.
      - On AWS, you can deploy Ops Manager manually, or automatically with a CloudFormation template.
      - On Azure, you can deploy Ops Manager manually, or automatically with an Azure Resource Manager (ARM) template. On Azure Government Cloud and Azure Germany you can only deploy Ops Manager manually.

##<a id='bosh'></a>Deploying with BOSH

Here's how people use BOSH to run software in the cloud:

1. To use BOSH, you create a a _manifest_ `.yml` file that specifies your software system's component processes, the VMs they run on, how they communicate, and anything else they need.

2. The BOSH command-line interface (CLI) or API sends the manifest to the _Director_, BOSH's executive process.

3. The Director provisions what it needs from the IaaS, _deploys_ your software to run in the cloud, and heals automatically when VMs go down.

4. BOSH CLI and API commands let you control BOSH-managed processes and allocate or release IaaS resources.

