---
title: Deploying BOSH and Ops Manager to vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic provides instructions for deploying Ops Manager to VMware vSphere. 

<p class="note"><strong>Note</strong>: The instructions in this topic are based on vSphere 6.5.</p>

1. Download [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager for vSphere from [Pivotal Network](https://network.pivotal.io). 

1. Log in to vCenter.

1. In the **Navigator**, click the **VMs and Templates** tab.
    ![vms and templates folder creation](vms-templates.png)

1. Right click your datacenter. 
    1. Select **New Folder** > **New VM and Template Folder**.
        ![New folder creation](new-folder.png)
    1. Name the folder `pivotal_cf`. 
    1. Click **Ok**.

1. Click your newly created folder.

1. Click the **Deploy OVF Template** icon and complete the following steps:
    <p class="note"><strong>Note</strong>: The vSphere Web Client requires Flash. If the **Deploy OVF Template** buttton is unresponsive, ensure you have Flash enabled in your browser and reload the page.</p>
    ![Ova form fill](ova.png)
    1. **Select template**
        1. Click **Browse** and select the `.ova` file you downloaded from Pivotal Network.
        1. Click **Next**.
    1. **Select name and location**
        1. Name the virtual machine and click **Next**.
            <p class="note"><strong>Note</strong>: The selected folder is the one you created.</p>
    1. **Select a resource**
        1. Select the resource you want to use to launch the VM and click **Next**.
            <p class="note"><strong>Note</strong>: Hardware virtualization must be off if your vSphere host does not support VT-X/EPT. Refer to the <a href="./vsphere.html#vsphere-reqs">Installing Pivotal Cloud Foundry on vSphere</a> topic for more information.</p>
    1. **Review Details**
        1. Verify the template details and click **Next**. 
    1. **Select storage**
        1. Select a disk format. For information about disk formats, see [Provisioning a Virtual Disk](./disk-format.html).
            <p class="note warning"><strong>Warning</strong>: Ops Manager requires a Director VM with at least 8&nbsp;GB memory.</p>
        1. Select a storage destination.
        1. Click **Next**.
    1. **Select networks**
        1. Select a network from the drop down list and click **Next**.
    1. **Customize template**
        1. In the **Admin Password** field, enter a default password for the account with the username `ubuntu`. Alternatively, you can enter a pre-existing SSH key value in the **Public SSH Key** field. 
            <p class="note"><strong>Note</strong>: You must specify either a default password or an SSH key (or specify both). If you do not have either of these fields configured, Ops Manager will not boot up.</p>
        1. Complete the remaining network information and passwords for the Ops Manager VM admin user.
            <p class="note"><strong>Note</strong>: Record this network information. The IP Address will be the location of the Ops Manager interface.</p>
        1. Click **Next**.
    1. **Ready to complete**
        1. Review the configuration data and click **Finish**. 

1. With the VM selected, click **Actions** > **Power** > **Power On**. Once the VM boots, the interface is available at the IP address you specified.

     <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>

1. Create a DNS entry for the IP address that you used for Ops Manager. You must use this fully qualified domain name when you log into Ops Manager in the [Installing Pivotal Cloud Foundry on vSphere](../customizing/vsphere.html#paas) topic.
    <p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager during the <a href="../customizing/vsphere.html#paas">initial configuration.</a></p>

[Return to the Installing Pivotal Cloud Foundry Guide](../installing/index.html)
