---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Deploying BOSH and Ops Manager
owner: PCF Documentation
---

This documentation explains how to deploy BOSH and Ops Manager, the foundation of a Pivotal Cloud Foundry (PCF) platform.

## <a id='overview'></a>Overview

[BOSH](http://bosh.io) and [Ops Manager](./ops-man.html) provide the foundation for PCF, you install them first when you install PCF.

* **BOSH** is an open-source tool that lets you run software systems in the cloud.
  - BOSH and its IaaS-specific Cloud Provider Interfaces (CPIs) are what enable PCF to run on multiple IaaSes.
  - See [Deploying Software with BOSH](#bosh) for a mini overview of how you use BOSH to run software in the cloud.

* **Ops Manager** is a GUI application that streamlines deploying subsequent software to the cloud via BOSH.
  - For routine tasks, operators can use the Ops Manager interface instead of the BOSH command-line interface (CLI) or BOSH API.
  - Ops Manager represents PCF products as _tiles_ with multiple configuration panes that let you input or select configuration values needed for the product.
  - Ops Manager generates BOSH manifests containing the user-supplied configuration values, and sends them to the Director.
  - After you install Ops Manager and BOSH, you use Ops Manager to deploy almost all PCF products.

* Deploying Ops Manager deploys both BOSH and Ops Manager with a single procedure.
  - You deploy BOSH and Ops Manager by logging into your IaaS and allocating the network addresses, VMs, user accounts, and other resources needed to support PCF.
  - On AWS, you can deploy Ops Manager manually, or automatically with a Terraform template.
  - On Azure, you can deploy Ops Manager manuallyi, or automatically with a Terraform template. On Azure Government Cloud and Azure Germany you can only deploy Ops Manager manually.

For all of the above, the specifics depend on the IaaS on which you are deploying PCF. The contents of this documentation are organized by IaaS.


## <a id='contents'></a> IaaS-Specific Deployment Guidelines

For information on deploying PCF to your IaaS, choose one of the following:

* Deploying to AWS

  - [Preparing to Deploy PCF on AWS (Terraform)](../om/aws/prepare-env-terraform.html)
      - [Configuring BOSH Director on AWS (Terraform)](../om/aws/config-terraform.html)
  - [Manually Installing PCF on AWS](../om/aws/prepare-env-manual.html)
      - [Configuring BOSH Director on AWS Deployed Manually](../om/aws/config-manual.html)

* Deploying to Azure

  - <a href="../om/azure/prepare-env-manual.html">Preparing Azure</a>
      - <a href="../om/azure/config-manual.html">Configuring Ops Manager on Azure</a>
  - <a href="../om/azure/deploy-manual.html">Deploying BOSH and Ops Manager to Azure Manually</a>
      - <a href="../om/azure/gov-cloud.html">Configuring BOSH Director on Azure Government Cloud</a>
      - <a href="../om/azure/german-cloud.html">Configuring BOSH Director on Azure Germany</a>
  - <a href="./azure-troubleshooting.html">Troubleshooting PCF on Azure</a>

* Deploying to GCP

  - [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html)
  - [Deploying Ops Manager on GCP Manually](../om/gcp/deploy-manual.html)
  - [Configuring a Shared VPC on GCP](./gcp-shared-vpc.html)
  - [Configuring BOSH Director on GCP Manually](../om/gcp/config-manual.html)
  - [Troubleshooting PCF on GCP](./gcp-troubleshooting.html)

* Deploying to OpenStack

  - [Deploying BOSH and Ops Manager to OpenStack](../om/openstack/setup.html)
  - [Configuring BOSH Director on OpenStack](../om/openstack/config.html)

* Deploying to vSphere

  - [Using Edge Services Gateway on VMware NSX](/pivotalcf/refarch/vsphere/vsphere_nsx_cookbook.html)
  - [Deploying BOSH and Ops Manager to vSphere](../om/vsphere/deploy.html)
      - [Configuring Ops Manager on vSphere](../om/vsphere/config.html)
      - [Using the Cisco Nexus 1000v Switch with Ops Manager](./nexus-switch.html)
      - [Using BOSH Resurrector on VMware vSphere](./resurrector.html)


## <a id='bosh'></a> Deploying Software with BOSH

The following describes how you can use BOSH to run software in the cloud:

1. You create a _BOSH release_, a directory that contains your software and anything that it depends on or needs to run on generic, empty VMs.

1. You create a _manifest_ `.yml` file that identifies the component processes in the BOSH release, specifies the VMs they run on, how they communicate, how to start them up and shut them down, and any other configuration specifics that they need.

1. Using the BOSH command-line interface (CLI) or API, you upload the BOSH release and send the manifest to the _Director_, BOSH's executive process.

1. The Director provisions what it needs from the IaaS, _deploys_ your software to run in the cloud, and heals automatically when VMs go down.

1. BOSH CLI and API commands let you control BOSH-managed processes and allocate or release IaaS resources.
