---
title: Configuring Front End Idle Timeout for Gorouter and HAProxy
owner: Releng, routing
---

This topic describes how to configure the **Front end idle timeout for Router and HAProxy** field in the Pivotal Application Service (PAS) **Networking** pane. 

You can optionally use the **Front end idle timeout for Router and HAProxy** field to help prevent connections from your load balancer to the Gorouter or HAProxy from being closed prematurely. The value you enter sets the duration, in seconds, that the Gorouter or HAProxy maintains an idle open connection from a load balancer that supports keep-alive.
  
In general, set the value higher than your load balancer's back end idle timeout to avoid the race condition where the load balancer sends a request before it discovers that the Gorouter or HAProxy has closed the connection.

See the following table for specific guidance and exceptions to this rule:

<table>
	<tr>
		<th>IaaS</th>
		<th>Guidance</th>
	</tr>
	<tr>
		<td>AWS</td>
		<td>AWS ELB has a default timeout of 60 seconds, so Pivotal recommends a value greater than <code>60</code>.</td>
	</tr>
	<tr>
		<td>Azure</td>
		<td>By default, Azure load balancer times out at 240 seconds without sending a TCP RST to clients, so as an exception, Pivotal recommends a value lower than <code>240</code> to force the load balancer to send the TCP RST.</td>
	</tr>
	<tr>
		<td>GCP</td>
		<td>GCP has a default timeout of 600 seconds. For GCP HTTP load balancers, Pivotal recommends a value greater than <code>600</code>. For GCP TCP load balancers, pivotal recommends a value less than <code>600</code> to force the load balancer to send a TCP RST.</td>
	</tr>
	<tr>
		<td>Other</td>
		<td>Set the timeout value to be greater than that of the load balancer's back end idle timeout.</td>
	</tr>
</table>
