---
title: Installing PCF on GCP Manually
owner: Ops Manager
---

Complete the following procedures to install PCF on GCP manually:

1. <a class="subnav" href="../om/gcp/prepare-env-manual.html">Preparing to Deploy Ops Manager on GCP Manually</a>

1. <a class="subnav" href="../om/gcp/deploy-manual.html">Deploying Ops Manager on GCP Manually</a>

1. <a class="subnav" href="../om/gcp/config-manual.html">Configuring BOSH Director on GCP</a>

1. <a class="subnav" href="./gcp-shared-vpc.html">(Optional) Configuring a Shared VPC on GCP</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

1. <a class="subnav" href="./gcp-er-config.html">Deploying Pivotal Application Service (PAS) on GCP</a>
