---
title: Launching an Ops Manager Director Instance on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to deploy Ops Manager Director for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Google Cloud Platform (GCP).

After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on GCP](./gcp-om-config.html) and
[Configuring Elastic Runtime on GCP](./gcp-er-config.html) topics.

## <a id='select-tgz'></a>Step 1: Locate the Pivotal Ops Manager Installation File ##

1. Log in to the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) and click on **Pivotal Cloud Foundry Operations Manager**.

1. From the **Releases** dropdown, select the release to install.

1. Select **Pivotal Cloud Foundry Ops Manager for Google Cloud Platform** to download the `GoogleCloudPlatform.pdf` file. <-- verify final filename
This document provides the GCP location of the Ops Manager `.tar.gz` installation file.

## <a id="create-image"></a>Step 2: Create a Private VM Image

1. Log in to the [GCP Console](https://console.cloud.google.com/).

1. In the left navigation panel, click **Compute Engine**, and select **Images**.

1. Click **Create Image**.

  <%= image_tag("gcp/iam_account.png") %>

1. Complete the following fields:
  * **Name**: Enter a name.
  * **Source**: Choose **Cloud Storage file**.
  * **Cloud Storage filew**: Paste in the Google Cloud Storage filepath you copied from `GoogleCloudPlatform.pdf` document. This file may take a few minutes to import. 
1. Click **Create**. 

## <a id="start-vm"></a>Step 3: Create the Ops Manager VM Instance

1. Click **VM Instances**, then **Create an instance**.
  * **Name**: Enter a name. 
  * **Zone**: Choose a zone from the region in which you created your network. 
  * **Boot disk**: Click **Change**, then **Your images**. Select the Ops Manager image you created in the previous step. 
  * **Service account**: Choose the account you created when preparing your environment. 
  * **Allow HTTP traffic**: Select this checkbox. 
  * **Allow HTTPS traffic**: Select this checkbox. 
  * **Networking**: Select the network and subnetwork that you created when preparing your environment. 
  * **SSH Keys**: Generate an SSH key for the ubuntu user and paste the public key into the **key data** field. Store the private key in a secure location.

## <a id="enable-api"></a>Step 4: Enable Google Cloud Resource Manager API

Follow these steps so that Ops Manager can manage GCP resources via API.

1. Navigate to the [Google Developer Console](https://console.developers.google.com). 
1. Click **Library**, then **Compute Engine API** under **Google Cloud APIs**. 
1. Click **Enable**. 
1. Verify that the Resource Manager API is enabled:
  1. Log in using your IAM service account: 
    <pre class="terminal">$ gcloud auth activate-service-account IAM_SERVICE_ACCOUNT_EMAIL --key-file PATH_TO_YOUR_IAM_KEY_JSON_FILE</pre>
  1. List your projects:
    <pre class="terminal">
    $ gcloud projects list
    PROJECT_ID      NAME                PROJECT_NUMBER
    my-project-id   my-project-name     ##############
    </pre>

