---
title: Installing PCF on GCP Manually
owner: Ops Manager
---

This topic explains how to install PCF on GCP manually. 

## <a id="overview"></a> Overview

You can install PCF on GCP with either the Pivotal Application Service (PAS) or Pivotal Container Service (PKS) runtime.

To install PCF on GCP manually, do one of the following:

* Install with PAS. See [Install Manually with PAS](#manual-pas).
* Install with PKS. See [Install Manually with PKS](#manual-pks).

## <a id="manual-pas"></a> Install Manually with PAS

To install manually with PAS, do the following:

1. Prepare to deploy Ops Manager. See [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html).

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Manually](../om/gcp/deploy-manual.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Manually](../om/gcp/config-manual.html).

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure PAS. See [Deploying PAS on GCP](./gcp-er-config.html).

## <a id="manual-pks"></a> Install Manually with PKS

To install manually with PKS, do the following:

1. Prepare to deploy Ops Manager. See [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html).

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Manually](../om/gcp/deploy-manual.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Manually](../om/gcp/config-manual.html).

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure PKS. See [Installing PKS on GCP](https://docs.pivotal.io/pks/installing-pks-gcp.html).