---
title: Troubleshooting PCF on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic describes how to troubleshoot known issues when deploying Pivotal Cloud Foundry (PCF) on Google Cloud Platform (GCP).

## <a id='sso'></a> Problems Connecting with Single Sign-On (SSO)

Users may be unable to connect to applications running on PCF using SSO.

### Explanation

SSO does not support multi-subnets.

### Solution

Ensure that you have configured only one subnet. See the [Preparing the GCP Environment for Deployment](./gcp-prepare-env.html#deploy_prepare) topic for information.

<hr>

## <a id='ert-install'></a>Uploading Elastic Runtime Tile Causes Ops Manager Rails Application Crash

Uploading the Elastic Runtimetile causes the Ops Manager Rails application to crash.

### Explanation

In compressed format, the ERT tile is 5GB. However, when uncompressed during installation, the ERT tile requires additional memory that can exhaust the memory allocated to the boot disk.

### Solution

Ensure that the boot disk is allocated at least 50GB of memory. See [Step 3: Create the Ops Manager VM Instance](./gcp-om-deploy.html#start-vm) for more information.

<hr>

## <a id="diego-win"></a> Problems Deploying Diego for Windows

Deploying Diego for Windows as described in [this procedure](../opsguide/deploying-diego.html) fails with a `PSSecurity Unauthorized Access` error.

For example:
<pre class="terminal">
.\setup.ps1 : File C:\Users\username\Downloads\DiegoWindows\setup.ps1 
cannot be loaded. The file C:\Users\username\Downloads\DiegoWindows\setup.ps1 
is not digitally signed. You cannot run this script on the current system. 
For more information about running scripts and setting execution policy, see 
about\_Execution\_Policies at http<span>:</span>//go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ .\setup.ps1
+ ~~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) [], PSSecurityException
    + FullyQualifiedErrorId : UnauthorizedAccess
</pre>

### Explanation

On GCP, deploying Diego for Windows requires elevated PowerShell privileges.    

### Solution

As a workaround, execute the following cmdlet before running the `setup.ps1` script:

<pre class="terminal">
Set-ExecutionPolicy Unrestricted
</pre>

For more information on this cmdlet, see [Using the Set-ExecutionPolicy Cmdlet](https://technet.microsoft.com/en-us/library/ee176961.aspx).

<hr>

## <a id="mysql_rep_canary"></a>ERT Deployment Fails - MySQL Monitor replication-canary Job ##

During installation of the Elastic Runtime tile, the replication-canary job fails to start. The error reported in the installation log resembles the following:

<pre>
Started updating job mysql_monitor > mysql_monitor/0
(48e7ec82-3cdf-41af-9d0f-90d1f12683c8) (canary). Failed: 'mysql_monitor/0
(48e7ec82-3cdf-41af-9d0f-90d1f12683c8)' is not running after update. 
Review logs for failed jobs: replication-canary (00:05:13)

Error 400007: 'mysql_monitor/0 (48e7ec82-3cdf-41af-9d0f-90d1f12683c8)' 
is not running after update. 
Review logs for failed jobs: replication-canary
</pre>

### Explanation

This error can appear as a result of incorrect configuration of network traffic and missed communication between the GoRouter and a load balancer. 

### Solution

1. Make sure you have selected the **Forward SSL to Elastic Runtime Router** option in your [Elastic Runtime Network Configuration](gcp-er-config.html#networking).
1. Verify that you have configured the proper SSL certificates on your [HTTP(S) load balancer in GCP](./gcp-prepare-env.html#create-http-and-instance-group). 
1. If necessary, reupload a new certificate and update any required SSL Certificate and SSH Key fields in your [Elastic Runtime network configuration](./gcp-er-config.html#). 

