---
title: Preparing to Deploy PCF on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes the preparation steps required to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Google Cloud Platform (GCP).

## <a id="prereqs"></a> Prerequisites ##

You must have the following to install PCF on GCP:

* A GCP account and project with sufficient quota to deploy all the VMs needed for a PCF installation. <--need exact quota figures CPU + RAM. You can request a quota increase on the [GCP Quotas page](https://console.cloud.google.com/compute/quotas).
* The appropriate region and zones selected within your GCP project. For help selecting the correct region for your deployment, see the [Google documentation on regions and zones](https://cloud.google.com/compute/docs/regions-zones/regions-zones). 
* The [Google Cloud SDK](https://cloud.google.com/sdk/) installed on your machine and authenticated to your GCP account.
* Sufficiently high instance limits (or no instance limits) on your GCP account. Installing PCF requires more than the default 20 concurrent instances. <-- is there a limit in GCP?
* A registered wildcard domain for your PCF installation. You need this registered domain when configuring your SSL certificate and Cloud Controller. For more information see the *link to cert docs*.
* An SSL certificate for your PCF domain. This can be a self-signed certificate, but Pivotal recommends using a self-signed certificate for testing and development. You should obtain a certificate from your Certificate Authority for use in production. 

## <a id="deploy_prepare"></a> Preparing the GCP Environment for Deployment

In addition to the prerequisites listed above, you must create a new network and service account in GCP before deploying PCF. Follow these procedures to prepare your GCP environment. 

### <a id="create_network"></a> Create a GCP Network with Subnet



### <a id="firewall_rules"></a> Create Firewall Rules for the Network

### <a id="iam_account"></a> Set up a IAM Service Account 




