---
title: Troubleshooting PCF on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to troubleshoot known issues when deploying Pivotal Cloud Foundry (PCF) on GCP.

<a id="troubleshoot"></a> 
## Troubleshoot Installation Issues

#### Symptom

Problems connect with SSO.

#### Explanation

SSO does not support multi-subnets.

#### Solution

Ensure that you have configured only one multi-subnet. See [Preparing the GCP Environment for Deployment](./gcp-prepare-env.html#deploy_prepare) for more information.

<hr>

#### Symptom

Uploading the ERT tile causes the Ops Manager Rails application to crash.

#### Explanation

In compressed format, the ERT tile is 5GB. However, when uncompressed during installation, the ERT tile requires additional memory that can exhaust the memory allocated to the boot disk.

#### Solution

Ensure that the boot disk is allocated at least 50GB of memory. See [Step 3: Create the Ops Manager VM Instance](./gcp-om-deploy.html#start-vm) for more information.

<hr>