---
title: Installing PCF on GCP Using Terraform
owner: Ops Manager
---

This topic explains how to install PCF on GCP using Terraform. 

## <a id="overview"></a> Overview

You can install PCF on GCP with either the Pivotal Application Service (PAS) or Pivotal Container Service (PKS) runtime.

To install PCF on GCP using Terraform, do one of the following:

* Install with PAS. See [Install on PAS Using Terraform](#terraform-pas).
* Install with PKS. See [Install on PKS Using Terraform](#terraform-pks).

## <a id="terraform-pas"></a> Install with PAS Using Terraform

To install with PAS using Terraform, do the following:

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Using Terraform](../om/gcp/prepare-env-terraform.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Using Terraform](../om/gcp/config-terraform.html).

1. (Optional) Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure PAS. See [Deploying PAS on GCP Using Terraform](./gcp-er-config-terraform.html).

## <a id="terraform-pks"></a> Install with PKS Using Terraform

To install with PKS using Terraform, do the following:

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Using Terraform](../om/gcp/prepare-env-terraform.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Using Terraform](../om/gcp/config-terraform.html).

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure PKS. See [Installing PKS on GCP](https://docs.pivotal.io/pks/installing-pks-gcp.html).