---
title: Installing Pivotal Cloud Foundry on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes how to install Pivotal Cloud Foundry (PCF) on Google Cloud Platform (GCP).

## <a id="prereqs"></a> Prerequisites ##

The following sections describe general requirements for running PCF and specific requirements for running PCF on GCP.

### <a id="general"></a>General Requirements ##

<%= partial 'requirements' %>

### <a id="gcp"></a>GCP Requirements ##

You must have the following to install PCF on GCP:

* A GCP project with sufficient quota to deploy all the VMs needed for a PCF installation. You can request a quota increase on the [GCP Quotas page](https://console.cloud.google.com/compute/quotas).
* <a name="#env_account"></a>A GCP account with adequate permissions to create resources within the selected GCP project. Per the [Least Privileged User principle](./iaas-user-roles.html), the permissions required to set up a GCP environment for PCF include:
   * Permissions to create firewalls, networks, load balancers, and other resources:
     * **Compute Engine** > **Compute Instances Admin (beta)**
     * **Compute Engine** > **Compute Network Admin**
     * **Compute Engine** > **Compute Security Admin**
   * If using Google Cloud Storage (GCS) for Cloud Controller filestorage, permissions to create buckets:
     * **Storage** > **Storage Admin**
   * If you are using Cloud DNS, permissions to add and modify DNS entries:
     * **Project** > **Editor**

  <p class="note"><strong>Note</strong>: When you deploy PCF, the deployment processes run under a [separate service account](./gcp-prepare-env.html#iam_account) with the minimum permissions required to install Ops Manager and ERT. 

* The [Google Cloud SDK](https://cloud.google.com/sdk/) installed on your machine and authenticated to your GCP account.
* Sufficiently high instance limits, or no instance limits, on your GCP account. Installing PCF requires at least 10 concurrent instances for testing or development deployments and typically at least 30 for production deployments. The exact number of instances depends on the number of tiles and availability zones you plan to deploy. A minimal single-AZ GCP deployment requires the following 20 `custom` VMs:
<table border='1' class='nice'>
<tr><th>VM Count</th><th>Machine type</th><th>Memory (in GB)</th> </tr>
<tr><td>11</td><td>1vCPU</td><td>1.00</td></tr>
<tr><td>1</td><td>1vCPU</td><td>6.00</td></tr>
<tr><td>2</td><td>1vCPU</td><td>2.00</td></tr>
<tr><td>2</td><td>2vCPU</td><td>4.00</td></tr>
<tr><td>1</td><td>2vCPU</td><td>8.00</td></tr>
<tr><td>3</td><td>4vCPU</td><td>16.00</td></tr>
</table>

* Administrative rights to a domain for your PCF installation. You need to be able to add wildcard records to this domain. You specify this registered domain when configuring the SSL certificate and Cloud Controller for your deployment. For more information see the [Providing a Certificate for your SSL Termination Point](../opsguide/security_config.html) topic. </td>
* An SSL certificate for your PCF domain. This can be a self-signed certificate, which Ops Manager can generate for you, but Pivotal recommends using a self-signed certificate for development and testing purposes only. If you plan to deploy PCF into a production environment, you must obtain a certificate from your Certificate Authority. 

## <a id="install_pcf"></a> Install PCF on GCP ##

Complete the following procedures to install PCF on GCP:

1. <a class="subnav" href="./gcp-prepare-env.html">Preparing to Deploy PCF on GCP</a>

1. <a class="subnav" href="./gcp-om-deploy.html">Launching an Ops Manager Director Instance on GCP</a>

1. <a class="subnav" href="./gcp-om-config.html">Configuring Ops Manager Director on GCP</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

    <p class="note"><b>Note</b>: At time of publication, support for the PCF IPsec Add-On on GCP is experimental.</p>

1. <a class="subnav" href="./gcp-er-config.html">Deploying Elastic Runtime on GCP</a>

## <a id="delete_pcf"></a> Delete PCF on GCP ##

You can use the GCP console to remove an installation of all components, but retain the objects in your bucket for a future deployment: 

* <a class="subnav" href="./deleting-gcp-install.html">Deleting a GCP Installation from the Console</a>

## <a id="troubleshooting"></a> Troubleshoot PCF on GCP ##

The troubleshooting document for PCF on GCP infrastructure.

* <a class="subnav" href="./gcp-troubleshooting.html">Troubleshooting PCF on GCP</a>

