---
title: Installing Pivotal Cloud Foundry on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Google Cloud Platform (GCP). 

It includes resource requirements, prerequisites, instructions for installing PCF on GCP for both the Pivotal Application Service (PAS) and Pivotal Container Services (PKS) runtimes, and additional resources. 

## <a id="overview"></a> Overview

You can install PCF on GCP with the PAS or PKS runtimes. To install PCF on GCP, ensure you meet the requirements and complete the prerequisites described in this topic.  

## <a id="requirements"></a> Requirements

This section lists the following resource requirements for installing PCF on GCP:

* General PCF resource requirements. See [General PCF Resource Requirements](#general-resource).
* GCP-specific resource requirements. See [GCP-Specific Resource Requirements](#gcp-requirements).

### <a id="general-resource"></a> General PCF Resource Requirements

This section lists PCF resource requirements for installing PCF on GCP. It includes general PCF resource requirements for both the PAS and PKS runtimes.

View one of the following, depending on your PCF runtime:

* PAS-specific PCF resource requirements. See [PAS Resource Requirements](#pas).
* PKS-specific PCF resource requirements. See [PKS Resource Requirements](#pks).

#### <a id="pas"></a> PAS Resource Requirements

<%= partial 'requirements' %>

#### <a id="pks"></a> PKS Resource Requirements

For PKS-specific resource requirements, see [GCP Prerequisites and Resource Requirements](https://docs.pivotal.io/runtimes/pks/1-3/gcp-requirements.html).

### <a id="gcp-requirements"></a> GCP-Specific Resource Requirements

The following are GCP resource requirements for installing PCF on GCP:

* Your GCP project must have sufficient quota to deploy all the VMs needed for a PCF installation. For a list of suggested quotas, see [Recommended GCP Quotas](./gcp-quotas.html). You can request a quota increase on the [GCP Quotas page](https://console.cloud.google.com/iam-admin/quotas).

* Your GCP account must have sufficient VM instance limits or no instance limits. The number of VMs required depends on the number of tiles and availability zones you plan to deploy. The following VM guidelines apply to the PAS and Small Footprint PAS runtimes:
  - **PAS**: At a minimum, a new GCP deployment requires the following `custom` VMs for PAS:
<table border='1' class='nice'>
  <tr>
    <th rowspan=6>PAS and Ops Manager</th>
    <th>VM Count</th>
    <th>vCPU Count per VM</th>
    <th>RAM (GB)</th>
  </tr><tr>
    <td>30</td>
    <td>1</td>
    <td>1</td>
  </tr><tr>
    <td>3</td>
    <td>1</td>
    <td>2</td>
  </tr><tr>
    <td>4</td>
    <td>2</td>
    <td>4</td>
  </tr><tr>
    <td>3</td>
    <td>2</td>
    <td>8</td>
  </tr><tr>
    <td>3</td>
    <td>4</td>
    <td>16</td>
  </tr>
</table>
<p class="note">If you are deploying a test or sandbox PCF that does not require high availability, then you can scale down the number of VM instances in your deployment. For more information, see <a href="../opsguide/scaling-ert-components.html"></a>.</p>

  - **Small Footprint PAS**: To run Small Footprint PAS, a new GCP deployment requires:
<table id='small-footprint' border="1" class="nice">
  <tr>
    <th></th>
    <th>VM Type</th>
    <th>VM Count</th>
    <th>vCPU Count per VM</th>
    <th>RAM (GB)</th>
    <th>Notes</th>
  </tr><tr>
    <th rowspan=6>Small Footprint PAS</th>
    <td>micro</td>
    <td>12</td>
    <td>1</td>
    <td>1</td>
    <td>Add 1 to VM count if using HAProxy</td>
  </tr><tr>
    <td>small</td>
    <td>3</td>
    <td>1</td>
    <td>2</td>
    <td></td>
  </tr><tr>
    <td>xlarge.disk</td>
    <td>1</td>
    <td>4</td>
    <td>16</td>
    <td></td>
  </tr><tr>
    <td>xlarge</td>
    <td>1</td>
    <td>4</td>
    <td>16</td>
    <td></td>
  </tr><tr>
    <td>medium.mem</td>
    <td>1</td>
    <td>1</td>
    <td>6</td>
    <td></td>
  </tr><tr>
    <td>large.disk</td>
    <td>1</td>
    <td>2</td>
    <td>8</td>
    <td></td>
  </tr><tr>
    <th rowspan=2>Ops Manager</th>
    <td>large.disk</td>
    <td>1</td>
    <td>2</td>
    <td>8</td>
    <td></td>
  </tr><tr>
    <td>large.cpu</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td></td>
  </tr>
</table>

* <a name="#env_account"></a> Your GCP account must have permissions to create resources within the selected GCP project. For recommendations on how to create and scope GCP accounts for PCF, see [IaaS Permissions Guidelines](./iaas-user-roles.html). The permissions required to set up a GCP environment for PCF include:
   * Permissions to create firewalls, networks, load balancers, and other resources:
     * **Compute Engine** > **Compute Instances Admin (beta)**
     * **Compute Engine** > **Compute Network Admin**
     * **Compute Engine** > **Compute Security Admin**
   * If using Google Cloud Storage (GCS) for Cloud Controller file storage, permissions to create buckets:
     * **Storage** > **Storage Admin**
   * If you are using Cloud DNS, permissions to add and modify DNS entries:
     * **Project** > **Editor**
  <p class="note"><strong>Note:</strong> When you deploy PCF, the deployment processes run under a <a href="../om/gcp/prepare-env-manual.html#iam_account">separate service account</a> with the minimum permissions required to install Ops Manager and Pivotal Application Service (PAS).</p>

* Administrative rights to a domain for your PCF installation. You need to be able to add wildcard records to this domain. You specify this registered domain when configuring the SSL certificate and Cloud Controller for your deployment. For more information see the [Providing a Certificate for your SSL Termination Point](../opsguide/security_config.html) topic.

## <a id="prerequisites"></a> Prerequisites

To install PCF on GCP, you must do the following:

* Install the [Google Cloud SDK](https://cloud.google.com/sdk/) on your machine and authenticate it to your GCP account.

* Create an SSL certificate for your PCF domain.

  <p class="note"><b>Note: </b>This can be a self-signed certificate generated by Ops Manager, but Pivotal recommends using a self-signed certificate for development and testing purposes only. To deploy PCF to a production environment, you must obtain a certificate from a certificate authority.</p>

## <a id="install_pcf"></a> Install PCF on GCP

This section explains how to install PCF on GCP manually and using Terraform. You can install PCF on GCP with the PAS or PKS runtimes. 

### <a id="manual"></a> Install PCF on GCP Manually

This section explains how to install PCF on GCP manually.

#### <a id="manual-pas"></a> Install Manually With PAS

To install PCF on GCP manually with the PAS runtime, do the following:

1. Prepare to deploy Ops Manager. See [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html).

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Manually](../om/gcp/deploy-manual.html)

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Manually](../om/gcp/config-manual.html)

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html)

1. Configure PAS. See [Configuring PAS](./configure-pas.html)

#### <a id="manual-pks"></a> Install Manually on PKS

To install PCF on GCP manually with the PKS runtime, do the following:

1. Prepare to deploy Ops Manager. See [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html).

1. Deploy Ops Manager. See [Deploying Ops Manager on GCP Manually](../om/gcp/deploy-manual.html)

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Manually](../om/gcp/config-manual.html)

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html)

1. Configure PKS. See [Installing PKS on GCP](https://docs.pivotal.io/runtimes/pks/installing-pks-gcp.html).

### <a id="Terraform"></a> Install PCF on GCP Using Terraform

#### <a id="terraform-pas"></a> Install with Terraform on PAS

Complete the following procedures to install PCF on GCP:

1. [Deploying Ops Manager on GCP Using Terraform](../om/gcp/prepare-env-terraform.html)

1. [Configuring BOSH Director on GCP Using Terraform](../om/gcp/config-terraform.html)

1. [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html)

1. [(Optional) Installing the PCF IPsec Add-On](http://docs.pivotal.io/addon-ipsec/installing.html)

1. [Configuring PAS](./configure-pas.html)

#### <a id="terraform-pas"></a> Install with Terraform on PKS

## Additional Resources

The following are additional resources related to installing PCF on GCP:

- For general authentication guidelines for GCP, see [GCP authentication documentation](https://cloud.google.com/docs/authentication).
- For more information about troubleshooting the PCF on GCP infrastructure, see [Troubleshooting PCF on GCP](./gcp-troubleshooting.html).
- For production-level deployment options for PCF on GCP, see [Reference Architecture for Pivotal Cloud Foundry on GCP](../refarch/gcp/gcp_ref_arch.html).
- For general certificate requirements for deploying PCF, see [Certificate Requirements](../adminguide/securing-traffic.html#certtypes).