---
title: Installing Pivotal Cloud Foundry on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Google Cloud Platform (GCP).

## <a id="prereqs"></a> Prerequisites ##

You must have the following to install PCF on GCP:

* A GCP account and project with sufficient quota to deploy all the VMs needed for a PCF installation. <--need exact quota figures CPU + RAM. You can request a quota increase on the [GCP Quotas page](https://console.cloud.google.com/compute/quotas).
* The appropriate region and zones selected within your GCP project. For help selecting the correct region for your deployment, see the [Google documentation on regions and zones](https://cloud.google.com/compute/docs/regions-zones/regions-zones). 
* The [Google Cloud SDK](https://cloud.google.com/sdk/) installed on your machine and authenticated to your GCP account.
* Sufficiently high instance limits (or no instance limits) on your GCP account. Installing PCF requires more than the default 20 concurrent instances. <-- is there a limit in GCP?
* A registered wildcard domain for your PCF installation. You need this registered domain when configuring your SSL certificate and Cloud Controller. For more information see the *link to cert docs*.
* An SSL certificate for your PCF domain. This can be a self-signed certificate, but Pivotal recommends using a self-signed certificate for testing and development. You should obtain a certificate from your Certificate Authority for use in production. 

## <a id="install_pcf"></a> Install PCF on GCP ##

Complete the following procedures to install PCF on GCP:

1. <a class="subnav" href="./gcp-om-deploy.html">Launching an Ops Manager Director Instance on GCP</a>

1. <a class="subnav" href="./gcp-om-config.html">Configuring Ops Manager Director on GCP</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a> <--supported in GCP?

1. <a class="subnav" href="./gcp-er-config.html">Deploying Elastic Runtime on GCP</a>

## <a id="delete_pcf"></a> Delete PCF on GCP ##

You can use the GCP console to remove an installation of all components, but retain the objects in your bucket for a future deployment: <--- mysterious! how does one reuse these saved items?

* <a class="subnav" href="./deleting-gcp-install.html">Deleting a GCP Installation from the Console</a>

## <a id="additional_config"></a> Additional GCP Configuration ##

See the following topics for additional GCP configuration information: <-- placeholder


