---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Using Operations Manager
---

Operations Manager is a web application that you use to deploy and manage a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) PaaS.
This is a guide to deploying and using Ops Manager.

## Before You Deploy

* [Prerequisites to Deploying Operations Manager and Elastic Runtime](./requirements.html)
* [Preparing Your Firewall for Deploying Pivotal Cloud Foundry&reg;](./config_firewall.html)
* [Using Your Own Load Balancer](./custom-load-balancer.html)
* [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html)
* [Understanding Availability Zones in VMware Installations](./understand-az.html)
* [Configuring Network Isolation Options in Ops Manager](./network-segmentation.html)
* [Configuring Diego SSH Access](./config-ssh.html)

## Deploying Operations Manager

* [Deploying Operations Manager to vSphere](./deploying-vm.html)
* [Provisioning a Virtual Disk in vSphere](./disk-format.html)
* [Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air](./vsphere.html)
* [Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html)
* [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html)
* [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
* [Installing Pivotal Cloud Foundry&reg; on AWS](./cloudform.html)
* [Deploying the CloudFormation Template for Pivotal Cloud Foundry&reg; on AWS](./cloudform-template.html)
* [Launching an Ops Manager Director Instance on AWS](./cloudform-om-deploy.html)
* [Using the Cisco Nexus 1000v Switch with Ops Manager](./nexus-switch.html)
* [Migrating Apps to Diego](./apps-enable-diego.html)

## Operations Manager API

Use the Ops Manager API to automate any Ops Manager task. To view the Ops
Manager API documentation, browse to `https://YOUR-OPS-MANAGER-IP-ADDRESS/docs`.

<p class="note"><strong>Warning</strong>: The Ops Manager API is an experimental feature that is not fully implemented and could change without notice. Pivotal is developing an officially supported Ops Manager API that will replace many of these endpoints in a subsequent release.</p>

* [Identifying the API Endpoint for your Elastic Runtime Instance](./api-endpoint.html)

## Using Operations Manager and Installed Products

* [Understanding the Ops Manager Interface](./pcf-interface.html)
* [Adding and Deleting Products](./add-delete.html)
* [Configuring Ops Manager Director for AWS](./cloudform-om-config.html)
* [Configuring Amazon EBS Encryption](./cloudform-om-ebs-config.html)
* [Configuring Ops Manager Director for VMware vSphere](./vsphere-config.html)
* [Configuring Ops Manager Director for vCloud Air and vCloud](./vchs-vcloud-config.html)
* [Configuring Ops Manager Director for OpenStack](./openstack-om-config.html)
* [Deploying Elastic Runtime on AWS](./cloudform-er-config.html)
* [Configuring Elastic Runtime for vSphere and vCloud](./config-er-vmware.html)
* [Installing Elastic Runtime after Deploying Pivotal Cloud Foundry&reg; on OpenStack](./openstack-er-config.html)
* [Starting and Stopping Pivotal Cloud Foundry&reg; Virtual Machines](./start-stop-vms.html)
* [Creating New Elastic Runtime User Accounts](./creating-account.html)
* [Logging into the Apps Manager](./console-login.html)
* [Controlling Apps Manager User Activity with Environment Variables](../../pivotalcf/console/console-env-variables.html)
* [Configuring Your App Autoscaling Instance](./autoscale-configuration.html)
* [Managing Scheduled Scaling in the App Autoscaling Service](./scheduled-scaling.html)
* [Adding Existing LDAP Users to a Pivotal Cloud Foundry&reg; Deployment](./ldap-user-management.html)
* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)

## Backing Up and Upgrading

* [Backing Up Pivotal Cloud Foundry&reg;](./backup-restore/backup-pcf.html)
* [Restoring Pivotal Cloud Foundry&reg; from Backup](./backup-restore/restore-pcf.html)
* [Upgrading Operations Manager](./upgrading-pcf.html)
* [Creating a Proxy ELB for Diego SSH without CloudFormation](./cloudform_elb_ssh_proxy.html)
* [Upgrading Elastic Runtime and Other Pivotal Cloud Foundry&reg; Products](./upgrading-products.html)


## Monitoring, Logging, and Troubleshooting

* [Monitoring Virtual Machines in Pivotal Cloud Foundry&reg;](./monitoring.html)
* [Deploying Pivotal Ops Metrics](./deploy-metrics.html)
* [Using SSL with a Self-Signed Certificate in Pivotal Ops Metrics](./self-signed-ssl.html)
* [Using Pivotal Ops Metrics](./use-metrics.html)
* [Pivotal Cloud Foundry&reg; Troubleshooting Guide](./troubleshooting.html)
* [Troubleshooting Ops Manager for VMware vSphere](./troubleshooting-vsphere.html)
* [Recovering MySQL from Elastic Runtime Downtime](./mysql_bootstrap_ert.html)
* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)
* [Pivotal Cloud Foundry&reg; Security Overview and Policy](./pcf-security.html)
