---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Using Ops Manager
owner: Ops Manager
---

Ops Manager is a web application that you use to deploy and manage a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) PaaS.
This is a guide to deploying and using Ops Manager.


## <a id='browser-support'></a> Browser Support

Ops Manager is compatible with current and recent versions of all major browsers. Pivotal recommends using the current version of Chrome, Firefox, or Safari for the best Ops Manager experience.


## <a id='ops-man-api'></a> Ops Manager API

Use the Ops Manager API to automate any Ops Manager task. 

See the [Using Ops Manager API](./ops-man-api.html) topic to learn how to get started using the Ops Manager API. To view the Ops Manager API documentation, browse to `https://YOUR-OPS-MANAGER-FQDN/docs`.


## <a id='ops-man-products'></a> Using Ops Manager and Installed Products

* [Understanding the Ops Manager Interface](./pcf-interface.html)

* [Adding and Deleting Products](./add-delete.html)

* [Applying Changes to Ops Manager Director](./deploy-ops-man-director.html)

* [Retrieving Credentials from Your Deployment](./credentials.html)

* [Understanding Floating Stemcells](./understanding-stemcells.html)

* [Configuring Ops Manager Director on vSphere](./vsphere-config.html)

<<<<<<< HEAD
* <a href="./understanding-stemcells.html" class="subnav">Understanding Floating Stemcells</a>
=======
* [vSphere Service Account Requirements](./vsphere-service-account.html)

* [Creating UAA Clients for BOSH Director](./opsmanager-create-bosh-client.html)
>>>>>>> 65a3f5e6... Corrected link topic titles [#158803168]

* [Configuring Ops Manager Director on OpenStack](./openstack-om-config.html)

* [Deploying Elastic Runtime on vSphere](./config-er-vmware.html)

* [Deploying Elastic Runtime on OpenStack](./openstack-er-config.html)

* [Using Your Own Load Balancer](./custom-load-balancer.html)

* [Understanding Pivotal Cloud Foundry User Types](./user-types.html)

* [Creating and Managing Ops Manager User Accounts](./opsman-users.html)

* [Creating New Elastic Runtime User Accounts](../opsguide/creating-account.html)

* [Logging In to Apps Manager](./console-login.html)

* [Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry Deployment](../opsguide/external-user-management.html)

* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)

* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)

* [Modifying Your Ops Manager Installation and Product Template Files](./modify-ops-man.html)

* [Managing Errands in Ops Manager](./managing_errands.html)


## <a id='backing-up'></a> Backing Up

* [Backing Up and Restoring Pivotal Cloud Foundry](./backup-restore/index.html)


## <a id='monitoring-logging-troubleshooting'></a> Monitoring, Logging, and Troubleshooting

* [Monitoring Virtual Machines in Pivotal Cloud Foundry](./monitoring.html)

* [Pivotal Cloud Foundry Troubleshooting Guide](./troubleshooting.html)

* [Troubleshooting Ops Manager for vSphere](./troubleshooting-vsphere.html)

* [Recovering MySQL from Elastic Runtime Downtime](./mysql_bootstrap_ert.html)

* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)