---
breadcrumb: Pivotal CF Documentation
title: Using Operations Manager
---

Operations Manager is a web application that you use to deploy and manage a Pivotal CF PaaS.
This is a guide to deploying and using Ops Manager.

## Before You Deploy

* [Prerequisites to Deploying Operations Manager and Elastic Runtime](./requirements.html)
* [Preparing Your Firewall for Deploying Pivotal CF](./config_firewall.html)
* [Using Your Own Load Balancer](./custom-load-balancer.html)
* [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html)
* [Connecting Elastic Runtime to LDAP](./ldap-uaa.html)
* [Configuring Network Segmentation in Ops Manager](./network-segmentation.html)

## Deploying Operations Manager

* [Deploying Operations Manager to vSphere](./deploying-vm.html)
* [Provisioning a Virtual Disk in vSphere](./disk-format.html)
* [Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html)

## Operations Manager API

Use the Ops Manager API to automate any Ops Manager task. To view the Ops
Manager API documentation, browse to `https://Your_Ops_Manager_IP_Address/docs`.

<p class="note"><strong>Warning</strong>: The Ops Manager API is an experimental feature that is not fully implemented and could change without notice. Pivotal is developing an officially supported Ops Manager API that will replace many of these endpoints in a subsequent release.</p>

* [Identifying the API Endpoint for your Elastic Runtime Instance](./api-endpoint.html)

## Using Operations Manager and Installed Products

* [Understanding the Ops Manager Interface](./pcf-interface.html)
* [Adding and Deleting Products](./add-delete.html)
* [Configuring Ops Manager Director for VMware vSphere](./vsphere-config.html)
* [Configuring Ops Manager Director for vCloud Air and vCloud](./vchs-vcloud-config.html)
* [Creating New Elastic Runtime User Accounts](./creating-account.html)
* [Logging into the Apps Manager](./console-login.html)
* [Controlling Apps Manager User Activity with Environment Variables](../../pivotalcf/console/console-env-variables.html)

## Backing Up and Upgrading

* [Backing Up Pivotal CF](./backup-settings.html)
* [Upgrading Operations Manager](./upgrading-pcf.html)
* [Upgrading Products in a Pivotal CF Deployment](./upgrading-products.html)

## Monitoring, Logging, and Troubleshooting

* [Monitoring VMs in Pivotal CF](./monitoring.html)
* [Deploying Pivotal Ops Metrics](./deploy-metrics.html)
* [Using SSL with a Self-Signed Certificate in Pivotal Ops Metrics](./self-signed-ssl.html)
* [Using Pivotal Ops Metrics](./use-metrics.html)
* [Pivotal CF Troubleshooting Guide](./troubleshooting.html)
* [Troubleshooting Ops Manager for VMware vSphere](./troubleshooting-vsphere.html)
* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)
* [Pivotal CF Security Overview and Policy](pcf-security.html)
