---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installation Overview
owner: PCF Documentation
---

This topic provides an overview of how to install and configure Pivotal Cloud Foundry (PCF).


## <a id='sequence'></a> PCF Installation Sequence

PCF is a suite of products that runs on multiple IaaSes. Planning and installing PCF means building layers from the bottom up, starting with the details of your IaaS and ending with "Day 2" configurations that you perform on a installed and running PCF deployment.

Here's the typical PCF planning and installation process:

1. **Plan**
  - Review the Requirements for your IaaS ([AWS](./aws.html), [Azure](./azure.html), [GCP](./gcp.html), [OpenStack](./openstack.html), [vSphere](./vsphere.html)).
  - Refer to the Reference Architecture for your IaaS.
  - Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your Pivotal contact.

1. **Deploy BOSH and Ops Manager**
  - [BOSH](https://bosh.io) is an open-source tool that lets you run software systems in the cloud.
      - BOSH and its IaaS-specific Cloud Provider Interfaces (CPIs) are what enable PCF to run on multiple IaaSes.
      - See [Deploying with BOSH](#bosh) for a description of how BOSH deploys cloud software.
   - [Ops Manager](./ops-man.html) is a graphical dashboard that deploys with BOSH. Ops Manager works with the BOSH Director to manage, configure, and upgrade PCF products such as Pivotal Application Service (PAS), Pivotal Container Service, and PCF services and partner products.
      - Ops Manager represents PCF products as _tiles_ with multiple configuration panes that let you input or select configuration values needed for the product.
      - Ops Manager generates BOSH manifests containing the user-supplied configuration values, and sends them to the Director.
      - After you install Ops Manager and BOSH, you use Ops Manager to deploy almost all PCF products.
  - Deploying Ops Manager deploys both BOSH and Ops Manager with a single procedure.
      - On AWS, you can deploy Ops Manager manually, or automatically with a Terraform template.
      - On Azure, you can deploy Ops Manager manually, or automatically with a Terraform template. On Azure Government Cloud and Azure Germany, you can only deploy Ops Manager manually.

1. **Deploy BOSH Add-ons** (Optional)
  - BOSH add-ons include the [IPsec](https://docs.pivotal.io/addon-ipsec/index.html), [ClamAV](https://docs.pivotal.io/addon-antivirus/index.html), and [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html), which enhance PCF platform security and security logging.
  - You deploy these add-ons via BOSH rather than installing them with Ops Manager tiles.

1. **Install Runtimes**
  - [PAS](./pas.html) (Pivotal Application Service) lets developers develop and manage cloud-native apps and software services.
      - PAS is based on the Cloud Foundry Foundation's open-source Application Runtime (formerly Elastic Runtime) project.
  - [PKS](https://docs.pivotal.io/pks/index.html) (Pivotal Container Service) uses BOSH to run and manage Kubernetes container clusters.
      - PKS is based on the Cloud Foundry Foundation's open-source Container Runtime (formerly Kubo) project.
  - [PCF Isolation Segment](./installing-pcf-is.html) lets a single PAS deployment run apps from separate, isolated pools of computing, routing, and logging resources.
      - Operators replicate and configure an Isolation Segment tile for each new resource pool they want to create.
     - You must install PAS before you can install Isolation Segment.
  - [PAS for Windows](../windows/index.html) enables PAS to manage Windows Server 2016 (1709) cells hosting .NET apps, and can also be replicated to create multiple isolated resource pools.
      - Operators replicate and configure a PAS for Windows tile for each new resource pool they want to create.
      - You must install PAS before you can install PAS for Windows.
  - [Small Footprint PAS](./small-footprint.html) is an alternative to PAS that uses far fewer VMs than PAS but has limitations.

1. **Day 2 Configurations**
  - Day 2 configurations set up internal operations and external integrations on a running PCF platform.
      - Examples include front-end configuration, user accounts, logging and monitoring, internal security, and container and stemcell images.

1. **Install Services**
  - Install software services for PCF developers to use in their apps.
      - Services include the databases, caches, and message brokers that stateless cloud apps rely on to save information.
      - Installing and managing software services on PCF is an ongoing process, and is covered in the [PCF Operator Guide](../opsguide/index.html).


## <a id='bosh'></a> Deploying with BOSH

The following describes how you can use BOSH to run software in the cloud:

1. To use BOSH, you create a _manifest_ `.yml` file that specifies your software system's component processes, the VMs they run on, how they communicate, and anything else they need.

1. The BOSH command-line interface (CLI) or API sends the manifest to the _Director_, BOSH's executive process.

1. The Director provisions what it needs from the IaaS, _deploys_ your software to run in the cloud, and heals automatically when VMs go down.

1. BOSH CLI and API commands let you control BOSH-managed processes and allocate or release IaaS resources.

* [Configuring BOSH Director on OpenStack](../om/openstack/config.html)
* [Deploying PAS on vSphere](./config-er-vmware.html)
* [Deploying PAS on OpenStack](./openstack-er-config.html)
* [Using Your Own Load Balancer](./custom-load-balancer.html)
* [Pivotal Cloud Foundry User Types](./user-types.html)
* [Creating and Managing Ops Manager User and Client Accounts](./opsman-users.html)
* [Creating New PAS User Accounts](./creating-account.html)
* [Logging In to Apps Manager](./console-login.html)
* [Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry Deployment](./external-user-management.html)
* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)
* [Modifying Your Ops Manager Installation and Product Template Files](./modify-ops-man.html)
* [Managing Errands in Ops Manager](./managing_errands.html)


## <a id='backing-up'></a> Backing Up

* [Backing Up and Restoring Pivotal Cloud Foundry](./backup-restore/index.html)


## <a id='monitoring-logging-troubleshooting'></a> Monitoring, Logging, and Troubleshooting

* [Monitoring Virtual Machines in Pivotal Cloud Foundry](./monitoring.html)
* [Diagnosing Problems in PCF](./diagnostics.html)
* [Troubleshooting Problems in PCF](./troubleshooting.html)
* [Troubleshooting Ops Manager for vSphere](./troubleshooting-vsphere.html)
* [Recovering MySQL from PAS Downtime](../mysql/bootstrap-mysql.html)
* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)
