---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Using Operations Manager
owner: Ops Manager
---

Operations Manager is a web application that you use to deploy and manage a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) PaaS.
This is a guide to deploying and using Ops Manager.

## Before You Deploy

* <a href="./requirements.html" class="subnav" >Prerequisites to Deploying Operations Manager and Elastic Runtime</a>

* <a href="./config_firewall.html" class="subnav">Preparing Your Firewall for Deploying Pivotal Cloud Foundry&reg;</a>

* <a href="./custom-load-balancer.html" class="subnav">Using Your Own Load Balancer</a>

* <a href="./resurrector.html">Using Ops Manager Resurrector on VMware vSphere</a>

* <a href="./understand-az.html" class="subnav">Understanding Availability Zones in VMware Installations</a>

* <a href="./config-ssh.html" class="subnav">Configuring Diego SSH Access</a>

## Deploying Operations Manager

* <a href="./deploying-vm.html">Deploying Operations Manager to vSphere</a>

* <a href="./disk-format.html">Provisioning a Virtual Disk in vSphere</a>

* <a href="./vsphere.html">Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air</a>

* <a href="./pcf-vchs-vcloud.html">Deploying Operations Manager to vCloud Air and vCloud</a>

* <a href="./openstack.html">Installing Pivotal Cloud Foundry&reg; on OpenStack</a>

* <a href="./openstack-setup.html">Provisioning the OpenStack Infrastructure</a>

* <a href="./cloudform.html">Installing Pivotal Cloud Foundry&reg; on AWS</a>

* <a href="./cloudform-template.html">Deploying the CloudFormation Template for Pivotal Cloud Foundry&reg; on AWS</a>

* <a href="./cloudform-om-deploy.html">Launching an Ops Manager Director Instance on AWS</a>

* <a href="./nexus-switch.html" class="subnav">Using the Cisco Nexus 1000v Switch with Ops Manager</a>

* <a href="./apps-enable-diego.html" class="subnav">Migrating Apps to Diego</a>

## Operations Manager API

Use the Ops Manager API to automate any Ops Manager task. To view the Ops
Manager API documentation, browse to `https://YOUR-OPS-MANAGER-IP-ADDRESS/docs`.

<p class="note"><strong>Warning</strong>: The Ops Manager API is not officially supported and could change without notice.</p>

* <a href="./api-endpoint.html" class="subnav">Identifying the API Endpoint for your Elastic Runtime Instance</a>

## Using Operations Manager and Installed Products

* <a href="./pcf-interface.html" class="subnav">Understanding the Ops Manager Interface</a>

* <a href="./add-delete.html" class="subnav">Adding and Deleting Products</a>

* <a href="./cloudform-om-config.html">Configuring Ops Manager Director for AWS</a>

* <a href="./cloudform-om-ebs-config.html">Configuring Amazon EBS Encryption</a>

* <a href="./vsphere-config.html">Configuring Ops Manager Director for VMware vSphere</a>

* <a href="./vchs-vcloud-config.html">Configuring Ops Manager Director for vCloud Air and vCloud</a>

* <a href="./openstack-om-config.html">Configuring Ops Manager Director for OpenStack</a>

* <a href="./cloudform-er-config.html">Deploying Elastic Runtime on AWS</a>

* <a href="./config-er-vmware.html">Configuring Elastic Runtime for vSphere and vCloud</a>

* <a href="./openstack-er-config.html">Installing Elastic Runtime after Deploying Pivotal Cloud Foundry&reg; on OpenStack</a>

* <a href="./start-stop-vms.html" class="subnav">Starting and Stopping Pivotal Cloud Foundry&reg; Virtual Machines</a>

* <a href="./opsman-users.html" class="subnav">Creating and Managing Ops Manager User Accounts</a>

* <a href="./creating-account.html" class="subnav">Creating New Elastic Runtime User Accounts</a>

* <a href="./console-login.html" class="subnav">Logging into the Apps Manager</a>

* <a href="./console-env-variables.html" class="subnav">Controlling Apps Manager User Activity with Environment Variables</a>

* <a href="./autoscale-configuration.html" class="subnav">Configuring Your App Autoscaling Instance</a>

* <a href="./scheduled-scaling.html" class="subnav">Managing Scheduled Scaling in the App Autoscaling Service</a>

* <a href="./external-user-management.html" class="subnav">Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry&reg; Deployment</a>

* <a href="./deleting-aws-install.html">Deleting an AWS Installation from the Console</a>

## Backing Up and Upgrading

* <a href="./backup-restore/backup-pcf.html" class="subnav">Backing Up Pivotal Cloud Foundry&reg;</a>

* <a href="./backup-restore/restore-pcf.html" class="subnav">Restoring Pivotal Cloud Foundry&reg; from Backup</a>

* <a href="./upgrading-pcf.html" class="subnav">Upgrading Operations Manager</a>

* <a href="./cloudform_elb_ssh_proxy.html">Creating a Proxy ELB for Diego SSH without CloudFormation</a>

* <a href="./upgrading-products.html" class="subnav">Upgrading Elastic Runtime and Other Pivotal Cloud Foundry&reg; Products</a>

## Monitoring, Logging, and Troubleshooting

* <a href="./monitoring.html" class="subnav">Monitoring Virtual Machines in Pivotal Cloud Foundry&reg;</a>

* <a href="./deploy-metrics.html" class="subnav">Deploying JMX Bridge</a>

* <a href="./self-signed-ssl.html" class="subnav">Using SSL with a Self-Signed Certificate in JMX Bridge</a>

* <a href="./use-metrics.html" class="subnav">Using JMX Bridge</a>

* <a href="./troubleshooting-uninstall-metrics.html" class="subnav">Troubleshooting and Uninstalling JMX Bridge</a>

* <a href="./troubleshooting.html" class="subnav">Pivotal Cloud Foundry&reg; Troubleshooting Guide</a>

* <a href="./troubleshooting-vsphere.html" class="subnav">Troubleshooting Ops Manager for VMware vSphere</a>

* <a href="./mysql_bootstrap_ert.html" class="subnav">Recovering MySQL from Elastic Runtime Downtime</a>

* <a href="./trouble-advanced.html" class="subnav">Advanced Troubleshooting with the BOSH CLI</a>

* <a href="./pcf-security.html" class="subnav">Pivotal Cloud Foundry&reg; Security Overview and Policy</a>
