---
title: Ops Manager Fields That Lock On Deploy
owner: OpsManager
---

This topic describes how locked fields work in Pivotal Operations Manager, and lists the unlockable and permanently locked fields in installation tiles.


## <a id="overview"></a> Overview

Some fields in Ops Manager lock during deployment. After deployment, you can no longer configure a locked field through the Ops Manager UI or API endpoints. Product tile authors configure fields as locked to prevent irrevocable VM malfunction, deployment corruption, and data loss. Most users do not need to edit locked fields after initial deployment.

Because deployment requirements may evolve in unanticipated ways over time, some locked fields are _unlockable_, which means that an advanced <%= vars.product_name %> operator can unlock them to allow reconfiguration. Other fields are _permanently locked_, and their values cannot be changed. Unlocking the unlockable fields requires you to use Ops Manager's Advanced Mode. For more information about Advanced Mode, see [Unlockable Fields](#unlock).

In summary, there are three types of configurable fields in Ops Manager:

* **Standard fields**, which can be reconfigured after deployment as many times as you need.
* **Unlockable fields**, which lock on deployment but can be unlocked and configured with Advanced Mode.
* **Permanently locked fields**, which lock on deployment and cannot be unlocked.

<p class="note warning"><strong>Warning:</strong> Pivotal recommends that only skilled operators use Ops Manager's Advanced Mode. If you use Advanced Mode incorrectly, you could disable or destroy your deployment.</p>


## <a id='unlock'></a> Unlockable Fields

This section describes the fields that lock during deployment and can be unlocked and configured after deployment. To unlock these fields, you must use Ops Manager's Advanced Mode. For more information, see [How to Enable Advanced Mode in the Ops Manager](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager) in the Pivotal Knowledge Base. 

After you have enabled Advanced Mode, you can use the API or Ops Manager UI to reconfigure some fields that were locked previously. Those fields are listed in the sections below. 

<p class="note warning"><strong>Warning:</strong> Pivotal recommends that only skilled operators use Ops Manager's Advanced Mode. If you use Advanced Mode incorrectly, you could disable or destroy your deployment.</p> 

### <a id='director-tile'></a> Unlockable Fields in the Director Tile

In the **Director Config** pane, you can unlock the following fields after deployment: 

* **Encryption Key Name** in the **CredHub Encryption Provider** section, when you are using a Luna HSM
* **Provider Partition** in the **CredHub Encryption Provider** section, when you are using a Luna HSM
* **HSM Host Address** in the **CredHub Encryption Provider** section, when you are using a Luna HSM
* **HSM Port Address** in the **CredHub Encryption Provider** section, when you are using a Luna HSM
* **Partition Serial Number** in the **CredHub Encryption Provider** section, when you are using a Luna HSM

In the **Database Location** fields, when you are using an external MySQL database, you can unlock the following fields after deployment:

* **Host**
* **Port**
* **Database**

In the **Assign AZs and Networks** pane, you can unlock the following fields after deployment:

* The **Singleton Availability Zone** dropdown

### <a id='product-tiles'></a> Unlockable Fields in Product Tiles

Product tiles also have unlockable fields.

In the **Assign AZs and Networks** pane, you can unlock the following fields after deployment:

* **Place singleton jobs in**
* **Balance other jobs**


## <a id='locked-permanently'></a> Permanently Locked Fields

This section describes the fields that lock during deployment and cannot be unlocked. These fields cannot be configured after deployment, either through the Ops Manager UI or through API endpoints. 

### <a id='director-tile-locked'></a> Permanently Locked Fields in the BOSH Director Tile

In the **Director Config** pane, the following fields lock permanently after deployment:

In the **Blobstore Location** section:

* **Enable TLS** in the **Internal** section
* **S3 Endpoint** in the **S3 Compatible Blobstore** section
* **Bucket Name** in the **S3 Compatible Blobstore** section
* **V2 Signature** in the **S3 Compatible Blobstore** section
* **V4 Signature** in the **S3 Compatible Blobstore** section
	* **Region** in the **S3 Compatible Blobstore** > **V4 Signature** section

<p class="note"><strong>Note:</strong> Changes to the <strong>Internal</strong> or <strong>S3 Compatible Blobstore</strong> radio buttons in the <strong>Blobstore Location</strong> section do not affect a deployed Ops Manager.</p>

In the **Database Location** section:

* **Host** in the **External MySQL Database** section
* **Port** in the **External MySQL Database** section
* **Username** in the **External MySQL Database** section
* **Password** in the **External MySQL Database** section
* **Database** in the **External MySQL Database** section

<p class="note"><strong>Note:</strong> Changes to the <strong>Internal</strong> or <strong>External MySQL Database</strong> radio buttons in the <strong>Database Location</strong> section do not affect a deployed Ops Manager.</p>

In the **Create Availability Zone** pane, the following fields lock permanently after deployment:

* You cannot delete an in-use Availability Zone (AZ).

In the **Assign AZs and Networks** pane, all fields lock permanently after deployment.

### <a id="product-tiles-locked"></a> Configurable Fields in Product Tiles

No fields other than the ones listed above lock in third-party product tiles. However, tile authors can specify which additional fields should lock on deploy by passing the `freeze-on-deploy` flag. 

For more information about this flag, see the [Common Property Blueprint Attributes](https://docs.pivotal.io/tiledev/<%= product_info['local_product_version'].to_s.sub('.','-') %>/property-template-references.html#common-attributes) section of the _Property and Template References_ topic in the <%= vars.platform_name %> Tile Developer Guide.
