---
title: Managing Errands in Ops Manager
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes product errands and how to configure them in Pivotal Cloud Foundry (PCF) Ops Manager.

Errands are scripts that can run at the beginning and at the end of an installed product’s availability time.
You can use Ops Manager to adjust whether and when these errands run.

Product tiles include two types of errands:

* **Post-deploy errands** run after the product installs but before Ops Manager makes the product available for use. One example is an errand that publishes a newly-installed service to the Services Marketplace.
* **Pre-delete errands** run after an operator chooses to delete the product but before Ops Manager actually deletes it. One example is a clean-up task that removes all data objects used by the errand.

When you click **Apply Changes** in Ops Manager, BOSH either creates a VM for each errand that runs or co-locates errands on existing VMs. Tile developers determine where BOSH deploys the errands for their product.

Pivotal Application Service (PAS) provides several post-deploy errands including smoke tests, Apps Manager, notification, Pivotal Account, and autoscaling errands. For more information about PAS errands, see the _Deploying PAS_ topic for the platform where you are deploying PAS. For example, if you are deploying PAS on GCP, see [Deploying PAS on GCP](./gcp-er-config.html#errands).

For information about the errands associated with any other PCF product, see the documentation provided with the product tile.

Operators can configure three different run rules for errands: **On**, **Off**, and **When Changed**. These rules control when Ops Manager executes the errand.

<table class="nice">
<tr> 
 <th>When the errand is configured to be...</th><th>Then the errand...</th>
</tr>
<tr>
 <td>
On
 </td>
 <td>
always runs, even when there are no changes to the product manifest. 
 </td>
 </tr>
<tr>
 <td>
Off
 </td>
 <td>
never runs.
 </td>
 </tr>
 <tr>
 <td>
When Changed
 </td>
 <td>
runs only if the errand configuration in the associated product deployment manifest has changed since the last time the errand succeeded. <br/><br/>If there are no changes to the errand configuration of the product manifest <strong>and</strong> the most recent run of the errand succeeded, then the errand does not run.
 </td>
</tr>
</table>

### <a id="defaults"></a> Ops Manager Defaults and Tile Defaults

By default, Ops Manager applies the **When Changed** rule to post-deploy errands and the **On** rule to pre-delete errands.

For any errand, the tile developer can override these Ops Manager defaults with their own tile-specific defaults defined in the tile [property blueprints](https://docs.pivotal.io/tiledev/property-reference.html#property-blueprints).


## <a id="modify"></a> Configure Run Rules in Ops Manager

You can configure the run rules for errands in two places in Ops Manager. The [Errands](#errands_pane) pane saves your configuration and applies the configuration to future installations. The [Pending Changes](#changes-view) view applies the rules only to the next time you run an Ops Manager install, without saving them.

### <a id="errands-pane"></a> Errands Pane: Persistent Rules

Product tiles for PAS and other PCF products have an **Errands** pane that configures the run rules for the product's errands and saves the settings for later.

The **Errands** pane lists all errands for the product and lets you select one of four [run rule](#rules) choices for each: **On**, **Off**, **When Changed**, and a default option **Default (On)**, **Default (Off)**, or **Default (When Changed)**. The [default](#defaults) option differs depending on the errand, and reflects the default setting used by Ops Manager for the errand or any tile-specific default that overrides it.

  <%= image_tag("errands.png") %>

To configure the run rules for a tile, do the following:

1. Navigate to Ops Manager and click the tile to open it.

1. Under the **Settings** tab, open the **Errands** pane.

1. Use the dropdowns to configure the run rule choice for each errand: **On**, **Off**, **When Changed**, or the **Default** option.

1. Click **Save** to save the configuration values and return to the Installation Dashboard.

1. Click **Apply Changes** to redeploy the tile with the new settings.

### <a id="changes-view"></a> Pending Changes: One-Time Rules

Ops Manager lets you quickly configure one-time errand run rules for any product queued up for installation:

1. Navigate to Ops Manager. The **Pending Changes** section at top right shows products that Ops Manager has yet to install or update. 

1. Under **Pending Changes**, click the product you wish to configure. A list of errands associated with the product appears.
  <%= image_tag("pending_view_errands.png") %>

1. Use the dropdown to configure the [run rule](#rules) choice for each errand: **On**, **Off**, **When Changed**, or **Default**. Ops Manager applies these settings once you click **Apply changes** to install the product, but does not save the settings for future installations.

1. Click **Apply Changes** to redeploy the tile.

## <a id="related"></a> Related Links

If you are a product developer and want to learn more about adding errands to your product tile for PCF, see the  [Errands](https://docs.pivotal.io/tiledev/tile-errands.html) topic in the _PCF Tile Developer Guide_.
