---
title: Monitoring Pivotal Platform VMs from vSphere
owner: Ops Manager
---

<% current_page.data.title = "Monitoring " + vars.platform_name + " VMs from vSphere"  %>

This topic describes how to use the vSphere client to perform ongoing monitoring and alerting of <%= vars.platform_name %> VMs.

For a complete guide to monitoring <%= vars.platform_name %>, see [Monitoring <%= vars.platform_name %>](../monitoring/index.html).

## <a id="vsphere"></a>Monitoring in vSphere ##

To monitor VMs using the vSphere client:

1. Connect to a vCenter Server instance using the vSphere client.
1. Navigate to the **Hosts And Clusters** or **VMs And Templates** inventory view.
1. In the inventory tree, select a virtual machine.
1. Select the **Performance** tab from the content pane on the right.

VMware vSphere Server provides alarms that monitor VMs, as well as clusters,
hosts, data centers, datastores, networks, and licensing.
To view pre-configured alarms, including disk usage alarms, related to a
particular VM:

1. In the vSphere client, select the VM you want to monitor.
1. At the bottom left of the client window, click **Alarms**.
1. If a VM starts to run out of disk space, an alarm appears in the bottom
panel.
