---
title: Monitoring Pivotal Platform VMs in Ops Manager
owner: Ops Manager
---

This topic describes how to check current VM status in <%= vars.platform_name %> by using Pivotal Operations Manager.

For a complete guide to monitoring <%= vars.product_short %>, see [Monitoring <%= vars.platform_name %>](../monitoring/index.html).


## <a id="interface"></a> Monitoring VMs Using the Ops Manager Interface

Click any product tile and select the **Status** tab to view monitoring information.

 <%= image_tag("status-tab.png") %>

The columns display the following information:

<table border="1" class="nice" >
<tr>
	<th>VM Data Point</th><th>Details</th>
</tr>
<tr>
  <td><strong>Job</strong></td><td>Each job represents a component running on one or more VMs that Ops Manager deployed.</td>
</tr>
<tr>
  <td><strong>Index</strong></td><td>For jobs that run across multiple VMs, the <strong>index</strong> value indicates the order in which the job VMs were deployed. For jobs that run on only one VM, the VM has an <strong>index</strong> value of <code>0</code>.</td>
</tr>
<tr>
  <td><strong>IPs</strong></td><td>IP address of the job VM.</td>
</tr>
<tr>
  <td><strong>CID</strong></td><td>Uniquely identifies the VM.</td>
</tr>
<tr>
  <td><strong>Load Avg15</strong></td><td>CPU load average over 15 minutes.</td>
</tr>
<tr>
  <td><strong>CPU</strong></td><td>Current CPU usage.</td>
</tr>

<tr>
  <td><strong>Memory</strong></td><td>Current memory usage.</td>
</tr>
<tr>
  <td><strong>Swap</strong></td><td>Swap file percentage.</td>
</tr>
<tr>
  <td><strong>System Disk</strong></td><td>System disk space usage.</td>
</tr>
<tr>
  <td><strong>Ephem. Disk</strong></td><td>Ephemeral disk space usage.</td>
</tr>
<tr>
	<td><strong>Pers. Disk</strong></td><td>Persistent disk space usage.</td>
</tr>
<tr>
	<td><strong>Logs</strong></td><td>Download link for the most recent log files.</td>
</tr>
</table>

### <a id="ops-manager"></a> Ops Manager VM Disk Space

Ops Manager stores its logs on the Ops Manager VM in the `/tmp` directory.

<p class="note"><strong>Note:</strong> The logs collect over time and do not self-delete. To prevent the VM from running out of disk space, restart the VM to clear the log entries from <code>/tmp</code>.</p>
