---
title: Monitoring in Pivotal CF
---

This topic covers monitoring essentials and suggests sources for finding more powerful tools and techniques.

## <a id="interface"></a>Monitoring VMs Using the Ops Manager Interface ##

Refer to the **Status** tab in the Elastic Runtime product tile for monitoring information. Each job represents an Elastic Runtime component running on a VM that Ops Manager deployed.

 <%= image_tag("status-tab.png") %>

In particular, note the following columns:

* **CID**: Uniquely identifies the VM in vSphere.
* **Load Avg15**: The average load over 15 minutes.

## <a id="monitor_vm"></a>Monitoring Disk Space Usage with vSphere Alarms##

It's a good idea to monitor disk space usage, especially for certain VMs.

The vSphere server provides alarms that monitor that VMs, as well as clusters, hosts, datacenters, datastores, networks, and licensing.
To view preconfigured alarms (including disk usage alarms) related to a particular VM:

1. In the vSphere client, select the VM you want to monitor.
1. Click `Alarms` at the bottom left of the client window.
1. If the VM starts to run out of disk space, an alarm appears in the bottom panel.

Two VMs to consider watching are the Operations Manager VM and the NFS server VM.
The following sections explain what to do if these VMs start to run out of disk space.

### <a id="monitor_ops_mgr"></a>Ensuring that the Operations Manager VM has enough disk space ###

The Operations Manager VM stores its logs in a directory named `/tmp`.
Over time, the logs can get big enough to cause the VM to run out of disk space.
If the VM starts to run out of disk space, restart the VM to clear the log entries out of `/tmp`.

An alternative to watching for alarms is to set up a cron job that clears logs from /tmp on a regular basis.

**Note**: The Operations Manager VM is the VM where the Ops Manager web application runs.
You deployed this VM using the VM Template in vSphere.

### <a id="monitor_nfs"></a>Ensuring that the NFS Server VM has enough disk space ###

The NFS Server VM is the blob store where Elastic Runtime uploads applications.
The default size of the blob store is 100 Gigabytes, but if enough (or large enough) applications are uploaded, the VM can run out of disk space.

If the VM starts to run out of disk space:

1. Select the NFS Server VM in the Resources tab of the Elastic Runtime tile in Ops Manager.
1. Allocate more disk space to the VM.

## <a id="monitor_advanced"></a>More Advanced Monitoring ##

Watching for the preconfigured alarms in the vSphere client may not be a good solution for your monitoring needs.
You might want to configure your own custom alarms, or monitor factors other than disk space usage, such as operating system performance.