---
title: Using the Cisco Nexus 1000v Switch with Ops Manager
owner: Ops Manager
---



Refer to the procedure in this topic to use Ops Manager with the Cisco Nexus 1000v Switch. First, configure Ops Manager through Step 4 in [Configuring BOSH Director on vSphere](../om/vsphere/config.html). Then configure your network according to the following steps.

1. From your [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager **Installation Dashboard**, click the **BOSH Director** tile.

1. Select **Create Networks**.

1. Click the network name to configure the network settings. This is **default** if you have not changed the name.
	<%= image_tag('nexus_switch_config_default.png' alt => "The Create Networks pane on ops manager is displayed. The Network name field is selected and the text 'default' appears in it. None of the subnets fields are configured.") %>

1. Find the folder name and port group name for the switch, as you configured them in vCenter. For the example vSphere environment pictured below, a user might want to use the switch configured on the `beer apple` port group, which is in the `drinks dc` folder.
	<p class="note"><strong></strong>Folder names can be strings of multiple words separated by spaces, or strings of words separated by other punctuation, including dashes.</p>
	<%= image_tag('vSphere_web_client_port_groups.png' alt => "A screenshot of the vmWare vSphere web client. A port group is highlighted.")%>

1. In the **vSphere Network Name** field, instead of entering your network name, enter the folder name and port group name for the switch, as you configured them in vCenter. For the example vSphere environment pictured above, you would enter `drinks dc/beer-apple` to use the switch configured on the `beer-apple` port group.
	<%= image_tag('nexus_switch_config.png' alt => "The create networks pane in Ops Manager is displayed. The Network Name field is configured and reads YOUR_NETWORK_NAME. Beneath the Network Name field, the vSphere network name field is selected and 'drinks dc/beer-apple' is entered in it.")%> %>

1. Click **Save**.

1. Return to [Configuring BOSH Director on vSphere](../om/vsphere/config.html#resource-config) to complete the Ops Manager installation.
