---
title: Installing Pivotal Cloud Foundry&reg; on OpenStack
owner: Ops Manager
---

<strong><%= modified_date %></strong>


This guide describes how to provision the OpenStack infrastructure that you need to install [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) on Mirantis OpenStack. Use this topic when Installing PCF on OpenStack.

## Install PCF on OpenStack ##

Complete the following procedures to install PCF on OpenStack:

1. <a href="./openstack-setup.html" class="subnav">Provisioning the OpenStack Infrastructure</a>

1. <a href="./openstack-om-config.html" class="subnav">Configuring Ops Manager Director after Deploying PCF on OpenStack</a>

1. <a href="./openstack-er-config.html" class="subnav">Installing Elastic Runtime after Deploying PCF on OpenStack</a>

## Supported Versions ##

Pivotal's automated testing environments currently run on Mirantis OpenStack 6.1 (Juno), 7.0 and 8.0. Pivotal Cloud Foundry&reg; has also been installed on OpenStack releases and distributions based on Havana, Icehouse, Juno, Kilo (Keystone v2), and Liberty from different vendors including Canonical, EMC, Red Hat, and SUSE. The nature of OpenStack as a collection of interoperable components requires OpenStack expertise to troubleshoot issues that may occur when installing Pivotal Cloud Foundry&reg; on particular releases and distributions.

## Prerequisites ##

In order to deploy Pivotal Cloud Foundry&reg; on OpenStack, you must have a dedicated OpenStack tenant (formerly known as an OpenStack project) that meets the following requirements.

* You must have keystone credentials for the OpenStack tenant, including:

	* Auth URL
	* API key
	* Username
	* Project name
	* Region
	* SSL certificate for your wildcard domain (see below).
  
* Create any necessary OpenStack network objects.

* The following must be enabled for the tenant:

	* The ability to upload custom images to [Glance](http://docs.openstack.org/developer/glance/)
	* The ability to create and modify VM flavors. See the [VM flavor configuration table](#vm-flavors).
	* DHCP
	* The ability to allocate floating IPs.
	* The ability for VMs inside a tenant to send messages via the floating IP.
	* Permissions for VMs to boot directly from image.
  * One wildcard DNS domain. Pivotal recommends using two wildcard domains if system and apps need to be separated.

    <p class="note"><strong>Note</strong>: For information on how IaaS user roles are configured, refer to the <a href="iaas-user-roles.html">Pivotal Cloud Foundry® IaaS User Role Guidelines</a> topic.</p>

	  <p class='note'><strong>Note</strong>: It is possible to avoid using wildcard DNS domains by using a service such as xip.io. However, this option requires granting external internet access from inside VMs.</p>

* Your OpenStack tenant must have the following resources before you install Pivotal Cloud Foundry&reg;:

	* 118 GB of RAM
	* 22 available instances
	* 16 small VMs (1 vCPU, 1024 MB of RAM, 10 GB of root disk)
	* 3 large VMs (4 vCPU, 16384 MB of RAM, 10 GB of root disk)
  * 3 extra-large VMs (8 vCPU, 16 GB of RAM, 160 GB of ephemeral disk)
	* 56 vCPUs
	* 1 TB of storage
	* Neutron networking with floating IP support

* Requirements for your Cinder back end:

	* PCF requires RAW root disk images. The Cinder back end for your OpenStack tenant must support RAW.
	* Pivotal recommends that you use a Cinder back end that supports snapshots. This is required for some BOSH functionalities.
	* Pivotal recommends enabling your Cinder back end to delete block storage asynchronously. If this is not possible, it must be able to delete multiple 20GB volumes within 300 seconds.

* Miscellaneous:
	* If any overlay network is being used with VXLAN or GRE protocols, the MTU of the created VMs must be adjusted to the best practices recommended by the plugin vendor (if any). If Neutron is configured with VXLAN via the Open vSwitch mechanism, the MTU should be 1400. For GRE, the recommended number is 1460. DHCP must be enabled in the internal network for the MTU to be assigned to the VMs automatically.
	* Pivotal recommends granting complete access to the OpenStack logs to the operator managing the installation process.
	* Your OpenStack environment should be thoroughly tested and considered stable before deploying PCF.

<a id='vm-flavors'></a>Configure your OpenStack VM flavors as follows:
<p class="note">Do not change the names of the VM flavors in the table below.</p>
<table class='nice' border='1'>
  <tr>
    <th><strong>ID</strong></th>
    <th><strong>Name</strong></th>
    <th><strong>Memory_MB</strong></th>
    <th><strong>Disk</strong></th>
    <th><strong>Ephemeral</strong></th>
    <th><strong>VCPUs</strong></th>
  </tr>
    <tr>
    <td>1</td>
    <td>m1.small</td>
    <td>2048</td>
    <td>20</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>m1.medium</td>
    <td>4096</td>
    <td>40</td>
    <td>0</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>m1.large</td>
    <td>8192</td>
    <td>80</td>
    <td>0</td>
    <td>4</td>
  </tr>
  <tr>
    <td>4</td>
    <td>m1.xlarge</td>
    <td>16384</td>
    <td>160</td>
    <td>0</td>
    <td>8</td>
  </tr>
</table>
