---
title: Using the Ops Manager UI
owner: Ops Manager
---

##<a id="overview"></a> Overview

This topic explains how to start using the Ops Manager UI, and lists other content about the Ops Manager UI.

Operators can configure Ops Manager using a dashboard-style interface. The Ops Manager UI lets you make installation-wide modifications to Ops Manager, including updates to authentication methods, security and networking configuration, and more.

Advanced users can configure Ops Manager by accessing the Ops Manager API. For information about configuring Ops Manager with the API, see [Using the Ops Manager API](./ops-man-api.html).

## <a id="access"></a>Access the Ops Manager UI

The Ops Manager UI is accessible at its unique URL, which is assigned during the initial <%= vars.platform_name %> setup process.

### <a id="browsers"></a>Browser Support

The Ops Manager UI is accessible from any internet-enabled host. It is compatible with current and recent versions of all major browsers.

<%= vars.company_name %> recommends using the current version of Chrome, Firefox, or Safari for the best Ops Manager experience.

## <a id="related"></a>Related Links

* [Using the Ops Manager Interface](./pcf-interface.html)
* [Reviewing Pending Product Changes](./review-pending-changes.html)
* [Adding and Deleting Products](./add-delete.html)
* [Importing and Managing Stemcells](../opsguide/managing-stemcells.html)
* [Logging in to Apps Manager](./console-login.html)
* [Managing Errands in Ops Manager](./managing_errands.html)
