---
title: Ops Manager API, CLI, and Platform Automation (Beta)
owner: Ops Manager
---

This topic introduces three tools for running Ops Manager operations programmatically and from the command line, rather than from the Ops Manager GUI:

* The [Ops Manager API](https://docs.pivotal.io/pivotalcf/opsman-api)
* The [`om`](https://github.com/pivotal-cf/om) command-line interface (CLI)
* [Platform Automation](http://docs.pivotal.io/platform-automation) (Beta) tasks.

These three tools control the Ops Manager VM at different levels of abstraction. Platform operators and [Tile developers](http://docs.pivotal.io/tiledev/index.html) use them as described below.

## <a id='api'></a> Ops Manager API

The Ops Manager API offers the most granular control of the Ops Manager VM, The API enables users to do the following:

- Automate component-level testing of Pivotal Cloud Foundry (PCF) product tiles
- Manage Ops Manager user accounts
- Develop and debug product tiles
- Access product property values that are not exposed in a product tile GUI
- Otherwise work under the hood of the [Ops Manager interface](./pcf-interface.html), programmatically or manually

To get started using the Ops Manager API, see [Access the Ops Manager API](./ops-man-api.html#access) in the _Using the Ops Manager API_ topic.

Find complete Ops Manager API documentation at either of the following:

* https://docs.pivotal.io/pivotalcf/opsman-api
* `https://YOUR-OPS-MANAGER-FQDN/docs`, adding `/docs` to the URL of your Ops Manager

## <a id='om'></a> Ops Manager CLI (om)

The Ops Manager CLI, `om`, calls the Ops Manager API to do the following:

- Perform Ops Manager operations from the command line or scripts
- Manage credentials from the command line or scripts
- Generate configuration files from, and apply saved configurations to, staged product tiles.

For `om` documentation, see the public `om` repository on GitHub:

- [Installation and command list](https://github.com/pivotal-cf/om)
- [Command reference](https://github.com/pivotal-cf/om/blob/master/docs/README.md)
- [Usage example](https://github.com/pivotal-cf/om/blob/master/docs/EXAMPLE.md)

## <a id='platform-automation'></a> Platform Automation (Beta)

Platform Automation tasks call the `om` CLI to do the following:

- Serve as building blocks for Continous Integration (CI) pipelines that automate installation and updating of PCF foundations
- Within pipelines, store and retrieve product configuration values from secrets vaults like CredHub and code repositories like GitHub.

For complete documentation see the (Platform Automation documentation)[http://docs.pivotal.io/platform-automation/index.html].

## <a id='example-ops'></a> Examples of Equivalent Operations

The following table lists some common operations using the Ops Manager UI, Ops Manager API, `om` CLI, and Platform Automation tasks, as examples of how different Ops Manager interfaces relate to one another.

For complete lists of operations, consult the references in the [Overview](#overview) above.

<table id='example-ops' border="1" class="nice" >
  <tr>
    <th>UI Action</th>
    <th>API Command</th>
    <th><code>om</code> Command</th>
    <th>Platform Automation (Beta) Task</th>
  </tr><tr>
    <td>Manually configure the BOSH Director tile</td>
    <td>Multiple commands; see <a href="./ops-man-api.html#configure-bosh">Configure the BOSH Director</a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/configure-director/README.md"><code>om configure-director</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#configure-director"><code>configure-director</code></a></td>
  </tr><tr>
    <td>Click <strong>IMPORT A PRODUCT</strong></td>
    <td><code>POST</code> product file to <a href="https://docs.pivotal.io/pivotalcf/opsman-api/#uploading-a-product"><code>/available_products</code></a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/upload-product/README.md"><code>om upload-product</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#upload-product"><code>upload-product</code></a></td>
  </tr><tr>
    <td>Click the <strong>+</strong> symbol next to a product listing left of <strong>Installation Dashboard</strong></td>
    <td><code>POST</code> product name and version to <a href="https://docs.pivotal.io/pivotalcf/opsman-api/#adding-an-available-product"><code>/staged/products</code></a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/stage-product/README.md"><code>om stage-product</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#stage-product"><code>stage-product</code></a></td>
  </tr><tr>
    <td>Manually configure a product tile</td>
    <td>Multiple commands; see <a href="./ops-man-api.html#configure-product">Configure a Product</a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/configure-product/README.md"><code>om configure-product</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#configure-product"><code>configure-product</code></a></td>  </tr><tr>
    <td>Click <strong>STEMCELL LIBRARY</strong> > <strong>IMPORT STEMCELL</strong></td>
    <td><code>POST</code> stemcell file to <a href="https://docs.pivotal.io/pivotalcf/opsman-api/#uploading-stemcells"><code>/stemcells</code></a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/upload-stemcell/README.md"><code>om upload-stemcell</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#upload-stemcell"><code>upload-stemcell</code></a></td>
  </tr><tr>
    <td>Click <strong>Apply Changes</strong></td>
    <td><code>POST</code> specified products (or <code>all</code>) and errand lists to <a href="https://docs.pivotal.io/pivotalcf/opsman-api/#triggering-an-install-process"><code>/installations</code></a></td>
    <td><a href="https://github.com/pivotal-cf/om/blob/master/docs/apply-changes/README.md"><code>om apply-changes</code></a></td>
    <td><a href="http://docs.pivotal.io/platform-automation/#apply-changes"><code>apply-changes</code></a></td>
  </tr>
</table>
