---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Using Ops Manager
owner: Ops Manager
---

Ops Manager is a web application that you use to deploy and manage a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) PaaS.
This is a guide to deploying and using Ops Manager.

## Browser Support

Ops Manager is compatible with current and recent versions of all major browsers. Pivotal recommends using the current version of Chrome, Firefox, or Safari for the best Ops Manager experience.

## Ops Manager API

Use the Ops Manager API to automate any Ops Manager task. 

See the <a href="./ops-man-api.html" class="subnav">Using Ops Manager API</a> topic to learn how to get started using the [Ops Manager API](https://docs.pivotal.io/pivotalcf/2-0/opsman-api).


## Using Ops Manager and Installed Products

* <a href="./pcf-interface.html" class="subnav">Understanding the Ops Manager Interface</a>

* <a href="./add-delete.html" class="subnav">Adding and Deleting Products</a>

* <a href="./deploy-ops-man-director.html" class="subnav">Applying Changes to Ops Manager Director</a>

* <a href="./credentials.html" class="subnav">Retrieving Credentials from Your Deployment</a>

* <a href="./understanding-stemcells.html" class="subnav">Understanding Floating Stemcells</a>

* <a href="./vsphere-config.html">Configuring Ops Manager Director for VMware vSphere</a>

* <a href="./vsphere-service-account.html">vSphere Service Account Requirements
</a>

* <a href="./opsmanager-create-bosh-client.html" class="subnav">Creating UAA Clients for BOSH Director</a>

* <a href="./openstack-om-config.html">Configuring Ops Manager Director for OpenStack</a>

* <a href="./config-er-vmware.html">Configuring PAS for vSphere</a>

* <a href="./openstack-er-config.html">Installing PAS after Deploying Pivotal Cloud Foundry on OpenStack</a>

* <a href="./custom-load-balancer.html" class="subnav">Using Your Own Load Balancer</a>

* <a href="./user-types.html" class="subnav">Understanding Pivotal Cloud Foundry User Types</a>

* <a href="./opsman-users.html" class="subnav">Creating and Managing Ops Manager User Accounts</a>

* <a href="./creating-account.html" class="subnav">Creating New PAS User Accounts</a>

* <a href="./console-login.html" class="subnav">Logging in to Apps Manager</a>

* <a href="./external-user-management.html" class="subnav">Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry Deployment</a>

* <a href="./deleting-aws-install.html">Deleting an AWS Installation from the Console</a>

* <a href="./modify-ops-man.html" class="subnav">Modifying Your Ops Manager Installation and Product Template Files</a>

* <a href="./managing_errands.html" class="subnav">Managing Errands in Ops Manager</a>

* <a href="./opsman-max-in-flight.html" class="subnav">Setting Max_In_Flight Values</a>

## Backing Up

* <a href="./backup-restore/index.html" class="subnav">Backing Up and Restoring Pivotal Cloud Foundry</a>

## Monitoring, Logging, and Troubleshooting

* <a href="./monitoring.html" class="subnav">Monitoring Virtual Machines in Pivotal Cloud Foundry</a>

* <a href="./diagnostics.html">Diagnosing Problems in PCF</a>

* <a href="./troubleshooting.html">Troubleshooting Problems in PCF</a>

* <a href="./troubleshooting-vsphere.html" class="subnav">Troubleshooting Ops Manager for VMware vSphere</a>

* <a href="./mysql_bootstrap_ert.html" class="subnav">Recovering MySQL from PAS Downtime</a>

* <a href="./trouble-advanced.html" class="subnav">Advanced Troubleshooting with the BOSH CLI</a>
