---
title: Creating and Managing Ops Manager User Accounts
---

<strong><%= modified_date %></strong>

This topic describes how to add and remove Ops Manager users.

## <id="about-om-users"></a> Overview


Pivotal Cloud Foundry supports multiple user accounts in Ops Manager. A User Account and Authentication (UAA) module co-located on the Ops Manager VM manages access permissions to Ops Manager.

When Ops Manager boots for the first time, you create an admin user. However, you do not create additional users through the Ops Manager web interface. If you want to create additional users who can log into Ops Manager, you must use the UAA API, either through `curl` or the UAA Command Line Client (UAAC).

Follow these steps to add or remove users with UAAC. If you do not already have the UAAC installed, run `gem install cf-uaac` from a terminal window.

<p class="note"><strong>Note:</strong> You can only manage users on the Ops Manager UAA module if you chose to use Internal Authentication instead of an external Identity Provider when configuring Ops Manager.</p>

## <a id='add-user'></a>Add Ops Manager Users

To add Ops Manager users, do the following:

1. Target your Ops Manager UAA:
<pre class='terminal'>$ uaac target <span>https</span>://YOUR-OPSMANAGER-FQDN/uaa/</pre>
 Where:
 * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your Ops Manager installation.
1. Get your token:
<pre class='terminal'>$ uaac token owner get
  Client ID: opsman
  Client Secret: [Press Enter]
  Username: Admin
  Password: *******
  &nbsp;
  Successfully fetched token via client credentials grant.
  Target <span>https</span>://YOUR-OPSMANAGER-FQDN/uaa/
</pre>
 Where:
 * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your Ops Manager installation.
1. Add a user.
<pre class="terminal">$ uaac user add USER-NAME -p USER-PASSWORD --emails USER-EMAIL<span>@</span>EXAMPLE.COM</pre>
 Where: 
 * `USER-NAME` is the username of the user you are adding.
 * `USER-PASSWORD` is the password with which this user authenticates.
 * `USER-EMAIL` is the email address associated with this user.
1. (Optional) Set the Role-Based Access Control (RBAC) permissions for your user. For more information, see [Configuring Role-Based Access Control (RBAC) in Ops Manager](../opsguide/config-rbac.html).

## <a id='remove-user'></a>Remove Ops Manager Users

To remove Ops Manager users, do the following:

1. Target your Ops Manager UAA:
<pre class='terminal'>$ uaac target <span>https</span>://YOUR-OPSMANAGER-FQDN/uaa/</pre>
1. Get your token:
<pre class='terminal'>
  $ uaac token owner get
  Client ID: opsman
  Client Secret: [Press Enter]
  Username: Admin
  Password: *******
  &nbsp;
  Successfully fetched token via client credentials grant.
  Target <span>https</span>://YOUR-OPSMAN-FQDN/uaa/
</pre>
 Where:
 * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your Ops Manager installation.
1. Delete a user:
<pre class="terminal">$ uaac user delete USER-NAME</pre>
 Where:
 * `USER-NAME` is the username of the user you wish to delete.