---
title: Advanced Features in Ops Manager
owner: Ops Manager
---

This guide describes advanced features in Ops Manager. Use these features to perform functions in Ops Manager that are
outside of the scope of typical Ops Manager behavior.

<p class="note warning"><strong>WARNING:</strong> Misuse of any advanced feature could disable or destroy deployments.
These features are for advanced operators only. <%= vars.company_name %> recommends contacting <a href="https://tanzu.vmware.com/support">Support</a> before using these features.</p>

## <a id="guide"></a> In This Guide

This guide includes the following topics:

* [Modifying Your Ops Manager Installation and Product Template Files](./modify-ops-man.html)

* [Managing Ops Manager Verifiers](./granular-verifier-control.html)

* [Managing Custom VM Extensions](./custom-vm-extensions.html)

* [Ops Manager Fields That Lock on Deploy](./lock-on-deploy.html)

* [Property and Template References](https://docs.pivotal.io/tiledev/2-9/property-template-references.html)
