---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Elastic Runtime
owner: PCF Documentation
---

This documentation gives IaaS-specific instructions for installing and configuring Elastic Runtime for Pivotal Cloud Foundry (PCF).

##<a id='overview'></a>Overview

Elastic Runtime is a runtime environment that lets developers develop and manage cloud-native apps and software services. As a part of PCF, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install Elastic Runtime , you first need to [Deploy BOSH and Ops Manager](./deploy-bosh-om.html).

##<a id='contents'></a>Contents

* <a href="./cloudform-template.html">Deploying the CloudFormation Template for Pivotal Cloud Foundry on AWS</a>
* <a href="./cloudform-er-config.html">Deploying Elastic Runtime on AWS
</a>
* <a href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>
* <a href="./gcp-er-config.html">Deploying Elastic Runtime on GCP</a>
* <a href="./openstack-er-config.html">Installing Elastic Runtime after Deploying Pivotal Cloud Foundry on OpenStack</a>
* <a href="./config-er-vmware.html">Configuring Elastic Runtime for vSphere</a>
