---
breadcrumb: Pivotal Cloud Foundry Documentation
title: PAS
owner: <%= vars.product_name %> Documentation
---

This documentation gives IaaS-specific instructions for installing and configuring Pivotal Application Service (PAS) for <%= vars.first_product_name  %>.


## <a id='overview'></a> Overview

PAS is a runtime environment that lets developers develop and manage cloud-native apps and software services. As a part of <%= vars.product_name %>, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install PAS, you first need to [Deploy BOSH and Ops Manager](./deploy-bosh-om.html). You can then install PAS as outlined in [Configuring PAS](./configure-pas.html)