---
breadcrumb: Pivotal Cloud Foundry Documentation
title: PAS
owner: PCF Documentation
---

This documentation gives IaaS-specific instructions for installing and configuring Pivotal Application Service (PAS) for Pivotal Cloud Foundry (PCF).

##<a id='overview'></a>Overview

PAS is a runtime environment that lets developers develop and manage cloud-native apps and software services. As a part of PCF, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install PAS, you first need to [Deploy BOSH and Ops Manager](./deploy-bosh-om.html).

##<a id='contents'></a>Contents

* <a href="/pivotalcf/2-0/customizing/aws-er-config-terraform.html">Installing PAS on AWS (Terraform)</a>
* <a href="/pivotalcf/2-0/customizing/pcf-aws-manual-er-config.html">Installing PAS on AWS Deployed Manually</a>
* <a href="/pivotalcf/2-0/customizing/azure-er-config.html">Installing PAS on Azure</a>
* <a href="/pivotalcf/2-0/customizing/gcp-er-config.html">Installing PAS on GCP</a>
* <a href="/pivotalcf/2-0/customizing/openstack-er-config.html">Installing PAS on OpenStack</a>
* <a href="/pivotalcf/2-0/customizing/config-er-vmware.html">Installing PAS on vSphere</a>
