---
breadcrumb: <%= vars.product_name %> Documentation
title: PAS
owner: <%= vars.product_name %> Documentation
---

This documentation gives IaaS-specific instructions for installing and configuring Pivotal Application Service (PAS) for <%= vars.product_name  %>.


## <a id='overview'></a> Overview

PAS is a runtime environment that lets developers develop and manage cloud-native apps and software services. As a part of <%= vars.product_name %>, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install PAS, you must complete the following procedures:

* [Deploy BOSH and Ops Manager](./deploy-bosh-om.html)
* [Configuring PAS](./configure-pas.html)