---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing and Configuring Elastic Runtime
owner: PCF Documentation
---

This guide provides IaaS-specific instructions for installing and configuring Pivotal Elastic Runtime for Pivotal Cloud Foundry (PCF).

Pivotal Elastic Runtime gives developers a consistent and reliable mechanism for application deployment and operation. As a part of PCF, Elastic Runtime runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install Elastic Runtime, you must first need [Deploy BOSH and Ops Manager](./deploy-bosh-om.html).

Once you have deployed BOSH and Ops Manager, follow the appropriate link to deploy Elastic Runtime to your IaaS.

* <a href="./aws-er-config-terraform.html">Deploying Elastic Runtime on AWS</a>
* <a href="./azure-er-config.html">Deploying Elastic Runtime on Azure</a>
* <a href="./gcp-er-config.html">Deploying Elastic Runtime on GCP</a>
* <a href="./openstack-er-config.html">Deploying Elastic Runtime on OpenStack</a>
* <a href="./config-er-vmware.html">Deploying Elastic Runtime on vSphere</a>

