---
breadcrumb: Pivotal Cloud Foundry Documentation
title: PAS
owner: PCF Documentation
---

This documentation gives IaaS-specific instructions for installing and configuring Pivotal Application Service (PAS) for Pivotal Cloud Foundry (PCF).


## <a id='overview'></a> Overview

PAS is a runtime environment that lets developers develop and manage cloud-native apps and software services. As a part of PCF, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install PAS, you first need to [Deploy BOSH and Ops Manager](./deploy-bosh-om.html).


## <a id='contents'></a> Contents

* [Deploying PAS on AWS](./pcf-aws-manual-er-config.html)

* [Deploying PAS on AWS Using Terraform](./aws-er-config-terraform.html)

* [Deploying PAS on Azure](./azure-er-config.html)

* [Deploying PAS on GCP](./gcp-er-config.html)

* [Deploying PAS on GCP Using Terraform](./gcp-er-config-terraform.html)

* [Deploying PAS on OpenStack](./openstack-er-config.html)

* [Deploying PAS on vSphere](./config-er-vmware.html)