---
title: Manually Installing PCF on Azure
owner: Ops Manager
---

Complete the following procedures to manually install Pivotal Cloud Foundry (PCF) on Azure:

1. Choose one of the following installation procedures for the BOSH director and Ops Manager:
  * [Launching a BOSH Director Instance with an ARM Template](azure-arm-template.html): Perform the procedures in this topic to deploy BOSH Director with an Azure Resource Manager (ARM) template. Pivotal recommends using an ARM template.
  * [Launching a BOSH Director Instance on Azure without an ARM Template](azure-om-deploy.html): Perform the procedures in this topic to deploy BOSH Director manually.

1. <a class="subnav" href="./azure-om-config.html">Configuring BOSH Director on Azure</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

1. <a class="subnav" href="./azure-er-config.html">Deploying PAS on Azure</a>
