---
title: Configuring Proxy Settings for BOSH CPI
owner: Ops Manager
---

<strong><%= modified_date %></strong>


This topic describes the setup and scope of the BOSH CPI Proxy settings found 
in the setup page.

## <a id='scope'></a>BOSH Director Proxy Setting Scope ##

Proxy settings were added to BOSH and Ops Manager to provide a way to proxy 
HTTP requests from the BOSH CPI to the IaaS endpoints for each IaaS. 
As of the latest modification of this topic, the proxy settings are limited to 
the BOSH CPI and IaaS endpoints. 
The Pivotal Platform team is considering proxying blobstore (S3) and database 
traffic (RDS) from the BOSH Director, as well as proxying traffic from Pivotal 
tiles such as Elastic Runtime.

## <a id='setup-page'></a>Set Up Ops Manager ##

1. When Ops Manager starts for the first time, you must choose one of the 
following:
   * [Use an Identity Provider](#idp): If you use an Identity Provider, an 
     external identity server maintains your user database.
   * [Internal Authentication](#internal): If you use Internal Authentication, 
     PCF maintains your user database.

     <%= image_tag("select-authentication.png") %>

1. For either option, you must enter HTTP or HTTPS proxy URLs.

1. Enter IP addresses that will not be proxied in the No Proxy field, including 
the following:
   * The BOSH Director IP address. The BOSH Director IP address must be added to 
     the **No Proxy** field. The BOSH Director IP address is the first IP address 
     following your the range of IP addresses that you specify as Reserved. For 
     example, if you enter `10.0.16.0-10.0.16.10` in the **Reserved IP Ranges** 
     field of the networks page, the BOSH Director IP address is `10.0.16.11`.
   * 127.0.0.1
