---
title: Understanding the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager interface.

<%= image_tag("interface.png") %>


- **A**---**Available Products**: Displays a list of products you have imported that are ready for installation. Click the **Import a Product** link to add a new product to Ops Manager.

- **B**---**Installation Dashboard**: Displays a product tile for each installed product.

- **C**---**Actions menu**: Includes the following options:

  - **Download activity data**: Downloads a directory containing the config file for the installation, the deployment history, and version information.

  - **Import installation settings**: Navigates to the **Import installation settings** view. Select this option to import an existing PCF installation with all of its assets. When you import an installation, the prior installation disappears and is replaced by the newly imported one.

 - **Export installation settings**: Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the installation IP addresses. It also contains the base VM images and necessary packages. As a result, an export can be very large (as much as 5 GB or more).

 - **Delete this installation**: Deletes the current installation with all of its assets.

- **D**---**User account menu**: Use this menu to change your password or log out.

- **E**---**Pending Changes view**: Displays queued installations and updates that will install during the next deploy.

<p class="note"><strong>Note</strong>: When an update depends on prerequisites, the prerequisites automatically install first.</p>
