---
title: Understanding the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager interface.

<%= image_tag("interface.png") %>

- **A**--- Displays a list of products you have imported that are ready for installation.
	* Click the **Import a Product** link to add a new product to Ops Manager.
	* If an upgrade is available, an active **Upgrade** button appears when you hover over the name of the product. If you are using the [Pivotal Network API](../customizing/add-delete.html), the latest version of an existing product appears automatically.
 	* Click **Delete All Unused Products** to delete any unused products.

- **B**---**Installation Dashboard**: Displays a product tile for each installed product.

- **C**---**User account menu**: Use this menu to navigate to your **Settings** page, view **My Account** to change your email and password, or log out of the **Installation Dashboard**.

- **D**---**Settings**: This menu option opens a page with several configuration panes. See the [Settings Page](#settings) section of this topic for details.

- **E**---**Pending Changes view**: Displays queued products and updates that will install during the next deploy. Clicking on a product expands its list of errands and lets you change the errand run rules for the next deploy. For more information, see [Managing Errands in Ops Manager](./managing_errands.html).

- **F**---**Apply Changes button**: Clicking the button applies pending changes, as listed, to your deployment. You can also view the logs of past installation updates by clicking **Change Log**.

- **G**---**Orange colored bar**: Indicates that additional configuration for the product tile is required before deployment. Click on the product tile to complete its configuration. In addition, the **Apply Changes** button is low lit to indicate that changes cannot be applied without additional product configuration.

<p class="note"><strong>Note</strong>: When an update depends on prerequisites, the prerequisites automatically install first.</p>

## <a id='settings'></a>Settings Page ##

Navigate to the **Settings** page by clicking on your user name located at the upper right corner of the screen and selecting **Settings**. 

<%= image_tag("settings_menu.png") %>

The following list describes each configuration pane:

- **Decryption Passphrase**: Reset your **decryption passphrase**.

- **Authentication Method**: You can switch Identity Providers by entering your **Decryption passphrase**, **Saml idp metadata**, and optionally, your **BOSH IdP metadata**. For more information about setting up your Identity Provider, view the following instructions for your configuration:
	* [Amazon Web Services](../customizing/pcf-aws-manual-om-config.html)
	* [Google Cloud Platform](../customizing/gcp-om-config.html#idp)
	* [Microsoft Azure](../customizing/azure-om-config.html#idp)
	* [OpenStack](../customizing/openstack-om-config.html#idp)
	* [vSphere](../customizing/vsphere-config.html)

- **External API Access**: Enter your [Pivotal Network API](../customizing/add-delete.html#pivnet-api) token to connect your **Installation Dashboard** to the Pivotal Network.

- **Proxy Settings**: If you are using a proxy to connect to Ops Manager, update your **Proxy Settings** by providing a **HTTP proxy**, **HTTPS proxy**, or **No proxy**.

- **Custom Banner**: Create a custom text banner to communicate important messages to operators. For **UI Banner**, enter the text you want to be shown on each page of the Ops Manager UI. For **SSH Banner**, enter the text that appears when an operator shells into Operations Manager.

- **Export Installation Settings**: Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the installation IP addresses. It also contains the base VM images and necessary packages. As a result, an export can be very large (as much as 5 GB or more).

- **Advanced**:
  	* **Download activity data** - Downloads a directory containing the config file for the installation, the deployment history, and version information.
	* **Download Root CA Cert** - Use this to download the root CA certificate of your deployment as an alternative to curling the Ops Manager API.
	* **View diagnostic report** - Displays various types of information about the configuration of your deployment.
	* **Delete this Installation**

## <a id='account_settings'></a>My Account (Account Settings) page ##

To change your email and password, navigate to the **My Account** page by clicking on your user name located at the upper right corner of the screen and selecting **My Account**. 

<%= image_tag("account_settings.png") %>
