---
title: Understanding the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager interface.

<%= image_tag("interface.png") %>


- **A**--- Displays a list of products you have imported that are ready for installation.
	* Click the **Import a Product** link to add a new product to Ops Manager.
	* If an upgrade is available, an active **Upgrade** button appears when you hover over the name of the product. If you are using the [Pivotal Network API](../customizing/add-delete.html), the latest version of an existing product appears automatically.
 	* Click **Delete All Unused Products** to delete any unused products.

- **B**---**Installation Dashboard**: Displays a product tile for each installed product.

- **C**---**User account menu**: Use this menu to navigate to your **Settings**, view **My Accounts** to change your password, or log out of the **Installation Dashboard**.

	<%= image_tag("account_settings.png") %>

- **D**---**Settings page**: Includes the following options:
	<%= image_tag("settings_menu.png") %>

  - **Decryption Passphrase**: Reset your **decryption passphrase**.

  - **Authentication Settings**: Switching to a [SAML external user store](../opsguide/auth-sso.html) allows the User Account and Authentication (UAA) server to delegate authentication to existing enterprise user stores.

  - **External API Access**: Save your [Pivotal Network API](../customizing/add-delete.html#pivnet-api) token to connect your **Installation Dashboard** to the Pivotal Network.

    - **Proxy Settings**: If you are using a proxy to connect to Ops Manager, update your **Proxy Settings** by providing a **Http proxy**, **Https proxy**, or **No proxy**.

  - **Export settings**: Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the installation IP addresses. It also contains the base VM images and necessary packages. As a result, an export can be very large (as much as 5 GB or more).

 - **Advanced**: Choose **Download activity data** or **View diagnostic report**.
	  	* **Download activity data** - Downloads a directory containing the config file for the installation, the deployment history, and version information.
		* **View diagnostic report** - Displays various types of information about the configuration of your deployment.

- **E**---**Pending Changes view**: Displays queued installations and updates that will install during the next deploy. Click **Apply Changes** to apply any pending changes to your deployment.

<p class="note"><strong>Note</strong>: When an update depends on prerequisites, the prerequisites automatically install first.</p>
