---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Planning PCF
owner: PCF Documentation
---

This documentation provides an overview of how to plan a Pivotal Cloud Foundry (PCF) installation.

##<a id='overview'></a>Overview

  - Review the Requirements for your IaaS ([AWS](./aws.html), [Azure](./azure.html), [GCP](./gcp.html), [OpenStack](./openstack.html), [vSphere](./vsphere.html)).
  - Refer to the Reference Architecture for your IaaS.
  - Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your Pivotal contact.

##<a id='contents'></a>Contents

