---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Planning Your PCF Deployment
owner: PCF Documentation
---

This documentation provides an overview of how to plan a Pivotal Cloud Foundry (PCF) installation.

##<a id='overview'></a>Overview

In planning a PCF installation, you should:

- Review the Requirements for your IaaS.

- Refer to the Reference Architecture for your IaaS.

- Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your Pivotal contact.

For all of the above, the specifics depend on the IaaS that you are deploying PCF to. So the contents of this documentation are organized by IaaS.

##<a id='contents'></a>Contents

###<a id='requirements'></a>General Requirements

<%= partial 'requirements' %>

###<a id='front-end'></a>Front-End Planning for All IaaSes

 - <a href="../opsguide/security_config.html">Providing a Certificate for your SSL Termination Point</a>
 - <a href="./custom-load-balancer.html">Using Your Own Load Balancer</a>
 - <a href="./config_firewall.html">Preparing Your Firewall</a>
 - <a href="./offline_installation.html">(Optional) Installing PCF in Airgapped Environments</a>

###<a id='specific'></a>IaaS-Specific Planning

* Amazon Web Services (AWS)

  - <a href="./aws.html">PCF on AWS Requirements</a>
  - <a href="../refarch/aws/aws_ref_arch.html">AWS Reference Architecture</a>
  - <a href="./aws-iaas-user-roles.html">PCF on AWS Permissions Guidelines</a>

* Microsoft Azure

  - <a href="./azure.html">PCF on Azure Requirements</a>
  - <a href="../refarch/azure/azure_ref_arch.html">Azure Reference Architecture</a>

* Google Cloud Platform (GCP)

  - <a href="./gcp.html">PCF on GCP Requirements</a>
  - <a href="../refarch/gcp/gcp_ref_arch.html">GCP Reference Architecture</a>
  - <a href="./gcp-quotas.html">GCP Resource Quota Guidelines</a>

* OpenStack

  - <a href="./openstack.html">PCF on OpenStack Requirements</a>
  - <a href="../refarch/openstack/openstack_ref_arch.html">OpenStack Reference Architecture</a>

* vSphere

  - <a href="./vsphere.html">PCF on vSphere Requirements</a>
  - <a href="../refarch/vsphere/vsphere_ref_arch.html">vSphere Reference Architecture</a>
  - <a href="../opsguide/ssl-term.html">Configuring SSL Termination for vSphere Deployments</a>
  - <a href="./disk-format.html">vSphere Virtual Disk Types</a>
  - <a href="./vsphere-service-account.html">vSphere Permissions Guidelines</a>
  - <a href="./understand-az.html">Availability Zones in vSphere</a>


