---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Planning Your PCF Deployment
owner: PCF Documentation
---

This documentation provides an overview of how to plan a Pivotal Cloud Foundry (PCF) installation.

##<a id='overview'></a>Overview

In planning a PCF installation, you should:

- Review the Requirements for your IaaS.

- Refer to the Reference Architecture for your IaaS.

- Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your Pivotal contact.

For all of the above, the specifics depend on the IaaS that you are deploying PCF to. So the contents of this documentation are organized by IaaS.

##<a id='contents'></a>Contents

###<a id='requirements'></a>General Requirements

<%= partial 'requirements' %>

* Amazon Web Services (AWS)

  - <a href="/pivotalcf/2-0/customizing/aws.html">PCF on AWS Requirements</a>
  - <a href="/pivotalcf/2-0/refarch/aws/aws_ref_arch.html">AWS Reference Architecture</a>

* Microsoft Azure

  - <a href="/pivotalcf/2-0/customizing/azure.html">PCF on Azure Requirements</a>
  - <a href="/pivotalcf/2-0/refarch/azure/azure_ref_arch.html">Azure Reference Architecture</a>

* Google Cloud Platform (GCP)

  - <a href="/pivotalcf/2-0/customizing/gcp.html">PCF on GCP Requirements</a>
  - <a href="/pivotalcf/2-0/refarch/gcp/gcp_ref_arch.html">GCP Reference Architecture</a>
  - <a href="/pivotalcf/2-0/customizing/gcp-quotas.html">GCP Resource Quota Guidelines</a>

* OpenStack

  - <a href="/pivotalcf/2-0/customizing/openstack.html">PCF on OpenStack Requirements</a>
  - <a href="/pivotalcf/2-0/refarch/openstack/openstack_ref_arch.html">OpenStack Reference Architecture</a>

* vSphere

  - <a href="/pivotalcf/2-0/customizing/vsphere.html">PCF on vSphere Requirements</a>
  - <a href="/pivotalcf/2-0/refarch/vsphere/vsphere_ref_arch.html">vSphere Reference Architecture</a>
  - <a href="/pivotalcf/2-0/customizing/disk-format.html">vSphere Virtual Disk Types</a>
  - <a href="/pivotalcf/2-0/customizing/vsphere-service-account.html">vSphere Permissions Guidelines</a>
  - <a href="/pivotalcf/2-0/customizing/understand-az.html">Availability Zones in vSphere</a>


