---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Platform Extension Tiles
owner: PCF Documentation
---

This documentation explains how to install and configure Pivotal product tiles that extend the capabilities of the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

##<a id='contents'></a>Contents

* **[JMX Bridge](https://docs.pivotal.io/jmx-bridge/index.html)** collects and publishes data from PCF components to a Java Management Extensions (JMX) endpoint, to facilitate system monitoring and troubleshooting.

* **[PCF Healthwatch](http://docs-pcf-staging.cfapps.io/pcf-healthwatch/)** helps operators understand the current health, performance, and capacity of a PCF platform.

