---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Platform Extension Tiles
owner: PCF Documentation
---

This documentation explains how to install and configure Pivotal extension tiles to expand the capabilities of the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

Platform extension tiles are Pivotal products that add optional capabilities to the PCF platform. They expand platform capabilities like [BOSH Add-ons](./add-ons.html) do, but you install them later in the PCF platform installation process, and configure and update them in Ops Manager, as you do with PCF service tiles.

##<a id='contents'></a>Contents

* **[JMX Bridge](https://docs.pivotal.io/jmx-bridge/index.html)** collects and publishes data from PCF components to a Java Management Extensions (JMX) endpoint, to facilitate system monitoring and troubleshooting.

* **[PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/)** helps operators understand the current health, performance, and capacity of a PCF platform.

<%= vars.jmx_bridge_deprecation %>

