---
title: Quick Start PAS Configuration
owner: Docs
---

This topic describes how to minimally configure PAS for evaluation or testing purposes.

For production deployments, Pivotal recommends following the instructions in the [Configuring PAS](configure-pas.html) topic.

## <a id="prerequisites"></a> Prerequisites

Before beginning this procedure, ensure that you have successfully completed the steps to prepare your environment for PCF and install and configure the BOSH Director.

## <a id="procedures"></a> Procedure

To install PAS with minimal configuration, do the following:

1. Do the procedure in the [Assign AZs and Networks](configure-pas.html#assign-azs-networks) section of _Configuring PAS_. 
1. Do the procedure in the [Configure Domains](configure-pas.html#domains) section of _Configuring PAS_.
1. In the **Networking** pane, do the following: <%= partial 'haproxy_router_cert_config' %>
1. Disable **HAProxy forwards requests to Router over TLS** in the **Networking** pane. 
1. <%= partial 'application_security_group' %>
1. Under **SAML Service Provider Credentials**, enter a certificate and private key to be used by UAA as a SAML Service Provider for signing outgoing SAML authentication requests. You can provide an existing certificate and private key from your trusted Certificate Authority or generate a self-signed certificate. The following domain must be associated with the certificate: `*.login.YOUR-SYSTEM-DOMAIN`.
  <p class="note"><strong>Note:</strong> The Pivotal Single Sign-On Service and Pivotal Spring Cloud Services tiles require the <code>*.login.YOUR-SYSTEM-DOMAIN</code>.</p>

1. If the private key specified under **Service Provider Credentials** is password-protected, enter the password under **SAML Service Provider Key Password**.

1. Need **Encryption Keys** in **CredHub**
1. Need **email address** in **Internal MySQL** pane
1. Do procedure in `configure-lb.html#gcp-terraform`
1. Review and Apply changes
