---
title: Prerequisites to Deploying Pivotal CF
---

Before you attempt to install Pivotal CF, ensure your system meets the following prerequisites:

* vSphere 5.0, 5.1, or 5.5
* vSphere editions: standard and above
* The following vSphere user privileges:
	* Datastore (Allocate space, Browse datastore, Low-level file operations, Remove file, Update virtual machine files)
	* Folder (All)
	* Network (Assign network)
	* Resource (All)
	* vApp (All)
	* Virtual machine (All)
* Ability to create a wildcard DNS record to point to your router or load balancer. Alternatively, you could use a service such as xip.io. (Example: 172.16.64.xip.io)
- (**Recommended**) A network without DHCP available for deploying the Pivotal CF VMs. **Note**: If you have DHCP, refer to the Troubleshooting Guide to avoid issues with your installation.
* Turn hardware virtualization off if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, then you may turn this setting off. If you leave this setting on and the VM hosts do not support VT-x/EPT, then each VM will require manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.
* One IP per instance, plus a buffer of 12 IPs
- The cf command line interface tool version 5.4.3 or higher.
* Capacity for the following virtual machines:

<style type="text/css">
.table {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.table th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.table tr {background-color:#d4e3e5;}
.table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.table tr:hover {background-color:#ffffff;}
</style>


<table border="1" class="table" >
<tr><th><strong>INSTANCES</strong></th><th><strong>VM</strong></th><th><strong>RAM (GB)</strong></th><th><strong>DISK (GB)</strong></th><th><strong>CPU</strong></th></tr>
<tr><td>1</td><td>NATS</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>Health Manager</td><td>3</td><td>36</td><td>1</td></tr>
<tr><td>1</td><td>NFS Server</td><td>1</td><td>100</td><td>1</td></tr>
<tr><td>1</td><td>Cloud Controller Database</td><td>1</td><td>4</td><td>1</td></tr>
<tr><td>1</td><td>Cloud Controller</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Router</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Syslog</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>Collector</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>UAA Database</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>UAA</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>SAML Login</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>Console Database</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>DEA</td><td>16</td><td>11</td><td>2</td></tr>
<tr><td>1</td><td>Loggregator Server</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Loggregator Router</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>6</td><td>Compilation</td><td>1</td><td>4</td><td>2</td></tr>
<tr><th><strong>21</strong></th><th><strong>TOTALS</strong></th><th><strong>33</strong></th><th><strong>204</strong></th><th><strong>18</strong></th></tr>
</table>
