---
title: Prerequisites to Deploying Operations Manager and Elastic Runtime
---

<strong><%= modified_date %></strong>

This topic explains system requirements for deploying the Pivotal Operations
Manager and Elastic Runtime applications.

## <a id="vsphere"></a>vSphere/vCenter Requirements ##

The following are the minimum resource requirements for maintaining a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment with Ops Manager and Elastic Runtime on vSphere:

* vSphere 6.0, 5.5, or 5.1.
* vSphere editions: standard and above.
* Ops Manager Director must have HTTPS access to vCenter and ESX hosts on TCP ports 443, 902, and 903.
* A configured vSphere cluster:
  * If you enable vSphere DRS (Distributed Resource Scheduler) for the cluster, you must set the Automation level to **Partially automated** or **Fully automated**. If you set the Automation level to **Manual**, the BOSH automated installation will fail with a `power_on_vm` error when BOSH attempts to create virtual VMs.
  * Turn hardware virtualization off if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, then you can turn this setting off. If you leave this setting on and the VM hosts do not support VT-x/EPT, then each VM requires manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.
* Ops Manager requires read/write permissions to the datacenter level of the [vSphere Inventory Hierarchy](http://pubs.vmware.com/vsphere-4-esx-vcenter/index.jsp?topic=/com.vmware.vsphere.dcadmin.doc_41/vsp_dc_admin_guide/managing_users_groups_roles_and_permissions/c_hierarchical_inheritance_of_permissions.html) to successfully install. Pivotal recommends using the default [VMware Administrator System Role](http://pubs.vmware.com/vsphere-51/index.jsp#com.vmware.wssdk.pg.doc/PG_Authenticate_Authorize.8.6.html#1110514) to achieve the appropriate permission level, or a custom role that has all privileges for all objects in the datacenter, including propagating privileges to children. Be advised that Ops Manager might indicate that you do not have the appropriate rights to create/delete folders when this is untrue. If so, click **Ignore errors and start the install** to continue.

<p class='note'><strong>Note</strong>: If you are using the Cisco Nexus 1000v Switch, refer to the <a href="nexus-switch.html">Using the Cisco Nexus 1000v Switch with Ops Manager</a> topic for more information.</p>

<p class='note'><strong>Note</strong>: When installing Ops Manager on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

## <a id="vcloud-air"></a>vCD/vCloud Air Requirements ##

The following are the minimum resource requirements for maintaining a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment with Ops Manager and Elastic Runtime on vCloud Air:

* vCD 5.1, 5.2, or 5.6 (vCloud Air)
* Disk space: 120GB
* Memory: 60GB
* Two public IP addresses: One for Elastic Runtime and one for Ops Manager
* vCPU cores: 28
* Overall CPU: 17 GHz
* Virtual infrastructure administrator privileges to enable Elastic Runtime to automatically power VMs on and off

<p class="note"><strong>Note</strong>: For more information about user privileges, refer to the "User Privileges by Role" section in the <a href="http://www.vmware.com/pdf/vchs_users_guide.pdf">VMware vCloud Air User's Guide</a>.</p>

## <a id="aws"></a>Amazon Web Services ##

The following are the minimum resource requirements for maintaining a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment with Ops Manager and Elastic Runtime on Amazon Web Services infrastructure:

* 1 Elastic Load Balancer
* 1 Relational Database Service. We recommend at least a db.m3.large instance with 100 GB of allocated storage.
* 2 S3 Buckets
* EC2 Instances:
  * 10 t2.micros
  * 1 r3.xlarge (1 per DEA)
  * 1 c4.xlarge
  * 2 m3.large

See [Installing Pivotal Cloud Foundry&reg; on AWS using CloudFormation](./cloudform.html) for more detailed installation requirements.

## <a id="openstack"></a>OpenStack ##

Pivotal has tested and certified Pivotal Cloud Foundry&reg; on Mirantis OpenStack
versions 5.1 (IceHouse) and 6.1 (Juno).
Other OpenStack releases and distributions based on Havana, Icehouse, and Juno
may also function properly.

See [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html) for detailed requirements.


## <a id="general"></a>General Requirements ##

The following are general requirements for deploying and managing the Pivotal Operations Manager and Elastic Runtime applications:

* The following user privileges:
	* Datastore (Allocate space, Browse datastore, Low-level file operations, Remove file, Update virtual machine files)
	* Folder (All)
	* Network (Assign network)
	* Resource (All)
	* vApp (All)
	* Virtual machine (All)
* (**Recommended**) Ability to create a wildcard DNS record to point to your
router or load balancer.
Alternatively, you can use a service such as xip.io. (Example:
172.16.64.xip.io).
<br /><br />
    Elastic Runtime gives each application its own hostname in your app domain.
    With a wildcard DNS record, every hostname in your domain resolves to the IP
    address of your router or load balancer, and you do not need to configure an
    A record for each app hostname. For example, if you create a DNS record
    `*.example.com` pointing to your router, every application deployed to the
    `example.com` domain resolves to the IP address of your router.

* (**Recommended**) A network without DHCP available for deploying the Elastic
Runtime VMs.
<p class="note"><strong>Note</strong>: If you have DHCP, refer to the Troubleshooting Guide to avoid issues with your installation.</p>

* Sufficient IP Allocation:
  * One IP address for each VM instance.
  * An additional IP address for each instance that requires static IPs.
  * An additional IP address for each errand.
  * An additional IP address for each compilation worker.
`IPs needed = VM instances + static IPs + errands + compilation workers`

<p class="note"><strong>Note</strong>: BOSH requires that you allocate a sufficient number of additional dynamic IP addresses when configuring a reserved IP range during installation. BOSH uses these IPs during installation to compile and deploy VMs, install Elastic Runtime, and connect to services. We recommend that you allocate at least 36 dynamic IP addresses when deploying Ops Manager and Elastic Runtime.
</p>

* The cf command line interface (cf CLI) tool version 6.1.1 or higher.
* One or more NTP servers.
<br /><br />
<a id='capacity-requirements'></a>The following table lists the recommended minimum capacity for the virtual machines required by different PCF components.
<table id='req-table' border="1" class="nice" >
  <thead>
    <tr>
      <th><strong>Virtual Machine</strong></th>
      <th><strong>Instances</strong></th>
      <th><strong>CPU</strong></th>
      <th><strong>RAM (MB)</strong></th>
      <th><strong>Ephemeral Disk (MB)</strong></th>
      <th><strong>Persistent Disk (MB)</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Message Bus (NATS)</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Consul</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>1024</td>
    </tr>
    <tr>
      <td>etcd</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>1024</td>
    </tr>
        <tr>
      <td>Diego BBS</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>1024</td>
    </tr>
        <tr>
      <td>NFS Server</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>102400</td>
    </tr>
        <tr>
      <td>Router</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>MySQL Proxy</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>4096</td>
      <td>0</td>
    </tr>
    <tr>
      <td>MySQL Server</td>
      <td>1</td>
      <td>2</td>
      <td>8192</td>
      <td>30000</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>Cloud Controller Database</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>2048</td>
    </tr>
    <tr>
      <td>UAA Database</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>8192</td>
    </tr>
    <tr>
      <td>Apps Manager Database</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>1024</td>
    </tr>
    <tr>
      <td>Cloud Controller</td>
      <td>1</td>
      <td>1</td>
      <td>4096</td>
      <td>20480</td>
      <td>0</td>
    </tr>
    <tr>
      <td>HAProxy</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
        <tr>
      <td>Health Manager</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Clock Global</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Cloud Controller Worker</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
     <tr>
      <td>Collector</td>
      <td>0</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>UAA</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Diego Brain</td>
      <td>1</td>
      <td>1</td>
      <td>2048</td>
      <td>4096</td>
      <td>1024</td>
    </tr>
    <tr>
      <td>Diego Cell</td>
      <td>3</td>
      <td>2</td>
      <td>16384</td>
      <td>65536</td>
      <td>0</td>
    </tr>
    <tr>
      <td>DEA</td>
      <td>0</td>
      <td>2</td>
      <td>16384</td>
      <td>32768</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Doppler Server</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Loggregator Trafficcontroller</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>2048</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Push Apps Manager</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Push App Usage Service</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Run Smoke Tests</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Notifications</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Run Notifications Tests</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Notifications-UI</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Run Notifications-UI-tests</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Deploy CF Autoscaling App</td>
      <td>1</td>
      <td>1</td>
      <td>512</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Register Autoscaling Service Broker</td>
      <td>1</td>
      <td>1</td>
      <td>512</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Destroy Autoscaling Service Broker</td>
      <td>1</td>
      <td>1</td>
      <td>512</td>
      <td>1024</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Run Autoscaling Tests</td>
      <td>1</td>
      <td>1</td>
      <td>512</td>
      <td>1024</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Run Diego Acceptance Tests</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Run CF Acceptance Tests</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Run CF Acceptance Tests without Internet</td>
      <td>1</td>
      <td>1</td>
      <td>1024</td>
      <td>1024</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Compilation</td>
      <td>4</td>
      <td>2</td>
      <td>1024</td>
      <td>20480</td>
      <td>0</td>
    </tr>
    <tr>
      <th><strong>TOTALS</strong></th>
      <th><strong>44</strong></th>
      <th><strong>48</strong></th>
      <th><strong>87 GB</strong></th>
      <th><strong>222.512 GB</strong></th>
      <th><strong>217.76 GB</strong></th>
    </tr>
  </tbody>
</table>

<br />
[Return to the Getting Started Guide](../getstarted/index.html)
