---
title: Prerequisites to Deploying Operations Manager and Elastic Runtime
---

This topic explains system requirements for deploying the Pivotal Operations
Manager and Elastic Runtime applications.

## <a id="vsphere"></a>vSphere Requirements ##

* vSphere 5.0, 5.1, or 5.5
* vSphere editions: standard and above
* Turn hardware virtualization off if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, then you may turn this setting off. If you leave this setting on and the VM hosts do not support VT-x/EPT, then each VM will require manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.

## <a id="vchs"></a>vCD / vCHS Requirements ##

* vCD 5.1, 5.2, or 5.6 (vCHS)

## <a id="general"></a>General Requirements ##

* The following user privileges:
	* Datastore (Allocate space, Browse datastore, Low-level file operations, Remove file, Update virtual machine files)
	* Folder (All)
	* Network (Assign network)
	* Resource (All)
	* vApp (All)
	* Virtual machine (All)
* (**Recommended**) Ability to create a wildcard DNS record to point to your router or load balancer.
Alternatively, you could use a service such as xip.io. (Example: 172.16.64.xip.io).

    Elastic Runtime gives each application its own hostname in your app domain.
    With a wildcard DNS record, every hostname in your domain resolves to the IP
    address of your router or load balancer, and you do not need to configure an
    A record for each app hostname. For example, if you create a DNS record
    `*.example.com` pointing to your router, every application deployed to the
    `example.com` domain resolves to the IP address of your router.

    **Note**: If you do not use a wildcard DNS record, add an A record pointing
    to your router or load balancer for every application you deploy.

* (**Recommended**) A network without DHCP available for deploying the Elastic Runtime VMs. **Note**: If you have DHCP, refer to the Troubleshooting Guide to avoid issues with your installation.
* One IP address per instance, plus a buffer of at least 12 additional IP addresses.
* The cf command line interface tool version 6.1.1 or higher.
* Capacity for the following virtual machines:

<table border="1" class="nice" >
<tr>
  <th><strong>VIRTUAL MACHINE</strong></th>
  <th><strong>INSTANCES</strong></th>
  <th><strong>CPU</strong></th>
  <th><strong>RAM (MB)</strong></th>
  <th><strong>EPHEMERAL DISK (MB)</strong></th>
  <th><strong>PERSISTENT DISK (MB)</strong></th>
</tr>
<tr>
  <td>Ops Manager Director</td><td>1</td><td>4</td><td>3072</td><td>16384</td><td>20480</td>
</tr>
<tr>
  <td>HAProxy</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Message Bus (NATS)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>etcd Leader</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>1024</td>
</tr>
<tr>
  <td>etcd</td><td>2</td><td>1</td><td>1024</td><td>2048</td><td>1024</td>
</tr>
<tr>
  <td>Health Manager</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Blob Store (NFS Server)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>102400</td>
</tr>
<tr>
  <td>Cloud Controller Database</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>2048</td>
</tr>
<tr>
  <td>Cloud Controller</td><td>1</td><td>1</td><td>4096</td><td>10240</td><td>0</td>
</tr>
<tr>
  <td>Clock Global</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Cloud Controller Worker</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Router</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
  <td>Collector</td><td>0</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>OAuth2 Server Database (UAA Database)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>8192</td>
</tr>
<tr>
  <td>OAuth2 Server (UAA)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Login Server (SAML Login)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Console Database</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>1024</td>
</tr>
<tr>
  <td>Application Execution (DEA)</td><td>1</td><td>2</td><td>16384</td><td>32768</td><td>0</td>
</tr>
<tr>
  <td>App Log Aggregator (Loggregator Server)	</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>App Log Aggregator Traffic Controller (Loggregator Traffic Controller)</td><td>1</td><td>1</td><td>1024</td><td>2048</td><td>0</td>
</tr>
<tr>
  <td>Compilation</td><td>5</td><td>2</td><td>1024</td><td>6144</td><td>0</td>
</tr>
<tr>
  <td>Post-Install Errands</td><td>1</td><td>1</td><td>1024</td><td>1024</td><td>0</td>
</tr>
<tr>
  <th><strong>TOTALS</strong></th>
  <th><strong>26</strong></th>
  <th><strong>27</strong></th>
  <th><strong>42 GB</strong></th>
  <th><strong>99 GB</strong></th>
  <th><strong>123 GB</strong></th>
</tr>
</table>

[Return to the Getting Started Guide](../getstarted/index.html)