---
title: Prerequisites to Deploying Operations Manager and Elastic Runtime
---

This topic explains system requirements for deploying the Pivotal Operations
Manager and Elastic Runtime applications.

## <a id="vsphere"></a>vSphere Requirements ##

* vSphere 5.0, 5.1, or 5.5
* vSphere editions: standard and above
* A configured vSphere cluster:
    * If you enable vSphere DRS (Distributed Resource Scheduler) for the
	cluster, you must set the Automation level to **Partially automated** or
	**Fully automated**. If you set the Automation level to **Manual**, the BOSH
	automated installation will fail with a `power_on_vm` error when BOSH
	attempts to create virtual VMs.
* Turn hardware virtualization off if your vSphere hosts do not support
VT-X/EPT.
If you are unsure whether the VM hosts support VT-x/EPT, then you can turn this
setting off.
If you leave this setting on and the VM hosts do not support VT-x/EPT, then each
VM requires manual intervention in vCenter to continue powering on without the
Intel virtualized VT-x/EPT.
Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.
* Ops Manager requires read/write permissions to the data center level of the [vSphere Inventory Hierarchy](http://pubs.vmware.com/vsphere-4-esx-vcenter/index.jsp?topic=/com.vmware.vsphere.dcadmin.doc_41/vsp_dc_admin_guide/managing_users_groups_roles_and_permissions/c_hierarchical_inheritance_of_permissions.html) to successfully install. Be advised that Ops Manager might indicate that you do not have the appropriate rights to create/delete folders when this is untrue. If so, click **Ignore errors and start the install** to continue.

<p class='note'><strong>Note</strong>: When installing Ops Manager on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

## <a id="vcloud-air"></a>vCD/vCloud Air Requirements ##

* vCD 5.1, 5.2, or 5.6 (vCloud Air)

## <a id="openstack"></a>OpenStack ##

Command line install available only through Pivotal Professional Services.

## <a id="aws"></a>Amazon Web Service ##

Command line install available only through Pivotal Professional Services.

## <a id="general"></a>General Requirements ##

<p class='note'><strong>Note</strong>: Ops Manager fails to create VMs using the Cisco NSX 1000v switch. This is a known issue. Pivotal recommends using a <a href="http://pubs.vmware.com/vsphere-51/index.jsp?topic=%2Fcom.vmware.vsphere.networking.doc%2FGUID-09176C71-1748-460B-BB7B-3671AB855D7E.html">vSphere Distributed Switch</a>.</p>

* The following user privileges:
	* Datastore (Allocate space, Browse datastore, Low-level file operations, Remove file, Update virtual machine files)
	* Folder (All)
	* Network (Assign network)
	* Resource (All)
	* vApp (All)
	* Virtual machine (All)
* (**Recommended**) Ability to create a wildcard DNS record to point to your
router or load balancer.
Alternatively, you can use a service such as xip.io. (Example:
172.16.64.xip.io).
<br /><br />
    Elastic Runtime gives each application its own hostname in your app domain.
    With a wildcard DNS record, every hostname in your domain resolves to the IP
    address of your router or load balancer, and you do not need to configure an
    A record for each app hostname. For example, if you create a DNS record
    `*.example.com` pointing to your router, every application deployed to the
    `example.com` domain resolves to the IP address of your router.

* (**Recommended**) A network without DHCP available for deploying the Elastic
Runtime VMs.
<p class="note"><strong>Note</strong>: If you have DHCP, refer to the Troubleshooting Guide to avoid issues with your installation.</p>
* One IP address for each instance.
* An additional IP address for each instance that requires static IPs.
<p class="note"><strong>Note</strong>: BOSH requires that you allocate a sufficient number of additional dynamic IP addresses when configuring a reserved IP range during installation. BOSH uses these IPs during installation to compile and deploy VMs, install Elastic Runtime, and connect to services. We recommend that you allocate at least 36 dynamic IP addresses when deploying Ops Manager and Elastic Runtime.
* HTTPS access to vCenter on TCP ports 443, 902, and 903.
* The cf command line interface tool version 6.1.1 or higher.
* One or more NTP servers.
* Capacity for the following virtual machines:

<table border="1" class="nice" >
<tr>
  <th><strong>VIRTUAL MACHINE</strong></th>
  <th><strong>INSTANCES</strong></th>
  <th><strong>CPU</strong></th>
  <th><strong>RAM (MB)</strong></th>
  <th><strong>EPHEMERAL DISK (MB)</strong></th>
  <th><strong>PERSISTENT DISK (MB)</strong></th>
  <th><strong>DYNAMIC IP</strong></th>
  <th><strong>STATIC IP</strong></th>
</tr>
<tr>
  <td>Ops Manager Director</td><td>1</td><td>4</td><td>3072</td><td>19456</td><td>20480</td><td>&nbsp;</td><td>&#10003;</td>
</tr>
<tr>
  <td>HAProxy</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>Message Bus (NATS)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>etcd Leader</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>1024</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>etcd</td><td>2</td><td>1</td><td>1024</td><td>5120</td><td>1024</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Health Manager</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Blob Store (NFS Server)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>102400</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>Cloud Controller Database</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>2048</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>Cloud Controller</td><td>1</td><td>1</td><td>4096</td><td>13312</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Clock Global</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Cloud Controller Worker</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Router</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&#10003;</td>
</tr>
  <td>Collector</td><td>0</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>OAuth2 Server Database (UAA Database)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>8192</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>OAuth2 Server (UAA)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Login Server (SAML Login)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Console Database</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>1024</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>Application Execution (DEA)</td><td>1</td><td>2</td><td>16384</td><td>35840</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>App Log Aggregator (Loggregator Server)	</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>App Log Aggregator Traffic Controller (Loggregator Traffic Controller)</td><td>1</td><td>1</td><td>1024</td><td>5120</td><td>0</td><td>&#10003;</td><td>&#10003;</td>
</tr>
<tr>
  <td>Compilation</td><td>5</td><td>2</td><td>1024</td><td>9216</td><td>0</td><td>&#10003;</td><td>&nbsp;</td>
</tr>
<tr>
  <td>Each Post-Install Errand </td><td>1</td><td>1</td><td>1024</td><td>4096</td><td>0</td><td>&#10003; </td><td>&nbsp;</td>
</tr>
<tr>
  <th><strong>TOTALS</strong></th>
  <th><strong>26</strong></th>
  <th><strong>27</strong></th>
  <th><strong>42 GB</strong></th>
  <th><strong>165 GB</strong></th>
  <th><strong>123 GB</strong></th>
  <th><strong>22</strong></th>
  <th><strong>11</strong></th>
</tr>
</table>

<p class='note'><strong>Note</strong>: Elastic Runtime deploys two post-install errands: Push Console and Smoke Test.</p>

[Return to the Getting Started Guide](../getstarted/index.html)