---
title: Using BOSH Resurrector on vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes the BOSH Resurrector and vSphere High Availability (HA), as well as how to enable them for your Pivotal Cloud Foundry (PCF) deployment. 

## <a id="about-resurrector"></a>About BOSH Resurrector ##

The Ops Manager Resurrector increases Pivotal Application Service (PAS) availability in the following ways:

- Reacts to hardware failure and network disruptions by restarting virtual
machines on active, stable hosts
- Detects operating system failures by continuously monitoring virtual
machines and restarting them as required
- Continuously monitors the BOSH Agent running on each virtual machine and
restarts the VMs as required

The Ops Manager Resurrector continuously monitors the status of all virtual
machines in an PAS deployment.
The Resurrector also monitors the BOSH Agent on each VM.
If either the VM or the BOSH Agent fail, the Resurrector restarts the virtual
machine on another active host.

### <a id="limitations"></a>Limitations ###

The following limitations apply to using the Ops Manager Resurrector:

* The Resurrector does not monitor or protect the Ops Manager VM or the BOSH
Director VM.
* The Resurrector might not be able to resolve issues caused by the loss of an
entire host.
* The Resurrector does not monitor or protect data storage.

For increased reliability, in addition to using BOSH Resurrector, Pivotal recommends that you use vSphere HA to protect all of the VMs in your deployment, and that you use a highly-available storage solution.

## <a id="about-vsphere-ha"></a>About vSphere HA  ##

In the event of a host failure, vSphere HA restarts but does not recreate VMs on alternate ESXi hosts in the same cluster. A host failure could result from a sudden power off, crash due to hardware fault, or the vSphere host becoming disconnected from the network.

BOSH Resurrector cannot recover from a host failure. It issues calls to vCenter to power down and destroy the old VM. These calls fail because those VMs are temporarily inaccessible until either the vSphere host comes back up, or vSphere HA moves the now powered-off VMs to another vSphere host (which can be done even if the vSphere host is off, as the VM's storage lives on shared storage not local to that individual vSphere host) so it's just registering the VM to an alternate vSphere host.

If the problematic vSphere host does recover/come back up, vCenter just tells it "hey, you aren't running any of these X VMs anymore" so there isn't any confusion and consistency is maintained.

## <a id="enabling"></a>Enable BOSH Resurrector ##

To enable the Ops Manager Resurrector:

1. Log into the Ops Manager web interface.

1. On the Product Dashboard, select **BOSH Director**.

    <%= image_tag("images/director-tile-vmware.png") %>

1. In the left navigation menu, select **Director Config**.

    <%= image_tag("images/resurrector/resurrector.png") %>

1. Select **Enable VM Resurrector Plugin** and click **Save**.

## <a id="enable-vsphere-ha"></a>Enable vSphere HA ##

Follow the steps below to enable vSphere High Availability:

1. Launch the vSphere Management Console.

1. Right-click the cluster that contains the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) deployment and select **Edit Settings**.

1. Select the **Turn on vSphere High Availability** checkbox.

    <%= image_tag("images/resurrector/enable-ha.jpg") %>

1. Click **OK** to enable vSphere High Availability on the cluster.


