---
title: Using Ops Manager Resurrector on VMware vSphere
---

The Ops Manager Resurrector increases Elastic Runtime availability by:

- Reacting to hardware failure and network disruptions by restarting virtual
machines on active, stable hosts.
- Detecting operating system failures by continuously monitoring virtual
machines and restarting them as required.
- Continuously monitoring the BOSH Agent running on each virtual machine and
restarting the VMs as required.

Ops Manager Resurrector continuously monitors the status of all virtual machines
in an Elastic Runtime deployment.
Additionally, the Resurrector monitors the BOSH Agent on each VM.
If either the VM or the BOSH Agent fail, Resurrector restarts the virtual
machine on another active host.

<p class="note"><strong>Note</strong>: The Ops Manager Resurrector cannot
protect the virtual machine running Ops Manager.
Pivotal recommends that you use vSphere High Availability to protect the Ops Manager
VM.</p>

## <a id="excluding"></a>Enabling vSphere High Availability ###

Follow the steps below to enable vSphere High Availability:

1. Launch the vSphere Management Console.

1. Right-click the cluster that contains the Pivotal CF deployment and select
**Edit Settings**.

1. Check the **Turn on vSphere High Availability** checkbox.

    <%= image_tag("images/resurrector/enable-ha.jpg") %>

1. Click **OK** to enable vSphere High Availability on the cluster.

## <a id="enabling"></a>Enabling Ops Manager Resurrector ##

To enable the Ops Manager Resurrector:

1. Log into the Pivotal CF Ops Manager web interface.

1. On the Product Dashboard, select **Ops Manager Director**.

    <%= image_tag("images/resurrector/ops-manager-version-button.png") %>

1. In the left navigation menu, select **System Settings**.

1. Check **Enable VM resurrector plugin**. Click **Save**.

    <%= image_tag("images/resurrector/enable-vm-resurrector.png") %>

1. Ops Manager Resurrector is now enabled.