---
title: Using Ops Manager Resurrector on vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

The Ops Manager Resurrector increases Pivotal Application Service (PAS) availability in the following ways:

- Reacts to hardware failure and network disruptions by restarting virtual
machines on active, stable hosts
- Detects operating system failures by continuously monitoring virtual
machines and restarting them as required
- Continuously monitors the BOSH Agent running on each virtual machine and
restarts the VMs as required

The Ops Manager Resurrector continuously monitors the status of all virtual
machines in an PAS deployment.
The Resurrector also monitors the BOSH Agent on each VM.
If either the VM or the BOSH Agent fail, the Resurrector restarts the virtual
machine on another active host.

## <a id="limitations"></a>Limitations ##

The following limitations apply to using the Ops Manager Resurrector:

* The Resurrector does not monitor or protect the Ops Manager VM or the BOSH
Director VM.
* The Resurrector might not be able to resolve issues caused by the loss of an
entire host.
* The Resurrector does not monitor or protect data storage.

For increased reliability, in addition to using BOSH Resurrector, Pivotal recommends that you use vSphere High Availability to protect all of the VMs in your deployment, and that you use a highly-available storage solution.

## <a id="excluding"></a>Enabling vSphere High Availability ##

Follow the steps below to enable vSphere High Availability:

1. Launch the vSphere Management Console.

1. Right-click the cluster that contains the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) deployment and select **Edit Settings**.

1. Select the **Turn on vSphere High Availability** checkbox.

    <%= image_tag("images/resurrector/enable-ha.jpg") %>

1. Click **OK** to enable vSphere High Availability on the cluster.

## <a id="enabling"></a>Enabling Ops Manager Resurrector ##

To enable the Ops Manager Resurrector:

1. Log into the Ops Manager web interface.

1. On the Product Dashboard, select **BOSH Director**.

    <%= image_tag("images/vsphere-tile.png") %>

1. In the left navigation menu, select **Director Config**.

    <%= image_tag("images/resurrector/resurrector.png") %>

1. Select **Enable VM Resurrector Plugin** and click **Save**.
