---
title: Reviewing Pending Product Changes
owner: Ops Manager
---

This topic describes the **Review Pending Changes** page and how to selectively deploy
individual or multiple tiles in Pivotal Operations Manager. Deploying tiles selectively can drastically
reduce deployment time.

## <a id="review-pending-changes"></a> Review Pending Changes Page

The following screenshot shows the **Review Pending Changes** page. Features called out with
red letters are described below.

<%# Screenshot written in Omnigraffle. Edit in ./images/omnigraffle/review-pending-changes.graffle %>
<a href="./images/review-pending-changes.png" target="_blank"> <%= image_tag("review-pending-changes.png", :alt => "Screenshot of the 'Review Pending
	    Changes' page. For a description of each labeled section, see the list
	    below.") %></a>

Each labeled section of the **Review Pending Changes** page works as follows:

- **A**---**Select All Products:** When enabled, the checkbox selects all available
products. When disabled, the checkbox deselects all available products.

- **B**---**Select Product:** The checkboxes next to each product listing allow you to select the tiles you want to deploy.
The BOSH Director is always selected.

- **C**---**Product Listing:** Each product listing displays the version of the product
staged for deployment. The top of each listing shows one of the following three colors:

  - **Green**---Tile is configured and ready for deployment.

  - **Orange**---Tile is not fully configured and cannot be deployed yet.

  - **Red**---Tile is pending deletion.

- **D**---**Depends on:** This section lists tile dependencies and versions. If you choose
to deploy a tile that has dependencies, you must also deploy all of that tile's
dependencies in the same deployment. Dependencies are shown in the following colors:

  - **Green**---The correct version of the dependency is installed.

	- **Red**---An incompatible version of the dependency is installed. If the red text includes **(optional)**, you can still apply changes.

	- **Gray**---The dependency is not installed, but it is optional.

- **E**---**Warnings:**---Red text in orange product listings indicates changes you need to make before you deploy the tile.
You might see some of the following warnings:

    - **Missing stemcell(s)**---You must import and stage one or more stemcells with Stemcell Library. The warning
    links to the Stemcell Library.

    - **Stemcell(s) out of date**---You must update one or more stemcells for your tile in Stemcell
    Library. For more information, see [Importing and Managing Stemcells](../opsguide/managing-stemcells.html).

    - **Configuration is incomplete**---You must complete the configuration of your tile.

    - **Configuration is invalid**---You must resolve your tile's invalid configurations.


- **F**---**Changes:** This section lists high-level pending changes to the product that Ops Manager has not yet attempted to deploy. When Ops Manager tries to deploy a product but the deployment fails, it clears this list and the pending changes are retained for the next deployment. To see if your product deployed successfully, see
[Change Log Page](./pcf-interface.html#changelog).<br><br>
    Listed changes include:

    - Tile deletion is staged.

    - Tile version is updated.

    - Stemcell is added.

    - Stemcell is updated.

- **G**---**Errands:** If you expand this section, you can enable or disable errands that trigger when that tile
deploys. For example, you may enable an errand to log properties. For more information,
see [Managing Errands in Ops Manager](./managing_errands.html).

- **H**---**Staged**: This section indicates the status of the tile.

- **I**---**See Changes**: Clicking this button takes you to the [Pending Changes](#pending-changes) page for that tile.

- **J**---**Apply Changes:** Clicking this button deploys all enabled tiles.

## <a id="pending-changes"></a> About Pending Changes for a Specific Tile

If you have changed the configuration of a tile in your deployment, use the **Pending Changes** page to review the changes to the existing manifest or configs line-by-line.

This page summarizes staged changes to the existing tile's configuration. The changes displayed in this page have not yet been applied to the deployment.

This page allows operators to verify changes to the manifest and configs so they can approve any staged changes before applying changes to their deployment.

## <a id="pending-changes-ui"></a> Use the Pending Changes Page

The change summary fields display features that have been enabled or disabled using the Ops Manager UI or API. These changes are staged, but have not been implemented yet. You must click **Apply Changes** to put these changes into effect.

If you want to see changes for a specific tile, do the following:

1. On the Review Pending Changes page, click **See Changes** on the tile you wish to review. A new tab opens.
2. Review the changes displayed. Settings that have been **disabled** are displayed in red with a minus sign (**-**). Settings that have been **enabled** are displayed in green with a plus sign (**+**).
3. Close the tab and return to the Review Pending Changes page to apply the changes or review other tiles.

The screenshot below shows changes to the BOSH Director's manifest.

<a href="./images/pending-tile-changes.png" target="_blank"> <%= image_tag("pending-tile-changes.png", :alt => "Main header displays 'Pending Changes for BOSH Director'. Below, under the 'Manifest' header, text from the manifest is displayed. Some lines are highlighted in green and others are highlighted in red to indicate when fields have been enabled or disabled. Below the Manifest, other categories are displayed such as 'Runtime Configs'. The other categories are all labeled as having 'No changes'.") %></a>

When you make changes to a tile, change summaries display for the following tile areas:

* Manifest
* Runtime configs
* CPI configs
* Cloud configs

If an aspect of the tile has not changed, the change summary displays `No changes`.

<p class="note"><strong>Note</strong>: Changes to errands do not display in the page UI.</p>
