---
title: Reviewing Pending Changes with Ops Manager
owner: Ops Manager
---

This topic describes the "Review Pending Changes" Ops Manager page and how to selectively deploy individual or multiple tiles.

<p class="note"><strong>Note:</strong> The feature to selectively deploy tiles is in beta. Submit feedback through your product architect or directly by emailing <a href="mailto:opsmanager-feedback+selective_deploys@pivotal.io">opsmanager-feedback+selective_deploys@pivotal.io</a>.</p>

## <a id="review-pending-changes"></a> Review Pending Changes Page

The following screenshot shows the "Review Pending Changes" page. Each section is labeled with a red letter. Click the image to see it at full size.

<%# Screenshot written in Omnigraffle. Edit in ./images/omnigraffle/review-pending-changes.graffle %>
<a href="./images/review-pending-changes.png" target="_blank">
<%= image_tag("review-pending-changes.png", :alt => "Screenshot of the 'Review Pending Changes' page. For a description of each labeled section, see the list below.") %></a>

The following list describes each labeled section of the "Review Pending Changes" page:

- **A**---**BOSH Director:** The BOSH Director tile is always enabled and always deploys. In the screenshot, the BOSH Director tile has a green border to indicate that it is fully configured.

- **B**---**Apply Changes Checkbox:** Enable the checkbox next to each tile to indicate which tiles you want to deploy.

- **C**---**Errands:** If you expand this section, you can enable or disable errands that trigger when that tile deploys. For example, you may enable an errand to log properties.

- **D**---**Depends on:** This section lists tile dependencies and versions. If you choose to deploy a tile that has dependencies, you must also deploy all of that tile's dependencies in the same deployment.

- **E**---**Missing stemcell:** Tiles cannot deploy without a stemcell. Go to **Stemcell Library** to upload a stemcell. For more information, see [Importing and Managing Stemcells](../opsguide/managing-stemcells.html).

- **F**---**Apply Changes:** Clicking this button deploys all enabled tiles. If orange tiles are enabled or if green tiles are enabled without their tile dependencies, the button is grayed out and not clickable.

## <a id="selective-deploy"></a> Selectively Deploy Tiles

From the "Review Pending Changes" page, you can deploy a selection of tiles rather than all tiles in Ops Manager. Choosing to selectively deploy tiles can drastically reduce deployment time.

To use selective deployment, perform the following steps:

1. Go to **Review Pending Changes BETA** from the Ops Manager Installation Dashboard.

1. Enable the tiles you want to deploy. When you enable a tile, you must also enable that tile's dependencies. Tiles and their dependencies always deploy together.

1. Click **Apply Changes**.
