---
title: Installing Runtimes
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

This documentation explains how to install runtime environments for applications and containers, to enable the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

Runtime environments are what PCF exists to provide. PCF includes runtime environment options that support apps and containers running on Linux and Windows VMs at different levels of resource usage and isolation:

* **PAS** (Pivotal Application Service) lets developers develop and manage cloud-native apps and software services running on Linux.
	- PAS is based on the Cloud Foundry Foundation's open-source Application Runtime (formerly Elastic Runtime) project.

* **PAS for Windows** lets PCF host apps on Windows 2016 Server VMs and enables PCF developers to push .NET apps to these Windows cells.
	- Operators can replicate and configure additional PAS for Windows tiles to run apps in separate _segments_ with their own isolated computing, routing, and logging resource pools.
	- You must install PAS before you can install PAS for Windows 2016.

* **PCF Isolation Segment** extends PAS to run apps in separate _segments_ with their own isolated computing, routing, and logging resource pools.
	- Operators replicate and configure an Isolation Segment tile for each new resource pool they want to create.
	- You must install PAS before you can install Isolation Segment.

* **Small Footprint PAS** is an alternative to PAS that uses significantly fewer VMs than PAS, but limits system capacity and availability.

* **PAS for Windows 2012R2** lets PCF host apps on Windows 2012R2 VMs and enables PCF developers to push .NET apps to these Windows cells.
	- PAS for Windows 2012R2 is more limited than PAS for Windows.
	- You must install PAS before you can install PAS for Windows 2012R2.

##<a id='contents'></a>Contents

* <a href="/pivotalcf/2-0/customizing/pas.html">PAS</a>

	- <a href="/pivotalcf/2-0/customizing/cloudform-er-config.html">Installing PAS on AWS </a>

	- <a href="/pivotalcf/2-0/customizing/pcf-aws-manual-er-config.html">Installing PAS on AWS Deployed Manually</a>

	- <a href="/pivotalcf/2-0/customizing/azure-er-config.html">Installing PAS on Azure</a>

	- <a href="/pivotalcf/2-0/customizing/gcp-er-config.html">Installing PAS on GCP</a>

	- <a href="/pivotalcf/2-0/customizing/openstack-er-config.html">Installing PAS on OpenStack</a>

	- <a href="/pivotalcf/2-0/customizing/config-er-vmware.html">Installing PAS on vSphere</a>

* <a href="https://docs-pas-windows.cfapps.io/pas-windows/index.html">PAS for Windows</a>

* <a href="/pivotalcf/2-0/customizing/installing-pcf-is.html">PCF Isolation Segment</a>

* <a href="/pivotalcf/2-0/customizing/small-footprint.html">Small Footprint PAS</a>

* <a href="https://docs-pas-windows.cfapps.io/pas-windows/index.html">PAS for Windows 2012R</a>
