---
title: Installing Runtimes
owner: PCF Documentation
---



This documentation explains how to install runtime environments for applications and containers, to enable the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview

Runtime environments are what PCF exists to provide. PCF includes runtime environment options that support apps and containers running on Linux and Windows VMs at different levels of resource usage and isolation:

* **PAS** (Pivotal Application Service) lets developers develop and manage cloud-native apps and software services running on Linux.
	- PAS is based on the Cloud Foundry Foundation's open-source Application Runtime (formerly Elastic Runtime) project.

* **PKS** (Pivotal Container Service) lets operators provision, operate, and manage enterprise-grade Kubernetes clusters on PCF.
  - PKS is based on the open-source [Cloud Foundry Container Runtime](http://docs-cfcr.cfapps.io/) project.

* **PAS for Windows 2012R2** lets PCF host apps on Windows 2012R2 VMs and enables PCF developers to push .NET apps to these Windows cells.
	- You must install PAS before you can install PAS for Windows 2012R2.


* **PCF Isolation Segment** extends PAS to run apps in separate _segments_ with their own isolated computing, routing, and logging resource pools.
	- Operators replicate and configure an Isolation Segment tile for each new resource pool they want to create.
	- You must install PAS before you can install Isolation Segment.

* **Small Footprint PAS** is an alternative to PAS that uses significantly fewer VMs than PAS, but limits system capacity and availability.

##<a id='contents'></a>Contents

* <a href="./configure-pas.html">Configuring PAS</a>

* <a href="http://docs.pivotal.io/runtimes/pks">PKS</a>

* <a href="./installing-pcf-is.html">PCF Isolation Segment</a>

* <a href="./small-footprint.html">Small Footprint PAS</a>
