---
title: Pivotal Cloud Foundry Runtimes
owner: PCF Documentation
---

This topic describes the runtime environments you can install on the Pivotal Cloud Foundry (PCF) platform.

## <a id='overview'></a>Overview

PCF includes runtime environment options that support apps and containers running
on Linux and Windows VMs at different levels of resource usage and isolation.
You install your chosen runtime or runtimes using the Ops Manager Installation
Dashboard.

PCF includes support for the following primary runtime environments:

- [Pivotal Application Service (PAS)](#pas)

- [Pivotal Container Service (PKS)](#pks)

## <a id='pas'></a>Pivotal Application Service (PAS)

PAS lets developers develop and manage cloud-native apps and software services
running on Linux. PAS is based on the open-source Cloud Foundry Application Runtime
project. To install and configure PAS, see the instructions for your IaaS in [PAS](pas.html).

As an alternative to PAS, you can install [Small Footprint PAS](#small-footprint)
to deploy your app using fewer resources.

After you install the PAS runtime tile, you can also install the following runtime
tiles that extend the functionality of PAS:

- [PAS for Windows](#pasw)
- [PCF Isolation Segment](#ist)

### <a id='small-footprint'></a>Small Footprint PAS

Small Footprint PAS is an alternative to PAS that uses significantly fewer VMs than PAS, but limits system capacity and availability.

For more information about Small Footprint PAS, see [Getting Started with Small Footprint PAS](small-footprint.html).

### <a id='pasw'></a>PAS for Windows

PAS for Windows lets PCF host apps on Windows VMs and enables PCF developers to push
.NET apps to these Windows cells. You must install PAS before you can install PAS
for Windows.

For more information about PAS for Windows, see [PAS for Windows](../windows/index.html).

### <a id='ist'></a>PCF Isolation Segment

PCF Isolation Segment extends PAS to run apps in separate segments with their own
isolated computing, routing, and logging resource pools. Operators replicate and
configure an Isolation Segment tile for each new resource pool they want to create.
You must install PAS before you can install PCF Isolation Segment.

To install PCF Isolation Segment, see [Installing PCF Isolation Segment](installing-pcf-is.html).

## <a id='pks'></a>Pivotal Container Service (PKS)

PKS lets operators provision, operate, and manage enterprise-grade Kubernetes
clusters on PCF. PKS is based on the open-source Cloud Foundry Container Runtime project.

To install and configure PKS, see [Installing PKS](https://docs.pivotal.io/pks/installing.html).
