---
title: Installing Runtimes
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

This documentation explains how to install runtime environments for applications and containers, to enable the Pivotal Cloud Foundry (PCF) platform.

##<a id='overview'></a>Overview


##<a id='contents'></a>Contents

* **[PAS for Windows 2016](https://docs-pas-windows.cfapps.io/pas-windows/index.html)** lets PAS host apps on Windows 2016 VMs and enables PCF developers to push .NET apps to these Windows cells.

* **[PAS for Windows 2012](https://docs-pas-windows.cfapps.io/pas-windows/index.html)** lets PAS host apps on Windows 2012 VMs and enables PCF developers to push .NET apps to these Windows cells.

* **[PCF Isolation Segment](../concepts/security.html#isolation-segments)** lets operators compartmentalize app hosting, routing, and logging resources into separate, dedicated resource pools.

  - [PAS](./pas.html) (Pivotal Application Service) lets developers develop and manage cloud-native apps and software services.
      - PAS is based on the Cloud Foundry Foundation's open-source Application Runtime (formerly Elastic Runtime) project.
  - [PKS](http://docs-pks.cfapps.io) (Pivotal Container Service) uses BOSH to run and manage Kubernetes container clusters.
      - PKS is based on the Cloud Foundry Foundation's open-source Container Runtime (formerly Kubo) project.
  - [PCF Isolation Segment](./installing-pcf-is.html) lets a single PAS deployment run apps from separate, isolated pools of computing, routing, and logging resources.
      - Operators replicate and configure an Isolation Segment tile for each new resource pool they want to create.
     - You must install PAS before you can install Isolation Segment.
  - [PAS for Windows](https://docs-pas-windows.cfapps.io/pas-windows/index.html) enables PAS to manage host cells running Windows Server 2016, and lets developers push .NET apps to the Windows cells.
      - As with Isolation Segment runtime, Operators replicate and configure a PAS for Windows tile for each new resource pool they want to create.
      - You must install PAS before you can install PAS for Windows 2016.
  - [PAS for Windows 2012R](https://docs-pas-windows.cfapps.io/pas-windows/index.html) enables PAS to manage Windows Server 2012 cells hosting .NET apps, and can also be replicated to create multiple isolated resource pools.
      - You must install PAS before you can install PAS for Windows 2012R.
  - [Small Footprint PAS](./small-footprint.html) is an alternative to PAS that uses far fewer VMs than PAS but has limitations.
