---
title: Managing Scheduled Scaling in the App Autoscaling Service
owner: Autoscaling
---

<strong><%= modified_date %></strong>

Follow the steps below to manage your App Autoscaling service instance.

1. Log in to the Apps Manager: <%=vars.console%>

1. Select a space containing an App Autoscaling service instance from the org
dashboard or from the left navigation bar.

1. In the Services section of the space dashboard, under your App Autoscaling
service instance name, click **Manage**.
	<p class='note'><strong>Note</strong>: To access the **Manage** link for the app autoscaling service, you must have the role of **Space Developer**. See [Managing User Accounts and Permissions Using the Apps Manager](../console/console-roles.html) for help managing user roles.</p>
	<%= image_tag 'configure/0-manage-instance.png'%>

1. By default, new autoscaling instances are paused.
If paused, click **Turn On** to enable monitoring of your application and start
the autoscaling process.

	![Paused Instance](images/configure/1-paused-instance.png)

1. Click the clock icon on your Autoscaling dashboard.

	![View Instance](images/scheduling/1-view-instance.png)

1. In the Scheduling interface, create a new rule by editing the date and time fields and choosing values for the number of minimum and maximum instances. When finished, click **Save**. See the [Rule Types](#rule-types) section of this topic for more information.

	![New Rule](images/scheduling/3-new-rule.png)

1. After saving, the left side of the Scheduling interfaces shows your rule. Click your rule to edit it.

	![Save Rule](images/scheduling/4-save-rule.png)

1. Edit your existing rule and click **Save** to save your changes.

	![Edit Rule](images/scheduling/5-edit-rule.png)

1. In the left pane of the Scheduling interfaces, click the **X** for a rule to delete it.

	![Delete Rule](images/scheduling/6-delete-rule.png)

1. Close the Scheduling interfaces to return to your Autoscaling dashboard.
The Scheduling section of the Autoscaling dashboard displays the next occurring
rule and summary information about your rules.

	![Scheduling Section](images/scheduling/7-scheduling-section.png)

##<a id='rule-types'></a>Rule Types ##

Scheduled scaling rules affect the minimum and maximum instance count values for
your application.
When the autoscaling service runs a scheduled scaling rule, it changes the
**Min** and **Max** values of the [instance count](./autoscale-configuration.html#instance-counts) of your application to the
values specified in the rule.

###<a id='one-time'></a> One-time Rules ###

The autoscaling service runs a one-time scheduled scaling rule once only. After running a one-time scheduled scaling rule, the service removes the
rule from the list of existing rules.

<p class='note'><strong>Note</strong>: You must schedule one-time rules to occur at a time in the future.</p>

###<a id='recurring'></a> Recurring Rules ###

The autoscaling service runs a recurring scheduled scaling rule on a regular
basis.
You select one or more days of the week for a rule, and the autoscaling service runs
the rule on those days every week.

Click **pause** for a particular rule to stop the autoscaling service
from running that rule.
Click **play** to resume running that rule.

<p class='note'><strong>Note</strong>: The autoscaling service does not run a recurring rule for the first time until the date specified in the rule.</p>

#### Scheduling Example ####

* The rule shown in the image below recurs every Monday and Friday at 4AM, starting on Friday, November 28, 2014.
This rule changes the minimum number of instances of the app to 10 and the maximum to 20.

	![Recurring Rule](images/scheduling/8-recurring-rule.png)

* The rule shown in the image below recurs every Wednesday at 4AM, starting on Friday, November 28, 2014. This rule changes the minimum number of instances of the app to 1 and the maximum to 3.

    ![Another Recurring Rule](images/scheduling/9-recurring-rule-2.png)

Based on the two rules above, starting on Friday, November 28, 2014, the
autoscaling service scales the minimum and maximum instance counts for the
application as follows:

* Every Monday, the autoscaling service scales the minimum up to 10 and the maximum to 20.

* Every Wednesday, the autoscaling service scales the minimum down to 1 and the maximum to 3.

* Every Friday, the autoscaling service scales the minimum back up to 10 and the maximum to 20.