---
title: Troubleshooting Ops Manager for VMware vSphere
---

This guide provides help with diagnosing and resolving issues that are specific to Pivotal CF deployments on VMware vSphere.

For infrastructure-agnostic troubleshooting help, refer to the [Pivotal CF Troubleshooting Guide](./troubleshooting.html).

## <a id='common_probs'></a>Common Issues ##

The following sections list common issues you might encounter and possible resolutions.

### <a id='vcenter-setting'></a> Pivotal CF Installation Fails ###

If you modify the vCenter Statistics Interval Duration setting from its default setting of 5 minutes, the Pivotal CF installation might fail at the MicroBOSH deployment stage, and the logs might contain the following error message:
`The specified parameter is not correct, interval`. This failure happens because Ops Manager expects a default value of 5 minutes, and the call to this method fails when the retrieved value does not match the expected default value.

To resolve this issue, launch vCenter, navigate to **Administration > vCenter Server Settings > Statistics**, and reset the vCenter Statistics Interval Duration setting to 5 minutes.

### <a id='bosh_install'></a>BOSH Automated Installation Fails ###

Before starting a Elastic Runtime deployment, you must set up and configure a vSphere cluster.

If you enable vSphere DRS (Distributed Resource Scheduler) for the cluster, you must set the Automation level to **Partially automated** or **Fully automated**.

If you set the Automation level to **Manual**, the BOSH automated installation will fail with a `power_on_vm` error when BOSH attempts to create virtual VMs.

<%= image_tag("troubleshooting/drs_automation_level.png") %>

### <a id='net-settings'></a>Ops Manager Loses Its IP Address After HA or Reboot ###

Ops Manager can lose its IP address and use DHCP due to an issue in the open source version of VMware Tools.
To resolve this issue you must log in to the Ops Manager VM and edit `/etc/network/interfaces` as follows:

<pre class='terminal'>
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0

# Generated with set_dynamic_ip script
# iface eth0 inet dhcp

# Manually configured to workaround bug https://www.pivotaltracker.com/story/show/74705618
iface eth0 inet static
address 10.70.128.16
netmask 255.255.255.0
network 10.70.128.0
broadcast 10.70.128.255
gateway 10.70.128.1

dns-nameservers 10.70.0.3
</pre>

After editing the file run `sudo /etc/init.d/networking restart`. The interfaces files will be overwritten on reboot.

### <a id='net-settings'></a>Cannot Connect to the OVF Via a Browser ###

If you deployed the OVF file but cannot connect to it via a browser, check that
the network settings you entered in the wizard are correct.

1. Access the Pivotal CF installation VM using the vSphere Console.
If your network settings are misconfigured, you will not be able to SSH into
the installation VM.

1. Log in using the credentials you provided when you imported the Pivotal CF
.ova in vCenter.

1. Confirm that the network settings are correct by checking that the ADDRESS,
NETMASK, GATEWAY, and DNS-NAMESERVERS entries are correct in
`/etc/network/interfaces`.

1. If any of the settings are wrong, run `sudo vi /etc/network/interfaces` and
correct the wrong entries.

1. In vSphere, navigate to the **Summary** tab for the VM and confirm that the
network name is correct.

    <%= image_tag("troubleshooting/network_settings.png") %>

1. If the network name is wrong, right click on the VM, select **Edit Settings > Network adapter 1**, and select the correct network.

1. Reboot the installation VM.

### <a id='communication'></a>Installation Fails with Failed Network Connection ###

If you experience a communication error while installing Ops Manager or MicroBOSH Director, check the following settings.

* Ensure that the routes are not blocked. vSphere environments use [VCNS](http://www.vmware.com/products/vcloud-network-security).
All communication between Pivotal CF VMs and vCenter or ESXi hosts route through the VCNS firewall and are blocked by default.

* Open port 443. Ops Manager and MicroBOSH Director VMs require access to vCenter and all ESX through port 443.

* Allocate more IP addresses. BOSH requires that you allocate a sufficient number of additional dynamic IP addresses when configuring a reserved IP range during installation. BOSH uses these IPs during installation to compile and deploy VMs, install Elastic Runtime, and connect to services. We recommend that you allocate at least 36 dynamic IP addresses when deploying Ops Manager and Elastic Runtime.