---
title: Troubleshooting and Uninstalling JMX Bridge
owner: PCF Metrics
---

<strong><%= modified_date %></strong>

The JMX Bridge tool (formerly Ops Metrics) is a JMX extension for Elastic Runtime. JMX Bridge collects and exposes system data from Cloud Foundry components via a JMX endpoint.
Use this system data to monitor your installation and assist in troubleshooting.

The JMX Bridge tool is composed of three virtual machines:

- The JMX Provider
- A VM that governs compilation
- A nozzle for the [Loggregator Firehose](../loggregator/architecture.html)

To deploy JMX Bridge, see the [Deploying JMX Bridge](./deploy-metrics.html) topic.

## <a id='upgrade'></a>Resolve Upgrade Error for 1.4 to 1.6 ##

If you see the following error during an upgrade from Ops Metrics 1.4 to 1.6 (now JMX Bridge):

   ![Product Pivotal Ops Metrics could not be upgraded from 1.4 to 1.6. Please contact your Pivotal representative](images/metrics/ops-metrics-upgrade-error.png)

1. [Uninstall Ops Metrics 1.4](./troubleshooting-uninstall-metrics.html#uninstall)
1. [Install Ops Metrics 1.6](http://docs.pivotal.io/pivotalcf/1.6/customizing/deploy-metrics.html#import)

## <a id='uninstall'></a>Uninstall JMX Bridge (formerly Ops Metrics) ##

1. Scale the collector resource from Elastic Runtime to `0`.

    <%= image_tag("images/metrics/ops-metrics-collector-scale.png") %>

    If you do not scale the collector resource, you get the following error:

    ![Pivotal Elastic Runtime requires p-metrics version ~> 1.2 as a dependency](images/metrics/ops-metrics-delete-error.png)

1. Proceed with uninstallation. See the [Deleting a Product](./add-delete.html#del-prod) section of the [Adding and Deleting Products](./add-delete.html) topic for details.


