---
title: Availability Zones in vSphere
owner: Ops Manager
---



This topic describes availability zones (AZs) in vSphere and an example of how an operator might scale an app across AZs.

## <a id="overview"></a> Overview

Pivotal defines an AZ as an operator-assigned, functionally-independent segment of network infrastructure. In cases of partial infrastructure failure, a tile distributes and balances all instances of running apps across remaining AZs. Strategic use of Availability Zones contributes to the fault tolerance and high availability of a tile deployment.

vSphere supports distributing deployments across multiple AZs. For more information, see _Step 4: Create Availability Zones_ in [Configuring BOSH Director on vSphere](../om/vsphere/config.html#create-az). 

It is recommended that customers use three Availability Zones to operate a highly available tile deployment.


## <a id="example-case"></a> Balancing Across AZs During Failure: Example Scenario

An operator scales an app to four instances in a tile environment distributed across three availability zones:
A1, A2, and A3. The environment allocates the instances according to the [Diego Auction](../concepts/diego/diego-auction.html). To see a visual representation of this scenario, see the following diagram:

  <%= image_tag("az_er_1.png", :alt => "A teal rectangle at the top of the diagram labeled 'Your Runtime', with three boxes with teal outlines sitting in a row underneath the top rectangle. The leftmost box is labeled 'A1' and contains two smaller teal rectangles labeled 'App Instance'. The middle box is labeled 'A2' and contains one smaller teal rectangle labeled 'App Instance'. The rightmost box is labeled 'A3' and contains one smaller teal rectangle labeled 'App Instance'.") %>

If A1 experiences a power outage or hardware failure, the two app instances running in A1 terminate while the app instances in zones A2 and A3 continue to run. To see a visual representation of this scenario, see the following diagram:

  <%= image_tag("az_er_2.png", :alt => "A teal rectangle at the top of the diagram labeled 'Your Runtime', with three boxes with teal outlines sitting in a row underneath the top rectangle. The leftmost box is labeled 'A1' and contains two smaller teal rectangles labeled 'App Instance'. The middle box is labeled 'A2' and contains one smaller teal rectangle labeled 'App Instance'. The rightmost box is labeled 'A3' and contains one smaller teal rectangle labeled 'App Instance'. The rectangle labeled 'Your Runtime' has teal arrows pointing to the middle and rightmost box, while the leftmost box has a red X over its contents.") %>

If A1 remains unavailable, the tile balances new instances of the app across the remaining availability zones. To see a visual representation of this scenario, see the following diagram:

  <%= image_tag("az_er_3.png", :alt => "A teal rectangle at the top of the diagram labeled 'Your Runtime', with three boxes with teal outlines sitting in a row underneath the top rectangle. The leftmost box is labeled 'A1' and contains nothing else. The middle box is labeled 'A2' and contains one smaller teal rectangle labeled 'App Instance'. The rightmost box is labeled 'A3' and contains one smaller teal rectangle labeled 'App Instance'. The rectangle labeled 'Your Runtime' has teal arrows pointing to the middle and rightmost box, while the leftmost box has a red X over it.") %>
