---
title: Understanding Availability Zones and Regions in VMWare installations
---

## <a id="eraz-examples"></a>Availability Zones and Regions ##

Availability zones and regions contribute to the fault tolerance and high availability of a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment. In cases of partial infrastructure failure, PCF distributes app instances and redundant VMs across backup infrastructure segments. We define these terms as follows:

* **Region**: A region is a logical construct that contains Availability Zones. It correlates to either a single data center or to multiple data centers in close geographic proximity and with very low latency network connections.  A PCF installation belongs to a single region. 

* **Availability Zone**: An AZ is a unique set of hardware components separated logically and, typically, physically, from any other AZ. If you run more than one instance of an application, Elastic Runtime balances multiple instances of each application across the AZs that you assigned to the Elastic Runtime environment with Ops Manager. 


## <a id="eraz-examples"></a>Availability Zones and Regions in vSphere ##

VSphere allows Elastic Runtime deployments to be distributed across multiple availability zones, providing increased availability and fault tolerance. 


Create availability zones with the [Ops Manager Director for VMware vSphere](./vsphere-config.html), and allocate them with [vSphere Availability Zone Assignment](./config-er-vmware.html#er-az-networks).

## <a id="eraz-examples"></a>Availability Zones and Regions in vCloud and vCloud Air ##
The architecture of VMware vCloud and vCloud Air supports the use of only one AZ. For these products, the AZ is the virtual data center that an operator accesses when configuring the <a href="./pcf-vchs-vcloud.html#access-interface">vShield Edge Gateway Services interface</a>. In the cases in which the Ops Manager deployment integrates with either of these products, PCF places all software in the single AZ, the virtual data center.

VMWare supports the configuration of [Availabity Zones in Ops Manager Director](./vsphere-config.html#az) which allocate clusters and resource pools.

## <a id="eraz-examples"></a>Application Scaling: Example Scenario ##

An operator scales an application to four instances in an Elastic Runtime environment distributed across three Availability Zones: A1, A2, and A3. The environment allocates the instances according to the [DEA Placement Algorithm](../concepts/architecture/cloud-controller.html#dea-placement):

<%= image_tag("az_er_1.png") %>

If A1 experiences a power outage or hardware failure, the two application instances running in A1 terminate while the application instances in zones A2 and A3 continue to run.

<%= image_tag("az_er_2.png") %>

If A1 remains unavailable, Elastic Runtime balances new instances of the application across the remaining Availability Zones.

<%= image_tag("az_er_3.png") %>

