---
title: Availability Zones in vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

Pivotal defines an Availability Zone (AZ) as an operator-assigned, functionally independent segment of network infrastructure. In cases of partial infrastructure failure, Pivotal Application Service (PAS) distributes and balances all instances of running applications across remaining AZs. Strategic use of Availability Zones contributes to the fault tolerance and high availability of a PAS deployment.

PAS on VMware vSphere supports distributing deployments across multiple AZs. See _Step 4: Create Availability Zones_ in [Configuring BOSH Director on vSphere](../om/vsphere/config.html#create-az). 

It is recommended that customers use three Availability Zones to operate a highly available installation of PAS.


## <a id="example-case"></a> Balancing Across AZs During Failure: Example Scenario

An operator scales an application to four instances in an PAS environment distributed across three availability zones:
A1, A2, and A3. The environment allocates the instances according to the [Diego Auction](../concepts/diego/diego-auction.html).

  <%= image_tag("az_er_1.png") %>

If A1 experiences a power outage or hardware failure, the two application instances running in A1 terminate while the application instances in zones A2 and A3 continue to run:

  <%= image_tag("az_er_2.png") %>

If A1 remains unavailable, PAS balances new instances of the application across the remaining availability zones:

  <%= image_tag("az_er_3.png") %>
