---
title: Understanding Availability Zones in Pivotal CF
---

The Availability Zone (AZ) functionality in Pivotal CF enables applications to be highly available and tolerant to infrastructure failure by distributing app instances across various locations.

Pivotal CF defines an AZ as a unique set of hardware components that are physically separated from the hardware in any other AZ. Multiple Availability Zones can exist in the same datacenter or in different datacenters in various geographic regions.

You configure an AZ with the Pivotal Ops Manager Director for VMWare vSphere and Elastic Runtime products. For more information, refer to the following topics: 

* Steps 5-6 of [Configuring Ops Manager Director for VMWare vSphere](./vsphere-config.html) 
* Step 3 of the Configure Elastic Runtime section in [Getting Started with Pivotal CF](../getstarted/index.html#configure-er)

<p class="note"><strong>Note</strong>: Only VMWare vSphere currently supports Pivotal CF AZ functionality. At present, if your Ops Manager deployment integrates with vCloud or vCloud Air, you cannot use Pivotal CF AZ functionality.</p>

Pivotal Elastic Runtime manages the application instances that run in an AZ. When you run more than one instance of an application, Elastic Runtime balances the instances across all of the zones that you assign to the application.

## <a id="eraz-examples"></a>Example Scenario ##

An operator assigns Availability Zones A1, A2, and A3 to an application. The following image shows that Elastic Runtime places two instances in A1, one in A2, and one in A3 when a developer runs four instances of the application.

<%= image_tag("az_er_1.png") %>

If A1 experiences a power outage or hardware failure, the two application instances running in A1 terminate. Because A2 and A3 are physically separated from A1, the application instances in these zones continue to run, as the following image shows.

<%= image_tag("az_er_2.png") %>

If A1 remains unavailable, Elastic Runtime balances new instances of the application across the remaining Availability Zones, as the following image shows.

<%= image_tag("az_er_3.png") %>

