---
title: Floating Stemcells
owner: Ops Manager
---



This topic describes how floating stemcells work in <%= vars.platform_name  %> and the consequences for upgrading product tiles in Pivotal Operations Manager.

## <a id="purpose"></a> Floating Stemcell Benefits

Floating stemcells have the following benefits:

- <%= vars.platform_name %> can quickly propagate a patched stemcell to all virtual machines in the deployment when a vulnerability is discovered.

- Operators can perform certain deployment-wide updates, such as CVEs, by uploading a new stemcell instead of uploading `.pivotal` files for each tile, which reduces the time spent waiting for files to upload.

## <a id="upgrade-limitations"></a> Stemcell Major and Minor Upgrade Limitations

Floating stemcells allow upgrade to the minor versions of stemcells but not the major versions.

For example, a stemcell can float from `1234.56` to `1234.99` but not from `1234.991` to `1235.0`.

## <a id="process"></a> Product Tile Upgrades

When an operator upgrades a product tile, Ops Manager performs the following steps:

1. Ops Manager checks to see whether a new minor, or patch, version of the stemcell exists.
1. If a minor stemcell is available from the current major line, Ops Manager installs the upgraded tile and all compatible product tiles in the deployment on the new stemcell.


## <a id="manage-stemcells"></a> Uploading and Managing Stemcells

Operators can upload new stemcells to their product tiles by using the Ops Manager API or by using the **Stemcell Library** in the Ops Manager Installation Dashboard. For more information about the Stemcell Library, see [Importing and Managing Stemcells](../opsguide/managing-stemcells.html).
