---
title: Understanding Floating Stemcells
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how floating stemcells work in Pivotal Cloud Foundry® (PCF) version 1.7, and the consequences for upgrading product tiles in Ops Manager.

To increase the security of your deployment, all product tiles use floating stemcells by default. This enables tiles to automatically use the latest patched version of a stemcell.  

When an operator upgrades a product tile, Ops Manager checks to see whether there is a new version of the stemcell. If an updated stemcell is available, Ops Manager installs the upgraded tile and all compatible product tiles in the deployment on the new stemcell. This ensures that when a vulnerability is discovered, PCF can quickly propagate a patched stemcell to all VMs in the deployment.

Operators can now perform certain updates, such as CVEs, by uploading a new stemcell instead of uploading an entire `.pivotal` file, which reduces the time spent waiting for files to upload. Operators can upload new stemcells using the Ops Manager API or through a product tile in the Ops Manager Installation Dashboard.

<p class="note"><strong>Note</strong>: Depending on the number of tiles in your deployment and the availability of a new stemcell, the floating stemcells feature in PCF 1.7 may significantly increase the amount of time required by a tile upgrade.</p>
