---
title: Updating NSX-T Load Balancer Server Pool Membership
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to update load balancer server pool membership
for Pivotal Cloud Foundry (PCF) foundation using NSX-T on vSphere.

This procedure applies to customers who have manually populated their NSX-T
static load balancer pools with the IP addresses of the HA Proxy or Router VMs.
When upgrading PAS (Pivotal Application Service) from 2.2 to 2.3, applying a
stemcell update, or updating a tile, the foundation may become unreachable (as
the NSX-T static load balancer server pools have been emptied). To read more
about this issue, see [Safely Upgrading PAS 2.2 → 2.3 with NSX-T Load
Balancers](http://engineering.pivotal.io/post/upgrade_2.2-2.3_on_nsx-t/).

To implement this procedure, you must use the Ops Manager API. See the [Ops
Manager API documentation](https://docs.pivotal.io/pivotalcf/2-3/opsman-api) for
more information about the API.

<p class="note"><strong>Note:</strong> Ops Manager v2.3 supports NSX-T v2.2 and later.</p>


## <a id='authenticate'></a> Authenticate

To use the Ops Manager API, you must authenticate and retrieve a token from the Ops Manager User Account and Authentication (UAA) server. For instructions, see the [Using Ops Manager API](ops-man-api.html) topic.


## <a id='update'></a> Update Load Balancer Server Pool Membership

1. Create a VM extension for each of the jobs that will become members of the load balancer pools. Jobs can belong to multiple pools; for example, the router job may belong to pools for both the HTTP and HTTPS load balancers. Below is an example of the VM extension configuration for the Router job:
<pre class="terminal">
{
  "cloud_properties": {
    "nsxt": {
      "lb": {
        "server_pools": [
          {
            "name": "PAS-GoRouter443ServerPool",
            "port": 443
          },
          {
            "name": "PAS-GoRouter80ServerPool",
            "port": 80
          }
        ]
      }
    }
  },
  "name": "http_https_lb"
}
</pre>

1. For each VM extension, use a `curl` command to stage it with the Ops Manager API, (where VM_EXTENSION_FILE_PATH is the path to the VM extension file, e.g. `/tmp/router_ext.json`):
<pre class="terminal">
curl "https://OPS-MAN-FQDN/api/v0/staged/vm_extensions' \
-X POST \
-H "Authorization: Bearer UAA-ACCESS-TOKEN" \
-H "Content-Type: application/json" \
-d "@VM_EXTENSION_FILE_PATH"
</pre>

1. Retrieve a list of staged products:
	<pre class="terminal">
	$ curl 'http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products' \
	-H "Authorization: Bearer UAA-ACCESS-TOKEN"
	[
	   {
	      "product\_version" : "1.10.6.0",
	      "guid" : "p-bosh-dee11e111e1111ee1e1a",
	      "installation\_name" : "p-bosh",
	      "type" : "p-bosh"
	   },
	   {
	      "type" : "cf",
	      "product\_version" : "1.10.8-build.7",
	      "installation\_name" : "cf-01222ab1111111aaa1a",
	      "guid" : "cf-01222ab1111111aaa1a"
	   }
	]
	</pre>
	Record the GUID of the `cf` product. In the above example, the GUID is `cf-01222ab1111111aaa1a`.

1. Retrieve a list of jobs for your product:
	<pre class='terminal'>
	$ curl 'http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products/PRODUCT-GUID/jobs' \
	-H 'Authorization: Bearer UAA-ACCESS-TOKEN'
	{
   "jobs" : [
      {
         "guid" : "router-9c37cf48ae7412f2afd1",
         "name" : "router"
      },
      {
         "name" : "tcp\_router",
         "guid" : "tcp\_router-6af18efdd18d198edee9"
      },
      {
         "name" : "diego\_brain",
         "guid" : "diego\_brain-b49b0b2aed247302c0e1"
      },
      ...
	</pre>
  Record the GUIDs of the jobs whose security groups you want to update.

1. To update the load balancer server pool membership for your job, use the following command:
		<pre class="terminal">
		$ curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products/PRODUCT-GUID/jobs/JOB-GUID/resource\_config" \
		    -X PUT \
		    -H "Content-Type: application/json" \
		    -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
        -d '{"instance\_type": {"id": "INSTANCE-TYPE"},
             "instances": INSTANCE-COUNT,
             "additional_vm_extensions": ["VM-EXTENSION-NAME"]
		        }'
		</pre>
		Replace the placeholder values as follows:
    * `INSTANCE-TYPE`: The instance type for the job. For the default instance type, use `"automatic"`.
    * `INSTANCE-COUNT`: The number of instances for the job. The default number for each job is visible in the Resource Config section of the Ops Manager UI.
    * `VM-EXTENSION-NAME`: The `name` field of the VM Extension JSON config file written in step 1. In our example above, the name would be `http_https_lb`.

    <p class="note warning"><strong>WARNING:</strong> Do not use the resource config fields
    for <code>nsx_lbs</code> and <code>nsx_security_groups</code>; these fields only work on
    NSX-V. To configure load balancers on NSX-T, you must use the VM
    Extensions API.</p>

1. Navigate to `OPS-MAN-FQDN` in a browser and log in to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes** to redeploy.
