---
title: Updating NSX-V Security Group and Load Balancer Information
owner: Ops Manager
---


This topic describes how to update security group and load balancer information for Pivotal Cloud Foundry (PCF) deployments using NSX-V on vSphere. To update this information, you must use the Ops Manager API.

See the [Ops Manager API documentation](https://docs.pivotal.io/pivotalcf/2-2/opsman-api) for more information about the API.

See [Using Edge Services Gateway on VMware NSX](../refarch/vsphere/vsphere_nsx_cookbook.html) for guidance on how to configure the NSX firewall, load balancing, and NAT/SNAT services for PCF on vSphere installations.

<p class="note"><strong>Note:</strong> Ops Manager v1.11 supports NSX-V v6.2 and later.</p>


## <a id='authenticate'></a> Authenticate

To use the Ops Manager API, you must authenticate and retrieve a token from the Ops Manager User Account and Authentication (UAA) server. For instructions, see the [Using Ops Manager API](ops-man-api.html) topic.


## <a id='update'></a> Update Security Group or Load Balancer Information

To update either NSX security group or load balancer information, you use `curl` to make a PUT request against the `api/v0/staged/products/product_guid/jobs/job_guid/resource_config` endpoint.

You must first retrieve the GUID of your PCF deployment, and the GUID of the job whose information you want to update.

Do the following:

1. Retrieve a list of staged products:
	<pre class="terminal">
	$ curl 'http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products' \
	-H "Authorization: Bearer UAA-ACCESS-TOKEN"
	[
	   {
	      "productversion" : "1.10.6.0",
	      "guid" : "p-bosh-dee11e111e1111ee1e1a",
	      "installationname" : "p-bosh",
	      "type" : "p-bosh"
	   },
	   {
	      "type" : "cf",
	      "productversion" : "1.10.8-build.7",
	      "installationname" : "cf-01222ab1111111aaa1a",
	      "guid" : "cf-01222ab1111111aaa1a"
	   }
	]
	</pre>
	Record the GUID of the `cf` product. In the above example, the GUID is `cf-01222ab1111111aaa1a`.

1. Retrieve a list of jobs for your product:
	<pre class='terminal'>
	$ curl 'http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products/PRODUCT-GUID/jobs' \
	-H "Authorization: Bearer UAA-ACCESS-TOKEN'
	{
   "jobs" : [
      {
         "guid" : "consulserver-9c37cf48ae7412f2afd1",
         "name" : "consulserver"
      },
      {
         "name" : "nats",
         "guid" : "nats-6af18efdd18d198edee9"
      },
      {
         "name" : "nfsserver",
         "guid" : "nfsserver-b49b0b2aed247302c0e1"
      },
      ...
	</pre>
	Record the GUID of the job whose security groups you want to update.

1. You can update either your security group information, load balancer information, or both.
	* **Security groups**: To update the security groups for your job, use the following command:
		<pre class="terminal">
		$ curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products/PRODUCT-GUID/jobs/JOB-GUID/resourceconfig" \
		    -X PUT \
		    -H "Content-Type: application/json" \
		    -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
		    -d '{"instancetype": {"id": "INSTANCE-TYPE"},
		         "persistentdisk": {"sizemb": "DISK-SIZE"},
		         "nsxsecuritygroups": ["SECURITY-GROUP1", "SECURITY-GROUP2"]}'
		</pre>
		Replace the placeholder values as follows:
		* `INSTANCE-TYPE`: The instance type for the job. For the default instance type, use `"automatic"`.
		* `DISK-SIZE`: The disk size for the job. For the default persistent disk size, use `"automatic"`.
			<p class="note"><strong>Note:</strong> The <code>persistent_disk</code> parameter is required to make this API request. For jobs that do not have persistent disks, you must set the value of the parameter to <code>"automatic"</code>.</p>
		* `SECURITY-GROUP1`, `SECURITY-GROUP2`: The value of the `nsx_security_groups` parameter is a list of the security groups that you want to set for the job. To clear all security groups for a job, pass an empty list with the `[]` value.
		<br><br>
	* **Load balancers**: To update the load balancers for your job, use the following command:
		<pre class="terminal">
		$ curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/staged/products/PRODUCT-GUID/jobs/JOB-GUID/resourceconfig" \
		    -X PUT \
		    -H "Content-Type: application/json" \
		    -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
		    -d '{"instancetype": {"id": "INSTANCE-TYPE"},
		         "persistentdisk": {"sizemb": "DISK-SIZE"},
		         "nsxlbs": [{
				      "edgename": "EDGE-NAME",
				      "poolname": "POOL-NAME",
				      "securitygroup": "SECURITY-GROUP",
				      "port": "PORT-NUMBER"
				    }]
		        }'
		</pre>
		Replace the placeholder values as follows:
		* `INSTANCE-TYPE`: The instance type for the job. For the default instance type, use `"automatic"`.
		* `DISK-SIZE`: The disk size for the job. For the default persistent disk size, use `"automatic"`.
			<p class="note"><strong>Note:</strong> The <code>persistent_disk</code> parameter is required to make this API request. For jobs that do not have persistent disks, you must set the value of the parameter to <code>"automatic"</code>.</p>
		* `EDGE-NAME`: The name of the NSX Edge.
		* `POOL-NAME`: The name of the NSX Edge's server pool.
		* `SECURITY-GROUP`: The name of the NSX server pool's target security group.
		* `PORT`: The name of the port that the VM service is listening on, such as `5000`.
		You can configure more than one load balancer for a job by using additional hashes in the `nsx_lbs` array.

1. Navigate to `OPS-MAN-FQDN` in a browser and log in to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes** to redeploy.
