---
title: Upgrading Elastic Runtime and Other Pivotal Cloud Foundry Products
owner: RelEng
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

This topic describes how to upgrade to a point release of Elastic Runtime (ERT) and other product tiles without upgrading Ops Manager. For example, use this topic to upgrade from ERT 1.9.0 to 1.9.1. You might need to perform this upgrade if a security update for ERT is released, or if new features are introduced in a point release of a product tile. 

For Elastic Runtime component and version information, see the [Elastic Runtime release notes](https://docs.pivotal.io/pcf-release-notes/runtime-rn.html).

##<a id="before-upgrade"></a>Before You Upgrade to Point Releases##

* You must have completed the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) procedure. 

* Refer to the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) before upgrading Elastic Runtime for Pivotal Cloud Foundry.

* **Important**: Read the Known Issues sections of the products you plan on installing before starting. See [Pivotal Cloud Foundry Release Notes](https://docs.pivotal.io/pcf-release-notes/index.html) for all available product release notes.

##<a id="upgrade-er"></a> Upgrading Elastic Runtime

<p class="note"><strong>Note</strong>: If you are using the <a href="../customizing/add-delete.html#pivnet-api">Pivotal Network API</a>, the latest product versions will automatically appear in your <strong>Installation Dashboard</strong>.</p>

To upgrade Elastic Runtime for PCF without upgrading Ops Manager, follow the procedure for installing PCF products:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).
1. Import the product file to your Ops Manager **Installation Dashboard**.
1. Click the plus icon next to the uploaded product description to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the service.

##<a id="other-products"></a>Upgrading PCF Products ##

<p class="note"><strong>Note</strong>: If you are using the <a href="../customizing/add-delete.html#pivnet-api">Pivotal Network API</a>, the latest product versions will automatically appear in your <strong>Installation Dashboard</strong>.</p>

This section describes how to upgrade individual products like [Single Sign-On for PCF](http://docs.pivotal.io/p-identity/index.html), [MySQL for PCF](http://docs.pivotal.io/p-mysql/index.html), [RabbitMQ&reg; for PCF](http://docs.pivotal.io/rabbitmq-cf/index.html), and [Metrics for PCF](http://docs.pivotal.io/pcf-metrics/index.html) in your Pivotal Cloud Foundry (PCF) deployment. Ensure you review the individual product upgrade procedure for each tile.

1. Browse to [Pivotal Network](https://network.pivotal.io/) and sign in.

1. Download the latest PCF release for the product or products you want
to upgrade. Every product is tied to exactly one stemcell. Download the stemcell that matches your product and version.

1. <%= partial "check_disk_before_upgrade" %>

1. Browse to the Pivotal Cloud Foundry Operations Manager web interface and click **Import a Product**.


    <%= image_tag("import.png") %>

1. Select the `.pivotal` file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**. If the product is successfully added, it appears in the your product list. If the product you selected is not the latest version, the most up-to-date version will appear on your product list.

1. Click the plus icon next to the product description to add the product tile to the **Installation Dashboard**.

1. Repeat the import, upload, and upgrade steps for each product you downloaded.

1. If you are upgrading a product that uses a self-signed certificate from v1.1 to v1.2, you must configure the product to trust the self-signed certificate.

    Follow the steps below to configure a product to trust the self-signed certificate:
    1. Click the product tile.
    1. In the left-hand column, select the setting page containing the SSL
    certificate configuration. For example, for Elastic Runtime, select
    the **HAProxy** page.
    1. Check the **Trust Self-Signed Certificates** box.
    1. Click **Save**.

1. Click **Apply changes**.
