---
title: Upgrading Elastic Runtime and Other Pivotal Cloud Foundry&reg; Products
owner: RelEng
---

<strong><%= modified_date %></strong>

## <a id="runtime_snapshot"></a>Elastic Runtime Snapshot ##
<dl>
<dt>Current Pivotal Cloud Foundry&reg; Elastic Runtime Details</dt>
<dd><strong>Version</strong>: 1.6.0</dd>
<dd><strong>Release Date</strong>: 23 October 2015</dd>
<dd><strong>Software component version</strong>: Cloud Foundry 222</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
</dl>

## <a id="runtime_upgrade"></a>Upgrading Elastic Runtime without Upgrading Ops Manager

The previous describes how to upgrade PCF, including Ops Manager and ERT. 
This topic describes how to upgrade ERT alone or individual product tiles, without upgrading Ops Manager.
For example, this might be required if a security update for ERT is released or if new features are introduced in a point release of a product tile. 

Consider the following compatibility information before upgrading Elastic Runtime for Pivotal Cloud Foundry&reg;.

<p class="note"><strong>Note</strong>: Before you upgrade to Ops Manager 1.5.x, you must first upgrade PCF Elastic Runtime to any version in its 1.3.x minor release. This allows PCF Elastic Runtime upgrades after you install OpsManager 1.5.x. </p>

For information, refer to the full [Product Version Matrix](../../compatibility-matrix.pdf).


### Install using the Pivotal Operations Manager

To install Elastic runtime for PCF, follow the procedure for installing Pivotal Cloud Foundry&reg; Operations Manager tiles:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the service.

##<a id="other-products"></a>Upgrading PCF Products ##


**Important**: Read the Known Issues section of the [Pivotal Cloud Foundry&reg; Release Notes](../pcf-release-notes/index.html) before getting started.

This section describes how to upgrade individual products like Pivotal Cloud Foundry&reg; Elastic Runtime,
[Pivotal MySQL](https://network.pivotal.io/products/p-mysql), or [RabbitMQ](https://network.pivotal.io/products/pivotal-rabbitmq-service) in your [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment.

<p class="note"><strong>Note</strong>: To upgrade your PCF product to a target release, you must install all releases from your currently deployed version to the target version in sequential order. For example, if your deployment uses Elastic Runtime release 1.1 and you are upgrading to 1.3, you must sequentially install 1.2 and 1.3.</p>

1. Browse to [Pivotal Network](https://network.pivotal.io/) and sign in.

1. Download the latest PCF release for the product or products you want
to upgrade. Every product is tied to exactly one stemcell. Download the stemcell that matches your product and version.

1. <%= partial "check_disk_before_upgrade" %>

1. Browse to the Pivotal Cloud Foundry&reg; Operations Manager web interface and click **Import a Product**.

    <%= image_tag("import.png") %>

	<p class="note"><strong>Note</strong>: As of release 1.4.0.0, Pivotal Ops Manager no longer supports older versions of PCF products. You must update all products to at least version 1.2 (except for RabbitMQ, which must be updated to at least version 1.3.4.0) before importing them into Ops Manager 1.4.0.0.
	</p>

1. Upload the new version of a product you want to upgrade.

1. Under **Available Products**, click **Upgrade** for the uploaded product.

1. Repeat the import, upload, and **Upgrade** steps for each product you
downloaded.

1. If you are upgrading a product that uses a self-signed certificate from version 1.1 to 1.2, you must configure the product to trust the self-signed certificate.

    To do this:
    * Click the product tile.
    * In the left-hand column, select the setting page containing the SSL
    certificate configuration. For example, for Elastic Runtime, select
    the **HAProxy** page.
    * Check the **Trust Self-Signed Certificates** box.
    * Click **Save**.

1. Click **Apply changes**.
