---
title: Upgrading PAS and Other Pivotal Cloud Foundry Products
owner: RelEng
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade to a point release of Pivotal Application Service (PAS) and other product tiles without upgrading Ops Manager. For example, use this topic to upgrade from PAS v1.9.0 to v1.9.1. You might need to perform this upgrade if a security update for PAS is released, or if new features are introduced in a point release of a product tile.

For PAS component and version information, see the [PAS release notes](http://docs.pivotal.io/pivotalcf/pcf-release-notes/runtime-rn.html).

<p class="note"><strong>Note: </strong> If you cannot download products from Pivotal Network due to restricted network connectivity, see <a href="offline_installation.html">Installing PCF in Airgapped Environments</a>.</p>

## <a id="before-upgrade"></a> Before You Upgrade to Point Releases

* You must have completed the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) procedure.

* Refer to the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) before upgrading PAS.

* **Important**: Read the Known Issues sections of the products you plan on installing before starting. See [Pivotal Cloud Foundry Release Notes](http://docs.pivotal.io/pivotalcf/pcf-release-notes/index.html) for all available product release notes.


## <a id="upgrade-er"></a> Upgrading PAS

<p class="note"><strong>Note:</strong> If you are using the <a href="../customizing/add-delete.html#pivnet-api">Pivotal Network API</a>, the latest product versions will automatically appear in your <strong>Installation Dashboard</strong>.</p>

To upgrade PAS without upgrading Ops Manager, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/). 

1. Import the product file to your Ops Manager **Installation Dashboard**.

1. Click the plus icon next to the uploaded product description to add this product to your staging area.

1. Click the newly added tile to review any configurable options.

1. Click **Review Pending Changes**, then **Apply Changes** to install the service.


## <a id="other-products"></a> Upgrading PCF Products

<p class="note"><strong>Note:</strong> If you are using the <a href="../customizing/add-delete.html#pivnet-api">Pivotal Network API</a>, the latest product versions will automatically appear in your <strong>Installation Dashboard</strong>.</p>

This section describes how to upgrade individual products like [Single Sign-On for PCF](http://docs.pivotal.io/p-identity/index.html), [MySQL for PCF](http://docs.pivotal.io/p-mysql/index.html), [RabbitMQ&reg; for PCF](http://docs.pivotal.io/rabbitmq-cf/index.html), and [Metrics for PCF](http://docs.pivotal.io/pcf-metrics/index.html) in your Pivotal Cloud Foundry (PCF) deployment. Ensure you review the individual product upgrade procedure for each tile.

1. Browse to [Pivotal Network](https://network.pivotal.io/) and sign in.

1. Download the latest PCF release for the product or products you want to upgrade. Every product is tied to exactly one stemcell. Download the stemcell that matches your product and version.

1. <%= partial "check_disk_before_upgrade" %>

1. Browse to the Pivotal Cloud Foundry Ops Manager web interface and click **Import a Product**.

    <%= image_tag("import.png") %>

1. Select the `.pivotal` file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**. If the product is successfully added, it appears in the your product list. If the product you selected is not the latest version, the most up-to-date version will appear on your product list.

1. Click the plus icon next to the product description to add the product tile to the **Installation Dashboard**.

1. Repeat the import, upload, and upgrade steps for each product you downloaded.

1. If you are upgrading a product that uses a self-signed certificate from v1.1 to v1.2, you must configure the product to trust the self-signed certificate. To configure a product to trust the self-signed certificate, do the following:
    1. Click the product tile.
    1. In the left-hand column, select the setting page containing the SSL certificate configuration. For example, for PAS, select the **HAProxy** page.
    1. Check the **Trust Self-Signed Certificates** box.
    1. Click **Save**.

1. Click **Review Pending Changes**, then **Apply Changes**.
