---
title: Upgrading Products in a PCF Deployment
---

**Important**: Read the Known Issues section of the [Pivotal Cloud Foundry Release Notes](../pcf-release-notes/index.html) before getting started.

This topic describes how to upgrade individual products like Pivotal Cloud Foundry Elastic Runtime,
[Pivotal MySQL](https://network.pivotal.io/products/p-mysql), or [RabbitMQ](https://network.pivotal.io/products/pivotal-rabbitmq-service) in your [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment.

<p class="note"><strong>Note</strong>: To upgrade your PCF product to a target release, you must install all releases from your currently deployed version to the target version in sequential order. For example, if your deployment uses Elastic Runtime release 1.1 and you are upgrading to 1.3, you must sequentially install 1.2 and 1.3.</p>

1. Browse to [Pivotal Network](https://network.pivotal.io/) and sign in.

1. Download the latest PCF release for the product or products you want
to upgrade.

1. Browse to the Pivotal Cloud Foundry Operations Manager web interface and click **Import a Product**.

    <%= image_tag("import.png") %>

<p class="note"><strong>Note</strong>: As of release 1.4.0.0, Pivotal Ops Manager no longer supports older versions of PCF products. You must update all products to at least version 1.2 (except for RabbitMQ, which must be updated to at least version 1.3.4.0) before importing them into Ops Manager 1.4.0.0.

</p>
	
1. Upload the new version of a product you want to upgrade.

1. Under **Available Products**, click **Upgrade** for the uploaded product.

1. Repeat the import, upload, and **Upgrade** steps for each product you
downloaded.

1. If you are upgrading a product that uses a self-signed certificate from version 1.1 to 1.2, you must configure the product to trust the self-signed certificate.

    To do this:
    * Click the product tile.
    * In the left-hand column, select the setting page containing the SSL
    certificate configuration. For example, for Elastic Runtime, select
    the **HAProxy** page.
    * Check the **Trust Self-Signed Certificates** box.
    * Click **Save**.

1. Click **Apply changes**.

