---
title: Viewing Logs and Metrics in Pivotal Platform
owner: Oratos, Log Egress, Loggregator
---

This topic describes how to access logs and metrics for component VMs and app containers on your Pivotal Platform deployment. It includes information about the available logs and metrics for the Pivotal Application Service (PAS) and Pivotal Container Service (PKS) runtimes.

## <a id="overview"></a> Overview

There are different methods for accessing logs and metrics for VMs and app containers on Pivotal Platform depending on if you use the PAS or PKS app runtime for your deployment. 

There are also different permissions required to access logs and metrics on PAS and PKS.

You can use the sections in this topic to understand how to access logs and metrics on your PAS or PKS deployment based on your user role permissions.

## <a id="vm-logs"></a> View VM Logs

This section describes how users on Pivotal Platform can view logs for Pivotal Platform VMs. 

Pivotal Platform emits logs for all VMs, including VMs for runtime component VMs and service tile VMs.

### <a id="vm-logs-pas"></a> View VM Logs on PAS

Pivotal Platform emits logs for VMs as Syslog RFC 5424. See [RFC 5424 - The Syslog Protocol](https://tools.ietf.org/html/rfc5424) in the Internet Engineering Task Force (IETF) documentation.

To view logs for Pivotal Platform VMs, configure a platform-level syslog drain in each runtime and service tile for which you want logs.

For more information, see the documentation for the runtime or service tile. 


### <a id="vm-logs-pks"></a> View VM Logs on PKS



## <a id="vm-metrics"></a> View VM Metrics

This section describes how users on Pivotal Platform can view metrics for Pivotal Platform VMs. 

### <a id="vm-metrics-pas"></a> View VM Metrics on PAS

For PAS deployments, VM metrics include PAS component and service tile VM metrics.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

Pivotal Platform emits component VM metrics through the Loggregator Firehose. No additional configuration is required to view VM metrics through the Firehose. 

The Firehose emits metrics as a gauge or counter Loggregator envelope type. For more information, see (https://github.com/cloudfoundry/loggregator-api/blob/master/README.md) on Github. 

### <a id="vm-metrics-pks"></a> View VM Metrics on PKS 

For Pivotal Platform deployments with PKS, component VM metrics are available on PKS v1.5 and later. 

Use the following table to determine how to view VM metrics on PKS based on your role.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Configure an output plugin in the PKS tile. See []().</td>
		<td>Component VM Metrics include the master node only.</td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>	



## <a id="app-logs"></a> View App Container Logs 

### <a id="app-logs-pas"></a> View App Container Logs on PAS

App container logs for PAS deployments include logs for apps and service instances.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

There are two methods for viewing app container metrics on PAS deployments:

Loggregator Firehose: No configuration required. Emitted as text payload with format up to developer. (https://github.com/cloudfoundry/loggregator-api/blob/master/README.md). 
Note: The Firehose does not emit logs for service instances. To view service instance logs, use the syslog drain method. 
Syslog: Requires configuration of Syslog Adapter Drain (https://docs.cloudfoundry.org/devguide/services/log-management.html#step2). Emitted as Syslog RFC 5426.

### <a id="app-logs-pks"></a> View App Container Logs on PKS

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>


## <a id="app-metrics"></a> View App Container Metrics 

### <a id="app-metrics-pas"></a> View App Container Metrics on PAS

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

### <a id="app-metrics-pks"></a> View App Container Metrics on PKS

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Pivotal Platform Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
