---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Pivotal Cloud Foundry on vSphere, vCloud, and vCloud Air
owner: Ops Manager
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note</strong>: Pivotal Cloud Foundry (PCF) for vCloud Air and vCloud Director is deprecated and availability is restricted to existing customers. Contact <a href="https://pivotal.io/support">Support</a> for more information.</p>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on vSphere, vCloud, and vCloud Air.

If you experience a problem while following the steps below, refer to the [Known Issues](../pcf-release-notes/index.html) topics or to the [Pivotal Cloud Foundry Troubleshooting Guide](./troubleshooting.html).

<p class="note"><b>Note</b>: If you are performing an upgrade to PCF 1.7, see <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for critical upgrade information.</p>

## <a id='prereqs'></a>Prerequisites ##

To install PCF on vSphere, vCloud, and vCloud Air, your IaaS configuration must have the minimum resource requirements and user privileges for a PCF installation. For a full list of requirements, see the [Prerequisites to Deploying Operations Manager and Elastic Runtime](./requirements.html) and [Pivotal Cloud Foundry IaaS User Role Guidelines](./iaas-user-roles.html) topics.

If you are deploying PCF behind a firewall, see the [Preparing Your Firewall for Deploying Pivotal Cloud Foundry](./config_firewall.html) topic.

## <a id='install-om'></a>Step 1: Install Ops Manager ##

Complete the following procedures to install Ops Manager on vSphere:

1. <a href="./deploying-vm.html" class="subnav">Deploying Operations Manager to vSphere</a>
1. <a href="./vsphere-config.html" class="subnav">Configuring Ops Manager Director for VMware vSphere</a>

Complete the following procedures to install Ops Manager on vCloud and vCloud Air:

1. <a href="./pcf-vchs-vcloud.html" class="subnav">Deploying Operations Manager to vCloud Air and vCloud</a>
1. <a href="./vchs-vcloud-config.html" class="subnav">Configuring Ops Manager Director for vCloud Air and vCloud</a>

## <a id='install-er'></a>Step 2: Install Elastic Runtime ##

To install Elastic Runtime on vSphere, vCloud, and vCloud Air, perform the procedures in the <a href="./config-er-vmware.html" class="subnav">Configuring Elastic Runtime for vSphere, vCloud, and vCloud Air</a>.

## <a id='ipsec'></a>(Optional) Step 3: Install the IPsec Add-on

The PCF IPsec add-on secures network traffic within a PCF deployment and provides internal system protection if a malicious actor breaches your firewall. See the [Securing Data in Transit with the IPsec Add-on](http://docs.pivotal.io/addon-ipsec/index.html) topic for installation instructions.

<p class="note"><strong>Note</strong>: You must install the PCF IPsec add-on before installing any other tiles to enable the IPsec functionality. Pivotal recommends installing IPsec immediately after Ops Manager, and before installing the Elastic Runtime tile.</p>

## <a id='new-users'></a>Step 4: Create New User Accounts ##

Once you have successfully deployed PCF, add users to your account.
Refer to the [Creating New Elastic Runtime User Accounts](../opsguide/creating-account.html) topic for more information.

## <a id='target'></a>Step 5: Target Elastic Runtime ##

The next step is to use the cf CLI tool to target your Elastic Runtime
installation.
Make sure that you have [installed the cf CLI tool](../cf-cli/install-go-cli.html).
Refer to the PCF documentation for more information about [using the cf
command line tool](../cf-cli/getting-started.html).

<p class="note"><strong>Note</strong>: In Ops Manager, refer to
	<strong>Elastic Runtime > Credentials</strong> for the UAA admin name and
	password. You can also use the user that you created in Apps Manager, or
	create another user with the <code>create-user</code> command.</p>

## <a id='additional'></a>Additional Configuration ##

See the following topics for additional vSphere configuration information:

* <a href="./disk-format.html" class="subnav">Provisioning a Virtual Disk in vSphere</a>
* <a href="./nexus-switch.html" class="subnav">Using the Cisco Nexus 1000v Switch with Ops Manager</a>
* <a href="./resurrector.html" class="subnav">Using Ops Manager Resurrector on VMware vSphere</a>
* <a href="../opsguide/ssl-term.html" class="subnav">Configuring SSL Termination for vSphere Deployments</a>

For more information about using availability zones in vSphere, vCloud, or vCloud Air, see the <a href="./understand-az.html" class="subnav">Understanding Availability Zones in VMware Installations</a> topic.

