---
title: vSphere Service Account Requirements

owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes the minimum privileges required by the vSphere BOSH CPI. A vSphere admin must grant the following privileges to the vSphere service account that Pivotal Cloud Foundry (PCF) uses to manage vSphere resources.

The PCF account needs privileges at both the vCenter server level and the Datacenter level. See [Hierarchical Inheritance of Permissions](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-03B36057-B38C-479C-BD78-341CD83A0584.html) in the VMware documentation for how permission levels and inheritance work in vSphere.

## <a id="root"></a>vCenter-Level Privileges

Ops Manager assigns custom attributes to the virtual machines (VMs) it deploys to identify BOSH releases and job index information about each VM. vCenter APIs require vCenter server level access to manage these custom attributes.

The following table summarizes the privileges that a PCF account requires at the vCenter Server instance level. Some of these privileges are inherited, and others must be granted by a vCenter admin:

<table>
    <tr>
      <th>Object</th><th>Privilege (UI)</th><th>Privilege (API)</th>
    </tr>
    <tr><td rowspan="3">Role</td><td>Read-only</td><td>System.Anonymous</td></tr>
    <tr><td></td><td>System.Read</td></tr>
    <tr><td></td><td>System.View</td></tr>
    <tr><td rowspan="2">Global</td><td>Manage custom attributes</td><td>Global.ManageCustomFields</td></tr>
    <tr><td>Register Extensions</td><td>Extension.Register</td></tr>
    <tr>
        <td rowspan="2">Profile-Driven Storage</td>
        <td>Profile-driven Storage</td>
        <td>StorageProfile.Update</td>
    </tr>
    <tr>
        <td></td>
        <td>StorageProfile.View</td>
    </tr>
</table>

## <a id="datacenter"></a>Datacenter-Level Privileges

The following privileges must be set at the data center level:

<table>
    <tr>
        <th>Object</th>
        <th>Privilege (UI)</th>
        <th>Privilege (API)</th>
    </tr>
    <tr>
        <td>Datastore</td>
        <td>Low level file operations</td>
        <td>Datastore.FileManagement</td>
    </tr>
    <tr>
        <td>Network</td>
        <td>Assign network</td>
        <td>Network.Assign</td>
    </tr>
</table>


## <a id="datastore"></a>Folder and Datastore-Level Privileges

You must grant the following privileges on any entities in a datastore-level where you will deploy PCF:

### <a id="datastore"></a>Datastore Object

The following privileges must be set at the data center level to upload and delete virtual machine files.

<table>
    <tr>
      <th>Privilege (UI)</th><th>Privilege (API)</th>
    </tr>
    <tr><td>Allocate space</td><td>Datastore.AllocateSpace</td></tr>
    <tr><td>Browse datastore</td><td>Datastore.Browse</td></tr>
    <tr><td>Remove file</td><td>Datastore.DeleteFile</td></tr>
    <tr><td>Update virtual machine files</td><td>Datastore.UpdateVirtualMachineFiles</td></tr>
</table>

### <a id="folder"></a>Folder Object

Ops Manager creates a folder for VMs, stemcells, and persistent disks during installation. The folder contents change frequently as Ops Manager applies changes.

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr>
        <td>Delete folder</td>
        <td>Folder.Delete</td>
    </tr>
    <tr>
        <td>Create folder</td><td>Folder.Create</td>
    </tr>
    <tr><td>Move folder</td><td>Folder.Move</td></tr>
    <tr><td>Rename folder</td><td>Folder.Rename</td></tr>
</table>


### <a id="inventory"></a> Inventory Service Object

<table>
    <tr>
        <th>Privilege (UI)</th>
        <th>Privilege (API)</th>
    </tr>
    <tr>
        <td>vSphere Tagging > Create vSphere Tag</td>
        <td>InventoryService.Tagging.CreateTag</td>
    </tr>
    <tr>
        <td>vSphere Tagging > Delete vSphere Tag</td>
        <td>InventoryService.Tagging.EditTag</td>
    </tr>
    <tr>
        <td>vSphere Tagging > Edit vSphere Tag</td>
        <td>InventoryService.Tagging.DeleteTag</td>
    </tr>
</table>

### <a id="resource"></a>Resource Object

When using `vAppImport` to clone a VM, BOSH requires the resource migration privileges to create a new, powered-off VM based on a given stemcell. BOSH migrates the VM to the destination datastore, where Ops Manager deploys the VM and powers it on.

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Assign virtual machine to resource pool</td><td>Resource.AssignVMToPool</td></tr>
    <tr><td>Migrate powered off virtual machine</td><td>Resource.ColdMigrate</td></tr>
    <tr><td>Migrate powered on virtual machine</td><td>Resource.HotMigrate</td></tr>
</table>

### <a id="vm"></a>Virtual Machine Object

#### <a id='configuration'></a> Configuration

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Add existing disk</td><td>VirtualMachine.Config.AddExistingDisk</td></tr>
    <tr><td>Add new disk</td><td>VirtualMachine.Config.AddNewDisk</td></tr>
    <tr><td>Add or remove device</td><td>VirtualMachine.Config.AddRemoveDevice</td></tr>
    <tr><td>Advanced</td><td>VirtualMachine.Config.AdvancedConfig</td></tr>
    <tr><td>Change CPU count</td><td>VirtualMachine.Config.CPUCount</td></tr>
    <tr><td>Change resource</td><td>VirtualMachine.Config.Resource</td></tr>
    <tr><td>Configure managedBy</td><td>VirtualMachine.Config.ManagedBy</td></tr>
    <tr><td>Disk change tracking</td><td>VirtualMachine.Config.ChangeTracking</td></tr>
    <tr><td>Disk lease</td><td>VirtualMachine.Config.DiskLease</td></tr>
    <tr><td>Display connection settings</td><td>VirtualMachine.Config.MksControl</td></tr>
    <tr><td>Extend virtual disk</td><td>VirtualMachine.Config.DiskExtend</td></tr>
    <tr><td>Memory</td><td>VirtualMachine.Config.Memory</td></tr>
    <tr><td>Modify device settings</td><td>VirtualMachine.Config.EditDevice</td></tr>
    <tr><td>Raw device</td><td>VirtualMachine.Config.RawDevice</td></tr>
    <tr><td>Reload from path</td><td>VirtualMachine.Config.ReloadFromPath</td></tr>
    <tr><td>Remove disk</td><td>VirtualMachine.Config.RemoveDisk</td></tr>
    <tr><td>Rename</td><td>VirtualMachine.Config.Rename</td></tr>
    <tr><td>Reset guest information</td><td>VirtualMachine.Config.ResetGuestInfo</td></tr>
    <tr><td>Set annotation</td><td>VirtualMachine.Config.Annotation</td></tr>
    <tr><td>Settings</td><td>VirtualMachine.Config.Settings</td></tr>
    <tr><td>Swapfile placement</td><td>VirtualMachine.Config.SwapPlacement</td></tr>
    <tr><td>Unlock virtual machine</td><td>VirtualMachine.Config.Unlock</td></tr>
    <tr><td>Upgrade virtual machine hardware</td><td>VirtualMachine.Config.UpgradeVirtualHardware</td></tr>
</table>

#### <a id='guest-operations'></a> Guest Operations

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Guest Operation Program Execution</td><td>VirtualMachine.GuestOperations.Execute</td></tr>
    <tr><td>Guest Operation Modifications</td><td>VirtualMachine.GuestOperations.Modify</td></tr>
    <tr><td>Guest Operation Queries</td><td>VirtualMachine.GuestOperations.Query</td></tr>
</table>

#### <a id='interaction'></a>Interaction

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Answer question</td><td>VirtualMachine.Interact.AnswerQuestion</td></tr>
    <tr><td>Configure CD media</td><td>VirtualMachine.Interact.SetCDMedia</td></tr>
    <tr><td>Device connection</td><td>VirtualMachine.Interact.DeviceConnection</td></tr>
    <tr><td>Guest operating system management by VIX API</td><td>VirtualMachine.Interact.GuestControl</td></tr>
    <tr><td>Power off</td><td>VirtualMachine.Interact.PowerOff</td></tr>
    <tr><td>Power on</td><td>VirtualMachine.Interact.PowerOn</td></tr>
    <tr><td>Reset</td><td>VirtualMachine.Interact.Reset</td></tr>
    <tr><td>Suspend</td><td>VirtualMachine.Interact.Suspend</td></tr>
    <tr><td>VMware Tools install</td><td>VirtualMachine.Interact.ToolsInstall</td></tr>
</table>

#### <a id='inventory'></a>Inventory

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Create from existing</td><td>VirtualMachine.Inventory.CreateFromExisting</td></tr>
    <tr><td>Create new</td><td>VirtualMachine.Inventory.Create</td></tr>
    <tr><td>Move</td><td>VirtualMachine.Inventory.Move</td></tr>
    <tr><td>Remove</td><td>VirtualMachine.Inventory.Delete</td></tr>
</table>

#### <a id="provisioning"></a>Provisioning

When cloning a stemcell, BOSH sets custom specifications, such as hostnames and network configurations, based on the stemcell operating system.

The VM download privilege allows BOSH to modify files within a VM, including links between VMs and persistent disks. When vMotion migrates disks in vSphere, BOSH uses these links to maintain the connections between VMs and their persistent disks.

<table>
  <tr>
  <th>Privilege (UI)</th>
  <th>Privilege (API)</th>
  </tr>
    <tr><td>Allow disk access</td><td>VirtualMachine.Provisioning.DiskRandomAccess</td></tr>
    <tr><td>Allow read-only disk access</td><td>VirtualMachine.Provisioning.DiskRandomRead</td></tr>
    <tr><td>Allow virtual machine download</td><td>VirtualMachine.Provisioning.GetVmFiles</td></tr>
    <tr><td>Allow virtual machine files upload</td><td>VirtualMachine.Provisioning.PutVmFiles</td></tr>
    <tr><td>Clone template</td><td>VirtualMachine.Provisioning.CloneTemplate</td></tr>
    <tr><td>Clone virtual machine</td><td>VirtualMachine.Provisioning.Clone</td></tr>
    <tr><td>Customize</td><td>VirtualMachine.Provisioning.Customize</td></tr>
    <tr><td>Deploy template</td><td>VirtualMachine.Provisioning.DeployTemplate</td></tr>
    <tr><td>Mark as template</td><td>VirtualMachine.Provisioning.MarkAsTemplate</td></tr>
    <tr><td>Mark as virtual machine</td><td>VirtualMachine.Provisioning.MarkAsVM</td></tr>
    <tr><td>Modify customization specification</td><td>VirtualMachine.Provisioning.ModifyCustSpecs</td></tr>
    <tr><td>Promote disks</td><td>VirtualMachine.Provisioning.PromoteDisks</td></tr>
    <tr><td>Read customization specifications</td><td>VirtualMachine.Provisioning.ReadCustSpecs</td></tr>
</table>

#### <a id="snapshot"></a>Snapshot Management

Before Ops Manager deploys a new VM, it uses a snapshot to clone the stemcell image to the destination.

<table>
    <tr>
      <th>Privilege (UI)</th>
      <th>Privilege (API)</th>
    </tr>
    <tr><td>Create snapshot</td><td>VirtualMachine.State.CreateSnapshot</td></tr>
    <tr><td>Remove snapshot</td><td>VirtualMachine.State.RemoveSnapshot</td></tr>
    <tr><td>Rename snapshot</td><td>VirtualMachine.State.RenameSnapshot</td></tr>
    <tr><td>Revert snapshot</td><td>VirtualMachine.State.RevertToSnapshot</td></tr>
</table>

### <a id="vapp"></a>vApp Object

These privileges must be set at the resource pool level. `VApp.ApplicationConfig` is required when attaching or detaching persistent disks.

<table>
    <tr>
      <th>Privilege (UI)</th><th>Privilege (API)</th>
    </tr>
    <tr><td>Import</td><td>VApp.Import</td></tr>
    <tr><td>vApp application configuration</td><td>VApp.ApplicationConfig</td></tr>
  </tbody>
</table>