---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Pivotal Cloud Foundry on vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes how to install [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on vSphere.

If you experience a problem while following the steps below, refer to the [Known Issues](https://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/index.html) topics or to the [Pivotal Cloud Foundry Troubleshooting Guide](./troubleshooting.html).

<p class="note"><b>Note</b>: If you are performing an upgrade to PCF 1.8, see <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for critical upgrade information.</p>

## <a id='prereqs'></a>Prerequisites ##

### <a id='general'></a>General Requirements ###

<%= partial "requirements" %>

### <a id='vsphere-reqs'></a>vSphere Requirements ###

<p class='note'><strong>Note</strong>: If you are using the Cisco Nexus 1000v Switch, refer to the <a href="nexus-switch.html">Using the Cisco Nexus 1000v Switch with Ops Manager</a> topic for more information.</p>

<p class='note'><strong>Note</strong>: When installing Ops Manager on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

The following are the minimum resource requirements for maintaining a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment with Ops Manager and Elastic Runtime on vSphere:

* vSphere 6.5, 6.0, 5.5, or 5.1
* Disk space: 2TB recommended
* Memory: 120GB
* Two public IP addresses: One for Elastic Runtime and one for Ops Manager
* vCPU cores: 80
* Overall CPU: 28 GHz
* vSphere editions: standard and above
* Ops Manager must have HTTPS access to vCenter and ESX hosts on TCP port 443.
* A configured vSphere cluster:
  * If you enable vSphere DRS (Distributed Resource Scheduler) for the cluster, you must set the Automation level to **Partially automated** or **Fully automated**. If you set the Automation level to **Manual**, the BOSH automated installation will fail with a `power_on_vm` error when BOSH attempts to create virtual machines (VMs).
  * Turn hardware virtualization off if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, then you can turn this setting off. If you leave this setting on and the VM hosts do not support VT-x/EPT, then each VM requires manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.

<p class="note"><strong>Note</strong>: For information about how IaaS user roles are configured, refer to the <a href="iaas-user-roles.html">Pivotal Cloud Foundry IaaS User Role Guidelines</a> topic.</p>

<p class="note"><strong>Note</strong>: If you are deploying PCF behind a firewall, see the <a href="config_firewall.html">Preparing Your Firewall for Deploying Pivotal Cloud Foundry</a> topic.</p>

### <a id='permissions'></a> vSphere Service Account Requirements

Ops Manager requires read/write permissions to the datacenter level of the [vSphere Inventory Hierarchy](http://pubs.vmware.com/vsphere-4-esx-vcenter/index.jsp?topic=/com.vmware.vsphere.dcadmin.doc_41/vsp_dc_admin_guide/managing_users_groups_roles_and_permissions/c_hierarchical_inheritance_of_permissions.html) to successfully install. Pivotal recommends defining a custom role for the service account that has all privileges for all objects in the datacenter, including propagating privileges to children.

For a complete list of the minimum required vSphere privileges, see the [vSphere Service Account Requirements](./vsphere-service-account.html) topic.  

Since Ops Manager passes all required credentials through to BOSH, you only need one service account with the required vSphere privileges to complete the installation. Setting up separate service accounts for Ops Manager and BOSH is not necessary or recommended.

<p class="note"><strong>Note</strong>: You can also apply the default <a href="http://pubs.vmware.com/vsphere-51/index.jsp#com.vmware.wssdk.pg.doc/PG_Authenticate_Authorize.8.6.html#1110514">VMware Administrator System Role</a> to the service account to achieve the appropriate permission level.</p>

## <a id='install-om'></a>Step 1: Install Ops Manager ##

Complete the following procedures to install Ops Manager on vSphere:

1. <a href="./deploying-vm.html" class="subnav">Deploying Operations Manager to vSphere</a>
1. <a href="./vsphere-config.html" class="subnav">Configuring Ops Manager Director for VMware vSphere</a>

## <a id='ipsec'></a>(Optional) Step 2: Install the IPsec Add-on

The PCF IPsec add-on secures network traffic within a PCF deployment and provides internal system protection if a malicious actor breaches your firewall. See the [Securing Data in Transit with the IPsec Add-on](http://docs.pivotal.io/addon-ipsec/index.html) topic for installation instructions.

<p class="note"><strong>Note</strong>: You must install the PCF IPsec add-on before installing any other tiles to enable the IPsec functionality. Pivotal recommends installing IPsec immediately after Ops Manager, and before installing the Elastic Runtime tile.</p>

## <a id='install-er'></a>Step 3: Install Elastic Runtime ##

To install Elastic Runtime on vSphere, perform the procedures in the <a href="./config-er-vmware.html" class="subnav">Configuring Elastic Runtime for vSphere</a> topic.

## <a id='new-users'></a>Step 4: Create New User Accounts ##

Once you have successfully deployed PCF, add users to your account.
Refer to the [Creating New Elastic Runtime User Accounts](../opsguide/creating-account.html) topic for more information.

## <a id='target'></a>Step 5: Target Your Deployment ##

Use the cf Command Line Interface (CLI) to target your deployment.
Make sure that you have [installed the cf CLI tool](../cf-cli/install-go-cli.html).
Refer to the PCF documentation for more information about [using the cf
command line tool](../cf-cli/getting-started.html).

<p class="note"><strong>Note</strong>: In Ops Manager, refer to
    <strong>Elastic Runtime > Credentials</strong> for the UAA admin name and
    password. You can also use the user that you created in Apps Manager, or
    create another user with the <code>create-user</code> command.</p>

## <a id='additional'></a>Additional Configuration ##

See the following topics for additional configuration information:

* <a href="./disk-format.html" class="subnav">Provisioning a Virtual Disk in vSphere</a>
* <a href="./nexus-switch.html" class="subnav">Using the Cisco Nexus 1000v Switch with Ops Manager</a>
* <a href="./resurrector.html" class="subnav">Using Ops Manager Resurrector on VMware vSphere</a>
* <a href="../opsguide/ssl-term.html" class="subnav">Configuring SSL Termination for vSphere Deployments</a>
* <a href="./understand-az.html" class="subnav">Understanding Availability Zones in VMware Installations</a>
