

html, body {
  height: 100%;
}

.header-wrap {
  background: #00786e url('http://www.gopivotal.com/sites/all/themes/gopivotal/assets/images/nav_bg.gif');
  position: relative;
}

.por {
  position: relative;
  display: block;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.logo-wrap {
  width: 220px;
  float: left;
  margin-right: 16px;
  padding: 9px 0 10px;
}

.logo {
  display: block;
  background: url(http://www.gopivotal.com/sites/all/themes/gopivotal/assets/images/nav_logo.gif) no-repeat scroll left;
  width: 150px;
  margin-left: -30px;
  height: 44px;
}

.logo-pivotal {
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 20px;
  font-size: 24px;
  color:white;
}

.logo-pivotal a {
  font-weight: 400;
  color: #fff;
}

.header-shadow {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background: url(../images/header_shadow.png) 0 0 repeat-x;
  z-index: 100;
}

/* MAIN CONTAINER */

.main-wrap {
  background: #FFF;
  padding-top: 25px;
  padding-bottom: 50px;
    min-height: 80%;
    margin: 0 auto;
}

.container {
  width: 980px;
  margin: 0 auto;
}

#sub-nav {
  float: left;
  width: 164px;
  margin-right: 40px;
}

#sub-nav li {
  list-style-type: none;
  list-style-image: none;
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  /*margin-bottom: 12px;*/
}

ul.menu li {
  margin: 0;
}

li.expanded, li.collapsed, li.leaf {
  padding: 0;
}

#sub-nav {
  font-family: Arial, Tahoma, Helvetica, sans-serif;
}

#sub-nav ul li a {
  border-bottom: 1px solid #999;
  color: #999;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 6px 0 5px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

#sub-nav ul li ul li a {
  color: #999;
  background: #FFF;
  border-bottom: 1px solid #EEE;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 10px 0 10px 10px;
  /*text-transform: uppercase;*/
}

#sub-nav ul > li >  a:hover, #sub-nav ul li ul li a:hover {
  color: #005696;
}

#sub-nav ul li a.active, #sub-nav ul li ul li a.active {
  color: #000;
  font-weight: 800;
}

.last, .sub-page .last {
  margin-right: 0;
}

.body-container {
  float: left;
  width: 776px;
}

.js-guides {
  display: none;
}

.js-subguides {
  margin-left: 10px;
  display: none;
}

.js-inner-subguides {
  margin-left: 10px;
}
.quick-links {
  width: 350px;
  background-image: -moz-linear-gradient(bottom, #212f3d 0%, #314050 100%);
  background-image: -o-linear-gradient(bottom, #212f3d 0%, #314050 100%);
  background-image: -webkit-linear-gradient(bottom, #212f3d 0%, #314050 100%);
  background-image: linear-gradient(bottom, #212f3d 0%, #314050 100%);
  float: right;
  margin: 0 0 20px 60px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.quick-links-title {
  background: #22303d;
  height: 40px;
  border-bottom: 1px solid #17202a;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  float: right;
  width: 100%;
  padding: 5px 20px 10px 36px;
  margin-bottom: 10px;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.quick-links-title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

.quick-links a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  font-weight: 200;
}

.quick-links > ul {
  padding: 20px;
  list-style-type: none;
}

.quick-links > ul > li, .quick-links > ul > li > ul > li {
  list-style-type: none;
}
/* FOOTER */

.footer-wrap {
  background: #00786E;
  padding: 24px 0 24px 0;
  min-height: 85px;  # here considering the height of the footer is 85px
    max-height: 85px !important;  # here considering the height of the footer is 85px
    margin-top: 30px;  # margin if needed
}

.footer-logo {
  width: 143px;
  height: 30px;
  float: left;
  margin-right: 16px;
}

.clearfix, .container, .row {
  display: block;
}

.fclightgray {
  color: #999999;
}

.fss {
  color: #CCC;
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding-right: 10px;
}

.fclightgray {
  color: #7FBBB6;
}

.link-list a {
  text-decoration: none;
  color: #7FBBB6;
}

.link-list {
  margin: 0 0 20px 0;
}

.link-list a:hover {
  color: #80BCB8;
}

.footer-wrap .span-2 {
  float: left;
}

/* Getting Started Page */

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

ol.class-list {
  list-style: none;
  margin-left: 0 !important;
}

ol.class-list>li {
  margin: 0 0 15px;
  padding: 5px 0 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

ol.class-list li a.title {
  font-size: 16px;
  margin: 0;
  clear: left;
  display: block;
  height: 32px;
  padding: 0 4px;
}

ol.class-list li a.title:hover {
  background: #ddd;
  color: #258AAF !important;
}

ol.class-list li a.title h2 {
  color: rgb(0, 86, 150);
  margin: 0 0 10px;
  display: block;
  float: left;
  width: 675px;
  border-bottom: 0px;
}

ol.class-list li a.title span {
  display: none;
  float: left;
  font-size: 18px;
  font-weight: bold;
  background: transparent url(../images/disclosure_right.png) no-repeat scroll 50% 50%;
  width: 10px;
  height: 32px;
  position: relative;
  right: -80px;
}

ol.class-list li img {
  float: left;
  clear: left;
  width: 55px;
  margin: 6px 20px 0 0;
}

ol.class-list li p.description {
  float: left;
  display: block;
  width: 280px;
  margin: 0;
  text-align: left;
}

ol.class-list ol {
  float: left;
  width: 320px;
  margin: 0 0 0 30px;
  list-style: none;
  margin: 0 0 0 20px;
}

ol.lesson-list li {
  margin-bottom: 4px;
}

ol.lesson-list li a {
  text-decoration: none;
}
ol.lesson-list li a:hover {
  color: #005696 !important;
  text-decoration: underline;
}

ol.class-list li a.title:hover span {
  display: block;
}

ol.class-list h2 {
  padding-top: 0px;
}