---
title: OpsManager and PAS Upgrade Failure
owner: Platform Recovery
---

<strong><%= modified_date %></strong>

This guide explains how to use `bbr` to restore OpsManager and Pivotal Application Service (PAS) back to a healthy state after a failed upgrade between PAS minor versions.  This is only possible if you have previously:

+ Backed up your deployments using `bbr deployment --deployment <DEPLOYMENT_NAME> backup`
+ Backed up you BOSH director using `bbr director backup`
+ Exported your OpsManager settings

These commands produce artifacts of the form `<DEPLOYMENT_NAME>_<TIMESTAMP>/`,  `<DIRECTOR_IP>_<TIMESTAMP>/`, and `installation.zip` respectively.

## <a id="validating-environment-restore"></a>Validating your environment for restore
Before a restore is attempted, you must clarify the following about the current state of your OpsManager and PAS:

+ The BOSH Director must be in a healthy state for a `bbr` restore to succeed as it uses the BOSH Director to orchestrate the restore.  A healthy BOSH Director will have all its jobs running.
+ Any deployment that you want to restore on top of, must have some level of functionality e.g. all the VMs are responsive.

If your BOSH Director or PAS are not in a functional state, then contact [Pivotal Support](https://support.pivotal.io/) for guidance.

<p class="note"><strong>Note:</strong> BBR can only restore across the same PCF minor versions.  The version of PAS, that the backup artifact was taken from, can be found as <tt>metadata/cf-VERSION.yml</tt> in the backup artifact.</p>

## <a id="performing-restore"></a>Performing the restore

### <a id="unhealthy-bosh"></a>Unhealthy BOSH Director
If the BOSH Director is not in a healthy state, Pivotal recommends following [our full restore flow](../restore-pcf-bbr.html#restore-diagram) regain your OpsManager, BOSH Director, and its deployments.

### <a id="healthy-bosh-unhealthy-pas"></a>Healthy BOSH Director and unhealthy PAS Deployment
If your BOSH Director is healthy, you can use `bbr director restore` to restore your previous director state and from there use `bbr deployment --deployment <DEPLOYMENT_NAME> restore` to restore each of your deployments through the BOSH Director. For more information see:

+ [Restoring your BOSH Director](../restore-pcf-bbr.html#restore-bosh)
+ [Restoring your deployment](../restore-pcf-bbr.html#restore-ert)

### <a id="healthy-bosh-healthy-pas"></a>Healthy BOSH Director and healthy PAS Deployment
If your BOSH Director is healthy, its data is intact, and all VMs in your deployment to restore are responsive, you can use `bbr deployment --deployment <DEPLOYMENT_NAME> restore` to restore each of your deployments through the BOSH Director.  For more information see:

+ [Restoring your deployment](../restore-pcf-bbr.html#restore-ert)
  