---
title: OpsManager and PAS Upgrade Failure
owner: Platform Recovery
---

<strong><%= modified_date %></strong>

This topic explains how to use `bbr` to restore OpsManager and Pivotal Application Service (PAS) back to a healthy state after a failed upgrade between PAS minor versions.

<p class="note"><strong>Note:</strong> BBR can only restore across the same PCF minor versions.  The version of PAS, that the backup artifact was taken from, can be found as <tt>metadata/cf-VERSION.yml</tt> in the backup artifact.</p>

## <a id="requirements"></a>Evaluating your deployment

Restoring OpsManager and PAS to a healthy state after a failed upgrade between PAS minor versions is possible if your backups, BOSH Director, and PAS deployment meet certain conditions.

### <a id="requirements"></a>Review your backup
Before proceeding, you must review your backup to ensure that...

Ensure that you have:

+ Backed up your deployments using:

```
bbr deployment --deployment <DEPLOYMENT\_NAME> backup
```

+ Backed up your BOSH director using:

```
bbr director backup
```

+ Exported your OpsManager settings.

These commands produce artifacts of the form `<DEPLOYMENT\_NAME>\_<TIMESTAMP>/`,  `<DIRECTOR_IP>\_<TIMESTAMP>/`, and `installation.zip` respectively.

### <a id="validating-environment-restore"></a>Validate your environment for restore
Before you can attempt restore after a failed upgrade between PAS minor versions, you must confirm that your BOSH Director and PAS deployment are healthy.

####<a id="bosh-director"></a> Ensure your BOSH Director is healthy
To check the state of your BOSH Director:

1. SSH into your BOSH Director. For more information, see [Log in to the BOSH Director VM with SSH](../../trouble-advanced html#bosh-director-ssh) in _Advanced Troubleshooting with the BOSH CLI_. 
1. Confirm that all deployment job VMs are running by performing the following command:

	```
	monit summary
	```

1. Ensure that the BOSH API is responsive by running the following command:

	```
	bosh deployments
	```

	If this command returns a list of deployments, the BOSH Director API is in a healthy and responsive state.

If your BOSH Director is unhealthy, see [Unhealthy BOSH Director](failed-pas-upgrade.html#unhealthy-bosh).


####<a id="pas"></a> Ensure your PAS deployment is healthy

To check that PAS is in a healthy state, run the following BOSH CLI command:

```
bosh -d <DEPLOYMENT_NAME> vms
```

If your PAS deployment is healthy, the output confirms that the **State** of all your VMs are `running`.

If your BOSH Director or PAS are not in a functional state, then contact [Pivotal Support](https://support.pivotal.io/) for guidance.

## <a id="performing-restore"></a>Performing the restore

### <a id="unhealthy-bosh"></a>Unhealthy BOSH Director
If the BOSH Director is not in a healthy state, Pivotal recommends following our full [Restore Flow](../restore-pcf-bbr.html#restore-diagram) to regain your OpsManager, BOSH Director, and its deployments.

### <a id="healthy-bosh-unhealthy-pas"></a>Healthy BOSH Director and unhealthy PAS Deployment
If your BOSH Director is healthy, you can restore your previous director state by following [Step 8: Restore the BOSH Director](../restore-pcf-bbr.html#restore-bosh).

Once your director is restored you can then restore your deployments by following [Step 13: Restore PAS](../restore-pcf-bbr.html#restore-ert).

### <a id="healthy-bosh-healthy-pas"></a>Healthy BOSH Director and healthy PAS Deployment
If your BOSH Director is healthy, its data is intact, and all VMs in your deployment to restore are responsive, you can restore each of your deployments  by following the steps in [Step 13: Restore PAS](../restore-pcf-bbr.html#restore-ert).
  