---
title: OpsManager and PAS Upgrade Failure
owner: Platform Recovery
---

<strong><%= modified_date %></strong>

This guide explains how to use `bbr` to restore OpsManager and Pivotal Application Service (PAS) back to a healthy state after a failed upgrade between PAS minor versions.  This is only possible if you have previously:

+ Backed up your deployments using:

```
bbr deployment --deployment <DEPLOYMENT_NAME> backup
```

+ Backed up you BOSH director using:

```
bbr director backup
```

+ Exported your OpsManager settings

These commands produce artifacts of the form `<DEPLOYMENT_NAME>_<TIMESTAMP>/`,  `<DIRECTOR_IP>_<TIMESTAMP>/`, and `installation.zip` respectively.

## <a id="validating-environment-restore"></a>Validating your environment for restore
Before a restore is attempted, you must clarify that the BOSH Director and PAS are healthy.

### BOSH Director
To check that the BOSH Director is in a healthy state for a `bbr` restore to succeed you can [SSH](../../trouble-advanced.html#bosh-director-ssh) on and ensure that the all jobs are running by running the following:

```
monit summary
```

Monit should report back that all jobs are `running`

You must also ensure that the BOSH API is responsive. You can check that by running the following:

```
bosh deployments
```

If this command returns a list of deployments then the BOSH Director API is in a healthy and responsive state.


### PAS

To check that PAS is in a healthy state you can run the following:

```
bosh -d <DEPLOYMENT_NAME> vms
```

This should report back that all vms are `running`

If your BOSH Director or PAS are not in a functional state, then contact [Pivotal Support](https://support.pivotal.io/) for guidance.

<p class="note"><strong>Note:</strong> BBR can only restore across the same PCF minor versions.  The version of PAS, that the backup artifact was taken from, can be found as <tt>metadata/cf-VERSION.yml</tt> in the backup artifact.</p>

## <a id="performing-restore"></a>Performing the restore

### <a id="unhealthy-bosh"></a>Unhealthy BOSH Director
If the BOSH Director is not in a healthy state, Pivotal recommends following our full [Restore Flow](../restore-pcf-bbr.html#restore-diagram) to regain your OpsManager, BOSH Director, and its deployments.

### <a id="healthy-bosh-unhealthy-pas"></a>Healthy BOSH Director and unhealthy PAS Deployment
If your BOSH Director is healthy, you can restore your previous director state by folllowing [Step 8: Restore the BOSH Director](../restore-pcf-bbr.html#restore-bosh).

Once your director is restored you can then restore your deployments by following [Step 13: Restore PAS](../restore-pcf-bbr.html#restore-ert).

### <a id="healthy-bosh-healthy-pas"></a>Healthy BOSH Director and healthy PAS Deployment
If your BOSH Director is healthy, its data is intact, and all VMs in your deployment to restore are responsive, you can restore each of your deployments  by following the steps in [Step 13: Restore PAS](../restore-pcf-bbr.html#restore-ert).
  