---
title: Incident Response Guides
owner: Platform Recovery
---

This guide describes how <%= vars.product_name  %> operators can use BOSH Backup and Restore (BBR)
to respond to upgrade failures and data loss within their deployment.

## <a id='overview'></a>Overview

This guide includes the following topics:

- [Restoring Lost BOSH Director Persistent Disk](lost-director-disk.html)
- [Restoring Lost PAS Data](lost-cf-data.html)
- [Recovering from an Ops Manager and PAS Upgrade Failure](failed-pas-upgrade.html)
