---
title: Incident Response Guides
owner: Platform Recovery
---

This guide describes how Pivotal Cloud Foundry (PCF) operators can use BOSH Backup and Restore (BBR)
to respond to upgrade failures and data loss within their deployment.

## <a id='overview'></a>Overview

This guide includes the following topic:

[Ops Manager and PAS Upgrade Failure](failed-pas-upgrade.html)
