---
title: Enterprise Services in an Offline Environment
---

<% project_name = "Pivotal Cloud Foundry&reg; (PCF) Offline Ops Manager" %>

The <%= project_name %> release contains everything needed to get BOSH and Cloud Foundry up and running. 

This topic describes the components beyond the PCF platform which may be typical of an offline environment.


## <a id='directory'></a>Directory Services
	
<table>
	<tr>
		<th>Purpose</th>
		<td>
			To allow simulated intranet applications the sharing of information about users, groups, and roles through the network.
		</td>
	</tr>
	<tr>
		<th>Sample Implementation</th>
		<td>
			LDAP
		</td>
	</tr>
	<tr>
		<th>Usage</th>
		<td>
			Pivotal's User Account and Authentication (UAA) is the central identity management service for Pivotal's Elastic Runtime platform.  In the customer environment, the Cloud Foundry admin will configure the identity store in UAA to inteface with the existing LDAP environment.
		</td>
	</tr>
	<tr>
		<th>Runbook</th>
		<td>
			Follow the Pivotal Field Engineering guide for offline installation to install and configure secure LDAP in preparation for PCF UAA integration.
		</td>
	</tr>
	<tr>
		<th>References</th>
		<td>
			See "Authentication and Authorization" in 
			<a href='../../concepts/security.html'>Understanding Cloud Foundry Security</a>.
		</td>
	</tr>
</table>

## <a id='dns'></a> Domain Name System

<p class='note'>
	<strong>Note</strong>: 
	External implementation is configured using hosting provider utilities to build the requisite CNAME entry for DNS wildcarding.
</p>

<table>

	<tr>
		<th> Purpose</th>
		<td> DNS translates a domain name (eg. pivotal.io) to a corresponding IP address via a designated authoritative name service. </td> 
	</tr>

	<tr>
		<th>Sample internal implementation</th>
		<td>BIND</td>
	</tr>
	<tr>
		<th>Usage</th>
		<td>
			A domain is not directly bound to an application, but acts as part of the route to an application.  When an application is deployed using Cloud Foundry, a hostname is supplied, which is prepended to the domain to create the full URL, or route, to the application (eg. my-app.pivotal.io).  BIND will translate the request to its corresponding computer resource on the customer's network.
		</td>
	</tr>
	<tr>
		<th>Runbook</th>
		<td>
			Follow the Pivotal Field Engineering guide for offline installation to configure wildcard DNS.
		</td>
	</tr>
	<tr>
		<th>References</th>
		<td>
			<ul>

				<li>
					 <a href='http://docs.run.pivotal.io/devguide/deploy-apps/domains-routes.html'>
					 	Pivotal Web Services Documentation: Domains & Routes
					 </a>
				</li>
				<li>
					<a href='http://docs.run.pivotal.io/devguide/deploy-apps/domains.html'>
						Pivotal Web Services Documentation: Domains & Shared Domains
					</a>
				</li>
			</ul>
		</td>
	</tr>
</table> 
 
## <a id='ca'></a> Certificate Authority

<table>
	<tr>
		<th> Purpose</th>
		<td> 
			Sample implementation: OpenSSL, an open source SSL/TLS implementation that comes with tools allowing its use as a simple certificate authority.
		</td> 
	</tr>
	<tr>
		<th>Usage</th>
		<td>
			The CA will issue PKI certificates to configure secure communications between clients and the PaaS.  In the customer environment, the PWS Dark team will need to submit a certificate request to be signed by the existing CA.
		</td>
	</tr>
	<tr>
		<th>Runbook</th>
		<td>
			Follow the Pivotal Field Engineering guide for offline installation to install and configure a CA.
		</td>
	</tr>
</table>

## <a id='dto'></a> DTO Box

<table>

	<tr>
		<th> Purpose</th>
		<td>
			Sample implementation: ClamAV, an an open source antivirus engine for detecting trojans, viruses, malware & other malicious threats ([Reference](http://www.clamav.net/ "Reference")).
		</td> 
	<tr>

	<tr>
		<th>Usage</th>
		<td>
			Run antivirus scans on user uploaded content to simulate the DTO process on the customer site.
		</td>
	</tr>
	<tr>
		<th>Runbook</th>
		<td>
			Follow the Pivotal Field Engineering guide for offline installation Antivirus Installation and Configuration Guide to launch and configure a DTO box.
		</td>
	</tr>
</table>



## Pivotal CloudFoundry Installation
Follow the steps below to deploy PCF into the Chiron environment.  Use the [Pivotal Documentation](http://docs.pivotal.io/pivotalcf/customizing/cloudform.html "Pivotal Documentation") as a guide to ensure all prerequisite steps are complete before continuing.
