---
title: Deploy MySQL Tile
---

1. From the offline Ops Manager, upload the releases and stemcell for the MySQL installation:
<pre class="terminal">
$ bosh -n upload release /opt/artifacts/releases/cf-mysql-23.tgz --skip-if-exists
$ bosh -n upload stemcell /opt/artifacts/stemcells/bosh-stemcell-3094-aws-xen-ubuntu-trusty-go_agent.tgz --skip-if-exists
</pre>

1. Modify the MySQL Deployment Manifest `p-mysql-chiron.yml` in the deployments directory on the offline Ops Manager to suit the environment.
Configure the following parameters as necessary:
  1. Director UUID (using &#60;BOSH-STATUS> above)
  1. Network Cloud Properties, Subnet-ID: (pcf-private-subnet, AWS Console: VPC)
  1. External Host: p-mysql.chiron.vi-works.io 
  1. API URI: https:/<span>/</span>api.chiron.vi-works.io
  1. Redirect URI: https:/<span>/</span>p-mysql.chiron.vi-works.io

1. Set deployment:
<pre class="terminal">
$ bosh -n deployment /home/ubuntu/workspace/dark-chiron-aws/deployments/p-mysql-chiron.yml
</pre>

1. Deploy MySQL:
<pre class="terminal">
$ bosh -n deploy
</pre>

1. Run BOSH utilities to confirm successful deployment:
<pre class="terminal">
$ bosh -n vms p-mysql-chiron
$ bosh -n cck --report
</pre>

1. Run BOSH errands to install MySQL:
<pre class="terminal">
$ bosh -n run errand broker-registrar
$ bosh -n run errand acceptance-tests
</pre>
