---
title: Deploy Ops Metrics
---

From the offline Ops Manager, upload the releases and stemcell for the Ops Metrics installation:

<p class="terminal">
bosh -n upload release /opt/artifacts/releases/cf-metrics-44.tgz
</p>
 
1. Modify the [Ops Metrics Deployment Manifest](https://github.com/pivotal-federal-field-engineering/dark-chiron-aws/blob/master/deployments/p-metrics-chiron.yml "Manifest"): p-metrics-chiron.yml in the deployments directory on the Mega Jumpbox to suit the environment.

Configure the following parameters as necessary:
1. Director UUID (using <bosh status> above)
1. Network Cloud Properties, Subnet-ID: (pcf-private-subnet, AWS Console: VPC)

1. Set deployment:

<pre class="terminal">
bosh -n deployment /home/ubuntu/workspace/dark-chiron-aws/deployments/p-metrics-chiron.yml
</pre>

1. Deploy Ops Metrics:

<pre class="terminal">
bosh -n deploy
</pre>

1. Run bosh utilities to confirm successful deployment:

<pre class="terminal">
bosh -n vms p-metrics-chiron
bosh -n cck --report
</pre>

Note: this deployment contains no bosh errands.
