.content {
  font-family: Arial, Tahoma, Helvetica, sans-serif;
}

.content dl {
  margin-left: 10px;
}

.content dt {
  color: #666;
}

.content ul,
.content ol {
  margin-left: 1.5em;
}

.content ul {
  list-style-type: disc;
}

.content img {
  max-width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 1px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd;
}

.content .description {
  margin-left: 20px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .verseblock-content,
.content .sectionbody .dlist dt,
.content p > tt,
.content dl code,
.content ul code,
p code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
}

.content .sectionbody .dlist dt {
  margin-top: 10px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .intro {
  color: #868686;
}

.content p, li {
  color: #555;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.content a {
  font-size: 14px;
}

.content h3 {
  font-weight: normal;
  line-height: 32px;
  margin-bottom: 10px;
}

.content h4 {
  color: rgb(75, 170, 71);
  font-size: 15px;
  height: 19px;
}

.content h2 {
  color: #000;
  font-size: 26px;
  font-weight: 100;
  line-height: 32px;
  min-height: 32px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.content h5 {
  font-weight: bold;
  font-size: 18px;
}

.content ul li {
  color: rgb(88, 89, 91);
  list-style-type: disc;
  font-size: 14px;
  padding-left: 5px;
  margin-bottom: 10px;
  line-height: 1.4;
}


/* Doc Container */

h3.title-container {
  color: #F16F3B;
  font-size: 35px;
  font-weight: 400;
  padding-top: 10px;
  line-height: 40px;
}

/* TABLE STYLES */

/*.content table {
  max-width: 100%;

  background-color: transparent;
  background-color: #ffffff;

  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  margin-bottom: 20px;
  border-left: 1px solid #7088B9;
}

.content table th,
.content table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #7088B9;
  border-bottom: 1px solid #7088B9;
}

.content table thead tr:last-child td {
  border-right: 0;
  border-bottom: 0;
}

.content table th {
  font-weight: bold;
}

.content table thead th {
  vertical-align: bottom;
  background-color: #c9e5b0;
  border-top: 1px solid #7088B9;
}

.content table tr th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px
}

.content table tr th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.content table tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.content table tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}*/

table {
  border-collapse:collapse;
  margin: 20px 0;
}
td {
  padding: 5px;
}
th{
  border-bottom:3px solid #ccc;
  padding-right:1em;
  text-align:left;
  padding: 5px;
}
tbody{
  border-top:1px solid #ccc;
}
tr.even,tr.odd{
  background-color:#eee;
  border-bottom:1px solid #ccc;
  padding:0.1em 0.6em;
}
th.active img{
  display:inline;
}
td.active{
  background-color:#ddd;
}

/*------------------------------------------------------------------------------
     Pre/Code Styles
------------------------------------------------------------------------------*/

code {white-space: nowrap;}

pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin-bottom: 5px;
}

ul + pre {
  margin-top: 1em;
}

pre code {white-space: pre;}

pre span.comment {color: #aaa;}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.no-response {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-radius: 3px 3px;
  border-bottom: 1px solid #CACACA;
}

pre.headers + pre.highlight {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

pre.highlight {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color: #FAFAFB;
}

pre.terminal {
  background-color: #e8e8e8;
  color: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #DEDEDE;
  position: relative;
  padding: 10px;
  text-shadow: none;
  background-image: none;
  filter: none;
}

pre.terminal em {
  color: #f9fe64;
}

span.codeline {
  display: block;
  position: relative;
}

span.codeline:hover {
  background-color: #292929;
  margin: 0px;
  padding-left: 3px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
}

span.codeline span {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 0 0.3em 0.05em;
  position: absolute;
  right: 0px;
  top: 0px;
  text-indent: -9999px;
  background-image: url(../images/qmark.png);
  background-repeat: no-repeat;
  background-position: 1px 3px;
  max-width: 8px;
  min-width: 8px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

span.codeline span:hover {
  display: inline-block;
  text-indent: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #000;
  border: 1px solid #292929;
  max-width: 1000px;
}

span.codeline:hover em {
  color: #666666;
}

pre.bootcamp {
  white-space: normal;
  margin-left: -10px;
  background-image: none;
}

span.bash-output {
  color: #63e463;
  display: block;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* end */

.timestamps strong, .tags strong{
    color: #444
}
.tags a {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 5px;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, EEEEEE 100%) repeat scroll 0% 0% transparent; margin: 0pt 5px 5px 0pt;

    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#EEEEEE));/* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top,#ffffff 0%,#EEEEEE 100%);/* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top,#ffffff 0%,#EEEEEE 100%);/* Opera11.10+ */
  background:-ms-linear-gradient(top,#ffffff 0%,#EEEEEE 100%);/* IE10+ */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#EEEEEE',GradientType=0 );/* IE6-9 */
  background:linear-gradient(top,#ffffff 0%,#EEEEEE 100%);/* W3C */
}

/* @end */
