
<p class="note"><strong>Note</strong>: The procedure to manually backup MySQL below does not cover steps that are specific to a particular IaaS. It is important to tailor these instructions based on your infrastructure and configuration requirements. </p>
##### <a id="prerequisites"></a>Prerequisites #####

- Locate the IP address for the MySQL node in the **Status** tab.
	<%= image_tag("../images/mysql-server-ip.png") %>

- Locate the root password for the MySQL server in the **Credentials** tab.
	<%= image_tag("../images/mysql-root-password.png") %>

1. Spin up a virtual machine (VM). Ensure the VM has sufficient disk space to receive the data dump. Configure network access to your p-mysql deployment.

1. Install the [mysqldump](https://mariadb.com/kb/en/mariadb/mysqldump/) client of your choice.

1. In a terminal window, execute the following command. To backup **all** databases in the MySQL deployment, use `--all-databases`:

    ```
    $ mysqldump -u root -p -h $MYSQL_NODE_IP --all-databases > user_databases.sql
    ```

    To backup a single database, specify the database name:

    ```
    $ mysqldump -u root -p -h $MHQL_NODE_IP $DB_NAME > user_databases.sql
    ```
<p class="note"><strong>Note</strong>: The backup you obtain from running the command above is not encrypted or compressed, Pivotal recommends encrypting the backup artifact, before storing it off-site</p>

1. Store the backup in a different location than the MySQL primary storage, preferably off-site. 


