1. Install Ruby and the [BOSH CLI Ruby gem](http://docs.cloudfoundry.org/bosh/bosh-cli.html) on a machine outside of your PCF deployment.

1. From the Installation Dashboard in Ops Manager, select **BOSH Director > Status** and record the IP address listed for the Director.
You access the BOSH Director using this IP address.
  <img src="../images/director-ip.png">
1. Click **Credentials** and record the **Director Credentials**.
  <img src="../images/director-creds.png">
1. From the command line, run `bosh alias-env` to log in to the BOSH Director using the IP address and credentials that you recorded:
  <pre>
  bosh -e MY-ENV alias-env DIRECTOR_IP
  Target set to 'microbosh-1234abcd1234abcd1234'
  Email(): director
  Enter password: ********************
  Logged in as 'director'
  </pre>
  <p class="note"><strong>Note</strong>: If <code>bosh alias-env</code> does not prompt you for your username and password, run <code>bosh <%= vars.bosh_login %></code>.</p>
