---
title: PAS Component Behavior During Backup
owner: Component Teams
---

This topic describes the operational impact of backing up Pivotal Application Service (PAS) components with BBR. To ensure correctness of backups, each component that requires backup has its own set of scripts. The sections in this topic describe the behavior of each component during backup. 

## <a id="app-usage-service">App Usage Service</a>

## <a id="app-autoscaler">App Autoscaler</a>

## <a id="cloud-controller">Cloud Controller</a>

## <a id="network-policy-server">Network Policy Server</a>

## <a id="notification-service">Notification Service</a>

## <a id="nfs-volume-services">NFS Volume Services</a>

## <a id="routing-api">Routing API</a>

## <a id="uaa">UAA</a>