---
title: Enabling External S3 Blobstore Backups
owner: RelEng
---

<strong><%= modified_date %></strong>

This topic describes the procedure for enabling external blobstore backups on your Pivotal Cloud Foundry (PCF) installation.

External blobstore backups leverage the versioning feature of S3-compatible storage solutions. External blobstore backups do not download the files stored in the blobstore.

For more information about the process behind backup and restore, see [Backup and Restore with External Blobstores](https://docs.cloudfoundry.org/bbr/external-blobstores.html) in the Cloud Foundry documentation.

<p class="note"><strong>Note:</strong> If you enable external blobstore backups, update your runtime config when upgrading to PCF v2.0. For more information about the runtime config, see <a href="https://docs.pivotal.io/2-0/customizing/backup-restore/enabling-external-blobstore-backups.html">Enabling External Blobstore Backups</a> in the PCF v2.0 documentation.</p>

## <a id="backup-prepare"></a> Step 1: Enable Backup Prepare Node

To ensure the backup prepare node is deployed on Elastic Runtime, see [Enable Backup Prepare Node](backup-pcf-bbr.html#backup-prepare-node) in the _Backing Up Pivotal Cloud Foundry with BBR_ topic.

## <a id="s3-versioning"></a> Step 2: Set S3 Blobstore Versioning

1. Create buckets for your Elastic Runtime. For more information about creating buckets, see [Create S3 Buckets](../pcf-aws-manual-config.html#create-s3) in the _Manually Configuring AWS for PCF_ topic.

1. Enable versioning and replication. For more information, see [Enable Versioning on Your S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioning) in _Backup and Restore with External Blobstores_.

1. (Optional) Pivotal recommends you include a lifecycle policy rule to delete noncurrent versions after a period of time. Including this policy rule saves storage space and cost. For an example of this rule, see [Example 6: Specifying a Lifecycle Rule for a Versioning-Enabled Bucket](https://docs.aws.amazon.com/AmazonS3/latest/dev/lifecycle-configuration-examples.html#lifecycle-config-conceptual-ex6) in the AWS documentation.

## <a id="external-blobstore"></a> Step 3: Configure an External Blobstore

To configure an external blobstore for Elastic Runtime with your S3 buckets, see [External S3 or Ceph Filestore](../pcf-aws-manual-er-config.html#external_s3) in the _Manually Configuring Elastic Runtime for AWS_ topic.

## <a id="install-addon"></a> Step 4: Install the S3 Backups Add-On

<p class="note"><strong>Note: </strong>The following steps require BOSH v2+. Check that you have downloaded the latest version of BOSH CLI. For more information, see <a href="https://bosh.io/docs/cli-v2/#install">Install</a> in the BOSH documentation.</p>

1. From the Ops Manager Installation Dashboard, click **Elastic Runtime** tile.
1. From your browser's address bar, record the Elastic Runtime deployment name from the URL. The deployment name is prefixed with the letters `cf`. For example, in `http://pcf.EXAMPLE-HOST.com/products/cf-3247176589a379f246d1`, the Elastic Runtime deployment name is `cf-3247176589a379f246d1`. The Elastic Runtime deployment name value is used to update the runtime config in a later step. 
1. Select the **Credentials** tab.
1. Locate **Director Credentials** and click **Link to Credentials** to retrieve your Director credentials. Record your **Director Credentials**. The **Director Credentials** are used to update the runtime config in a later step. 
1. Select the **Status** tab.
1. Record the BOSH Director IP address. The BOSH Director IP address value is used to update the runtime config in a later step. 
1. Go to [Pivotal Network](https://network.pivotal.io/) and download **BOSH Addon for Backup and Restore of External Blobstores**.
1. Run the following command to copy the release archive to your Ops Manager instance. For more information on obtaining your private key, see [Step 4: Check your BOSH Director
](backup-pcf-bbr.html#check-director) in _Backing Up Pivotal Cloud Foundry with BBR_.
  <pre class="terminal">$ scp -i PATH\_TO\_PRIVATE\_KEY 
    backup-and-restore-sdk-preview.tar.gz ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP:~</pre>
1. Run the following command to SSH into the Ops Manager instance.
  <pre class="terminal">$ ssh -i PATH\_TO\_PRIVATE\_KEY ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP</pre>
1. In the Ops Manager VM, run the following command to log in to your BOSH Director. When prompted, enter your BOSH Director credentials.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert 
    /FILE-PATH-ROOT-CA-CERTIFICATE login</pre>
1. Run the following command to upload the BOSH Addon for Backup and Restore of External Blobstores release that you previously downloaded from Pivotal Network.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-CA-CERTIFICATE upload-release backup-and-restore-sdk-preview.tar.gz</pre>
1. Run the following command to confirm that the release upload has succeeded.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-CA-CERTIFICATE releases</pre>
  You should see a `backup-and-restore-sdk-preview` entry.
1. Run the following command to download your current runtime config and save it as `runtime-config.yml`.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate runtime-config > runtime-config.yml</pre>
  If you receive an error about a missing runtime config, create an empty file and save it as `runtime-config.yml`.
1. Append the below to the `releases` section of your `runtime-config.yml`. 
  <pre>
  releases:
  <!-- Append the below to the list of releases: -->
  \- name: backup-and-restore-sdk-preview
      version: &lt;the-release-version&gt;
  </pre>

1. Append the below to the `addons` section of your `runtime-config.yml`.
</br>
</br>
 Replace the bracketed placeholders in the `droplets`, `packages`, and `buildpacks` sections with the values you previously created in [Step 2: Set S3 Blobstore Versioning](../pcf-aws-manual-config.html#create-s3). 
</br>
</br>
 Replace the bracketed information in the `include` section with the Elastic Runtime Deployment name you recorded earlier.
  <pre>
  addons:
  <!-- Append the below to the list of addons: -->
  \- name: sdk-preview
      jobs:
      \- name: s3-versioned-blobstore-backup-restorer
        release: backup-and-restore-sdk-preview
        properties:
          enabled: true
          buckets:
            droplets:
              name: &lt;name-of-droplets-bucket&gt;
              region: &lt;region-of-droplets-bucket&gt;
              aws\_access\_key\_id: &lt;aws-access-key&gt;
              aws_secret\_access\_key: &lt;aws-secret-key&gt;
              endpoint: &lt;blobstore-endpoint&gt;
            packages:
              name: &lt;name-of-packages-bucket&gt;
              region: &lt;region-of-packages-bucket&gt;
              aws\_access\_key\_id: &lt;aws-access-key&gt;
              aws\_secret\_access\_key: &lt;aws-secret-key&gt;
              endpoint: &lt;blobstore-endpoint&gt;
            buildpacks:
              name: &lt;name-of-buildpacks-bucket&gt;
              region: &lt;region-of-buildpacks-bucket&gt;
              aws\_access\_key\_id: &lt;aws-access-key&gt;
              aws\_secret\_access\_key: &lt;aws-secret-key&gt;
              endpoint: &lt;blobstore-endpoint&gt;
      include:
        deployments:
        \- &lt;elastic-runtime-deployment-name&gt;
        jobs:
        \- name: mysql-backup
          release: cf-backup-and-restore
  </pre>

1. Run the following command to finishing updating the runtime config:
<pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert 
  /FILE-PATH-ROOT-CA-CERTIFICATE update-runtime-config runtime-config.yml
</pre>

1. Navigate to your **Ops Manager Installation Dashboard**. Click **Apply Changes**