---
title: Enabling External Blobstore Backups
owner: BBR
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic provides instructions for enabling external blobstore backups in your Pivotal Elastic Runtime tile.

BOSH Backup and Restore (BBR) supports versioned and unversioned S3 or S3-compatible blobstores and Azure blobstores. For more information, see [Backup and Restore for External Blobstores](https://docs.cloudfoundry.org/bbr/external-blobstores.html) in the open-source Cloud Foundry documentation.

<p class="note"><strong>Note</strong>: To enable external blobstore backups for Elastic Runtime, the <strong>Backup Prepare Node</strong> must be enabled. See <a href=backup-pcf-bbr.html#backup-prepare-node>Enable Backup Prepare Node</a> in <em>Backing Up Pivotal Cloud Foundry with BBR</em>.</p>

<p class="note"><strong>Note</strong>: The instructions below require the BOSH Command Line Interface (CLI) v2+. For more information, see <a href="https://bosh.io/docs/cli-v2/#install">Install</a> in the BOSH documentation.</p>

## <a id="blobstore-support"></a> External Blobstore Support

External blobstore backup support varies based on which version of Ops Manager you are running and what type of blobstore you are backing up.

In some cases, external blobstore support is included in the version of Ops Manager you are using. In other cases, installing Blobstore Add-On is required. 

Refer to the table below to confirm the requirements of backing up your intended blobstore.

<a href="images/external-blobstore-support.png"><img src="images/external-blobstore-support.png" alt="This chart shows whether Blobstore Add-On is required for backing up external blobstores."></a>

## <a id="s3-versioned"></a> Versioned S3 or S3-Compatible Blobstores

For information about configuring a versioned S3 or S3-compatible blobstore for backups and installing Blobstore Add-On, see the following sections:

* [Configure a Versioned S3 or S3-Compatible Blobstore for Backups](#configuring-versioned-s3)
* [Install Blobstore Add-On](#installing-s3-versioned-addon)

<p class="note"><strong>Note:</strong> If you enable versioned S3 or S3-compatible external blobstore backups and you want to upgrade to Pivotal Application Service (PAS) v2.1, you must remove <code>s3-versioned-blobstore-backup-restorer</code> from your runtime configuration before upgrading.</p>

###<a id="configuring-versioned-s3"></a> Configure a Versioned S3 or S3-Compatible Blobstore for Backups

To configure a versioned S3 or S3-compatible blobstore for backups, do the following:

1. Enable versioning. For more information, see [Enable Versioning on Your S3 or S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioning) in the open-source Cloud Foundry documentation.

1. (Recommended) Enable cross-region replication for your buckets. For more information, see [Enable Replication on Your Versioned S3 or S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioned-replication) in the open-source Cloud Foundry documentation.

1. (Recommended) Include a lifecycle policy rule. This ensures non-current versions are deleted after a period of time. For an example of a lifecycle policy rule, see [Specifying a Lifecycle Rule for a Versioning-Enabled Bucket](https://docs.aws.amazon.com/AmazonS3/latest/dev/lifecycle-configuration-examples.html#lifecycle-config-conceptual-ex6) in the AWS documentation.

###<a id="installing-s3-versioned-addon"></a> Install Blobstore Add-On

To enable BBR to back up and restore a Pivotal Elastic Runtime installation that uses a versioned S3 or S3-compatible blobstore, you must install Blobstore Add-On.

To install Blobstore Add-On, follow the instructions below:

1. On the Ops Manager Installation Dashboard, click the Pivotal Elastic Runtime tile.

1. From the URL in the address bar, record the deployment name of your Elastic Runtime. The name begins with `cf`.

    For example, in `https://pcf.example.com/products/cf-3247176589a379f246d1`, the deployment name is `cf-3247176589a379f246d1`.

1. Navigate to the Ops Manager Installation Dashboard and click the Ops Manager Director tile.

1. In the Ops Manager Director tile, select the **Credentials** tab.

1. Locate **Director Credentials** and click the corresponding **Link to Credentials**. Record the identity and password.

1. Select the **Status** tab. Record the IP address of your BOSH Director.

1. From the [BOSH Backup and Restore](https://network.pivotal.io/products/p-bosh-backup-and-restore) page in Pivotal Network, download the latest version of Blobstore Add-on.

1. To copy the release archive to your Ops Manager instance, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY backup-and-restore-sdk-addon-SEMVER.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:~
    ```
    Where:
    * `PATH-TO-PRIVATE-KEY` is the path to your Ops Manager private key.
    * `SEMVER` is the semantic version of the add-on that you downloaded in the previous step.
    * `YOUR-OPS-MANAGER-VM-IP` is the IP address of your Ops Manager VM.

1. SSH into the Ops Manager instance by following the instructions in [SSH into Ops Manager VM](../trouble-advanced.html#ssh).

1. In the Ops Manager VM, authenticate with your BOSH Director by following the instructions in [Log in to the BOSH Director](../trouble-advanced.html#log-in). Use the Director Credentials and Director IP address that you recorded in previous steps.

1. To upload the release that you downloaded from Pivotal Network, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate upload-release backup-and-restore-sdk-addon-SEMVER.tar.gz
    ```
    Where:
    * `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.
    * `SEMVER` is the semantic version of the add-on that you are uploading.

1. To confirm that the release upload has succeeded, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate releases
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    You should see a `backup-and-restore-sdk-addon-SEMVER` entry.

1. To download your current runtime configuration and save it as a file named `runtime-config.yml`, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate runtime-config > runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    If you receive an error message that references a missing runtime configuration, create an empty file and save it as `runtime-config.yml`.

1. Append the following to the `releases` section of your `runtime-config.yml` file:

    ```yaml
    releases:
    # Append the below to the list of releases:
    - name: backup-and-restore-sdk-addon
      version: RELEASE-VERSION
    ```
    Where `RELEASE-VERSION` is the release version.

1. Append the following to the `addons` section of your `runtime-config.yml` file:

    ```yaml
    addons:
    # Append the below to the list of addons:
    - name: sdk-preview
      jobs:
      - name: s3-versioned-blobstore-backup-restorer
        release: backup-and-restore-sdk-addon
        properties:
          enabled: true
          buckets:
            droplets:
              name: NAME-OF-DROPLETS-BUCKET
              region: REGION-OF-DROPLETS-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
            packages:
              name: NAME-OF-PACKAGES-BUCKET
              region: REGION-OF-PACKAGES-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
            buildpacks:
              name: NAME-OF-BUILDPACKS-BUCKET
              region: REGION-OF-BUILDPACKS-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
      include:
        deployments:
        - ELASTIC-RUNTIME-DEPLOYMENT-NAME
        jobs:
        - name: mysql-backup
          release: cf-backup-and-restore
    ```
    Replace the placeholder text as follows:
    * In the `droplets`, `packages`, and `buildpacks` section, replace the text with the values configured in Ops Manager.
    * In the `include` section, replace the text with the Elastic Runtime deployment name that you recorded in a previous step.

1. To complete updating the runtime configuration, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate update-runtime-config runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

1. Navigate to your Ops Manager Installation Dashboard and click **Apply Changes**.

## <a id="s3-unversioned"></a> Unversioned S3 or S3-Compatible Blobstores

For information about configuring an unversioned S3 or S3-compatible blobstore for backups and installing the Blobstore Add-On, see the following sections:

* [Configure an Unversioned S3 or S3-Compatible Blobstore for Backups](#backup-buckets)
* [Install Blobstore Add-On](#installing-s3-unversioned-addon)

<p class="note"><strong>Note:</strong> If you enable unversioned S3 or S3-compatible external blobstore backups and you want to upgrade to PAS v2.2, you must remove <code>s3-unversioned-blobstore-backup-restorer</code> from your runtime configuration before upgrading.</p>

### <a id="backup-buckets"></a> Configure an Unversioned S3 or S3-Compatible Blobstore for Backups

For each bucket used by your Pivotal Elastic Runtime installation, you must create a corresponding backup bucket. Pivotal recommends that you store the backup buckets or copies of them in a different region than the originals.

For more information, see [Enable Backup and Restore of Your Unversioned S3 or S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#s3-unversioned) in the open-source Cloud Foundry documentation.

### <a id="installing-s3-unversioned-addon"></a> Install Blobstore Add-On

To enable BBR to back up and restore a Pivotal Elastic Runtime installation that uses an unversioned S3 or S3-compatible blobstore, you must install Blobstore Add-On.

To install Blobstore Add-On, follow the instructions below:

1. On the Ops Manager Installation Dashboard, click the Pivotal Elastic Runtime tile.

1. From the URL in the address bar, record the deployment name of your Elastic Runtime. The name begins with `cf`.

    For example, in `https://pcf.example.com/products/cf-3247176589a379f246d1`, the deployment name is `cf-3247176589a379f246d1`.

1. Navigate to the Ops Manager Installation Dashboard and click the Ops Manager Director tile.

1. In the Ops Manager Director tile, select the **Credentials** tab.

1. Locate **Director Credentials** and click the corresponding **Link to Credentials**. Record the identity and password.

1. Select the **Status** tab. Record the IP address of your BOSH Director.

1. From the [BOSH Backup and Restore](https://network.pivotal.io/products/p-bosh-backup-and-restore) page in Pivotal Network, download the latest version of the add-on.

1. To copy the release archive to your Ops Manager instance, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY backup-and-restore-sdk-addon-SEMVER.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:~
    ```
    Where:
    * `PATH-TO-PRIVATE-KEY` is the path to your Ops Manager private key.
    * `SEMVER` is the semantic version of the add-on that you downloaded in the previous step.
    * `YOUR-OPS-MANAGER-VM-IP` is the IP address of your Ops Manager VM.

1. SSH into the Ops Manager instance by following the instructions in [SSH Into Ops Manager VM](../trouble-advanced.html#ssh).

1. In the Ops Manager VM, authenticate with your BOSH Director by following the instructions in [Log in to the BOSH Director](../trouble-advanced.html#log-in). Use the Director Credentials and Director IP address that you recorded in previous steps.

1. To upload the release that you downloaded from Pivotal Network, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate upload-release backup-and-restore-sdk-addon-SEMVER.tar.gz
    ```
    Where:
    * `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.
    * `SEMVER` is the semantic version of the add-on that you are uploading.

1. To confirm that the release upload has succeeded, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate releases
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    You should see a `backup-and-restore-sdk-addon-SEMVER` entry.

1. To download your current runtime configuration and save it as a file named `runtime-config.yml`, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate runtime-config > runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    If you receive an error message that references a missing runtime configuration, create an empty file and save it as `runtime-config.yml`.

1. Append the following to the `releases` section of your `runtime-config.yml` file:

    ```yaml
    releases:
    # Append the below to the list of releases:
    - name: backup-and-restore-sdk-addon
      version: RELEASE-VERSION
    ```
    Where `RELEASE-VERSION` is the release version.

1. Append the following to the `addons` section of your `runtime-config.yml` file:

    ```yaml
    addons:
    # Append the below to the list of addons:
    - name: sdk-preview
      jobs:
      - name: s3-unversioned-blobstore-backup-restorer
        release: backup-and-restore-sdk-addon
        properties:
          enabled: true
          buckets:
            droplets:
              name: NAME-OF-DROPLETS-BUCKET
              region: REGION-OF-DROPLETS-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
              backup:
                name: NAME-OF-DROPLETS-BACKUP-BUCKET
                region: REGION-OF-DROPLETS-BACKUP-BUCKET
            packages:
              name: NAME-OF-PACKAGES-BUCKET
              region: REGION-OF-PACKAGES-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
              backup:
                name: NAME-OF-PACKAGES-BACKUP-BUCKET
                region: REGION-OF-PACKAGES-BACKUP-BUCKET
            buildpacks:
              name: NAME-OF-BUILDPACKS-BUCKET
              region: REGION-OF-BUILDPACKS-BUCKET
              aws_access_key_id: AWS-ACCESS-KEY
              aws_secret_access_key: AWS-SECRET-KEY
              endpoint: BLOBSTORE-ENDPOINT
              backup:
                name: NAME-OF-BUILDPACKS-BACKUP-BUCKET
                region: REGION-OF-BUILDPACKS-BACKUP-BUCKET
      include:
        deployments:
        - ELASTIC-RUNTIME-DEPLOYMENT-NAME
        jobs:
        - name: mysql-backup
          release: cf-backup-and-restore
    ```
    Replace the placeholder text as follows:
    * In the `droplets`, `packages`, and `buildpacks` section, replace the text with the values configured in Ops Manager and the backup buckets that you created in a previous step. See [Configure an Unversioned S3 or S3-Compatible Blobstore for Backups](enabling-external-blobstore-backups.html#backup-buckets).
    * In the `include` section, replace the text with the Elastic Runtime deployment name that you recorded in a previous step.

1. To complete updating the runtime configuration, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate update-runtime-config runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

1. Navigate to your Ops Manager Installation Dashboard and click **Apply Changes**.

## <a id="azure"></a> Azure Blobstores

For information about configuring an Azure blobstore for backups and installing Blobstore Add-On, see the following sections:

* [Configure an Azure Blobstore for Backups](#configuring-azure-blobstore)
* [Install Blobstore Add-On](#installing-azure-addon)

### <a id="configuring-azure-blobstore"></a> Configure an Azure Blobstore for Backups

To configure your Azure blobstore for backups, enable soft deletes in your Azure Storage account. For more information, see [Soft delete for Azure Storage blobs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart) in the Microsoft documentation.

To save storage space and cost, Pivotal recommends that you configure a retention policy to permanently delete objects after a period of time.

### <a id="installing-azure-addon"></a> Install Blobstore Add-On

To enable BBR to back up and restore a Pivotal Elastic Runtime installation that uses an Azure blobstore, you must install Blobstore Add-On.

To install Blobstore Add-On, follow the instructions below:

1. On the Ops Manager Installation Dashboard, click the Pivotal Elastic Runtime tile.

1. From the URL in the address bar, record the deployment name of your Elastic Runtime. The name begins with `cf`.

    For example, in `https://pcf.example.com/products/cf-3247176589a379f246d1`, the deployment name is `cf-3247176589a379f246d1`.

1. Navigate to the Ops Manager Installation Dashboard and click the Ops Manager Director tile.

1. In the Ops Manager Director tile, select the **Credentials** tab.

1. Locate **Director Credentials** and click the corresponding **Link to Credentials**. Record the identity and password.

1. Select the **Status** tab. Record the IP address of your BOSH Director.

1. From the [BOSH Backup and Restore](https://network.pivotal.io/products/p-bosh-backup-and-restore) page in Pivotal Network, download the latest version of the add-on.

1. To copy the release archive to your Ops Manager instance, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY backup-and-restore-sdk-addon-SEMVER.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:~
    ```
    Where:
    * `PATH-TO-PRIVATE-KEY` is the path to your Ops Manager private key.
    * `SEMVER` is the semantic version of the add-on that you downloaded in the previous step.
    * `YOUR-OPS-MANAGER-VM-IP` is the IP address of your Ops Manager VM.

1. SSH into the Ops Manager instance by following the instructions in [SSH Into Ops Manager VM](../trouble-advanced.html#ssh).

1. In the Ops Manager VM, authenticate with your BOSH Director by following the instructions in [Log in to the BOSH Director](../trouble-advanced.html#log-in). Use the Director Credentials and Director IP address that you recorded in previous steps.

1. To upload the release that you downloaded from Pivotal Network, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate upload-release backup-and-restore-sdk-addon-SEMVER.tar.gz
    ```
    Where:
    * `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.
    * `SEMVER` is the semantic version of the add-on that you are uploading.

1. To confirm that the release upload has succeeded, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate releases
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    You should see a `backup-and-restore-sdk-addon-SEMVER` entry.

1. To download your current runtime configuration and save it as a file named `runtime-config.yml`, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate runtime-config > runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

    If you receive an error message that references a missing runtime configuration, create an empty file and save it as `runtime-config.yml`.

1. Append the following to the `releases` section of your `runtime-config.yml` file:

    ```yaml
    releases:
    # Append the below to the list of releases:
    - name: backup-and-restore-sdk-addon
      version: RELEASE-VERSION
    ```
    Where `RELEASE-VERSION` is the release version.

1. Append the following to the `addons` section of your `runtime-config.yml` file:

    ```yaml
    addons:
    # Append the below to the list of addons:
    - name: sdk-preview
      jobs:
      - name: azure-blobstore-backup-restorer
        release: backup-and-restore-sdk-addon
        properties:
          enabled: true
          containers:
            droplets:
              name: NAME-OF-DROPLETS-CONTAINER
              azure_storage_account: AZURE-STORAGE-ACCOUNT
              azure_storage_key: AZURE-STORAGE-KEY
            packages:
              name: NAME-OF-PACKAGES-CONTAINER
              azure_storage_account: AZURE-STORAGE-ACCOUNT
              azure_storage_key: AZURE-STORAGE-KEY
            buildpacks:
              name: NAME-OF-BUILDPACKS-CONTAINER
              azure_storage_account: AZURE-STORAGE-ACCOUNT
              azure_storage_key: AZURE-STORAGE-KEY
      include:
        deployments:
        - ELASTIC-RUNTIME-DEPLOYMENT-NAME
        jobs:
        - name: mysql-backup
          release: cf-backup-and-restore
    ```
    Replace the placeholder text as follows:
    * In the `droplets`, `packages`, and `buildpacks` section, replace the text with the values configured in Ops Manager.
    * In the `include` section, replace the text with the Elastic Runtime deployment name that you recorded in a previous step.

1. (Optional) To configure backup and restore for Azure Sovereign Cloud, configure the `environment` property described in the [Backup and Restore SDK Documentation](https://github.com/cloudfoundry-incubator/backup-and-restore-sdk-release/blob/develop/docs/blobstore-backup-restore.md#Azure-Blobstores) topic in GitHub.

    For more information about Azure Sovereign Cloud,
    see [Microsoft National Clouds](https://www.microsoft.com/en-us/trustcenter/cloudservices/nationalcloud) in the Microsoft documentation.

1. To complete updating the runtime configuration, run the following command:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate update-runtime-config runtime-config.yml
    ```
    Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director.

1. Navigate to your Ops Manager Installation Dashboard and click **Apply Changes**.
