---
title: Enabling External Blobstore Backups
owner: BBR
---



This topic provides instructions for enabling external blobstore backups in your
Pivotal Application Service (PAS) tile.

BOSH Backup and Restore (BBR) supports the following:

- Versioned S3 or S3-Compatible Blobstores
- Unversioned S3 or S3-Compatible Blobstores
- Azure Blobstores

For more information, see the [Cloud Foundry documentation](https://docs.cloudfoundry.org/bbr/external-blobstores.html).

<p class="note"><strong>Note: </strong>
  To enable external blobstore backups for PAS, the <strong>Backup Restore Node</strong> must be enabled.
  See <a href=backup-pcf-bbr.html#backup-restore-node>Enable Backup Restore Node</a>
  in <em>Backing Up <%= vars.product_name_full %> with BBR</em>.</p>

## <a id="blobstore-support"></a> External Blobstore Support

External blobstore backup support varies based on which version of Ops Manager you are running and what type of blobstore you are backing up.

In some cases, external blobstore support is included in the version of Ops Manager you are using. In other cases, installing Blobstore Add-On is required.

Refer to the table below to determine if external blobstore support is included in the version of Ops Manager you are using.

<table>
  <tr>
    <th style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white;"></th>
    <th colspan="7" style="border-top-style: hidden; text-align: center; background-color: white; color: black; padding: 10px;">Ops Manager Version</th>
    <th style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white; "></th>
  <tr>
    <th class="rotate" rowspan="5" style="width: 5%; border-left-style: hidden; background-color: white; color: black;"><div>Blobstore Type</div></th>
    <th style="background-color: #1b786e; color: white;"</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.2</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.3</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.4</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.5</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.6</th>
  </tr>
  <tr>
    <td style="color: black;">Versioned</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">Unversioned</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">Azure</td>
    <td class="cell pale-green">Add-On</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">GCS</sup></td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white;"></td>
    <td colspan="7" style="border-right-style: hidden; border-bottom-style: hidden; background-color: white; color: black;"></td>
  </tr>
</table>

## <a id="s3"></a> S3 or S3-compatible Blobstores

In PAS v2.2 and later, BBR supports backing up and restoring versioned and unversioned S3
or S3-compatible blobstores by default.
For more information about configuring an S3 or S3-compatible blobstore,
see [Configuring File Storage for PAS](../pas-file-storage.html#aws).

<div class="note">
  <strong>Note:</strong>
  <ul>
    <li>Backup artifacts of external, S3-compatible, versioned blobstores do not contain the physical blobs. BBR requires that the original buckets still exist to be restored.</li>
    <li>To protect yourself from losing a bucket, see the <a href="https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioned-replication">Cloud Foundry documentation</a>.</li>
  </ul>
</div>

## <a id="azure"></a> Azure Blobstores

To configure your Azure blobstore for backups, you must enable Soft Delete in your Azure Storage account. You can also enable Soft Delete for existing Azure storage accounts that were not initially created with Soft Delete enabled.
For more information, see [the Microsoft documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart).

After enabling Soft Delete, you can enable Azure blobstore backups in Ops Manager for new or existing blobstores. For more information, [Configuring File Storage for PAS](../pas-file-storage.html#azure).

To save storage space and cost, Pivotal recommends that you configure a retention

## <a id="gcs"></a> GCS Blobstores

For more information about configuring a GCS blobstore,
see [Configuring File Storage for PAS](../pas-file-storage.html#gcp).
