---
title: Enabling External Blobstore Backups
owner: BBR
---

<strong><%= modified_date %></strong>

This topic provides instructions for enabling external blobstore backups in your
Pivotal Application Service (PAS) tile.

BOSH Backup and Restore (BBR) supports the following:

- Versioned S3 or S3-Compatible Blobstores
- Unversioned S3 or S3-Compatible Blobstores
- Azure Blobstores

For more information, see [Backup and Restore with External Blobstores](https://docs.cloudfoundry.org/bbr/external-blobstores.html).

<p class="note"><strong>Note: </strong>
  To enable external blobstore backups for PAS, the <strong>Backup Restore Node</strong> must be enabled.
  See <a href=backup-pcf-bbr.html#backup-restore-node>Enable Backup Restore Node</a>
  in <em>Backing Up Pivotal Cloud Foundry with BBR</em>.</p>

<p class="note"><strong>Note: </strong>
  The instructions below require the BOSH Command Line Interface (CLI) v2+.
  For more information, see <a href="https://bosh.io/docs/cli-v2/#install">Install</a>
  in the BOSH documentation.</p>


## <a id="s3"></a> S3 or S3-compatible Blobstores

In PAS v2.2, BBR supports backing up and restoring versioned and unversioned S3
or S3-compatible blobstores by default.
For more information about configuring an S3 or S3-compatible blobstore,
see [External S3 or Ceph Filestore](../pcf-aws-manual-er-config.html#external_s3).


## <a id="azure"></a> Azure Blobstores

To configure your Azure blobstore for backups, you must enable Soft Delete in your Azure Storage account. You can also enable Soft Delete for existing Azure storage accounts that were not initially created with Soft Delete enabled.
For more information, see [Soft delete for Azure Storage blobs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart)
in the Microsoft documentation. 

After enabling Soft Delete, you can enable Azure blobstore backups in Ops Manager for new or existing blobstores. For more information, see [External Azure Storage](../azure-er-config.html#external_azure).

To save storage space and cost, Pivotal recommends that you configure a retention
policy to permanently delete objects after a period of time.
