---
title: Enabling External Blobstore Backups
owner: RelEng
---

<strong><%= modified_date %></strong>

This topic describes the procedure for enabling external blobstore backups on your Pivotal Cloud Foundry (PCF) installation.

BBR supports both versioned and un-versioned S3-Compatible blobstores, and Azure blobstores. For more information, see [Backup and Restore with External Blobstores](https://docs.cloudfoundry.org/bbr/external-blobstores.html).

<p class="note"><strong>Note: </strong>The following steps require BOSH v2+. Check that you have downloaded the latest version of BOSH CLI. For more information, see <a href="https://bosh.io/docs/cli-v2/#install">Install</a> in the BOSH documentation.</p>

## <a id="s3-versioned"></a> S3-Compatible Versioned Blobstores

<p class="note"><strong>Note:</strong> If you enable versioned S3-compatible external blobstore backups, you will need to update your runtime configuration when upgrading to PCF v2.1. Remove <code>s3-versioned-blobstore-backup-restorer</code> from your runtime configuration before upgrading.</p>

### Configuring your versioned S3-compatible blobstore for backups

In order to perform backups of your S3-compatible versioned blobstore, you will need to apply the following configurations:

1. Enable versioning. For more information, see [Enable Versioning on Your S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioning) in _Backup and Restore with External Blobstores_.

1. (Optional) Pivotal recommends you enable Cross-Region Replication for your buckets. For more information, see [Enable Replication on Your Versioned S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioned-replication) in _Backup and Restore with External Blobstores_.

1. (Optional) Pivotal recommends you include a lifecycle policy rule to delete noncurrent versions after a period of time. Including this policy rule saves storage space and cost. For an example of this rule, see [Example 6: Specifying a Lifecycle Rule for a Versioning-Enabled Bucket](https://docs.aws.amazon.com/AmazonS3/latest/dev/lifecycle-configuration-examples.html#lifecycle-config-conceptual-ex6) in the AWS documentation.

### Installing the S3 Versioned Backups Add-On

The S3 Versioned Backups Add-On provides the necessary functionality to backup and restore a Pivotal Cloud Foundry installation configured to use an S3 Versioned blobstore.

To install the add-on:

1. From the Ops Manager Installation Dashboard, click the **Elastic Runtime** tile.
1. From your browser's address bar, record the Elastic Runtime deployment name from the URL. The deployment name is prefixed with the letters `cf`. For example, in `http://pcf.EXAMPLE-HOST.com/products/cf-3247176589a379f246d1`, the Elastic Runtime deployment name is `cf-3247176589a379f246d1`. The Elastic Runtime deployment name value is used to update the runtime config in a later step.
1. Select the **Credentials** tab.
1. Locate **Director Credentials** and click **Link to Credentials** to retrieve your Director credentials. Record your **Director Credentials**. The **Director Credentials** are used to update the runtime config in a later step.
1. Select the **Status** tab.
1. Record the BOSH Director IP address. The BOSH Director IP address value is used to update the runtime config in a later step.
1. Go to [Pivotal Network](https://network.pivotal.io/) and download **External Blobstore Support for BOSH Backup and Restore**.
1. Run the following command to copy the release archive to your Ops Manager instance. For more information on obtaining your private key, see [Step 4: Check your BOSH Director
](backup-pcf-bbr.html#check-director) in _Backing Up Pivotal Cloud Foundry with BBR_.
  <pre class="terminal">$ scp -i PATH\_TO\_PRIVATE\_KEY
    backup-and-restore-sdk-addon-SEMVER.tar.gz ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP:~</pre>
1. Run the following command to SSH into the Ops Manager instance.
  <pre class="terminal">$ ssh -i PATH\_TO\_PRIVATE\_KEY ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP</pre>
1. In the Ops Manager VM, run the following command to log in to your BOSH Director. When prompted, enter your BOSH Director credentials.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
    /FILE-PATH-ROOT-TO-CA-CERTIFICATE login</pre>
1. Run the following command to upload the External Blobstore Support for BOSH Backup and Restore release that you previously downloaded from Pivotal Network.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-TO-CA-CERTIFICATE upload-release backup-and-restore-sdk-addon-SEMVER.tar.gz</pre>
1. Run the following command to confirm that the release upload has succeeded.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-TO-CA-CERTIFICATE releases</pre>
  You should see a `backup-and-restore-sdk-addon-SEMVER` entry.
1. Run the following command to download your current runtime config and save it as `runtime-config.yml`.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
    /FILE-PATH-TO-ROOT-CA-CERTIFICATE runtime-config > runtime-config.yml</pre>
  If you receive an error about a missing runtime config, create an empty file and save it as `runtime-config.yml`.
1. Append the below to the `releases` section of your `runtime-config.yml`.
  <pre>
  releases:
  \# Append the below to the list of releases:
  \- name: backup-and-restore-sdk-addon
      version: \<the-release-version\>
  </pre>

1. Append the appropriate configuration to the `addons` section of your `runtime-config.yml`.
</br>
</br>
Replace the bracketed placeholders in the `droplets`, `packages`, and `buildpacks` sections with the values configured in Ops Manager.
</br>
</br>
Replace the bracketed information in the `include` section with the Elastic Runtime Deployment name you recorded earlier.
<pre>
  addons:
  \# Append the below to the list of addons:
  \- name: sdk-preview
      jobs:
      \- name: s3-versioned-blobstore-backup-restorer
        release: backup-and-restore-sdk-addon
        properties:
          enabled: true
          buckets:
            droplets:
              name: \<name-of-droplets-bucket\>
              region: \<region-of-droplets-bucket\>
              aws\_access\_key_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blostore-endpoint\>
            packages:
              name: \<name-of-packages-bucket\>
              region: \<region-of-packages-bucket\>
              aws\_access\_key\_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blobstore-endpoint\>
            buildpacks:
              name: \<name-of-buildpacks-bucket\>
              region: \<region-of-buildpacks-bucket\>
              aws\_access\_key\_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blostore-endpoint\>
      include:
        deployments:
        \- \<pas-deployment-name\>
        jobs:
        \- name: mysql-backup
          release: cf-backup-and-restore
</pre>

1. Run the following command to finishing updating the runtime config:
<pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
  /FILE-PATH-ROOT-CA-CERTIFICATE update-runtime-config runtime-config.yml
</pre>

1. Navigate to your **Ops Manager Installation Dashboard**. Click **Apply Changes**

## <a id="s3-unversioned"></a> S3-Compatible Unversioned Blobstores

<p class="note"><strong>Note:</strong> If you enable unversioned S3-compatible external blobstore backups, you will need to update your runtime configuration when upgrading to PCF v2.2. Remove <code>s3-unversioned-blobstore-backup-restorer</code> from your runtime configuration before upgrading.</p>

### Configuring your unversioned S3-compatible blobstore for backups

1. For each bucket created in Step 2.1, create a backup bucket. We recommend that either the backup buckets or copies of them should be in a different region to the live buckets. For more information, see [Enable Backup and Restore of Your Unversioned S3-Compatible Blobstore](https://docs.cloudfoundry.org/bbr/external-blobstores.html#s3-unversioned)

### Installing the S3 Unversioned Backups Add-On

1. From the Ops Manager Installation Dashboard, click **Elastic Runtime** tile.
1. From your browser's address bar, record the Elastic Runtime deployment name from the URL. The deployment name is prefixed with the letters `cf`. For example, in `http://pcf.EXAMPLE-HOST.com/products/cf-3247176589a379f246d1`, the Elastic Runtime deployment name is `cf-3247176589a379f246d1`. The Elastic Runtime deployment name value is used to update the runtime config in a later step.
1. Select the **Credentials** tab.
1. Locate **Director Credentials** and click **Link to Credentials** to retrieve your Director credentials. Record your **Director Credentials**. The **Director Credentials** are used to update the runtime config in a later step.
1. Select the **Status** tab.
1. Record the BOSH Director IP address. The BOSH Director IP address value is used to update the runtime config in a later step.
1. Go to [Pivotal Network](https://network.pivotal.io/) and download **External Blobstore Support for BOSH Backup and Restore**.
1. Run the following command to copy the release archive to your Ops Manager instance. For more information on obtaining your private key, see [Step 4: Check your BOSH Director
](backup-pcf-bbr.html#check-director) in _Backing Up Pivotal Cloud Foundry with BBR_.
  <pre class="terminal">$ scp -i PATH\_TO\_PRIVATE\_KEY
    backup-and-restore-sdk-addon-SEMVER.tar.gz ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP:~</pre>
1. Run the following command to SSH into the Ops Manager instance.
  <pre class="terminal">$ ssh -i PATH\_TO\_PRIVATE\_KEY ubuntu@YOUR\_OPS\_MANAGER\_VM\_IP</pre>
1. In the Ops Manager VM, run the following command to log in to your BOSH Director. When prompted, enter your BOSH Director credentials.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
    /FILE-PATH-ROOT-TO-CA-CERTIFICATE login</pre>
1. Run the following command to upload the External Blobstore Support for BOSH Backup and Restore release that you previously downloaded from Pivotal Network.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-TO-CA-CERTIFICATE upload-release backup-and-restore-sdk-addon-SEMVER.tar.gz</pre>
1. Run the following command to confirm that the release upload has succeeded.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
   /FILE-PATH-ROOT-TO-CA-CERTIFICATE releases</pre>
  You should see a `backup-and-restore-sdk-addon-SEMVER` entry.
1. Run the following command to download your current runtime config and save it as `runtime-config.yml`.
  <pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
    /FILE-PATH-TO-ROOT-CA-CERTIFICATE runtime-config > runtime-config.yml</pre>
  If you receive an error about a missing runtime config, create an empty file and save it as `runtime-config.yml`.
1. Append the below to the `releases` section of your `runtime-config.yml`.
  <pre>
  releases:
  \# Append the below to the list of releases:
  \- name: backup-and-restore-sdk-addon
      version: \<the-release-version\>
  </pre>

1. Append the appropriate configuration to the `addons` section of your `runtime-config.yml`.
</br>
</br>
Replace the bracketed placeholders in the `droplets`, `packages`, and `buildpacks` sections with the values configured in Ops Manager.
</br>
</br>
Replace the bracketed information in the `include` section with the Elastic Runtime Deployment name you recorded earlier.
<pre>
  addons:
  \# Append the below to the list of addons:
  \- name: sdk-preview
      jobs:
      \- name: s3-unversioned-blobstore-backup-restorer
        release: backup-and-restore-sdk-addon
        properties:
          enabled: true
          buckets:
            droplets:
              name: \<name-of-droplets-bucket\>
              region: \<region-of-droplets-bucket\>
              aws\_access\_key_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blostore-endpoint\>
              backup:
                name: \<name-of-droplets-backup-bucket\>
                region: \<region-of-droplets-backup-bucket\>
            packages:
              name: \<name-of-packages-bucket\>
              region: \<region-of-packages-bucket\>
              aws\_access\_key\_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blobstore-endpoint\>
              backup:
                name: \<name-of-packages-backup-bucket\>
                region: \<region-of-packages-backup-bucket\>
            buildpacks:
              name: \<name-of-buildpacks-bucket\>
              region: \<region-of-buildpacks-bucket\>
              aws\_access\_key\_id: \<aws-access-key\>
              aws\_secret\_access\_key: \<aws-secret-key\>
              endpoint: \<blostore-endpoint\>
              backup:
                name: \<name-of-buildpacks-backup-bucket\>
                region: \<region-of-buildpacks-backup-bucket\>
      include:
        deployments:
        \- \<elastic-runtime-deployment-name\>
        jobs:
        \- name: mysql-backup
          release: cf-backup-and-restore
</pre>

1. Run the following command to finishing updating the runtime config:
<pre class="terminal">$ bosh -e BOSH\_DIRECTOR\_IP --ca-cert
  /FILE-PATH-ROOT-CA-CERTIFICATE update-runtime-config runtime-config.yml
</pre>

1. Navigate to your **Ops Manager Installation Dashboard**. Click **Apply Changes**

## <a id="azure"></a> Azure Blobstores

### Configuring your Azure blobstore for backups

### Installing the Azure Backups Add-On