---
title: Backing Up and Restoring Pivotal Cloud Foundry
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

Consider the following when backing up data in your Pivotal Cloud Foundry (PCF) deployment: 

* If your deployment uses external databases, such as Amazon Web Services (AWS) RDS, you must back up your data according to the instructions provided by your database vendor.

* If your PCF deployment uses internal databases, follow the backup and restore instructions for the MySQL server included in the [BBR](#bbr) documentation.

## <a id='bbr'></a>Backup and Restore with BBR 

BOSH Backup and Restore (BBR) is a command-line tool for backing up and restoring BOSH deployments.

<p class="note"><strong>Note</strong>: The previously documented manual backup and restore procedures no longer work in PCF 1.12 because Ops Manager export and import no longer includes releases. You must back up and restore your BOSH Director using BBR to ensure releases are backed up and restored.</p>

<p class="note"><strong>Note</strong>: You can only use BBR to back up PCF v1.11 and later.</p>

To perform a backup of your PCF deployment with BBR, see <a href="backup-pcf-bbr.html" class="subnav">Backing Up Pivotal Cloud Foundry with BBR</a>. 

To restore your PCF deployment with BBR, see <a href="restore-pcf-bbr.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup with BBR</a>.  

To use BBR to back up and restore your PCF deployment, you must first set up a jumpbox to run BBR from. See [Setting Up Your Jumpbox for BBR](system-setup-bbr.html).

To use BBR to restore an Pivotal Application Service (PAS) deployment to a backup from a previous version, see [Rolling Back PAS Deployment to an Earlier Backup with BBR](rollback-ert-bbr.html).

To troubleshoot problems with BBR, see [Troubleshooting BBR](troubleshooting-bbr.html).
