---
title: Backing Up and Restoring Pivotal Cloud Foundry
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

The following considerations are important when backing up data in your Pivotal Cloud Foundry (PCF) deployment: 

* If your deployment uses external databases, for example, AWS RDS, you must back up your data according to the instructions provided by your database vendor.

* If your PCF deployment uses internal databases, follow the backup/restore instructions for the  MySQL server.

## <a id='manual'></a>Backup and Restore Manually

To perform a backup of your PCF deployment manually, see <a href="backup-pcf.html" class="subnav">Backing Up Pivotal Cloud Foundry Manually</a>.  

To restore your PCF deployment manually, see <a href="restore-pcf.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup Manually</a>.

## <a id='bbr'></a>Backup and Restore with BBR (Beta)

BOSH Backup and Restore (BBR) is a command-line tool for backing up and restoring BOSH deployments.

<p class="note"><strong>Note</strong>: You can only use BBR to back up PCF v1.11 and later.</p>

To perform a backup of your PCF deployment with BBR, see <a href="backup-pcf-bbr.html" class="subnav">Backing Up Pivotal Cloud Foundry with BBR</a>.  

To restore your PCF deployment with BBR, see <a href="restore-pcf-bbr.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup with BBR</a>.  