---
title: Backing Up and Restoring Pivotal Cloud Foundry&reg;
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

This section explains how to back up and restore critical backend components. The exact procedures you  follow depend on where your deployment stores its backend data. Consider the following points:

* If your deployment uses external databases (for example, AWS RDS) then you must back up your data according to the instructions provided by your database provider.

* If your PCF deployment originated from 1.5.x or earlier, follow the backup/restore instructions for PostgreSQL databases and for the MySQL server.

* If your PCF deployment originated from 1.6.0 or later, follow the backup/restore instructions for the  MySQL server (but not those for PostgreSQL databases).

* If you do not know the original version of your PCF deployment, perform the following steps to determine what databases your deployment uses:
	1. From the Ops Manager Installation Dashboard, click **Pivotal Elastic Runtime**.
	1. Click **Databases**.
		<%= image_tag("db-location.png") %>

To create a backup, see the <a href="backup-pcf.html" class="subnav">Backing Up Pivotal Cloud Foundry</a> topic.

To restore a backup, see the <a href="restore-pcf.html" class="subnav">Restoring Pivotal Cloud Foundry&reg; from Backup</a> topic.