---
title: Backing Up and Restoring Pivotal Cloud Foundry
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

The following considerations are important when backing up data in your Pivotal Cloud Foundry (PCF) deployment: 

* If your deployment uses external databases, for example, AWS RDS, you must back up your data according to the instructions provided by your database vendor.

* If your PCF deployment originated from 1.5.x or earlier, follow the backup/restore instructions for PostgreSQL databases and for the MySQL server.

* If your PCF deployment originated from 1.6.0 or later, follow the backup/restore instructions for the  MySQL server, but not those for PostgreSQL databases.

* If you do not know the original version of your PCF deployment, perform the following to determine what databases your deployment uses:
	1. From the Ops Manager Installation Dashboard, click **Pivotal Elastic Runtime**.
	1. Click **Databases** to determine whether your deployment uses internal databases with MySQL and PostgresQL, internal databases with MySQL only, or external databases.
		<%= image_tag("db-location.png") %>

##Perform a PCF Backup

* To perform a manual backup of your PCF deployment, see <a href="backup-pcf.html" class="subnav">Backing Up Pivotal Cloud Foundry</a>. 
* For information about using the Cloud Foundry Ops automation utility to perform a backup of your PCF deployment, see the <a href="http://www.cfops.io/#the-basics">CF Ops User Guide</a>.
 

##Restore From of a PCF Backup

* For information about manually restoring from a previous backup of your PCF deployment, see <a href="restore-pcf.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup</a>.
* For information about using the CF Ops automation utility to restore from a previous backup, see the <a href="http://www.cfops.io/#the-basics">CF Ops User Guide</a>.


