---
title: Backing Up and Restoring Pivotal Cloud Foundry
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

Consider the following when backing up data in your Pivotal Cloud Foundry (PCF) deployment: 

* If your deployment uses external databases, such as Amazon Web Services (AWS) RDS, you must back up your data according to the instructions provided by your database vendor.

* If your PCF deployment originated from 1.5.x or earlier, follow the backup/restore instructions for PostgreSQL databases and for the MySQL server.

* If your PCF deployment originated from 1.6.0 or later, follow the backup/restore instructions for the  MySQL server, but not those for PostgreSQL databases.

* If you do not know the original version of your PCF deployment, perform the following to determine what databases your deployment uses:
	1. From the Ops Manager Installation Dashboard, click **Pivotal Elastic Runtime**.
	1. Click **Databases** to determine whether your deployment uses internal databases with MySQL and PostgresQL, internal databases with MySQL only, or external databases.
		<%= image_tag("db-location.png") %>

## <a id='manual'></a>Backup and Restore Manually

To perform a backup of your PCF deployment manually, see <a href="backup-pcf.html" class="subnav">Backing Up Pivotal Cloud Foundry Manually</a>.  

To restore your PCF deployment manually, see <a href="restore-pcf.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup Manually</a>.

## <a id='bbr'></a>Backup and Restore with BBR 

BOSH Backup and Restore (BBR) is a command-line tool for backing up and restoring BOSH deployments.

<p class="note"><strong>Note</strong>: You can only use BBR to back up PCF v1.11 and later. BBR is a feature in PCF v1.11.</p>

To perform a backup of your PCF deployment with BBR, see <a href="backup-pcf-bbr.html" class="subnav">Backing Up Pivotal Cloud Foundry with BBR</a>. 

To restore your PCF deployment with BBR, see <a href="restore-pcf-bbr.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup with BBR</a>.  

To use BBR to back up and restore your PCF deployment, you must first set up a jumpbox to run BBR from. See [Setting Up Your Jumpbox for BBR](system-setup-bbr.html).

To troubleshoot problems with BBR, see [Troubleshooting BBR](troubleshooting-bbr.html).
