---
title: Backing Up and Restoring Pivotal Cloud Foundry
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic='index' %>

Consider the following when backing up data in your Pivotal Cloud Foundry (PCF) deployment: 

* If your deployment uses external databases, check that it is a <a href="backup-pcf-bbr.html#version-compatibility">supported database configuration</a>.

* If your PCF deployment uses internal databases, follow the backup and restore instructions for the MySQL server included in the [BBR](#bbr) documentation.

<strong><a id='gdpr'></a>General Data Protection Regulation</strong>

The General Data Protection Regulation (GDPR) came into effect on May 25, 2018 and impacts any company processing the data of EU citizens or residents, even if the company is not EU-based. 
The GDPR sets forth how companies should handle privacy issues, securely store data, and respond to security breaches.

Backup artifacts may contain personal data covered by GDPR. For example, a backup of a PAS could contain a user email. For further information regarding personal data that may be stored in PCF, 
see <a href="../../opsguide/gdpr.html">here</a>.

## <a id='bbr'></a>Backup and Restore with BBR 

BOSH Backup and Restore (BBR) is a command-line tool for backing up and restoring BOSH deployments.

To perform a backup of your PCF deployment with BBR, see <a href="backup-pcf-bbr.html" class="subnav">Backing Up Pivotal Cloud Foundry with BBR</a>. 

To restore your PCF deployment with BBR, see <a href="restore-pcf-bbr.html" class="subnav">Restoring Pivotal Cloud Foundry from Backup with BBR</a>.  

To use BBR to back up and restore your PCF deployment, you must first set up a jumpbox to run BBR from. See [Setting Up Your Jumpbox for BBR](system-setup-bbr.html).

To troubleshoot problems with BBR, see [Troubleshooting BBR](troubleshooting-bbr.html).

## <a id="restore-scenarios"></a>BBR Restore Scenarios

There are many different restore cases that can arise with BOSH Directors and PAS deployments.  We have provided some guidance on how to utilise BBR in common restore scenarios below:

+ <a href="incident-response-guides/lost-director-disk.html" id='lost-director-disk'>The loss of the director's persistent disk</a>
+ <a href="incident-response-guides/lost-cf-data.html" id='lost-cf-data'>The loss of PAS specific data</a>
+ <a href="incident-response-guides/failed-pas-upgrade.html" id='failed-pas-upgrade'>A failure during an OpsManager and PAS upgrade</a>

These guides do not cover all possible restore scenarios. If you encounter another restore case, then some information in these guides may be applicable or contact [Pivotal Support](https://support.pivotal.io/) for guidance.
