---
title: Setting Up Your Jumpbox for BBR
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic = 'system-setup-bbr' %>

This topic describes how to set up your jumpbox for BOSH Backup and Restore (BBR).

To use BBR to back up and restore your Pivotal Cloud Foundry (PCF) deployment, you must first set up a jumpbox to run BBR from. The Ops Manager VM may be suitable.

## <a id='jumpbox'></a>Step 1: Configure your Jumpbox

Configure your jumpbox to meet the following requirements:

* Your jumpbox must have sufficient space for the backup. A PCF backup requires at least
1.5&nbsp;GB.
* Your jumpbox must exist on the same network as the VMs in your PCF deployment because BBR connects to the VMs at their private IP addresses. BBR does not support SSH gateways.
* Because BBR copies the backed-up data from the VMs to the jumpbox, you should have minimal network latency between them to reduce transfer times.


Consult the following table for more information about the network access permissions required by BBR.

<table>
<tr>
<th>VM</th>
<th>Default Port</th>
<th>Description</th>
</tr>
<tr>
<td>BOSH Director</td>
<td>25555</td>
<td>BBR interacts with the BOSH Director API.</td>
</tr>
<tr>
<td>Deployed Instances</td>
<td>22</td>
<td>BBR uses SSH to orchestrate the backup on the instances.</td>
</tr>
<tr>
<td>BOSH Director UAA</td>
<td>8443</td>
<td>BBR interacts with the UAA API for authentication, if necessary.</td>
</tr>
</table>

## <a id='scp'></a>Step 2: Transfer BBR Binary to Your Jumpbox

Perform the following steps to transfer the `bbr` binary to your jumpbox:

1. Download the latest [BOSH Backup and Restore] (https://network.pivotal.io/products/p-bosh-backup-and-restore) release from Pivotal Network.

1. Extract the `bbr` binary file from the BBR release.

1. On a command line, run `chmod a+x bbr` to add executable permissions to the `bbr` binary file:
	<pre class="terminal">$ chmod a+x bbr</pre>

1. To securely copy the BBR binary to your jumpbox, run the following command:

    ```
    rsync -Pv -e "ssh -i LOCAL-PATH-TO-JUMPBOX-PRIVATE-KEY" LOCAL-PATH-TO-BACKUP-ARTIFACT JUMPBOX-USER@JUMPBOX-ADDRESS:
    ```

## <a id='root-ca-cert'></a> Step 3: Ensure BOSH Director Certificate Availability

If the certificate chain on your local machine cannot verify the Certificate Authority (CA) certificate for the BOSH Director, you must have the path to the root CA certificate to run BBR commands.

If you have configured the Ops Manager VM as your jumpbox, the path to the root CA certificate is `/var/tempest/workspaces/default/root_ca_certificate`.

If you have configured another machine as your jumpbox, use the Ops Manager API to download the CA certificate. See the [Using the Ops Manager API](../../customizing/ops-man-api.html) topic to obtain a `UAA-ACCESS-TOKEN` using the UAA CLI.

```
curl -k "https://$OPSMAN-IP/api/v0/security/root_ca_certificate" \
-H "Authorization: Bearer $UAA-ACCESS-TOKEN" \
| jq --raw-output '.root_ca_certificate_pem' > PATH-TO-BOSH-SERVER-CERTIFICATE
```

The open source `jq` utility is available to [download](https://stedolan.github.io/jq/).