---
title: Setting Up Your Jumpbox for BBR
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic = 'system-setup-bbr' %>

This topic describes how to set up your jumpbox for BOSH Backup and Restore (BBR).

To use BBR to back up and restore your Pivotal Cloud Foundry (PCF) deployment, you must first set up a jumpbox to run BBR from.

## <a id='jumpbox'></a>Step 1: Configure your Jumpbox

Configure your jumpbox with the following settings:

* Your jumpbox must have sufficient space for the backup. A PCF backup requires at least 1.5 GB.
* Because BBR connects to the virtual machines (VMs) in your PCF deployment on their private IP addresses, your jumpbox must exist on the same network as the VMs. BBR does not support SSH gateways.
* Because BBR copies the backed-up data from the VMs to the jumpbox, you should have minimal network latency between them to reduce transfer times.

Consult the following table for more information about the network access permissions required by BBR.

<table>
<tr>
<th>VM</th>
<th>Default Port</th>
<th>Description</th>
</tr>
<tr>
<td>BOSH Director</td>
<td>25555</td>
<td>BBR interacts with the BOSH Director API.</td>
</tr>
<tr>
<td>Deployed Instances</td>
<td>22</td>
<td>BBR uses SSH to orchestrate the backup on the instances.</td>
</tr>
<tr>
<td>BOSH Director UAA</td>
<td>8443</td>
<td>BBR interacts with the UAA API for authentication, if necessary.</td>
</tr>
</table>

## <a id='scp'></a>Step 2: Transfer BBR Binary to Your Jumpbox

Transfer the BBR binary to your jumpbox in one of the following ways:

### Jumpbox without Internet Access

Follow the steps below if your jumpbox does not have Internet access: 

1. Download the latest [BOSH Backup and Restore] (https://network.pivotal.io/products/p-bosh-backup-and-restore) release from Pivotal Network.

1. On a command line, enter `chmod a+x PATH-TO-BBR-FILE/bbr` to make the file executable. Replace `PATH-TO-BBR-FILE` with the local path to the BBR file.
  <pre class="terminal">$ chmod a+x bbr</pre>

1. Enter `scp PATH-TO-BBR-FILE/bbr JUMPBOX-USER/JUMPBOX-ADDRESS` to securely copy the binary to your jumpbox. 

### Jumpbox with Internet Access

Follow the steps below if your jumpbox has Internet access:

1. On a command line, enter `ssh JUMPBOX-USER/JUMPBOX-ADDRESS -i YOUR-CERTIFICATE.pem` to ssh into your jumpbox.

1. Enter `wget BBR-RELEASE-URL` to download the BBR release. Replace `BBR-RELEASE-URL` with the URL of the BBR release.

1. enter `chmod a+x LOCAL-PATH-TO-BBR-FILE/bbr` to make the file executable.

## <a id='root-ca-cert'></a> Step 3: Ensure BOSH Director Certificate Availability

If the certificate chain on your local machine cannot verify the Certificate Authority (CA) certificate for the BOSH Director, you must have the path to the root CA certificate to run BBR commands.

If you have configured the Ops Manager VM as your jumpbox, the path to the root CA certificate is `/var/tempest/workspaces/default/root_ca_certificate`. 

If you have configured another machine as your jumpbox, run the following commands on the jumpbox to copy the CA certificate from your Ops Manager VM.

<pre class="terminal">
  $ export OPSMAN=127.0.0.1 # Ops Manager DNS name or IP address
  $ export OPSMAN_USERNAME=OPSMANAGER-USERNAME # Ops Manager admin username
  $ export OPSMAN_PASSWORD=OPSMANAGER-PASSWORD # Ops Manager admin password
  </br># Get UAA token
  $ uaac target $OPSMAN/uaa --skip-ssl-validation
  $ uaac token owner get opsman $OPSMAN_USERNAME -s "" -p $OPSMAN_PASSWORD
  $ apitoken=$(uaac contexts | sed -n "/$OPSMAN/,\$p" | grep -o -P '(?<=access_token:\ ).*(?=)' | head -1)
  </br># Get the certificate (it's a json payload)
  $ export cert=$(curl -k "https://$OPSMAN/api/v0/security/root_ca_certificate" 
  -X GET 
  -H "Authorization: Bearer $apitoken" 
  | jq '.root_ca_certificate_pem')
  </br>$ echo -e $cert > PATH-TO-BOSH-SERVER-CERTIFICATE
</pre>
