---
title: Troubleshooting BBR
owner: RelEng
---

<% $this_topic = "troubleshoot-bbr" %>

This topic lists common troubleshooting scenarios and their solutions when using BOSH Backup and Restore (BBR) to back up and restore deployments.


## <a id="troubleshooting-restore"></a> Troubleshooting During a Restore

This section provides solutions for errors that occur during a restore.

### <a id="mysql-timeout"></a> Restore Fails with a MySQL Monit Start Timeout

#### Symptom

While running the BBR restore command, restoring the job `mysql-restore` fails with the following error:

<pre class="terminal">
1 error occurred:

* restore script for job mysql-restore failed on mysql/0.
...
"Monit start failed: Timed out waiting for monit": 2m0s
</pre>

#### Explanation

This happens when the MySQL job fails to start within the timeout period. It ends up in an **Execution Failed** state and `monit` never tries to start it again.

#### Solution

Ensure that your MySQL Server cluster has only one instance. If there is more than one instances of MySQL Server, the restore fails with a `monit start` timeout. Scale down to one instance and retry.

If your MySQL Server cluster is already scaled down to one node, it might have taken longer than normal to restart the cluster. To manually verify and retry:

1. List the VMs in your deployment by running:

    ```
    bosh -e BOSH-DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate \
    -d DEPLOYMENT-NAME \
    ssh
    ```
    Where:
    <br>
    * `BOSH-DIRECTOR-IP` is the BOSH Director IP. To retrieve this IP address, see [Retrieve BOSH Director Address](./restore-pcf-bbr.html#retrieve-address) in _Restoring Deployments from Backup with BBR_.
    * `DEPLOYMENT-NAME` is the deployment name. To retrieve the deployment name, see [Identify Your Deployment](./restore-pcf-bbr.html#identify-deployment) in _Restoring Deployments from Backup with BBR_.

1. Locate the `mysql` VM.

1. SSH into the `mysql` VM.

1. To check that the MySQL job process is running, run:

    ```
    ps aux | grep galera-init
    ```
    For more information, see [Configuring <%= vars.app_runtime_abbr %>](../configure-pas.html).

1. Check that `monit` reports that the MySQL job process is in an **Execution Failed** state by running:

    ```
    sudo monit summary
    ```

1. If so, disable monitoring by running:

    ```
    monit unmonitor
    ```

1. Enable monitoring by running:

    ```
    monit monitor
    ```

1. After a few minutes, run:

    ```
    monit summary
    ```
    The command should report that all the processes are running.

1. Re-attempt the restore with BBR.

### <a id="structure-mismatch"></a> Deployment Does Not Match the Structure of the Backup

#### Symptom

The following error displays:

<pre class="terminal">
Deployment 'deployment-name' does not match the structure of the provided backup
</pre>

#### Explanation

The instance groups with the restore scripts in the destination environment do not match the backup metadata. For example, they might have the wrong number of instances of a particular instance group, or the metadata names an instance group that does not exist in the destination environment.

#### Solution

BBR only supports restoring to an environment that matches your original environment. <%= vars.company_name %> recommends altering the destination environment to match the structure of the backup.


## <a id="general"></a> General Troubleshooting

This section provides solutions for general errors.

### <a id="connection-error"></a> Connection Error

#### Symptom

BBR displays an error message containing "SSH Dial Error" or another connection error.

#### Explanation

The jumpbox and the VMs in the deployment are experiencing connection problems.

#### Solution

To resolve connection problems between the jumpbox and the VMs in the deployment:

1. Ensure your deployment is healthy by running:

    ```
    bosh vms
    ```

1. Clean up the data from the failed backup on the instances by running:

    ```
    bbr deployment backup-cleanup
    ```
    <p class="note"><strong>Note:</strong> This step is required. Otherwise, further BBR commands fail.</p>

1. Repeat the BBR operation.

### <a id="metadata-error"></a> Error Running Metadata Script

#### Symptom

BBR backup or restore fails with a metadata error:

<pre class="terminal">
1 error occurred:
error 1:
An error occurred while running metadata script for job redis-server on redis/0ce9f81f-1756-480b-8e3e-a4609b14b6a6: error from metadata
</pre>

#### Explanation

There is a problem with your deployment install.

#### Solution

Contact [Support](https://support.pivotal.io/).
