---
title: Migrate Apps to Diego
---

This topic contains instructions for migrating apps originally deployed with Pivotal Cloud Foundry (PCF) versions prior to 1.6 to Diego, the next-generation architecture for Elastic Runtime.

## <a id='install-plugin'></a>Step 1: Install Cloud Foundry Command Line Interface (CF CLI) Plugin ##

1. Use the CF CLI to install the Diego-Enabler plugin.
<pre class='terminal'>
$ cf add-plugin-repo CF-Community http://plugins.cloudfoundry.org/
$ cf install-plugin Diego-Enabler -r CF-Community
</pre>

## <a id='enable'></a>Step 2: Enable Diego ##

Run `cf enable-diego APP-NAME` to enable diego in your app manifest.
<pre class='terminal'>
$ cf enable-diego example-app
Diego support for example-app is set to true
</pre>

## <a id='push'></a>Step 3: Push Your App ##

Run `cf push` to push your newly Diego-enabled app.
<pre class='terminal'>
$ cf push
Using manifest manifest.yml...
Updating app...
</pre>


