---
title: Migrate Apps to Diego
---

This topic contains instructions for migrating apps originally deployed with Pivotal Cloud Foundry (PCF) versions prior to 1.6 to Diego, the next-generation architecture for Elastic Runtime.

## Prerequisite

Cloud Foundry Command Line Interface (CF CLI) > v6.11

## <a id='step1'></a>Step 1: Enable Diego ##

Run `cf enable-diego APP-NAME` to enable diego in your app manifest.
<pre class='terminal'>
$ cf enable-diego example-app
Diego support for example-app is set to true
</pre>

## <a id='step2'></a>Step 2: Push Your App ##

Run `cf push` to push your newly Diego-enabled app.
<pre class='terminal'>
$ cf push
Using manifest manifest.yml...
Updating app...
</pre>


