---
title: Diego-SSH Overview
---

<strong><%= modified_date %></strong>

This page assumes you are using CF CLI v6.13.0 or later.

This topic introduces SSH configuration for applications in a Cloud Foundry deployment. You can control SSH access at the app, space and platform level. Cloud Foundry supports SSH access to applications running on both the Diego and legacy DEA runtime architectures.

Additionally, the platform supports load balancing of SSH sessions with the HAProxy load balancer.

## <a id="granular-control"></a> Control Hierarchy Explained
Cloud Foundry provides several levels of granular control for SSH access to app instances that are set with properties in the Cloud Controller. The properties can be modified in the manifest or from the CLI, with the exception of the platform-wide setting, which must be set <%= vars.platform-ssh-setting %>

in the manifest.

- The finest level of SSH control is at the app level. SSH access to each app can be set with either the Cloud Controller `enable_ssh` field or with the `enable-ssh` command from the CF CLI. If enabled, an instance of the Diego SSH server invokes alongside the main application process and authorized users can connect to it. If you change the value of `enable_ssh`, a new version of the app restarts on Diego, with or without the SSH server.

- The `allow_ssh` field of each Cloud Foundry space controls whether users in a given space can connect to the SSH server running alongside the app instance.

- Platform level control of user connection to SSH servers can be set with the Cloud Controller  `allow_app_ssh_access` property.

---------------------------------
This topic introduces SSH configuration for applications in a Cloud Foundry deployment. You can control SSH access at the app, space and platform level. Cloud Foundry supports SSH access to applications running on both the Diego and legacy DEA runtime architectures.

Additionally, the platform supports load balancing of SSH sessions with the HAProxy load balancer.

- If you would like to configure SSH access at the application level, see "Accessing Apps"

- If you would like to configure
SSH access for spaces, see "CLI User Management"

- If you would like to configure the platform for SSH access, see "pcf-install/config-ssh" (or if CF then link to CC props)
---------------------------------

The original repository for Diego SSH can be found at [Diego-SSH on GitHub](https://github.com/cloudfoundry-incubator/diego-ssh).

## Related Topics:

- [ Accessing Apps with Diego-SSH ](./access-apps.html)


<% if vars.product_full == "Cloud Foundry" %>
- [ Configuring Deployments for SSH Access to CF App Instances ](./config-ssh.html)
<% end %>


- [ Diego-SSH Proxy ](./proxy.html)

- [ Migrate Apps to Diego ](./apps-enable-diego.html)

<% if vars.product_full == "Pivotal Web Services (PWS)" %>
- [ Using Diego-SSH to Access PWS-Deployed Applications ](./pws-config.html)
<% end %>

## <a id='into'></a> Introduction

## <a id='proxy'></a> Diego-SSH Proxy ##

The ssh proxy hosts the user-accessible ssh endpoint and is responsible for authentication, policy enforcement, and access controls in the context of Cloud Foundry. After a user has successfully authenticated with the proxy, the proxy will attempt to locate the target container and create an ssh session to a daemon running inside the container. After both sessions have been established, the proxy will manage the communication between the user's ssh client and the container's ssh daemon.

For more information about authentication and daemon discover, see [Diego-SSH Proxy](./proxy.html)


## <a id='daemon'></a> Diego-SSH Daemon ##

The ssh daemon is a lightweight implementation that is built around the Go ssh library. It supports command execution, interactive shells, local port forwarding, and scp. The daemon is self-contained and has no dependencies on the container root file system.

The daemon is focused on delivering basic access to application instances in Cloud Foundry. It is intended to run as an unprivileged process and interactive shells and commands will run as the daemon user. The daemon only supports one authorized key is not intended to support multiple users.

The daemon can be made available on a file server and Diego LRPs that want to use it can include a download action to acquire the binary and a run action to start it. Cloud Foundry applications will download the daemon as part of the lifecycle bundle.


