---
title: Diego-SSH Overview
---

## <a id='into'></a> Introduction

Diego supports SSH access to [long running process (LRP)](../../concepts/diego/diego-auction.html#processes) containers, including application containers, via the Diego-SSH package.

[Diego-SSH on GitHub](https://github.com/cloudfoundry-incubator/diego-ssh)

Diego-SSH contains the following components, which are described in more detail below:

- An implementation of an ssh [proxy server](#proxy).
- A lightweight ssh [daemon](#daemon).
- A Cloud Foundry [cli plugin](#cli). 

When these components are deployed and configured correctly, they provide a simple and scalable way to access Diego containers apps and other running long running processes.

See the following topics for additional information:

- [Accessing App Instances with Diego-SSH](./access-apps.html)
- [Diego-SSH Access Policy](./policy.html)
- [Configuring Cloud Foundry Deployments for SSH Access to App Instances](./config-ssh.html)
<% if vars.product_title == "Elastic Runtime" %>
stuff
<% elsif  vars.product_title == "Cloud Foundry" %>
other stuff
<% elsif vars.product_title == "Pivotal Web Services (PWS)" %>
- [Using Diego-SSH to Access PWS-Deployed Applications]
<% end %>


## <a id='proxy'></a> Diego-SSH Proxy ##

The ssh proxy hosts the user-accessible ssh endpoint and is responsible for authentication, policy enforcement, and access controls in the context of Cloud Foundry. After a user has successfully authenticated with the proxy, the proxy will attempt to locate the target container and create an ssh session to a daemon running inside the container. After both sessions have been established, the proxy will manage the communication between the user's ssh client and the container's ssh daemon.

For more information about authentication and daemon discover, see [Diego-SSH Proxy](./proxy.html)


## <a id='daemon'></a> Diego-SSH Daemon ##

The ssh daemon is a lightweight implementation that is built around go's ssh library. It supports command execution, interactive shells, local port forwarding, and scp. The daemon is self-contained and has no dependencies on the container root file system.

The daemon is focused on delivering basic access to application instances in Cloud Foundry. It is intended to run as an unprivileged process and interactive shells and commands will run as the daemon user. The daemon only supports one authorized key is not intended to support multiple users.

The daemon can be made available on a file server and Diego LRPs that want to use it can include a download action to acquire the binary and a run action to start it. Cloud Foundry applications will download the daemon as part of the lifecycle bundle.

## <a id='cli'></a> Diego-SSH CLI Plugin ##
The Cloud Foundry CLI plugin adds the following commands:

- <code>ssh</code>
	ssh to an application container instance
- <code>enable-ssh</code>
	enable ssh for the application
- <code>disable-ssh</code>
	disable ssh for the application
- <code>ssh-enabled</code>
	reports whether SSH is enabled on an application container instance
- <code>allow-space-ssh</code>
	allow SSH access for the space
- <code>disallow-space-ssh</code>
	disallow SSH access for the space
- <code>space-ssh-allowed</code>
	reports whether SSH is allowed in a space
- <code>get-ssh-code</code>
	obtain a one-time authorization code that can be used as an ssh password

To build and install the plugin:
<pre class='terminal'>
cd ~/workspace/diego-release/src/github.com/cloudfoundry-incubator/diego-ssh/cf-plugin
go build
cf uninstall-plugin Diego-SSH
cf install-plugin cf-plugin
</pre>


