---
title: Diego-SSH Access Policy
---

## <a id='cc-confog'></a>Cloud Controller Configuration

Cloud Controller provides several levels of granularity for enabling or disabling SSH access to CF app instances.

- Each CF app has an enable_ssh field that determines whether the Diego SSH server will be invoked alongside the main process in the app and whether users will be authorized to connect to it. Changing the value of enable_ssh triggers a new version of the app and hence restarts it on Diego with or without the SSH server running, as desired.

- Each CF space has an allow_ssh field that determines whether users are authorized to connect to the SSH server running inside their app instance.

- Cloud Controller has an allow_app_ssh_access configuration field that determines whether any user is authorized to connect to the SSH server running inside their app instance.

The Diego-SSH plugin allows users to inspect and alter the app and space fields through plugin commands:


Run `cf enable-ssh APP-NAME` to enable ssh access to the named app.
<pre class='terminal'>
$ cf enable-ssh my-example-app
</pre>


Run `cf disable-ssh APP-NAME` to disable ssh access to the named app.
<pre class='terminal'>
$ cf disable-ssh my-example-app
</pre>

Run `cf ssh-enabled APP-NAME` to see whether SSH access is enabled for that app.

Run `cf allow-space-ssh SPACE-NAME` to allow ssh access to the named space.

Run `cf disallow-space-ssh SPACE-NAME` disallow ssh access to the named space.

cf space-ssh-allowed SPACE-NAME reports whether SSH access is allowed for apps in that space.
The allow_app_ssh_access property must be changed through Cloud Controller's config file. For a BOSH-deployed CF, an operator can specify this config property via the cc.allow_app_ssh_access property described below.

## <a id='restart'></a>Restart Policy for Altered Instances

We understand that developers and operators alike may be concerned that unrestricted access to CF app instances can produce instances whose contents and processes differ from those that the platform has provisioned. Consequently, we propose a fairly stringent restart policy on CF app instances that have been accessed via SSH in ways that could reasonably alter the contents of the instance:

Instances accessed via SSH port forwarding or source-mode SCP ('copying files out') will not be considered altered afterward and will not be restarted.
Instances accessed by other SSH operations, such as an interactive session or sink-mode SCP ('copying files in') will be considered altered and will be restarted after the connection closes.
We intend to allow CC admins to configure this policy on a per-space basis, so that spaces intended solely for app development and experimentation can be exempt from this instance-restarting policy. These restrictions are not yet in place, but we expect to implement them before we consider the initial work on SSH access complete.